﻿<partial name="../HistoryParsers/HistoryParserColumn" />

<div id="detail-app">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#invoice-detail">Faktura</a></li>
        <li><a data-toggle="tab" href="#invoice-extra">Extra data</a></li>
        <li><a data-toggle="tab" href="#invoice-directions">Doklady</a></li>
        <li><a data-toggle="tab" href="#invoice-history">Historie</a></li>
    </ul>

    <div class="tab-content detail-form-content">
        <div id="invoice-detail" class="tab-pane fade in active">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-3">ID:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.invoiceID" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Stav:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="statusLabel" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Dokladová řada:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="item.docPrefix" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Číslo faktury:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="item.docNumber" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Rok:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="item.docYear" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Změněno:</label>
                    <div class="col-sm-2">
                        <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.lastDateTime)}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Založeno:</label>
                    <div class="col-sm-2">
                        <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.entryDateTime)}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="invoice-extra" class="tab-pane fade">
            <data_list v-bind:settings="invoiceExtraSettings" v-bind:items="invoiceExtraData" v-on:getdata="getExtraData" ref="itemsGrid" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="invoice-directions" class="tab-pane fade">
            <data_list v-bind:settings="invoiceDirectionSettings" v-bind:items="invoiceDirectionData" v-on:getdata="getDirectionData" ref="itemsGrid" :valueHtml="valueHtml" v-on:cmdclicked="itemCmdClicked"></data_list>
        </div>
        <div id="invoice-history" class="tab-pane fade">
            <data_list v-bind:settings="historySettings" v-bind:items="invoiceHistory" v-bind:error="historyError" v-on:getdata="getHistory" ref="historyGrid" :valueHtml="valueHtml"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSizeDetail = getDialogAutoSize(0.85, 450);
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                statusLabel: null,
                columns: null,
                item: {},
                items: null,
                invoice: {},
                //extra
                invoiceExtraData: null,
                invoiceExtraSettings: null,
                invoiceExtraError: null,
                //direction
                invoiceDirectionData: null,
                invoiceDirectionSettings: null,
                invoiceDirectionError: null,
                //tab history
                historySettings: null,
                invoiceHistory: null,
                historyError: null,

            }
        },
        methods: {
            getMsgDateTime: function (date) {
                if (date === undefined || date == '' || date === '0001-01-01T00:00:00') {
                    return '';
                }
                else {
                    return moment(date).utc().format('D.M.YYYY HH:mm:ss')
                }
            },
            loadData: function () {
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    detailApp.selectedPageChanged(target);
                });

                var statusItems = this.columns.filter(function (item) {
                    return item.fieldName == 'docStatus'
                })[0].valuesList.filter(function (item) {
                    return item.code == detailApp.$data.item.docStatus;
                });

                this.statusLabel = statusItems.length == 0 ? null : statusItems[0].name;

                detailApp.invoice.InvoiceID = this.item.invoiceID;
                detailApp.getData(this.invoice);
                detailApp.resetExtraData();
                detailApp.resetDirectionData();
                detailApp.resetHistory();
                $('.nav-tabs a[href="#invoice-detail"]').tab('show');
            },
            getData: function (settings) {
                callAJAX(window.location.origin + '/api/invoice', settings, function (data) {
                    detailApp.$data.invoice = data.settings;
                    detailApp.$data.items = data.data
                    detailApp.$data.columns = data.settings.columns;
                }, null, true);
            },
            getExtraData: function () {
                callAJAX(window.location.origin + '/api/invoicextra', this.invoiceExtraSettings, function (data) {
                    detailApp.$data.invoiceExtraSettings = data.settings;
                    detailApp.$data.invoiceExtraData = data.data;
                    detailApp.$data.invoiceExtraError = data.error;
                }, null, true);
            },
            getDirectionData: function () {
                callAJAX(window.location.origin + '/api/invoicedirection', this.invoiceDirectionSettings, function (data) {
                    detailApp.$data.invoiceDirectionSettings = data.settings;
                    detailApp.$data.invoiceDirectionData = data.data;
                    detailApp.$data.invoiceDirectionError = data.error;
                }, null, true);
            },
            resetExtraData: function () {
                this.invoiceExtraData = [];
                this.invoiceExtraSettings = null;
            },
            resetDirectionData: function () {
                this.invoiceDirectionData = [];
                this.invoiceDirectionSettings = null;
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'itemStatus' || column.fieldName == 'eventCode' || column.fieldName == 'docStatus') {
                    return formatStatusField(displayValue, listItem, row.itemValidity == 255, row.itemValidity == 0);
                } else
                    return displayValue;
            },
            resetHistory: function () {
                this.invoiceHistory = [];
                this.historySettings = null;
            },
            getHistory: function () {
                callAJAX(window.location.origin + '/api/invoicehistory', this.historySettings, function (data) {

                    //for (i = 0; i < data.data.length; i++) {
                    //    data.data[i].eventCode = 'LOAD';
                    //}

                    detailApp.$data.historySettings = data.settings;
                    detailApp.$data.invoiceHistory = data.data;
                    detailApp.$data.historyError = data.error;
                }, null, true);
            },
            selectedPageChanged: function (page) {
                switch (page) {
                    case "#invoice-extra":
                        if (this.invoiceExtraSettings == null) {
                            this.invoiceExtraSettings = { invoiceID: this.item.invoiceID, pageSize: pageSizeDetail };
                            this.getExtraData();
                        }
                        break;
                    case "#invoice-directions":
                        if (this.invoiceDirectionSettings == null) {
                            this.invoiceDirectionSettings = { invoiceID: this.item.invoiceID, pageSize: pageSizeDetail };
                            this.getDirectionData();
                        }
                        break;
                    case "#invoice-history":
                        if (this.historySettings == null) {
                            this.historySettings = { invoiceID: this.item.invoiceID, pageSize: pageSizeDetail };
                            this.getHistory();
                        }
                        break;
                }
            },
            itemCmdClicked: function (rows, command, stoppropagation) {
                switch (command.commandType) {
                    case cmCustom:
                        switch (command.commandId) {
                            case "direction_detail":
                                const url = window.location.origin + '/direction/dirdetail?directionID=' + rows[0].directionID;
                                window.open(url, '_blank', 'menubar=no,left=50,top=50,width=1200,height=800');
                                break;
                        }
                        break;
                }
            }
        }
    });
</script>