﻿<div id="detail-app">

    <div class="detail-form-rows">
        <div v-for="row in headerRows" class="detail-form-row">
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class" class="detail-form-fld-desc">{{subRow.column.caption}}</div>
            </div>
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class">
                    <div class="detail-form-fld">{{ subRow.value }}</div>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#hist">Historie</a></li>
    </ul>
    <div class="tab-content detail-form-content">
        <div id="hist" class="tab-pane fade in active">
            <data_list v-bind:settings="histSettings" v-bind:items="items" v-on:getdata="getData"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSize = getDialogAutoSize(0.75, 500);
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                histSettings: { pageSize: pageSize },
                items: null
            }
        },
        methods: {
            loadData: function () {
                $("#detail_title").html('<div class="edit-header-bold">' + this.item.workerID + '</div><div class="edit-header">' + this.item.workerName + '</div>');
                this.histSettings.workerID = this.item.workerID;
                this.getData(this.histSettings);
            },
            getData: function (settings) {
                callAJAX(window.location.origin + '/api/WorkerHistory', settings, function (data) {
                    detailApp.$data.histSettings = data.settings;
                    detailApp.$data.items = data.data;
                }, null, true);
            }
        },
        computed: {
            headerRows: function () {
                var rows = [[], []];
                if (!this.columns)
                    return rows;
                this.columns.forEach(function (item) {
                    switch (item.fieldName) {
                        //row0
                        case "workerID":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "workerName":
                            rows[0].push({ column: item, class: "col-lg-6" });
                            break;
                        case "workerStatus":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "workerLogon":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        //row1
                        case "workerClassString":
                            rows[1].push({ column: item, class: "col-lg-12" });
                            break;
                    }
                });
                rows.forEach(function (item) {
                    item.forEach(function (item) {
                        item.value = valueToString(detailApp.$data.item[item.column.fieldName], item.column);
                    });
                });
                return rows;
            }
        }
    });
</script>