﻿<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }
    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }
    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="form-group">
                <label class="control-label col-sm-3" for="workerID">ID:</label>
                <div class="col-sm-4">
                    <input v-if="isNew" class="form-control form-control-orig" name="workerID" v-model="item.workerID" v-validate="{ required: true, max: 16 }" data-vv-as="ID" />
                    <input v-else class="form-control" v-model="item.workerID" readonly="readonly" />
                    <span class="text-danger">{{ errors.first('workerID') }}</span>
                    <span class="text-danger">{{ workerIDError }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="Jméno">Jméno:</label>
                <div class="col-sm-9">
                    <input class="form-control" name="workerName" v-model="item.workerName" v-validate="{ required: true, max: 256 }" data-vv-as="Jméno" />
                    <span class="text-danger">{{ errors.first('workerName') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="Přihl. jméno">Přihl. jméno:</label>
                <div class="col-sm-6">
                    <input class="form-control" name="workerLogon" v-model="item.workerLogon" v-validate="{ required: true, max: 32 }" data-vv-as="Přihl. jméno" />
                    <span class="text-danger">{{ errors.first('workerLogon') }}</span>
                    <span class="text-danger">{{ workerLogonError }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" v-on:click="togglePwdPanel">Nastavit heslo</button>
                    <div v-if="pwdRequired" class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" name="password1" v-model="password1" placeholder="Nové heslo" v-validate="pwdValidate" ref="password" data-vv-as="Nové heslo" />
                                </div>
                                <span class="text-danger">{{ errors.first('password1') }}</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" name="password2" v-model="password2" placeholder="Potvrďte heslo" v-validate="pwdConfValidate" data-vv-as="Potvrzení hesla" />
                                </div>
                                <span class="text-danger">{{ errors.first('password2') }}</span>
                            </div>
                        </div>
                        <div class="panel-footer" style="text-align:right" v-if="!isNew">
                            <button type="button" class="btn btn-secondary" v-on:click="togglePwdPanel">Zavřít</button>
                            <button type="button" class="btn btn-primary" v-on:click="validateAndSavePwd">Uložit heslo</button>
                        </div>
                    </div>
                    <div v-if="saveResult != null" v-bind:class="{ 'alert-success': success, 'alert-warning': !success }" class="alert alert-primary" role="alert">{{ saveResult }}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="Možnosti">Možnosti:</label>
                <div class="col-sm-6">
                    <v-select multiple name="Možnosti" v-model="selectedClassOptions" label="name" :options="classOptions"></v-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="Stav">Stav:</label>
                <div class="col-sm-6">
                    <v-select name="workerStatus" v-model="workerStatusDisplay" label="name" :options="statusOptions" v-validate="'required'" data-vv-as="Stav"></v-select>
                    <span class="text-danger">{{ errors.first('workerStatus') }}</span>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",
                showPwdPanel: false,

                selectedClassOptions: [],
                workerStatusDisplay: "",

                //password
                password1: null,
                password2: null,
                saveResult: null,
                success: true,

                //FieldError
                isFieldError: false,
                workerIDError: null,
                workerLogonError: null,
                                
            }
        },
        methods: {
            loadData: function () {
                $("#detail_title").html(this.isNew ? 'Nový pracovník' : '<div class="edit-header-bold">' + this.item.workerID + '</div><div class="edit-header">' + this.item.workerName + '</div>');

                this.showPwdPanel = false;
                this.selectedClassOptions = [];

                //reset password
                this.password1 = null;
                this.password2 = null;
                this.saveResult = null;
                this.success = true;

                //reset FieldError
                this.isFieldError = false;
                this.workerIDError = null;
                this.workerLogonError = null;

                if (!this.item.workerClassList) {
                    return [];
                }

                this.item.workerClassList.forEach(function (item) {
                    editApp.$data.selectedClassOptions.push({
                        code: item, name: editApp.classOptions.filter(function (op) {
                            return op.code == item;
                        })[0].name
                    })
                });

                this.workerStatusDisplay = {
                    code: this.item.workerStatus,
                    name: valueToString(this.item.workerStatus, this.getStatusColumn())
                };
            },
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "workerStatus"; })[0];
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result && editApp.save) {
                        if (editApp.$data.isNew)
                            editApp.$data.item.password = editApp.$data.password1;
                        editApp.save(function () {
                            if (editApp.$data.showPwdPanel)
                                editApp.savePassword();
                        });
                    }
                });
            },
            doSave: function () {
                //set info if insert required
                this.item.isNew = this.isNew;
                //set workerClassList by selectedClassOptions
                this.item.workerClassList = [];
                this.selectedClassOptions.forEach(function (item) {
                    editApp.$data.item.workerClassList.push(item.code);
                });

                //set workerStatus by workerStatusDisplay
                this.item.workerStatus = this.workerStatusDisplay.code;

                //reset FieldError
                this.isFieldError = false;
                this.workerIDError = null;
                this.workerLogonError = null;

                this.validateAndSave();
            },
            savePassword: function () {
                var param = {
                    workerID: this.item.workerID,
                    checkOld: false,
                    newPassword: editApp.$data.password1
                };
                callAJAX(window.location.origin + '/api/auth/setpassword', param, function (res) {
                    editApp.$data.saveResult = res.message;
                    editApp.$data.success = res.success;
                }, null, true);
            },
            validateAndSavePwd: function () {
                this.$validator.validate().then(function (result) {
                    if (result)
                        editApp.savePassword();
                });
            },
            togglePwdPanel: function () {
                if (this.isNew)
                    return;

                this.showPwdPanel = !this.showPwdPanel;
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    this.isFieldError = true;
                    if (data.fieldName === 'WorkerID')
                        this.workerIDError = data.fieldErrorText;
                    else if (data.fieldName === 'WorkerLogon')
                        this.workerLogonError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }
        },
        computed: {
            classOptions: function () {
                if (!this.columns)
                    return [];

                var workerClassField = this.columns.filter(function (item) {
                    return item.fieldName == "workerClass";
                })[0];
                return workerClassField.valuesList.filter(function (item) {
                    return item.code != "Any";
                });
            },
            statusOptions: function () {
                if (!this.columns)
                    return [];

                return this.getStatusColumn().valuesList;
            },
            pwdOldValidate: function () {
                return this.pwdRequired && !isNew ? "required" : "";
            },
            pwdValidate: function () {
                return this.pwdRequired ? "required|min:6" : "";
            },
            pwdConfValidate: function () {
                return this.pwdRequired ? "required|confirmed:password" : "";
            },
            pwdRequired: function () {
                return this.showPwdPanel || this.isNew;
            }
        }
    });

    validate = editApp.validate;
</script>
