﻿@{
    ViewData["Title"] = "Pracovníci";
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" 
               v-on:getdata="getData" v-on:cmdclicked="cmdClicked"
               ref="workersGrid"
               :valueHtml="valueHtml"></data_list>
</div>

<partial name="DetailModal" />
<partial name="SetStatusDialog" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {

    <script>
        // init
        var settings = {
            serverSide: false,
            pageSize: getPageAutoSize(),
            rowSelection: true,
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmEdit
                },
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    this.$refs.workersGrid.clearFilter();
                    callAJAX(window.location.origin + '/api/Worker', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'workerStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else
                        return displayValue;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

