﻿<div class="modal fade" id="setstatus_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="set-status-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Změna stavu pracovníka</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="worker in items" class="doc-marker" v-bind:title="worker.workerName">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ worker.workerID }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedMovesCnt }})</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="statusCode" class="col-sm-2 control-label">Nový stav</label>
                        <div class="col-sm-4">
                            <select v-model="statusCode" id="statusCode" class="form-control">
                                <option v-for="status in statusList" v-bind:value="status.code">{{ status.name }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var setstatus_dialog = new Vue({
        el: '#set-status-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedMovesCnt: 0,
                statusList: [],
                statusCode: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedMovesCnt = setstatus_dialog.$data.items.length;
                this.changeReason = null;
                callAJAX(window.location.origin + '/api/procedureshelpers/workerstatuslist', {}, function (result) {
                    setstatus_dialog.$data.statusList = result;
                    setstatus_dialog.$data.statusCode = result[0].code;
                });
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                workerID: item.workerID,
                                newStatus: setstatus_dialog.statusCode
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/workersetstatus', setstatus_dialog.items, paramsFunction, function () { setstatus_dialog.dataList.refresh(); $('#setstatus_dialog').modal('hide'); }, true);
                    }
                });
            }
        }
    });
</script>
