﻿<div id="detail-position-app">
    <div class="detail-form-rows">
        <div v-for="row in headerRows" class="detail-form-row">
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class" class="detail-form-fld-desc">{{subRow.column.caption}}</div>
            </div>
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class">
                    <div class="detail-form-fld">{{ subRow.value }}</div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#on-position">Na pozici</a></li>
        <li><a data-toggle="tab" href="#pos-blocking">Blokace</a></li>
        <li><a data-toggle="tab" href="#pos-moves">Pohyby</a></li>
        <li><a data-toggle="tab" href="#pos-history">Historie</a></li>
    </ul>
    <div class="tab-content detail-form-content">
        <div id="on-position" class="tab-pane fade in active">
            <div class="list-filter">
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-xs" @@click="printOnStore">Tisk seznamu</button>
                    </div>
                </div>
            </div>
            <data_list v-bind:settings="onPosSettings" v-bind:items="onPosItems" v-on:getdata="getOnPosData" v-on:cmdclicked="onPosCmdClicked"></data_list>
        </div>
        <div id="pos-blocking" class="tab-pane fade">
            <data_list v-bind:settings="blockSettings" v-bind:items="blockItems" v-on:getdata="getBlockData" v-on:cmdclicked="onPosCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="pos-moves" class="tab-pane fade">
            <div class="list-filter">
                <div class="checkbox" style="margin:0px">
                    <label><input type="checkbox" v-model="movItemsValid">Jen platné</label>
                </div>
            </div>
            <data_list v-bind:settings="movSettings" v-bind:items="movItems" v-on:getdata="getMovData" v-on:cmdclicked="onPosCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="pos-history" class="tab-pane fade">
            <data_list v-bind:settings="histSettings" v-bind:items="histItems" v-bind:error="historyError" v-on:getdata="getHistData"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSize = getDialogAutoSize(0.75, 500);
    var pageSizeShort = getDialogAutoSize(0.75, 600);
    var detailPositionApp = new Vue({
        el: '#detail-position-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                sections: null,
                noDetails: false,
                //onPosition
                onPosSettings: null,
                onPosItems: null,
                //blocked
                blockSettings: null,
                blockItems: null,
                //moves
                movSettings: null,
                movItems: null,
                movItemsValid: true,
                //history
                histSettings: { pageSize: pageSize },
                histItems: null,
                historyError: null
            }
        },
        methods: {
            loadData: function () {
                $('#position_title').html('<div class="edit-header-bold">' + this.item.posCode + '</div>');
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    detailPositionApp.selectedPageChanged(target);
                });

                this.resetOnPos();
                this.resetBlock();
                this.resetMove();
                $('.nav-tabs a[href="#on-position"]').tab('show');
                this.getOnPosData();
                this.setSections();
                this.histSettings.positionID = this.item.positionID;
                this.getHistData(this.histSettings);
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'docStatus') {
                    return formatStatusField(displayValue, listItem, row.itemValidity == 255, row.itemValidity == 0);
                } else if (column.fieldName == 'doc' || column.fieldName == 'dir') {
                    return formatDocInfoField(displayValue, listItem);
                } else
                    return displayValue;
            },
            selectedPageChanged: function (page) {
                switch (page) {
                    case "#pos-blocking":
                        if (this.blockSettings == null) {
                            this.blockSettings = {
                                positionID: this.item.positionID,
                                pageSize: pageSize
                            };
                            this.getBlockData(this.blockSettings);
                        }
                        break;
                    case "#pos-moves":
                        if (this.movSettings == null) {
                            this.movSettings = {
                                positionID: this.item.positionID,
                                pageSize: pageSizeShort
                            };
                            this.getMovData(this.movSettings);
                        }
                        break;
                    case "#pos-history":
                        if (this.histSettings == null) {
                            this.histSettings = {
                                positionID: this.item.positionID,
                                pageSize: pageSizeShort
                            };
                            this.getHistData(this.histSettings);
                        }
                        break;
                }
            },
            //packing
            resetOnPos: function () {
                this.onPosSettings = null;
            },
            getOnPosData: function () {
                callAJAX(window.location.origin + '/api/onstore/getonposition/' + this.item.positionID, null, function (data) {
                    data.settings.pageSize = pageSizeShort;
                    data.settings.serverSide = false;
                    data.settings.noDetails = detailPositionApp.$data.noDetails;
                    detailPositionApp.$data.onPosSettings = data.settings;
                    detailPositionApp.$data.onPosItems = data.data;
                }, null, true);
            },
            onPosCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    callAJAX(window.location.origin + "/api/Article/GetWithSettings/" + rows[0].articleID, null, function (data) {
                        detailArticleApp.$data.apiUrl = detailApp.$data.apiUrl;
                        detailArticleApp.$data.columns = data.settings.columns;
                        detailArticleApp.$data.item = data.data[0];
                        detailArticleApp.$data.noDetails = true;
                        detailArticleApp.loadData();
                        $('#article_detail').modal('show');
                    }, null, true);
                }
            },
            setSections: function () {
                callAJAX(window.location.origin + "/api/Section/PositionSections/" + this.item.positionID, null, function (data) {
                    detailPositionApp.$data.sections = data.reduce(function (res, item) {
                        if (!res)
                            return item.sectDesc;
                        return res + ", " + item.sectDesc;
                    }, null);
                }, null, true);
            },
            //blocked
            resetBlock: function () {
                this.blockSettings = null;
            },
            getBlockData: function (settings) {
                callAJAX(window.location.origin + '/api/Blockation', settings, function (data) {
                    data.settings.noDetails = detailPositionApp.$data.noDetails;
                    detailPositionApp.$data.blockSettings = data.settings;
                    detailPositionApp.$data.blockItems = data.data;
                }, null, true);
            },
            //moves
            resetMove: function () {
                this.movSettings = null;
            },
            getMovData: function (settings) {
                settings.validOnly = this.movItemsValid;
                callAJAX(window.location.origin + '/api/StoreMoveItem', settings, function (data) {
                    data.settings.noDetails = detailPositionApp.$data.noDetails;
                    detailPositionApp.$data.movSettings = data.settings;
                    detailPositionApp.$data.movItems = data.data;
                }, null, true);
            },
            printOnStore: function () {
                selectPrinterDialog.initDialog("onstoreprint", { OnStorePrintSource: 'OnStorePrintSourcePosition', SourceID: this.item.positionID });
                $('#select-printer-dialog').modal('show');
            },
            //history
            getHistData: function (settings) {
                callAJAX(window.location.origin + '/api/positionhistory', settings, function (data) {
                    detailPositionApp.$data.histSettings = data.settings;
                    detailPositionApp.$data.histItems = data.data;
                    detailPositionApp.$data.historyError = data.error;
                }, null, true);
            }
        },
        computed: {
            headerRows: function () {
                var rows = [[], []];
                if (!this.columns)
                    return rows;
                this.columns.forEach(function (item) {
                    switch (item.fieldName) {
                        //row0
                        case "positionID":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "posCode":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "posDesc":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "posCateg":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "posStatus":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "houseID":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        //row1
                        case "posX":
                            rows[1].push({ column: item, class: "col-lg-1" });
                            break;
                        case "posY":
                            rows[1].push({ column: item, class: "col-lg-1" });
                            break;
                        case "posZ":
                            rows[1].push({ column: item, class: "col-lg-1" });
                            break;
                        case "posHeight":
                            rows[1].push({ column: item, class: "col-lg-1" });
                            break;
                    }
                });
                rows.forEach(function (item) {
                    item.forEach(function (item) {
                        item.value = valueToString(detailPositionApp.$data.item[item.column.fieldName], item.column);
                    });
                });
                rows[1].push({ column: { caption: "Sekce" }, class: "col-lg-8", value: this.sections });
                return rows;
            }
        },
        watch: {
            movItemsValid: function () {
                this.getMovData(this.movSettings);
            }
        }
    });
</script>
