﻿<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="ID">ID:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="ID" v-model="item.positionID" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posCode">Kód:</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="posCode" v-model="item.posCode" v-validate="{ required: true, max: 16 }" data-vv-as="Kód" />
                            <span class="text-danger">{{ errors.first('posCode') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posDesc">Popis:</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="posDesc" v-model="item.posDesc" v-validate="{ required: true, max: 128 }" data-vv-as="Popis" />
                            <span class="text-danger">{{ errors.first('posDesc') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posCateg">Kategorie:</label>
                        <div class="col-sm-4">
                            <v-select name="posCateg" v-model="selectedCateg" label="name" :options="categOptions" v-validate="'required'" data-vv-as="Kategorie"></v-select>
                            <span class="text-danger">{{ errors.first('posCateg') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posStatus">Stav:</label>
                        <div class="col-sm-4">
                            <v-select :disabled="item.positionID > 0" name="posStatus" v-model="selectedStatus" label="name" :options="statusOptions" v-validate="'required'" data-vv-as="Stav"></v-select>
                            <span class="text-danger">{{ errors.first('posStatus') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posAttributes">Možnosti:</label>
                        <div class="col-sm-4">
                            <v-select name="posAttributes" v-model="selectedAttributes" label="name" :options="attributesOptions" data-vv-as="Možnosti"></v-select>
                            <span class="text-danger">{{ errors.first('posAttributes') }}</span>
                        </div>
                    </div>
                    <div class="form-group" v-if="item.positionID > 0">
                        <div class="col-sm-12" style="padding-left: 50px;">
                            <div class="alert alert-info">
                                <strong>Upozornění:</strong> Změnu <code>stavu</code> je nutné udělat přes položku menu <code>Změna stavu</code>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="houseID">Hala:</label>
                        <div class="col-sm-4">
                            <v-select name="houseID" v-model="item.houseID" :options="houseOptions" v-validate="'required'" data-vv-as="Hala"></v-select>
                            <span class="text-danger">{{ errors.first('houseID') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="sections">Sekce:</label>
                        <div class="col-sm-9">
                            <v-select multiple name="sections" v-model="selectedSections" label="name" :options="sections"></v-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posX">X:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="posX" v-model="item.posX" v-validate="{ required: true, integer: true }" data-vv-as="X" />
                            <span class="text-danger">{{ errors.first('posX') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posX">Y:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="posY" v-model="item.posY" v-validate="{ required: true, integer: true }" data-vv-as="Y" />
                            <span class="text-danger">{{ errors.first('posY') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posZ">Z:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="posZ" v-model="item.posZ" v-validate="{ required: true, integer: true }" data-vv-as="Z" />
                            <span class="text-danger">{{ errors.first('posZ') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="posHeight">Výška:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="posHeight" v-model="item.posHeight" v-validate="{ required: true, integer: true, max_value: 255 }" data-vv-as="Výška" />
                            <span class="text-danger">{{ errors.first('posHeight') }}</span>
                        </div>
                    </div>
                    <span class="text-danger">{{ positionSaveError }}</span>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                selectedCateg: null,
                selectedStatus: null,
                selectedAttributes: null,
                houseDisplay: "",
                houseOptions: [],
                selectedSections: [],
                sections: [],

                positionSaveError: null
            }
        },
        methods: {
            loadData() {
                this.positionSaveError = null;

                $('#position_title').html(this.isNew ? 'Nová pozice' : '<div class="edit-header-bold">' + this.item.posCode + '</div>');
                this.loadHouses();
                this.loadSections();
                this.fillSelectedSections(this.item.positionID);

                this.selectedCateg = this.item.posCateg ? {
                    code: this.item.posCateg,
                    name: valueToString(this.item.posCateg, this.getCategColumn())
                } : null;
                this.selectedStatus = this.item.posStatus ? {
                    code: this.item.posStatus,
                    name: valueToString(this.item.posStatus, this.getStatusColumn())
                } : null;
                this.selectedAttributes = this.item.posAttributes ? {
                    code: this.item.posAttributes,
                    name: valueToString(this.item.posAttributes, this.getAttributesColumn())
                } : null;
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            getCategColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "posCateg"; })[0];
            },
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "posStatus"; })[0];
            },
            getAttributesColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "posAttributes"; })[0];
            },
            loadHouses: function () {
                var self = this;
                callAJAX(window.location.origin + "/api/Data", { typeName: "S4.Entities.HouseList" }, function (data) {
                    var list = data.sort(function (a, b) {
                        var x = a.houseID.toLowerCase();
                        var y = b.houseID.toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var houseOptions = [];
                    list.forEach(function (item) {
                        houseOptions.push(item.houseID);
                    });
                    self.$data.houseOptions = houseOptions;
                }, null, false);
            },
            loadSections: function () {
                var self = this;
                callAJAX(window.location.origin + "/api/Data", { typeName: "S4.Entities.Section" }, function (data) {
                    var list = data.sort(function (a, b) {
                        var x = a.sectDesc.toLowerCase();
                        var y = b.sectDesc.toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var sections = [];
                    list.forEach(function (item) {
                        sections.push({
                            name: item.sectDesc,
                            value: item.sectID
                        });
                    });
                    self.$data.sections = sections;
                }, null, false);
            },
            fillSelectedSections: function (positionID) {
                var self = this;
                callAJAX(window.location.origin + "/api/Section/PositionSections/" + positionID, null, function (data) {
                    var list = data.sort(function (a, b) {
                        var x = a.sectDesc.toLowerCase();
                        var y = b.sectDesc.toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var sections = [];
                    list.forEach(function (item) {
                        sections.push({
                            name: item.sectDesc,
                            value: item.sectID
                        });
                    });
                    self.$data.selectedSections = sections;
                }, null, false);
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                    }
                });
            },
            doSave: function () {
                this.positionSaveError = null;

                //set the sectionIDs property to send the sectList to server for updating
                var sections = [];
                this.selectedSections.forEach(function (section) {
                    sections.push(section.value);
                });
                this.item.sectionIDs = sections;

                //set values from combos
                this.item.posCateg = this.selectedCateg ? this.selectedCateg.code : null;
                this.item.posStatus = this.selectedStatus ? this.selectedStatus.code : null;
                this.item.posAttributes = this.selectedAttributes ? this.selectedAttributes.code : null;

                this.validateAndSave();
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    this.positionSaveError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }
        },
        computed: {
            categOptions: function () {
                if (!this.columns)
                    return [];
                return this.getCategColumn().valuesList;
            },
            statusOptions: function () {
                if (!this.columns)
                    return [];
                return this.getStatusColumn().valuesList;
            },
            attributesOptions: function () {
                if (!this.columns)
                    return [];
                return this.getAttributesColumn().valuesList;
            }
        }
    });

    validate = editApp.validate;
</script>