﻿@{
    ViewData["Title"] = "Pozice";
}

<div id="app">
    <data_list v-bind:settings="settings"
               v-bind:items="items"
               v-bind:cmdenabled="cmdEnabled"
               detailform="position_detail"
               editform="position_detail"
               detailtitle="position_title"
               v-on:getdata="getData"
               :valueHtml="valueHtml">
        <template slot="filterSlot">
            <div class="col-lg-1" style="padding-top:7px">
                <label class="control-label pull-right" for="filter">Sekce:</label>
            </div>
            <div class="col-sm-4">
                <v-select name="Sections" v-model="selectedSection" label="name" :options="sections"></v-select>
            </div>
        </template>
    </data_list>
</div>

<partial name="PositionDetail" />
<partial name="ArticleDetail" />
<partial name="../Article/ArtpackEdit" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../VueColumns/LgContentColumn" />
<partial name="../VueColumns/LgContentColumnDialog" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="PrintPositionDialog" />
<partial name="PrintToPositionDialog" />
<partial name="SelectPrinterDialog" />
<partial name="SetStatusDialog" />
<partial name="../HistoryParsers/HistoryParserColumn" />

@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        // init
        var detailApp = detailPositionApp;

        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmEdit
                },
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        Vue.component('v-select', VueSelect.VueSelect);
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    sections: [],
                    selectedSection: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/Position', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdEnabled: function (row, command) {
                    return command.commandType != cmCustom || row.posStatus != 'POS_STOCTAKING';
                },
                loadSections: function () {
                    callAJAX(window.location.origin + '/api/Data', { typeName: 'S4.Entities.Section', order: 'sectDesc' }, function (data) {
                        app.$data.sections = [];
                        var sections = [{ name: "< Všechny >", value: null }];
                        data.forEach(function (item) {
                            var newItem = { name: item.sectDesc, value: item.sectID };
                            sections.push(newItem);
                        });
                        app.$data.selectedSection = sections[0];
                        app.$data.sections = sections;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'posStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else if(column.fieldName == 'posAttributes') {
                        if (value == 'Cooling')
                            return '<i class="fas fa-temperature-low fa-fw" style="color:lightskyblue;" title="Lednice"></i>';
                        else if (value == 'FreezeBox')
                            return '<i class="fas fa-igloo fa-fw" style="color:lightskyblue;" title="Mrazák"></i>';
                        else
                            return '';
                    } else
                        return displayValue;
                }
            },
            watch: {
                selectedSection: function (val) {
                    this.settings.sectID = val.value;
                    this.settings.page = 1;
                    this.getData(this.settings);
                }
            }
        });

        window.onload = function (e) {
            app.loadSections();
        }


    </script>
}

