﻿<script src="~/Scripts/utils/print.min.js"></script>
<div class="modal fade" id="print_to_position_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="print-to-position-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Tisk</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="item in items" class="doc-marker" v-bind:title="'Položek: ' + item.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ item.posCode }}<span class="doc-marker-sep">/</span>{{ item.posDesc }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiskárna</label>
                        <div class="col-sm-3">
                            <span v-if="loadOFF === false">Moment hledám vhodné tiskárny.....</span>
                            <v-select v-if="loadOFF === true" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerLocationDesc">
                            </v-select>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="doPrint">Tisk</button>
            </div>
        </div>
    </div>
</div>

<script>
    var print_to_position_dialog = new Vue({
        el: '#print-to-position-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                printerLocation: null,
                printerLocationList: [],
                loadOFF: false
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                print_to_position_dialog.$data.printerLocationList = null;
                print_to_position_dialog.$data.reportList = null;
                print_to_position_dialog.$data.loadOFF = false;

                var reportType = 'onStore';
                callAJAX(window.location.origin + '/api/report/getprinterlocation', reportType, function (result) {
                    print_to_position_dialog.$data.printerLocationList = result;
                    print_to_position_dialog.$data.loadOFF = true;

                    //read printerLocationID
                    var printerLocationID = localStorage.getItem('print_dialog_PrinterLocationID');
                    if (printerLocationID != null) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].printerLocationID == printerLocationID) {
                                print_to_position_dialog.$data.printerLocation = result[i];
                            }
                        }
                    }
                });

            },
            doPrint: function () {
                var printerLocationID = print_to_position_dialog.$data.printerLocation === null || print_to_position_dialog.$data.printerLocation.printerLocationID === null ? 0 : print_to_position_dialog.$data.printerLocation.printerLocationID;
                var localPrint = print_to_position_dialog.$data.printerLocation === null ? true : print_to_position_dialog.$data.printerLocation.printerPath == '_LOCAL_';

                //more items to local print
                if (this.items.length > 1 && localPrint) {
                    var url = window.location.origin + '/api/position/PrintPositions';
                    var positionIDs = [];
                    for (var i = 0; i < this.items.length; i++) {
                        positionIDs.push(this.items[i].positionID)
                    }
                    var params = {
                        PositionIDs: positionIDs,
                        PrinterLocationID: printerLocationID,
                    };
                    callAJAX(url, params, function (result) {
                        printJS('/download/direct?fileID=' + result.fileID);
                    }, true, true, false, true);
                }
                else {
                    var paramsFunction = function (item) {
                        return {
                            OnStorePrintSource: 'OnStorePrintSourcePosition',
                            SourceID: item.positionID,
                            PrinterLocationID: printerLocationID,
                            LocalPrint: localPrint
                        };
                    };
                    var url = window.location.origin + '/api/procedures/onstoreprint';
                    callAJAXBatch(url, this.items, paramsFunction, function (result) {
                        if (result.localPrint)
                            printJS('/download/direct?fileID=' + result.fileID);
                    }, true);
                }
                // save printer
                localStorage.setItem("print_dialog_PrinterLocationID", printerLocationID);
            }
        }
    });
</script>