﻿<div class="modal fade" id="setStatus_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="set-status-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Změna stavu</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items">
                                    <span class="doc-marker">
                                        <i class="far fa-file-alt"></i>
                                        <span class="doc-marker-info">
                                            {{ doc.posCode }}
                                            <span class="doc-marker-sep">/</span>
                                            {{ doc.posDesc }}
                                        </span>
                                    </span>
                                    <span class="label label-primary" style="margin-right:1em;">{{ doc.docStatusName }}</span>
                                    <br />
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedDirsCnt }})</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="statusCode" class="col-sm-2 control-label">Nový stav</label>
                        <div class="col-sm-4">
                            <select v-model="statusCode" id="statusCode" class="form-control">
                                <option v-for="status in statusList" v-bind:value="status.code">{{ status.name }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var setStatus_dialog = new Vue({
        el: '#set-status-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedDirsCnt: 0,
                statusList: [],
                statusCode: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedDirsCnt = setStatus_dialog.$data.items.length;
                callAJAX(window.location.origin + '/api/procedureshelpers/positionstatuslist', {}, function (result) {
                    setStatus_dialog.$data.statusList = result;
                    setStatus_dialog.$data.statusCode = result[0].code;
                });
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                positionID: item.positionID,
                                status: setStatus_dialog.statusCode
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/positionsetstatus', setStatus_dialog.items, paramsFunction, function ()
                        {
                            setStatus_dialog.dataList.refresh(); $('#setStatus_dialog').modal('hide');
                        }, true);
                    }
                });
            }
        }
    });
</script>
