﻿<script type="text/x-template" id="article_changed_history_template">
    <div>
        <div class="modal fade" id="article_changed_view_detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-big" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" v-on:click="closeDetail" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="article_changed_view_detail_title"></h3>
                    </div>
                    <div class="modal-body modal-body-over">
                        <div class="container">
                            <div v-if="parsed">
                                <div class="row alert-info">
                                    <div class="col-md-4"><b>Pole</b></div>
                                    <div class="col-md-4"><b>Původně</b></div>
                                    <div class="col-md-4"><b>Nově</b></div>
                                </div>
                                <div class="row " v-for="item in changes">
                                    <div class="col-md-4">{{ item.property }}</div>
                                    <div class="col-md-4">{{ item.originValue }}</div>
                                    <div class="col-md-4">{{ item.currentValue }}</div>
                                </div>
                            </div>
                            <div v-else id="article_changed_view_detail_not_parsed">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeDetail">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" v-on:click="showDetail">
            <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="rawValue"></div>
        </a>
    </div>
</script>

<script>
    Vue.component('article_changed_history_parser', {
        props: ['column', 'item', 'settings'],
        template: '#article_changed_history_template',
        data: function () {
            return {
                rawValue: null,
                changes: null,
                parsed: false
            }
        },
        methods: {
            showDetail: function () {
                $("#article_changed_view_detail_title").text(this.column.caption);
                try {
                    this.changes = JSON.parse(this.rawValue).changes;
                    this.parsed = true;
                } catch (ex) {
                    this.parsed = false;
                    $('#article_changed_view_detail')
                }
                $('#article_changed_view_detail').modal('show');
                $('#article_changed_view_detail_not_parsed').html(this.rawValue);
            },
            closeDetail: function () {
                this.parsed = false;
                $('#article_changed_view_detail').modal('hide');
            }
        },
        computed: {
            value: function () {
                this.rawValue = null;
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                this.rawValue = this.item[this.column.fieldName];
                return "Seznam změn";
            }
        }
    });
</script>
