﻿<script type="text/x-template" id="barcode_confirmed_template">
    <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="value"></div>
</script>

<script>
    Vue.component('barcode_confirmed_parser', {
        props: ['column', 'item', 'settings'],
        template: '#barcode_confirmed_template',
        data: function () {
            return {
                value: null
            }
        },
        mounted: function () {
            var value = this.item[this.column.fieldName];
            if (!value) {
                this.value = value;
                return;
            }
            this.value = "Potvrzen kód: <b>" + value;
        }
    });
</script>
