﻿<script type="text/x-template" id="barcode_changed_template">
    <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="value"></div>
</script>

<script>
    Vue.component('barcode_changed_parser', {
        props: ['column', 'item', 'settings'],
        template: '#barcode_changed_template',
        data: function () {
            return {
                value: null
            }
        },
        mounted: function () {
            var value = this.item[this.column.fieldName];
            if (!value) {
                this.value = value;
                return;
            }
            var values = value.split('|');
            if (values.lenght < 0) {
                this.value = value;
                return;
            }
            this.value = "Původní kód: <b>" + values[0] + "</b>; Nový kód: <b>" + values[1] + "</b>";
        }
    });
</script>