﻿<script type="text/x-template" id="check_assign_history_template">
    <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="value"></div>
</script>

<script>
    Vue.component('check_assign_history_parser', {
        props: ['column', 'item', 'settings'],
        template: '#check_assign_history_template',
        data: function () {
            return {
                value: null
            }
        },
        mounted: function () {
            var value = this.item[this.column.fieldName];
            if (!value) {
                this.value = value;
                return;
            }
            var values = value.split('|');
            if (values.lenght < 0) {
                this.value = value;
                return;
            }
            var self = this;
            @{ var values = S4.Entities.Direction.DISP_CHECK_METHODS.Values.ToArray(); }
            let methods = @Html.Raw(Json.Serialize(values));
            let method = methods[values[1]];
            self.value = "Kdo: <b>" + values[0] + "</b>; Metoda: <b>" + method + "</b>";
        }
    });
</script>