﻿
<script>
    Vue.component('delivered_parser', {
        props: ['column', 'item', 'settings'],
        template: '<div>Doručeno zákazníkovi {{ date | toDateTime }}</div>',
        data: function () {
            return {
                date: 0
            }
        },
        created: function () {
            var json = this.item[this.column.fieldName];

            if (json !== undefined && json !== null) {
                const obj = JSON.parse(json);
                this.date = Object.values(obj)[0]; // get first property
            }
        },
        filters: {
            toDateTime: function (value) {
                if (!value)
                    return '';
                value = new Date(value);
                var month = value.getMonth() + 1;
                return value.getUTCDate() + "." + month + "." + value.getUTCFullYear() + " " + numberToDigits(value.getUTCHours(), 2) + ":" + numberToDigits(value.getUTCMinutes(), 2) + ":" + numberToDigits(value.getUTCSeconds(), 2);
            },
        }
    });

    
    
</script>