﻿<script type="text/x-template" id="disp_assign_history_template">
    <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="value"></div>
</script>

<script>
    Vue.component('disp_assign_history_parser', {
        props: ['column', 'item', 'settings'],
        template: '#disp_assign_history_template',
        data: function () {
            return {
                value: null
            }
        },
        mounted: function () {
            var value = this.item[this.column.fieldName];
            if (!value) {
                this.value = value;
                return;
            }
            var values = value.split('|');
            if (values.lenght < 0) {
                this.value = value;
                return;
            }
            var self = this;
            getPosition(values[1], function (position) {
                if (!position) {
                    self.value = value;
                    return;
                }
                self.value = "Kdo: <b>" + values[0] + "</b>; Pozice: <b>" + position.posCode + "</b>";
            });
        }
    });
</script>