﻿<partial name="../HistoryParsers/XmlHistoryParser" />
<partial name="../HistoryParsers/StatusChangedHistoryParser" />
<partial name="../HistoryParsers/DispAssignHistoryParser" />
<partial name="../HistoryParsers/CheckAssignHistoryParser" />
<partial name="../HistoryParsers/ItemChangeParser" />
<partial name="../HistoryParsers/DeliveredParser" />
<partial name="../HistoryParsers/JsonHistoryParser" />
<partial name="../HistoryParsers/ArticleChangedHistoryParser" />
<partial name="../HistoryParsers/BarcodeConfirmedParser" />
<partial name="../HistoryParsers/BarcodeChangedParser" />
<partial name="../HistoryParsers/BarcodeCreatedParser" />
<partial name="../HistoryParsers/BarcodeDeletedParser" />

<script>
    const DR_STATUS_CANCEL = "@Html.Raw(S4.Entities.Direction.DR_STATUS_CANCEL)";
    // sto in
    const DR_STATUS_RECEIVE_PROC = "@Html.Raw(S4.Entities.Direction.DR_STATUS_RECEIVE_PROC)";
    const DR_STATUS_RECEIVE_COMPLET = "@Html.Raw(S4.Entities.Direction.DR_STATUS_RECEIVE_COMPLET)";
    const DR_STATUS_STOIN_WAIT = "@Html.Raw(S4.Entities.Direction.DR_STATUS_STOIN_WAIT)";
    const DR_STATUS_STOIN_PROC = "@Html.Raw(S4.Entities.Direction.DR_STATUS_STOIN_PROC)";
    const DR_STATUS_STOIN_COMPLET = "@Html.Raw(S4.Entities.Direction.DR_STATUS_STOIN_COMPLET)";
    //dispatch
    const DR_STATUS_LOAD = "@Html.Raw(S4.Entities.Direction.DR_STATUS_LOAD)";
    const DR_EVENT_RELOAD = "@Html.Raw(S4.Entities.Direction.DR_EVENT_RELOAD)";
    const DR_STATUS_RES_IN_PROC = "@Html.Raw(S4.Entities.Direction.DR_STATUS_RES_IN_PROC)";
    const DR_STATUS_RES_NOT_FOUND = "@Html.Raw(S4.Entities.Direction.DR_STATUS_RES_NOT_FOUND)";
    const DR_STATUS_DISPATCH_WAIT = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISPATCH_WAIT)";
    const DR_STATUS_DISPATCH_PROC = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISPATCH_PROC)";
    const DR_STATUS_DISPATCH_SAVED = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISPATCH_SAVED)";
    // check
    const DR_STATUS_DISP_CHECK_WAIT = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISP_CHECK_WAIT)";
    const DR_STATUS_DISP_CHECK_PROC = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISP_CHECK_PROC)";
    const DR_STATUS_DISP_CHECK_DONE = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISP_CHECK_DONE)";
    // exped
    const DR_STATUS_DISP_EXPED = "@Html.Raw(S4.Entities.Direction.DR_STATUS_DISP_EXPED)";
    // do not process
    const DR_STATUS_NOT_PROCESSED = "@Html.Raw(S4.Entities.Direction.DR_STATUS_NOT_PROCESSED)";
    // pos
    const POS_STATUS_OK = "@Html.Raw(S4.Entities.Position.POS_STATUS_OK)";
    const POS_STATUS_BLOCKED = "@Html.Raw(S4.Entities.Position.POS_STATUS_BLOCKED)";
    const POS_STATUS_STOCKTAKING = "@Html.Raw(S4.Entities.Position.POS_STATUS_STOCKTAKING)";

    // events
    const DR_EVENT_STATUS_CHANGED = "@Html.Raw(S4.Entities.Direction.DR_EVENT_STATUS_CHANGED)";
    const DR_EVENT_FIELD_CHANGE = "@Html.Raw(S4.Entities.Direction.DR_EVENT_FIELD_CHANGE)";
    const DR_EVENT_DISP_SECT_CHANGE = "@Html.Raw(S4.Entities.Direction.DR_EVENT_DISP_SECT_CHANGE)";
    const DR_EVENT_RESERVATION_DONE = "@Html.Raw(S4.Entities.Direction.DR_EVENT_RESERVATION_DONE)";
    const DR_EVENT_RESERVATION_NOT_FOUND = "@Html.Raw(S4.Entities.Direction.DR_EVENT_RESERVATION_NOT_FOUND)";
    const DR_EVENT_RESERVATION_CANCELED = "@Html.Raw(S4.Entities.Direction.DR_EVENT_RESERVATION_CANCELED)";
    const DR_EVENT_DISP_TO_STOIN = "@Html.Raw(S4.Entities.Direction.DR_EVENT_DISP_TO_STOIN)";
    const DR_EVENT_EXPORT_DONE = "@Html.Raw(S4.Entities.Direction.DR_EVENT_EXPORT_DONE)";
    const DR_EVENT_PICKING_HISTORY = "@Html.Raw(S4.Entities.Direction.DR_EVENT_PICKING_HISTORY)";
    const DR_EVENT_ITEM_CHANGED = "@Html.Raw(S4.Entities.Direction.DR_EVENT_ITEM_CHANGED)";
    const DR_EVENT_ITEM_DISPATCHED = "@Html.Raw(S4.Entities.Direction.DR_EVENT_ITEM_DISPATCHED)";
    const DR_EVENT_POSITION_ERROR = "@Html.Raw(S4.Entities.Direction.DR_EVENT_POSITION_ERROR)";
    const DR_EVENT_DISP_REPEAT = "@Html.Raw(S4.Entities.Direction.DR_EVENT_DISP_REPEAT)";
    const DR_EVENT_EXPORT_ABRA = "@Html.Raw(S4.Entities.Direction.DR_EVENT_EXPORT_ABRA)";
    const DR_EVENT_DELIVERED = "@Html.Raw(S4.Entities.Direction.DR_EVENT_DELIVERED)";

    const AR_EVENT_UPDATE = "@Html.Raw(S4.Entities.Article.AR_EVENT_UPDATE)";
    const AR_EVENT_BARCODE_SET = "@Html.Raw(S4.Entities.Article.AR_EVENT_BARCODE_SET)";
    const AR_EVENT_BARCODE_DEL = "@Html.Raw(S4.Entities.Article.AR_EVENT_BARCODE_DEL)";
    const AR_EVENT_BARCODE_CONFIRMED = "@Html.Raw(S4.Entities.Article.AR_EVENT_BARCODE_CONFIRMED)";
    const AR_EVENT_BARCODE_CREATED = "@Html.Raw(S4.Entities.Article.AR_EVENT_BARCODE_CREATED)";

    const DI_EVENT_ITEM_CHANGE = "@Html.Raw(S4.Entities.DirectionItem.DI_EVENT_ITEM_CHANGE)";

    const POS_EVENT_STATUS_CHANGED = "@Html.Raw(S4.Entities.Position.POS_EVENT_STATUS_CHANGED)";
    const POS_EVENT_UPDATE = "@Html.Raw(S4.Entities.Position.POS_EVENT_UPDATE)";

    const INV_STATUS_LOAD = "@Html.Raw(S4.Entities.Invoice.INV_STATUS_LOAD)";
    const INV_STATUS_RELOAD = "@Html.Raw(S4.Entities.Invoice.INV_STATUS_RELOAD)";

    var positionListCache = [];
    function getPosition(id, callback) {
        var items = positionListCache.filter(function (item) { return item.positionID === id });
        if (items.length > 0)
            callback(items[0]);
        callAJAX(window.location.origin + "/api/Data", { typeName: "S4.Entities.Position", where: "positionID = @@0", args: [id] }, function (data) {
            if (data.length == 0)
                callback(data[0])
            else {
                positionListCache.push(data[0]);
                callback(data[0]);
            }
        });
    }

    Vue.component('history_parser_column', {
        props: ['column', 'item', 'settings'],
        render: function (createElement) {
            let parser;
            switch (this.item.eventCode) {
                case INV_STATUS_RELOAD:
                case INV_STATUS_LOAD:
                case DR_EVENT_RELOAD:
                case DR_STATUS_LOAD:
                    parser = "xml_history_parser";
                    break;
                case POS_EVENT_STATUS_CHANGED:
                case DR_EVENT_STATUS_CHANGED:
                    parser = "status_changed_parser";
                    break;
                case DR_STATUS_DISPATCH_WAIT:
                    parser = "disp_assign_history_parser";
                    break;
                case DR_STATUS_DISP_CHECK_WAIT:
                    parser = "check_assign_history_parser";
                    break;
                case DR_EVENT_RESERVATION_DONE:
                case DR_EVENT_RESERVATION_NOT_FOUND:
                    parser = "json_history_parser";
                    break;
                case POS_EVENT_UPDATE:
                case DI_EVENT_ITEM_CHANGE:
                    parser = "item_change_parser";
                    break;
                case AR_EVENT_UPDATE:
                    parser = "article_changed_history_parser";
                    break;
                case AR_EVENT_BARCODE_SET:
                    parser = "barcode_changed_parser";
                    break;
                case AR_EVENT_BARCODE_CREATED:
                    parser = "barcode_created_parser";
                    break;
                case AR_EVENT_BARCODE_DEL:
                    parser = "barcode_deleted_parser";
                    break;
                case AR_EVENT_BARCODE_CONFIRMED:
                    parser = "barcode_confirmed_parser";
                    break;
                case DR_EVENT_DELIVERED:
                    parser = "delivered_parser";
                    break;
                default:
                    var value = this.item[this.column.fieldName];
                    return createElement('div', {
                        attrs: {
                            style: 'text-overflow: ellipsis; overflow: hidden; display: block',
                            title: value
                        }
                    }, value);
            }
            return createElement(parser, {
                props: {
                    column: this.column,
                    item: this.item,
                    settings: this.settings
                }
            });
        }
    });
</script>
