﻿
<template id="item_change_parser_modal_template">
    <div>
        <div class="modal fade item_change_parser_modal" :id="'item_change_parser_modal_'+ modalID" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">{{ title }}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="border: 0;"></th>
                                    <th colspan="3" class="text-center">Hodnoty</th>
                                </tr>
                                <tr>
                                    <th style="border-top: 0;">Název</th>
                                    <th class="text-center">Předchozí</th>
                                    <th class="text-center"><i class="glyphicon glyphicon-arrow-right"></i></th>
                                    <th class="text-center">Nová</th>
                                </tr>
                            </thead>
                            <tr v-for="ch in changes">
                                <td>{{ ch.property }}</td>
                                <td class="text-center">{{ emptyValue(ch.originValue) }}</td>
                                <td class="text-center"><i class="glyphicon glyphicon-arrow-right"></i></td>
                                <td class="text-center">{{ emptyValue(ch.currentValue) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" v-on:click.prevent="showDetail">
            <div style="text-overflow: ellipsis; overflow: hidden; display: block"> {{ title }}</div>
        </a>
    </div>
</template>

<script>
    Vue.component('item_change_parser', {
        props: ['column', 'item', 'settings'],
        template: '#item_change_parser_modal_template',
        data: function () {
            return {
                title: null,
                changes: [],
                modalID: 0
            }
        },
        created: function () {
            this.modalID = this.item.directionHistID;

            var json = this.item[this.column.fieldName];
            if (json !== undefined && json !== null && JSON.parse(json)['changes'] !== undefined) {
                this.changes = JSON.parse(json).changes.filter(v => v.property !== 'R_Edit');
                this.title = `Změny: ${this.changes.map(v => v.property).join(', ')}`;
            }
        },
        methods: {
            showDetail: function () {
                $('#item_change_parser_modal_' + this.modalID).modal('show');

                // workaround for closing modal by dismiss buttons, close only current dismissed modal
                $('*[data-dismiss="modal"]').click(function (e) {
                    e.stopPropagation();
                    $(e.target).closest('.modal').modal('hide');
                });
            },
            emptyValue: function(value) {
                if(!isNaN(value)) {
                    value = parseInt(value) == value ? parseInt(value) : parseFloat(value).toFixed(2);
                }

                return value === null || value === '' ? '[prázdná]' : value;
            }
        }
    });

    
    
</script>