﻿<script src="~/lib/jsonviewer/json-viewer.js"></script>
<link rel="stylesheet" href="~/lib/jsonviewer/json-viewer.css" />
<div class="modal fade" id="json_view_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="json_view_detail_title"></h3>
            </div>
            <div class="modal-body modal-body-over" id="dynamicJSON-output">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="json_view_template">
    <a href="#" v-on:click="showDetail">
        <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="rawValue"></div>
    </a>
</script>

<script>
    Vue.component('json_history_parser', {
        props: ['column', 'item', 'settings'],
        template: '#json_view_template',
        data: function () {
            return {
                rawValue: null
            }
        },
        methods: {
            showDetail: function () {
                $("#json_view_detail_title").text(this.column.caption);
                var json = this.item[this.column.fieldName];
                try {
                    $("#dynamicJSON-output").empty();
                    var jsonViewer = new JSONViewer();
                    document.querySelector("#dynamicJSON-output").appendChild(jsonViewer.getContainer());
                    jsonViewer.showJSON(JSON.parse(json), -1, 1);
                } catch (ex) {
                    console.log(ex);
                    $("#dynamicJSON-output").html(json);
                }
                $('#json_view_detail').modal('show');

                // workaround for closing modal by dismiss buttons, close only current dismissed modal
                $('*[data-dismiss="modal"]').click(function (e) {
                    e.stopPropagation();
                    $(e.target).closest('.modal').modal('hide');
                });
            }
        },
        computed: {
            value: function () {
                this.rawValue = null;
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                this.rawValue = this.item[this.column.fieldName];
                return "JSON data";
            }
        }
    });
</script>