﻿<script type="text/x-template" id="status_changed_template">
    <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="value"></div>
</script>

<script>
    Vue.component('status_changed_parser', {
        props: ['column', 'item', 'settings'],
        template: '#status_changed_template',
        data: function () {
            return {
                allStatuses: this.getStatuses()
            }
        },
        methods: {
            getStatuses: function () {
                var direction = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.Direction.Statuses.Items.Select(x => new { x.Code, x.Name })));
                var position = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.Position.Statuses.Items.Select(x => new { x.Code, x.Name })));
                var article = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.Article.Statuses.Items.Select(x => new { x.Code, x.Name })));
                var directionItem = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.DirectionItem.Statuses.Items.Select(x => new { x.Code, x.Name })));
                var invoice = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.Invoice.Statuses.Items.Select(x => new { x.Code, x.Name })));

                var statuses = [];
                statuses = statuses.concat(direction).concat(position).concat(article).concat(directionItem).concat(invoice);

                return statuses;
            }
        },
        computed: {
            value: function () {
                this.rawValue = null;
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                //get value
                var value = this.item[this.column.fieldName];
                //no data
                if (!value)
                    return null;
                //split by separator
                var statuses = value.split(':');
                //no valid format
                if (statuses.length != 2)
                    return value;

                //get statuses names
                var oldStatusName = "";
                var newStatusName = "";
                for (var i = 0; i < this.allStatuses.length; i++) {
                    if (this.allStatuses[i].Code === statuses[0] && oldStatusName === "") {
                        oldStatusName = this.allStatuses[i].Name;
                    }
                    if (this.allStatuses[i].Code === statuses[1] && newStatusName === "") {
                        newStatusName = this.allStatuses[i].Name;
                    }

                    if (oldStatusName !== "" && newStatusName !== "") {
                        //format statuses html
                        var oldStatusHTML = formatStatusField(oldStatusName, null);
                        var newStatusHTML = formatStatusField(newStatusName, null);
                        return oldStatusHTML + "<b title=''> >> </b>" + newStatusHTML;
                    }
                }

                return "";
            }
        }
    });
</script>