﻿<script src="~/lib/xmlviewer/js/simpleXML.js"></script>
<link rel="stylesheet" href="~/lib/xmlviewer/css/simpleXML.css" />

<style>
    .xml-body {
        height: 600px;
        overflow-y: scroll;
    }
</style>

<div class="modal fade" id="xml_view_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#xml_view_detail').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="xml_view_detail_title"></h3>
            </div>
            <div class="modal-body modal-body-over xml-body" id="dynamicXML-output">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#xml_view_detail').modal('hide');">Zavřít</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="xml_view_template">
    <a v-if="!empty" href="#" v-on:click="showDetail">
        <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="rawValue"></div>
    </a>
    <div v-else>
        <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value" :title="rawValue"></div>
    </div>
</script>

<script>
    Vue.component('xml_history_parser', {
        props: ['column', 'item', 'settings'],
        template: '#xml_view_template',
        data: function () {
            return {
                rawValue: null,
                empty: false
            }
        },
        methods: {
            showDetail: function () {
                if (this.rawValue === undefined || this.rawValue.length == 0) {
                    this.rawValue = "<?xml><text>žádná data</text>";
                }

                $("#xml_view_detail_title").text(this.column.caption);
                var xml = this.item[this.column.fieldName]

                if (xml === undefined || xml.length == 0) {
                    xml = "<?xml><text>žádná data</text>";
                }

                try {
                    $("#dynamicXML-output").empty();
                    $("#dynamicXML-output").simpleXML({ xmlString: xml });
                } catch (ex) {
                    console.log(ex);
                    $("#dynamicXML-output").html(xml);
                }
                $('#xml_view_detail').modal('show');

                // workaround for closing modal by dismiss buttons, close only current dismissed modal
                $('*[data-dismiss="modal"]').click(function (e) {
                    e.stopPropagation();
                    $(e.target).closest('.modal').modal('hide');
                });
            }
        },
        computed: {
            value: function () {
                this.rawValue = null;
                this.empty = false;

                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                this.rawValue = this.item[this.column.fieldName];

                if (this.rawValue === undefined || this.rawValue.length == 0) {
                    this.empty = true;
                    return "žádná data";
                }
                else {
                    this.empty = false;
                    return "XML data";
                }
                    
            }
        }
    });
</script>