﻿<script src="~/lib/jsonviewer/json-viewer.js"></script>
<link rel="stylesheet" href="~/lib/jsonviewer/json-viewer.css" />

<div id="detail-app">
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <label class="control-label col-sm-3">ID:</label>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.messageBusID" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Stav:</label>
                        <div class="col-sm-2" style="padding-top: 5px;">
                            <span style="font-size: 13px;" title="" v-bind:class="rowClass(item.messageStatus)">{{getStatus(item.messageStatus)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Typ:</label>
                        <div class="col-sm-3">
                            <span class="form-control" readonly="readonly">{{this.type(item.messageType)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Počet pokusů:</label>
                        <div class="col-sm-1">
                            <input class="form-control" v-model="item.tryCount" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Další spuštění:</label>
                        <div class="col-sm-2">
                            <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.nextTryTime)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Poslední zápis:</label>
                        <div class="col-sm-2">
                            <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.lastDateTime)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Založeno:</label>
                        <div class="col-sm-2">
                            <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.entryDateTime)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Popis chyby:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" readonly="readonly" v-model="item.errorDesc"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Data:</label>
                        <div class="col-sm-9">
                            <div style="padding-top: 5px;" id="dynamicJSON-output"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Direction ID:</label>
                        <div class="col-sm-2">
                            <a v-if="item.directionID > 0" class="form-control" readonly="readonly" href="#" @@click="openDir(item.directionID)">{{item.directionID}}</a>
                            <span v-else class="form-control" readonly="readonly">{{item.directionID}}</span>
                        </div>
                        <div class="col-sm-2">
                            <a v-if="item.messageType==='SendMail'" v-on:click="exportFile" class="btn btn-info" title="Export příloh"><i class="far fa-save"></i>&nbsp;Uložit přílohu</a>
                        </div>
                        <div class="col-sm-3" style="margin-top: 3px; color:red;font-size:large;">
                            {{ message }}
                        </div>
                    </div>
                </p>
            </form>
        </div>
    </div>

</div>

<script>
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                items: null,
                messagesSettings: {},
                allStatuses: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(S4.Entities.MessageBus.Statuses.Items.Select(x => new { x.Code, x.Name }))),
                message: null
            }
        },
        methods: {
            openDir: function (directionID) {
                const url = window.location.origin + '/direction/dirdetail?directionID=' + directionID;
                window.open(url, '_blank', 'menubar=no,left=50,top=50,width=1200,height=800');
            },
            rowClass: function (status) {
                return {
                    'label label-info': status == 'NEW',
                    'label label-success': status == 'DONE',
                    'label label-warning': status == 'WAITING_FOR_REPEAT',
                    'label label-warning': status == 'WAITING_FOR_COMPLETE',
                    'label label-danger': status == 'ERROR',
                    'label label-default': status == 'NOCOMPLETE',
                }
            },
            getMsgDateTime: function (date) {
                if (date === undefined || date == '' || date === '0001-01-01T00:00:00') {
                    return '';
                }
                else {
                    return moment(date).utc().format('D.M.YYYY HH:mm:ss')
                }
            },
            getStatus: function (status) {
                if (status === undefined)
                    return "";

                for (var i = 0; i < this.allStatuses.length; i++) {
                    if (status === this.allStatuses[i].Code) {
                        return this.allStatuses[i].Name;
                    }
                }
            },
            loadData: function () {
                detailApp.messagesSettings.MessageBusID = this.item.messageBusID;
                detailApp.getData(this.messagesSettings);
            },
            getData: function (settings) {
                callAJAX(window.location.origin + '/api/message', settings, function (data) {
                    detailApp.$data.messagesSettings = data.settings;
                    detailApp.$data.items = data.data;

                    //json
                    detailApp.showDataJSON(detailApp.$data.items[0].messageData);

                }, null, true);
            },
            showDataJSON: function (json) {
                try {
                    $("#dynamicJSON-output").empty();
                    var jsonViewer = new JSONViewer();
                    document.querySelector("#dynamicJSON-output").appendChild(jsonViewer.getContainer());
                    jsonViewer.showJSON(JSON.parse(json), -1, 1);
                } catch (ex) {
                    console.log(ex);
                    $("#dynamicJSON-output").html(json);
                }
            },
            type: function (data) {
                if (data === "DeliveryNote") {
                    return "Export dokladů";
                }
                else if (data === "ExportABRA") {
                    return "Export šarží";
                }
                else if (data === "SendMail") {
                    return "Odeslání e-mailu";
                }
                else {
                    return data
                }

            },
            exportFile: function () {
                var messageBusID = this.item.messageBusID;

                $('#modal_working').modal('show');
                $('#working_icon').addClass("fa-spin");

                callAJAX(window.location.origin + '/api/message/getids', messageBusID, function (data) {

                    if (data.length === 0) {
                        detailApp.message = "Nebyly nalezeny žádné přílohy!";
                    }
                    else {
                        detailApp.message = null;
                    }

                    for (var i = 0; i < data.length; i++) {
                        callAJAX(window.location.origin + '/api/message/exportfile', data[i], function (data) {
                            window.location.href = "/download?fileID=" + data.fileID;

                            
                        }, false, false);
                    }

                    $('#modal_working').modal('hide');
                    $('#working_icon').removeClass("fa-spin");

                }, null, true);


            }
        }
    });
        
</script>
