﻿@{
    ViewData["Title"] = "Odesílání dat";
}

    <div id="app">
        <data_list v-bind:settings="settings" v-bind:items="items" v-on:getdata="getData" v-on:cmdclicked="cmdClicked" :valueHtml="valueHtml"></data_list>
    </div>

<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {
    <script>
        // init
        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/message', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'messageStatus') {
                        if (value == 'NEW') {
                            listItem.color = 'Blue';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'DONE') {
                            listItem.color = 'Green';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'WAITING_FOR_REPEAT' || value == 'WAITING_FOR_COMPLETE') {
                            listItem.color = 'Orange';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'ERROR') {
                            listItem.color = 'Red';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'NOCOMPLETE') {
                            listItem.color = 'Gray';
                            return formatStatusField(displayValue, listItem);
                        }
                        else {
                            return formatStatusField(displayValue, listItem);
                        }
                    }
                    else if (column.fieldName == 'nextTryTime' || column.fieldName == 'lastDateTime' || column.fieldName == 'entryDateTime') {
                        return this.msgDateTime(value);
                    }
                    else
                        return displayValue;
                },
                msgDateTime: function (date) {
                    if (date === undefined || date == '' || date === '0001-01-01T00:00:00') {
                        return '';
                    }
                    else {
                        return moment(date).utc().format('DD.MM.YY HH:mm')
                    }
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

