﻿@{
    ViewData["Title"] = "Stav";
}

<script src="~/lib/chart.js/dist/Chart.min.js"></script>
<style>
    .r {
        text-align: right;
    }

    .red {
        text-align: right;
        color: red;
    }

    .orange {
        text-align: right;
        color: darkorange;
    }
</style>

<div id="app">
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Procedury</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showProcs" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <th>Úspěšné</th>
                                <td class="r">{{ procStatus.success.runCnt | toNumber }}</td>
                            </tr>
                            <tr>
                                <th>S chybou</th>
                                <td class="red">{{ procStatus.errors.runCnt | toNumber }}</td>
                            </tr>
                            <tr>
                                <th>Průměrný čas běhu</th>
                                <td class="r">{{ procStatus.success.timePerProc | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Procedura</th>
                                <th class="r">Počet spuštění</th>
                                <th class="r">Prům. čas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in procStatus.procedures">
                                <td>{{ item.procedureName }}</td>
                                <td class="r">{{ item.totalRunCnt | toNumber }}</td>
                                <td class="r">{{ item.timePerProc | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"><a href="/message">Přenosy</a></h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showMessagesBus" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th class="r">Nové</th>
                                <th class="r">Zpracované</th>
                                <th class="r">Nekompletní</th>
                                <th class="orange">Čekající</th>
                                <th class="orange">Čekající na doplnění</th>
                                <th class="red">Chybné</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in messageBus">
                                <td>{{ item.dateTime | toDate }}</td>
                                <td class="r">{{ item.messageNew | toNumber }}</td>
                                <td class="r">{{ item.messageDone | toNumber }}</td>
                                <td class="r">{{ item.messageNoComplete | toNumber }}</td>
                                <td class="orange">{{ item.messageWait | toNumber }}</td>
                                <td class="orange">{{ item.messageWaitComplete | toNumber }}</td>
                                <td class="red">{{ item.messageError | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Klient chyby - dny</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showErrors" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th class="r">Počet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in errorsStat.last10days">
                                <td>{{ item.date | toDate }}</td>
                                <td class="r">{{ item.cnt | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Klient chyby - top 10</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showErrors" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Třída</th>
                                <th class="r">Počet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in errorsStat.top10">
                                <td>{{ item.errorClass }}</td>
                                <td class="r">{{ item.cnt | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Exchange chyby - dny</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showErrors" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th class="r">Počet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in errorsExchStat.last10days">
                                <td>{{ item.date | toDate }}</td>
                                <td class="r">{{ item.cnt | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Exchange chyby - top 10</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showErrors" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Třída</th>
                                <th class="r">Počet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in errorsExchStat.top10">
                                <td>{{ item.errorClass }}</td>
                                <td class="r">{{ item.cnt | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Exchange chyby - JobName</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showErrors" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>JobName</th>
                                <th class="r">Počet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in errorsExchStat.jobName">
                                <td>{{ item.jobName }}</td>
                                <td class="r">{{ item.cnt | toNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    timer: null,
                    inSync: false,
                    procStatus: {
                        success: {},
                        errors: {},
                        procedures: []
                    },
                    errorsStat: {
                        last10days: [],
                        top10: []
                    },
                    errorsExchStat: {
                        last10days: [],
                        top10: []
                    },
                    messageBus: {
                        newCnt: [],
                        doneCnt: [],
                        waitingForRepeatCnt: [],
                        errorCnt: []
                    }
                }
            },
            mounted: function () {
                this.showProcs();
                this.showErrors();
                this.showMessagesBus();
                //this.timer = setInterval(this.showMessages, 60000);
            },
            beforeDestroy: function () {
                //clearInterval(this.timer);
            },
            filters: {
                toNumber: function (value) {
                    if (isNaN(value))
                        return '';
                    return value.toFixed(0);
                },
                toDate: function (value) {
                    var date = moment(value, moment.ISO_8601);
                    return date.format('D.M.YYYY');
                }
            },
            methods: {
                showMessagesBus: function () {
                    this.inSync = true;
                    callAJAX(window.location.origin + '/api/status/messagebus', {}, function (res) {
                        app.messageBus = res;
                        app.inSync = false;
                    }, null, true);
                },
                showProcs: function () {
                    this.inSync = true;
                    callAJAX(window.location.origin + '/api/status/procedures', {}, function (res) {
                        app.procStatus = res;
                        app.inSync = false;
                    }, null, true);
                },
                showErrors: function () {
                    this.inSync = true;
                    callAJAX(window.location.origin + '/api/status/errors', {}, function (res) {
                        app.errorsStat = res.clientError;
                        app.errorsExchStat = res.exchangeError;
                        app.inSync = false;
                    }, null, true);
                },
            }
        });
    </script>
}
