﻿body > .container {
    padding-left: 70px;
}

body:not(.modal-open) {
    padding-right: 0px !important;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-dialog-big {
    width: 60%;
    min-width: 1200px;
    height: 90%;
}

.modal-content-big {
    height: 100%;
}

.modal-footer-big {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.modal-body-over {
    min-height: 600px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }

        .dropdown-menu-large > li > ul > li {
            list-style: none;
        }

            .dropdown-menu-large > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.428571429;
                color: #333333;
                white-space: normal;
            }

    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu-large .disabled > a:hover,
        .dropdown-menu-large .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

        .dropdown-menu-large > li:last-child {
            margin-bottom: 0;
        }

    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}

div .column {
    padding: 0px 2px;
}

.navbar-header {
    font-size: 1.6em;
    font-weight: 600;
    margin-left: .2em;
    color: black !important;
}


.field-error {
    font-size: .9em;
    font-weight: 500;
    color: darkred;
    padding-top: .5em;
}

.doc-marker {
    margin-right: 0.8em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .4em;
    padding-bottom: .4em;
    background-color: #eeeeee;
    border-radius: 5px;
}

.doc-marker-info {
    font-weight: 600;
    margin-left: .2em;
}

.doc-marker-sep {
    margin-left: .2em;
    margin-right: .2em;
    color: #888888;
}

.worker-list-name {
    display: inline-block;
    width: 10em;
    font-weight: 600;
}

.worker-list-num {
    display: inline-block;
    width: 4em;
    text-align: right;
    color: #444444;
}

.worker-list-status {
    display: inline-block;
    width: 10em;
    text-align: center;
}

.worker-prefered {
    color: #3c763d;
}

.picking-history {
    padding-right: 1em;
}

    .picking-history ul {
        list-style-type: none;
    }

.picking-history-folder {
    font-weight: 600;
    cursor: pointer !important;
}

.picking-history-table {
    margin-top: .3em;
    margin-bottom: .3em;
    padding: .2em;
    background-color: #dddddd;
}
    .picking-history-table th {
        padding-left: .5em;
        padding-right: .5em;
        font-weight: bold;
    }
    .picking-history-table td {
        padding-left: .5em;
        padding-right: .5em;
    }

.info-box {
    border: 2px solid #428bca;
    border-radius: 4px;
}

.info-box-top {
    background-color: #428bca;
    color: white;
    padding-left: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.info-box-body {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .2em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

.info-box-header {
    font-weight: 600;
    margin-top: .4em;
}

.info-box-row:after {
    content: "";
    display: table;
    clear: both;
}

.info-box-name {
    float: left;
    width: 30%;
    font-style: italic;
    color: #999999;
}

.info-box-value {
    float: left;
    width: 70%;
    font-weight: 500;
}

.alert-minimalist {
    background-color: rgb(250, 221, 221);
    border-color: rgb(255, 0, 0);
    border-radius: 3px;
    color: rgb(255, 0, 0);
    padding: 10px;
}

    .alert-minimalist > [data-notify="icon"] {
        height: 50px;
        margin-right: 12px;
    }

    .alert-minimalist > [data-notify="title"] {
        color: rgb(255, 0, 0);
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .alert-minimalist > [data-notify="message"] {
        font-size: 85%;
    }

.alert-close {
    color: rgb(255, 0, 0);
}


.detail-form-rows {
    margin-top: 0px;
    margin-bottom: 1.5em;
}

.detail-form-row {
    margin-bottom: .8em;
}

.detail-form-fld-desc {
    color: #aaaaaa;
    font-size: .9em;
    margin-bottom: 2px;
}

.detail-form-fld {
    color: black;
    font-weight: 600;
    border: 1px solid #eeeeee;
    padding: 4px;
    border-radius: 5px;
    min-height: 30px;
}

.detail-form-content {
    padding-top: 1em;
}

.list-filter {
    padding: 6px 15px 6px 15px;
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 3px;
    margin-bottom: 1px;
}

.list-filter-desc {
    font-weight: 600;
    margin-right: .5em;
}

.cmd-bar {
    margin-bottom: 1em;
}

.docInfoSeparator {
    font-size: .9em;
    color: darkgray;
    margin-left: .15em;
    margin-right: .15em;
}

.expirationSeparator {
    font-size: .9em;
    color: darkgray;
}


.edit-header {
}

.edit-header-bold {
    font-weight: 600;
    margin-right: 1.5em;
    float: left;
}

.btn-xs {
    font-size: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.table > tbody > tr.success, .table > tbody > tr.success td {
    background: #b5ef9d;
}

.table > tbody > tr.danger, .table > tbody > tr.danger td {
    background: #ef9d9d;
}

.table-hover > tbody > tr:hover {
    background-color: #fffde9;
}

/* menu vertical */
/* CSS used here will be applied after bootstrap.css */
.navbar-fixed-left {
    width: 56px;
    position: absolute;
    border-radius: 0;
    height: 100%;
    top: 0;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 55px;
    font-size: 20px;
}

.navbar-fixed-left .navbar-nav > li.active {
    background-color: #dadada;
}

/* Grid components */
/* progressbar status */
.progress.status-bar {
    border-radius: 0;
    background-color: #d6d6d6;
}

    .progress.status-bar .progress-bar {
        text-align: left;
        color: #000;
        webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        border-radius: 0;
    }

    .progress.status-bar .progress-bar-success {
        background-color: #8aef8a;
    }

    .progress.status-bar.status-bar-default {
        background-color: #f5f5f5;
    }

        .progress.status-bar.status-bar-default .progress-bar {
            color: #000;
        }

.seek-list-head {
    font-weight: 600;
    display: inline-block;
    min-width: 10em;
    margin-right: 1em;
}

.seek-list-sep {
    margin-left: .5em;
    margin-right: .5em;
}

.seek-list-id {
    color: #444444;
    font-size: .8em;
    margin-right: .5em;
    display: inline-block;
    width: 3em;
}

.seek-list-id2 {
    color: #444444;
    font-size: .8em;
    margin-right: .5em;
    display: inline-block;
    width: 6em;
}

@media (max-width: 768px) {
    body > .container {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    
    .navbar-fixed-left {
        height: 50px;
    }
    
    .navbar-fixed-left .nav:nth-child(2) {
        display: none;
    }

    .nav > li > a {
        padding-left: 30px;
    }

    .dropdown.open .dropdown-menu {
        background: #ffffff;
        font-size: 22px;
    }

    .dropdown.open .dropdown-menu a:first-child {
        margin-top: 0px !important;
    }

    .navbar-nav {
        float: left;
        margin: 3px;
    }
    .navbar-nav > li {
        float: left;
    }
    .nav > li > a {
        padding: 10px 13px;
    }
    .navbar-nav.navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-fixed-left .navbar-nav > li {
        width: 5px;
    }
    .navbar-fixed-left .navbar-nav > li > a {
        width: fit-content;
    }
    .nav.navbar-nav.navbar-right a {
        padding: 5px 5px;
    }

    .alert ul li {
        font-size: 16px;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px;
    }
    
    #app h3 {
        margin-top: 0;
    }
}