﻿<div id="edit-app">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">ID:</label>
            <div class="col-sm-2">
                <input class="form-control" v-model="item.certificateID" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Typ:</label>
            <div class="col-sm-2">
                <input class="form-control" name='certificateType' v-model="item.certificateType" v-validate="'required'" />
                <span class="text-danger">{{ errors.first('certificateType') }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Expirace od:</label>
            <div class="col-sm-2">
                <input class="form-control" name='expirationDateFrom' v-model="expirationDateFrom" v-validate="'required'" />
                <span class="text-danger">{{ errors.first('expirationDateFrom') }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Expirace do:</label>
            <div class="col-sm-2">
                <input class="form-control" name='expirationDateTo' v-model="expirationDateTo" v-validate="'required'" />
                <span class="text-danger">{{ errors.first('expirationDateTo') }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Heslo:</label>
            <div class="col-sm-3">
                <input class="form-control" name='certificatePassword' v-model="item.certificatePassword" data-vv-as="Heslo" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Certifikát:</label>
            <div class="col-sm-8">
                <textarea class="form-control" v-model="item.certificateBinary" readonly="readonly" rows="7" name='certificateBinary' v-validate="'required'"></textarea>
                <span class="text-danger">{{ errors.first('certificateBinary') }}</span>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"><button type="button" class="btn btn-secondary" v-on:click="getInfoCertificate()" style="margin-left: 13px;">Certifikát info</button></label>
            <div class="col-sm-8" style="margin-top: 4px;">
                <textarea class="form-control" v-model="certificateInfo" readonly="readonly" rows="7" name='certificateInfo'></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Nahrát certifikát:</label>
            <div class="col-sm-8" style="margin-top: 4px;">
                <input id="files" name="files" type="file" size="1" onchange="uploadFiles('files');" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Certifikát velikost:</label>
            <div class="col-sm-2">
                <input class="form-control" v-model="certificateBinaryLength" readonly="readonly" />
            </div>
        </div>
    </form>

</div>

<script>
    
    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var dataFile = new FormData();
        dataFile.append("files", files[0]);
        
        $.ajax(
            {
                url: "/certificate",
                data: dataFile,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    //alert("Files Uploaded!");
                    editApp.$data.item.certificateBinary = data.bytes;
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                    //alert("Completed!");
                }
            }
        );
    }
    

    


    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                certificateSettings: {},
                saveError: null,
                expirationDateFrom: null,
                expirationDateTo: null,
                certificateInfo: null,
            }
        },
        computed: {
            certificateBinaryLength: function () {
                if (this.item.certificateBinary != null) {
                    var bytes = this.item.certificateBinary.length;
                    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
                    if (bytes == 0) return '0 Byte';
                    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
                }
            }
        },
        methods: {
            loadData: function () {
                $("#files").val(null);
                editApp.$data.certificateInfo = null;
                this.certificateSettings.certificateID = this.item.certificateID;
                this.getData(this.certificateSettings);

                this.expirationDateFrom = valueToString(this.item.expirationDateFrom, this.columns.filter(function (item) {
                    return item.fieldName == 'expirationDateFrom'
                })[0]);

                this.expirationDateTo = valueToString(this.item.expirationDateTo, this.columns.filter(function (item) {
                    return item.fieldName == 'expirationDateTo'
                })[0]);
            },
            getData: function (settings) {

                if (settings.certificateID === undefined) {
                    $("#detail_title").html('Nový certifikát');
                    editApp.$data.item = { certificateID: 0, certificateType: null, expirationDateFrom: null, expirationDateTo: null, certificatePassword: null, certificateBinary: null };
                }
            },
            doSave: function () {
                this.saveError = null;
                this.validateAndSave();
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.$data.save) {
                            editApp.$data.item.expirationDateFrom = moment(editApp.expirationDateFrom, "DD.MM.YYYY HH:mm:ss");
                            editApp.$data.item.expirationDateTo = moment(editApp.expirationDateTo, "DD.MM.YYYY HH:mm:ss");
                            callAJAX(window.location.origin + '/api/certificate/savecertificate', editApp.$data.item, function (data) {
                                editApp.$data.item.certificateID = data.certificateID;

                                callAJAX(window.location.origin + '/api/certificate', app.$data.settings, function (data) {
                                    app.$data.settings = data.settings;
                                    app.$data.items = data.data;
                                }, null, true);


                            }, null, true);
                        }
                            
                    }
                });
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            getInfoCertificate: function () {
                callAJAX(window.location.origin + '/api/certificate/infocertificate', editApp.$data.item, function (data) {
                    //alert(data.message);
                    editApp.$data.certificateInfo = data.message;
                    editApp.expirationDateFrom = moment(data.dateFrom, "YYYY-MM.DD hh:mm:ss").format('DD.MM.YYYY HH:mm:ss');
                    editApp.expirationDateTo = moment(data.dateTo, "YYYY-MM.DD hh:mm:ss").format('DD.MM.YYYY HH:mm:ss');
                    
                }, null, true);
            }
        }
    });

    validate = editApp.validate;


</script>