﻿@{
    ViewData["Title"] = "Certifikáty";
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" v-on:getdata="getData" :valueHtml="valueHtml"></data_list>
</div>

<partial name="../DataList/DataList" />
<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />


@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>
    <script>
        // init
        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmEdit
                },
                {
                    commandType: cmDelete
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/certificate', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    listItem = { color: 'Blue' };
                    if (column.fieldName == 'certificateInfo') {
                        if (value == 'platný') {
                            listItem.color = 'Green';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'ještě není platný') {
                            listItem.color = 'Blue';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'expirovaný') {
                            listItem.color = 'Red';
                            return formatStatusField(displayValue, listItem);
                        }
                        else
                            return '';
                    }
                    else
                        return displayValue;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

