﻿
<script type="text/x-template" id="dir-column-template">
    <a href="#" v-on:click="showDetail">
        <div style="text-overflow: ellipsis; overflow: hidden; display: block" v-html="value"></div>
    </a>
</script>
<script>
    Vue.component('dir_column', {
        props: ['column', 'item', 'settings'],
        template: '#dir-column-template',
        methods: {
            showDetail: function () {
                var rootUrl = window.location.origin;
                window.open(rootUrl + '/direction/dirdetail?directionID=' + this.item.directionID,'_blank','menubar=no,left=50,top=50,width=1200,height=800');
            }
        },
        computed: {
            value: function () {
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                let val = this.item[this.column.fieldName];
                return formatDocInfoField(val);
            }
        }
    });
</script>