﻿
<script type="text/x-template" id="doc-column-template">
    <div v-bind:title="title" data-toggle="tooltip" style="text-overflow: ellipsis; overflow: hidden; display: block">
        <span v-bind:style="{ 'background-color': backColor}" style="display: inline-block;width:.6em; margin-right:.5em;">&nbsp;</span>
        <a href="#" v-on:click="showDetail" v-html="value"></a>
    </div>
</script>
<script>
    Vue.component('doc_column', {
        props: ['column', 'item', 'settings'],
        template: '#doc-column-template',
        methods: {
            showDetail: function () {
                var rootUrl = window.location.origin;
                window.open(rootUrl + '/move/docdetail?stoMoveID=' + this.item.stoMoveID, '_blank', 'menubar=no,left=50,top=50,width=1200,height=800');
            }
        },
        computed: {
            value: function () {
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                let val = this.item[this.column.fieldName];
                return formatDocInfoField(val);
            },
            backColor: function () {
                let docType = this.item['docType'];
                switch (docType) {
                    case 1: return '#2A044A';
                    case 3: return '#0B2E59';
                    case 4: return '#0D6759';
                    case 5: return '#7AB317';
                    case 6: return '#FA2A00';
                    case 10: return 'black';
                    default: return 'none';
                }
            },
            title: function () {
                let docType = this.item['docType'];
                switch (docType) {
                    case 1: return 'Příjem';
                    case 3: return 'Naskladnění';
                    case 4: return 'Přeskladnění';
                    case 5: return 'Vyskladnění';
                    case 6: return 'Expedice';
                    case 10: return 'Inventura';
                    default: return 'Ostatní';
                }
            }
        }
    });
</script>
