﻿<div class="modal fade" id="lg_content_modal_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content modal-content-big">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="lg_content_detail_title">{{tittle}}</h3>
            </div>
            <div class="modal-body modal-body-over">
                <pre>{{content}}</pre>
            </div>
            <div class="modal-footer modal-footer-big">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>


<script>
    var lgContentDetailApp = new Vue({
        el: '#lg_content_modal_detail',
        data: function () {
            return {
                content: null,
                tittle: null
            }
        }
    });
</script>
