﻿
<script type="text/x-template" id="lg-content-column-template">
    <a href="#" v-on:click="showDetail">
        <div style="text-overflow: ellipsis; overflow: hidden; display: block; font-size:.9em;" v-bind:title="value" data-toggle="tooltip">{{value}}</div>
    </a>
</script>
<script>
    Vue.component('lg_content_column', {
        props: ['column', 'item', 'settings'],
        template: '#lg-content-column-template',
        methods: {
            showDetail: function () {
                lgContentDetailApp.$data.tittle = this.column.caption;
                lgContentDetailApp.$data.content = this.value;
                $('#lg_content_modal_detail').modal('show');
            }
        },
        computed: {
            value: function () {
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                return this.item[this.column.fieldName];
            }
        }
    });
</script>
