﻿<script type="text/x-template" id="status-progress-template">
<div>   
    <div v-if="!isCompleted && value.completed == 0 && value.total != 0" title="Zbývá">
        <span style="padding-left: 5px">{{value.total}}</span>
    </div>
    
    <div v-if="!isCompleted && value.completed > 0" v-bind:title="value.completedPercent +'%'" class="progress status-bar" v-bind:class="{ 'status-bar-default': value.completedPercent == 0 }" style="margin: 0">
        <div class="progress-bar progress-bar-success" :style="{width: value.completedPercent+'%'}">
            <span class="sr-only">{{value.completed}}</span>
            <span style="padding-left: 5px">{{value.completed}}&nbsp;/&nbsp;{{value.total}}</span>
        </div>
    </div>
    
    <div v-if="isCompleted">
        <span style="padding-left: 5px">
            {{value.completed}} <span style="color: #5cb85c" class="glyphicon glyphicon-ok"></span>
        </span>
    </div>
</div>
</script>

<script>
Vue.component('status_progressbar', {
    props: ['column', 'item', 'settings'],
    template: '#status-progress-template',
    data: function() {
        return {
            value: {
                total: null,
                remaining: null,
                completed: null,
                completedPercent: 0
            },
            isCompleted: false
        }
    },
    created: function() {
        this.createColoredValues();
    },
    watch: {
        item: {
            handler: function(newVal) {
                this.createColoredValues();
            },
            deep: true
        }
    },
    methods: {
        createColoredValues: function() {
            if (!this.item)
                return 'not item';
            if (!this.column)
                return 'not column';
            
            const value = this.item[this.column.fieldName];

            if(typeof value == 'undefined')
                return;
            if(!value.includes('/'))
                return 'bad value';
            
            const values = value.split('/');
            this.value.completed = values[0];
            this.value.total = values[1];
            
            if(this.value.total == 0)
                return;
            
            this.value.remaining = this.value.total - this.value.completed;
            this.isCompleted = this.value.total === this.value.completed;
            this.value.completedPercent = Math.round(this.value.completed * (100 / this.value.total));
        }
    }
});
</script>