﻿<script type="text/x-template" id="test-column-template">
    <a href="#" v-on:click="openDocDetail">{{value}}</a>
</script>
<script>
    Vue.component('test_column', {
        props: ['column', 'item', 'settings'],
        template: '#test-column-template',
        methods: {
            openDocDetail: function () {
                var rootUrl = window.location.origin;
                window.open(rootUrl + '/move/docdetail?stoMoveID=4761092','_blank','menubar=no,left=50,top=50,width=1200,height=800');
            }
        },
        computed: {
            value: function () {
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                return this.item[this.column.fieldName];
            }
        }
    });
</script>
    