﻿<div id="app">
    <input v-model="errorMessage" /><br>
    <input v-model="errorClass" /><br>
    <input v-model="url" /><br>
    <input v-model="column" /><br>
    <input v-model="line" /><br>
    <button @@click="sendError">SendError</button>
    <div>{{ procResult }}</div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                errorMessage: null,
                errorClass: null,
                url: null,
                column: null,
                line: null,
                procResult: null
            }
        },
        methods: {
            sendError: function () {
                var params = {
                    ErrorMessage: this.errorMessage,
                    ErrorClass: this.errorClass,
                    Url: this.url,
                    Column: this.column,
                    Line: this.line
                };
                console.info(params);
                callAJAX(window.location.origin + 'api/clienterror/inserterror', params, this.showResult);
                console.info('x');
            },
            showResult: function (result) {ss
                app.$data.procResult = result;
            }
        }
    });
</script>