﻿@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@model S4.Web.Models.TestModel

@using S4.Web.Hubs.Progress



<script src="~/lib/vue/dist/vue.js"></script>

<h2>View</h2>

<h4>TestModel</h4>
<hr />

<div id="app">
    <button v-on:click="testPrintLabelProc">DispatchPrintLabelProc</button>
    <button v-on:click="getData">Get Data</button>
    <button v-on:click="testPrintProc">DispatchPrintProc</button>
    <button v-on:click="testPrintProc2">ReceivePrintProc</button>
    <button v-on:click="testPrintProc5">ReceivePrintByDirectionProc</button>
    <button v-on:click="testPrint2">Editace reportu stavSkladuPodleVyrobce.srt</button>
    <button v-on:click="testPrint2b">Editace reportu StavSkladuPodleSekce.srt</button>
    <button v-on:click="testPrint3">TestPrint3</button>
    <button v-on:click="testPrint4">Worker</button>
    <button v-on:click="testPrint5">Editace Expirace</button>
    <button v-on:click="testPrint6">Editace reportu vyrobceNaSklade.srt</button>
    <button v-on:click="testPrint7">Editace reportu obsahpozice.srt</button>
    <button v-on:click="testPrint8">Editace reportu obsahpozice2.srt</button>
    <button v-on:click="testPrint8_3">Editace reportu obsahpozice3.srt</button>
    <button v-on:click="testPrint9">Editace reportu PrijemVydejDleSarzeKarty.srt</button>
    <button v-on:click="testPrint10">Editace reportu PohybyKeKartam.srt</button>
    <button v-on:click="testPrint11">Editace reportu VyuzitiPozic.srt</button>
    <button v-on:click="testPrint12">Editace reportu StavSkladuKDatu.srt</button>
    <button v-on:click="testuploadarticle">Abra upload article</button>
    <button v-on:click="testuploaddispatch">Abra upload dispatch</button>
    <button v-on:click="testuploadreceive">Abra upload receive</button>
    <button v-on:click="testserialnumber">Report seriových čísel</button>
    <button v-on:click="testProc">TestProc SIgnalR</button>
    <button v-on:click="message1">Notify1</button>
    <button v-on:click="message2">Notify2</button>
    <button v-on:click="testPrint13">Editace EAN</button>
    <button v-on:click="testProcExch">TestProc Exchange SIgnalR</button>
    <button v-on:click="testPrint14">Editace ChybneExpediceSklad</button>
    <button v-on:click="testPrintID37">Editace Expirace KHL id:37</button>
    <button v-on:click="testPrintID47">Test print id:47</button>
    <button v-on:click="testPrintID50">Test Archív dokumentů ID 50</button>
    {{ message }}

    @*<data_list v-bind:settings="settings" v-bind:items="items"></data_list>*@

    <div>

        <label class="control-label col-sm-4">Pro testování procedury DispatchPrintBoxLabel:</label>
        <div class="tab-content detail-form-content">
            <div id="doc" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4">directionID:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="directionID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">labelsQuant:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="labelsQuant" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">docPosition:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="docPosition" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">printerLocationID:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="printerLocationID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">reportID:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="reportID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">labelText:</label>
                                <div class="col-sm-4">
                                    <input class="form-control" v-model="labelText" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button v-on:click="testDispatchPrintBoxLabel">DispatchPrintBoxLabel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="../VueColumns/TestColumn" />
<partial name="ApiWorkingModal" />

<script src="~/Scripts/utils/utils.js"></script>

<script src="~/lib/vue-select/vue-select.js"></script>
<script>
    Vue.component('v-select', VueSelect.VueSelect);
</script>

<script>
   
    // init
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                //for test DispatchPrintBoxLabel
                labelsQuant: 1,
                directionID: 13600,
                docPosition: 1,
                printerLocationID: 40,
                reportID: 30,
                labelText: 'Test',
                items: [],
                //selection
                selectedItem: null,
                message: null
            }

        },
        methods: {
            getData: function () {
                for (i = 0; i < 100; i++) {
                    var dSpan = Math.round(i / 4);
                    var row = {};
                    var now = new Date();
                    date = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                    date.setDate(date.getDate() + dSpan);
                    row["field1"] = date;
                    for (j = 3; j <= 6; j += 2) {
                        row["field" + j] = "row" + i + "field" + j + i + j;
                    }
                    for (j = 2; j <= 6; j += 2) {
                        row["field" + j] = i + j;
                    }
                    row["field7"] = "options" + i;
                    row["field8"] = i;
                    this.items.push(row);
                }
                /*callAJAX(window.location.origin + '/api/DataList', { data: 'test' }, function (data) {
                    Object.keys(data).forEach(key => {
                        alert(key);
                    });
                    alert(data.column);
                }, null, true);*/
            },
            testPrintProc: function () {
                var model = { DirectionID: 1529039, PrinterLocationID: 20, ReportID: 1 };
                callAJAX(window.location.origin + '/api/procedures/dispatchprint', model, function (data) {
                });
            },
            testPrintLabelProc: function () {
                var model = { Count: 1, PrinterLocationID: 16, ReportID: 0, DirectionID: 1590347, TypePrint: 1 };
                callAJAX(window.location.origin + '/api/procedures/dispatchprintlabel', model, function (data) {
                });
            },
            testDispatchPrintBoxLabel: function () {
                var model = { LabelsQuant: app.labelsQuant, DirectionID: app.directionID, DocPosition: app.docPosition, PrinterLocationID: app.printerLocationID, ReportID: app.reportID, LabelText: app.labelText };
                callAJAX(window.location.origin + '/api/procedures/dispatchprintboxlabel', model, function (data) {
                    alert(data.success + ' ' + data.errorText)
                }, null, true, true);
            },
            testPrint2: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print2', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint2b: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print2b', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint3: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print3', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint4: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print4', null, function (data) {
                    //alert("Print OK");
                }, null, true, true);
            },
            testPrintProc5: function () {
                var model = { DirectionID: 1499580/*1499250*/, PrinterLocationID: 37, ReportID: 8 };
                callAJAX(window.location.origin + '/api/procedures/receiveprintbydirection', model, function (data) {
                });
            },
            testPrintProc2: function () {
                var model = { StoMoveID: 4633645, PrinterLocationID: 1, ReportID: 8 };
                callAJAX(window.location.origin + '/api/procedures/receiveprint', model, function (data) {
                });
            },
            testPrint5: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print5', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint6: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/vyrobcenasklade', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint7: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/obsahpozice', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint8: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/obsahpozice2', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint8_3: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/obsahpozice3', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint9: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/prijemvydej', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint10: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/pohybykekartam', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint11: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/vyuzitipozic', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrint12: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/stavskladukdatu', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testuploaddispatch: function () {

                //var xmlDispatch = '<?xml version="1.0" encoding="windows-1250"?>' +
                //    '<s3_dispatch doc_prefix="DL" doc_number="45644"><doc_date>2019-05-31</doc_date><doc_reference></doc_reference><doc_remark></doc_remark><customer customer_id="UG00000101"><name>Fakultní nemocnice Ostrava</name><adress_1>17.listopadu 1790</adress_1><adress_2>70852</adress_2><city>Ostrava -Poruba</city><phone>597 372 325</phone></customer><delivery_address address_id="OW00000101"><name>Provozovna 1</name><adress_1>17.listopadu 1790</adress_1><adress_2>70852</adress_2><city>Ostrava - Poruba</city><phone></phone><deliveryinstructions>Odd.zdravot.potřeb</deliveryinstructions><remark>efakturace2@fno.cz</remark></delivery_address><items><item position="0" article_packing_id="CSU0000101"><quantity>2</quantity><department>Servisovaný předmět: ZT_82 CR Classic SN: 20141</department><extradata><skupinaZbozi>4</skupinaZbozi><kodVZP></kodVZP><kodPDK></kodPDK><sazbaDPH>21</sazbaDPH><vyrobniCena>0</vyrobniCena><cenaBezDPH>1500</cenaBezDPH><cenaSDPH>1815.00</cenaSDPH><prodejniCenaBezDPH>0.00</prodejniCenaBezDPH><prodejniCenaSDPH>0.00</prodejniCenaSDPH></extradata></item><item position="1" article_packing_id="AIFB000101"><quantity>1</quantity><department>Servisovaný předmět: ZT_82 CR Classic SN: 20141</department><extradata><skupinaZbozi>4</skupinaZbozi><kodVZP></kodVZP><kodPDK></kodPDK><sazbaDPH>21</sazbaDPH><vyrobniCena>0</vyrobniCena><cenaBezDPH>1500</cenaBezDPH><cenaSDPH>1815.00</cenaSDPH><prodejniCenaBezDPH>0.00</prodejniCenaBezDPH><prodejniCenaSDPH>0.00</prodejniCenaSDPH></extradata></item><item position="2" article_packing_id="CX81000101"><quantity>1</quantity><department>Servisovaný předmět: ZT_82 CR Classic SN: 20141</department><extradata><skupinaZbozi>4</skupinaZbozi><kodVZP></kodVZP><kodPDK></kodPDK><sazbaDPH>21</sazbaDPH><vyrobniCena>0</vyrobniCena><cenaBezDPH>952</cenaBezDPH><cenaSDPH>1151.92</cenaSDPH><prodejniCenaBezDPH>0.00</prodejniCenaBezDPH><prodejniCenaSDPH>0.00</prodejniCenaSDPH></extradata></item></items></s3_dispatch>';

                var xmlDispatch = '<?xml version="1.0" encoding="windows-1250"?>' +
                    '<s3_dispatch doc_prefix="DL" doc_number="163"><doc_date>2020-01-02</doc_date><doc_reference></doc_reference><doc_remark></doc_remark><customer customer_id="XF00000101"><name>VŠEOBECNÁ FAKULTNÍ NEMOCNICE V PRAZE</name><adress_1>U nemocnice 499/2</adress_1><adress_2>128 00</adress_2><city>Praha 2</city><phone>224962136</phone><extradata><formatDiskety>PDK5</formatDiskety><poslatMailem>True</poslatMailem><mailovaAdresa>IR@vfn.cz</mailovaAdresa><ico>00064165</ico><dic>CZ00064165</dic></extradata></customer><delivery_address address_id="54B2000101"><name>21132</name><adress_1>U Nemocnice 2</adress_1><adress_2></adress_2><city></city><phone></phone><deliveryinstructions>Klinika TBC lůžka</deliveryinstructions><remark>21132</remark></delivery_address><items><item position="0" article_packing_id="QBB0000101"><quantity>1</quantity><department></department><extradata><skupinaZbozi>1</skupinaZbozi><kodVZP>0098876</kodVZP><kodPDK>55413760322198</kodPDK><kodSUKL>0098876</kodSUKL><kod>4E1323</kod><sazbaDPH>10</sazbaDPH><vyrobniCena>232</vyrobniCena><cenaBezDPH>233</cenaBezDPH><cenaSDPH>256.30</cenaSDPH><prodejniCenaBezDPH>299.28</prodejniCenaBezDPH><prodejniCenaSDPH>256.30</prodejniCenaSDPH><article_medicines>Ne</article_medicines>' +
                    '</extradata></item></items></s3_dispatch>';

                callAJAX(window.location.origin + '/api/external/direction/uploaddispatch', xmlDispatch, function (data) {
                    var res = data.result + " - " + data.error;
                    alert(res);
                }, null, true);
            },
            testuploadreceive: function () {

                var xmlReceive = '<?xml version="1.0" encoding="windows-1250"?>' +
                    '<s3_receive doc_prefix="PR" doc_number="1"><doc_date>2020-01-02</doc_date><doc_reference></doc_reference><doc_remark></doc_remark><items><item position="0" article_packing_id="TOWJ000101"><article article_id="13OH000101"><article_code>0222347</article_code><article_name>RIXATHON 100mg inf cnc sol 2x10ml</article_name><article_unit>bal</article_unit><article_manuf>Sandoz</article_manuf><article_use_batch>true</article_use_batch><article_use_expiration>true</article_use_expiration><article_packing article_packing_id="TOWJ000101"><packing_name>bal</packing_name><packing_relation>1</packing_relation><packing_bar_cod></packing_bar_cod></article_packing><article_packing article_packing_id="C3XJ000101"><packing_name>kart</packing_name><packing_relation>33</packing_relation><packing_bar_cod></packing_bar_cod></article_packing></article><quantity>2</quantity></item><item position="1" article_packing_id="POWJ000101"><article article_id="X2OH000101"><article_code>0222349</article_code><article_name>RIXATHON 500mg inf cnc sol 1x50ml</article_name><article_unit>ks</article_unit><article_manuf>Sandoz</article_manuf><article_use_batch>true</article_use_batch><article_use_expiration>true</article_use_expiration><article_packing article_packing_id="B3XJ000101"><packing_name>kart</packing_name><packing_relation>42</packing_relation><packing_bar_cod></packing_bar_cod></article_packing><article_packing article_packing_id="POWJ000101"><packing_name>ks</packing_name><packing_relation>1</packing_relation><packing_bar_cod></packing_bar_cod></article_packing></article><quantity>84</quantity></item></items></s3_receive>';

                callAJAX(window.location.origin + '/api/external/direction/uploadreceive', xmlReceive, function (data) {
                    var res = data.result + " - " + data.error;
                    alert(res);
                }, null, true);
            },
            testuploadarticle: function () {

                var xmlArticle = '<?xml version="1.0" encoding="windows-1250"?>' +
                    '<s3_article article_id="IU5A000101">' +
                    '<article_code>22150</article_code>' +
                    '<article_name>Clearview Blower Mister Kit (Same as the above with Tubing)   Medtronic</article_name>' +
                    '<article_unit>ks</article_unit>' +
                    '<article_manuf>MEDTRONIC</article_manuf>' +
                    '<article_use_batch>true</article_use_batch>' +
                    '<article_use_expiration>true</article_use_expiration>' +
                    '<article_cooled>true</article_cooled>' +
                    '<article_medicines>true</article_medicines>' +
                    '<article_cytostatics>true</article_cytostatics>' +
                    '<article_packing article_packing_id="IHRB000101">' +
                    '<packing_name>ks</packing_name>' +
                    '<packing_relation>1</packing_relation>' +
                    '<packing_bar_code></packing_bar_code>' +
                    '</article_packing>' +
                    '<article_packing article_packing_id="RZHG000101">' +
                    '<packing_name>bal</packing_name>' +
                    '<packing_relation>5</packing_relation>' +
                    '<packing_bar_code></packing_bar_code>' +
                    '</article_packing>' +
                    '<article_cooled>false</article_cooled>' +
                    '<article_medicines>false</article_medicines>' +
                    '</s3_article>';


                callAJAX(window.location.origin + '/api/external/article/uploadarticle', xmlArticle, function (data) {
                    var res = data.result + " - " + data.error;
                    alert(res);
                }, null, true);
            },
            testserialnumber: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/seriovacisla', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            message1: function () {
                showInfoSignalR(1, "Pokus1", "message1 " + moment(Date.now()).format('LTS'), "1", 0);
            },
            message2: function () {
                showInfoSignalR(0, "Pokus2", "message2 " + moment(Date.now()).format('LTS'), "1", 0);
                showInfoSignalR(2, "Pokus3", "message3 " + moment(Date.now()).format('LTS'), "2", 50);
                showInfoSignalR(3, "Pokus4", "message4 " + moment(Date.now()).format('LTS'), "3", 100);
            },
            testProc: function () {
                var model = { Exchange: false };
                app.message = null;
                callAJAX(window.location.origin + '/api/procedures/test', model, function (data) {
                    //alert("Print OK");
                }, null, false, false);

            },
            testPrint13: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print13', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testProcExch: function () {
                var model = { Exchange: true };
                app.message = null;
                callAJAX(window.location.origin + '/api/procedures/test', model, function (data) {
                    //alert("Print OK");
                }, null, false, false);

            },
            testPrint14: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/print14', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrintID37: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/printid37', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrintID47: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/testprintid47', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
            testPrintID50: function (settings) {
                callAJAX(window.location.origin + '/api/testapi/testprintid50', null, function (data) {
                    //alert("Print OK");
                }, null, true);
            },
        }
    });

</script>

