﻿<div id="app">
    <input v-model="directionID" />
    <button @@click="dispatchProc">DispatchProc</button>
    <button @@click="dispatchTestDirectProc">DispatchTestDirectProc</button>
    <button @@click="dispatchCalcBoxLabels">DispatchCalcBoxLabels</button>
    <button @@click="recieveWithARCO">RecieveWithARCO</button>
    <div>{{ procResult }}</div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                directionID: null,
                procResult: null
            }
        },
        methods: {
            dispatchProc: function () {
                var params = {
                    DirectionID: this.directionID
                };
                callAJAX(window.location.origin + '/api/procedures/dispatchmakereservation', params, this.showResult);
            },
            dispatchTestDirectProc: function () {
                var params = {
                    DirectionID: this.directionID
                };
                callAJAX(window.location.origin + '/api/procedures/dispatchtestdirect', params, this.showResult);
            },
            dispatchCalcBoxLabels: function () {
                var params = {
                    DirectionID: this.directionID
                };
                callAJAX(window.location.origin + '/api/procedures/dispatchCalcBoxLabels', params, this.showResult);
            },
            recieveWithARCO: function () {
                var self = this;
                var params = {
                    workerID: 'a',
                    DocNumPrefix: 'PRIJ'
                };
                callAJAX(window.location.origin + '/api/procedures/receiveProcMan', params, function (result) {
                    self.showResult(result);
                    var params = {
                        stoMoveID: result.stoMoveID,
                        positionID: 1,
                        artPackID: 58,
                        quantity: 10
                    };
                    callAJAX(window.location.origin + '/api/procedures/receiveSaveItem', params, function (result) {
                        self.showResult(result);
                    });
                });
            },
            showResult: function (result) {
                app.$data.procResult = result;
            }
        }
    });
</script>