﻿.dataListHeader {
    font-weight: bold;
    padding-top: 5px;    
}
    /*.dataListHeader a {
        color: black !important;
    }*/


.edit-row {
    margin-top: 1px;
    border-left: 10px solid #808080;
    background-color: #f0f0f0;
    padding: 2px 6px 2px 6px;
    white-space: nowrap;
}

    .edit-row:hover {
        background-color: #f9f9f9;
        border-left: 10px solid #00ff21;
    }

.edit-row-selected {
    border-left: 10px solid #ffd800;
    background-color: #fff3ae;
}
    .edit-row-selected:hover {
        border-left: 10px solid #ffe868;
        background-color: #fcf6d0;
    }

.edit-row-focused {
    background-color: #8fffff;
}

    .edit-row-focused:hover {
        background-color: #d1ffff;
    }

.header-row {
    border-left: 10px solid #f9f9f9;
    padding: 4px 6px 5px 6px;
    background-color: #f9f9f9;
}

.header-icon {
    margin-top: 7px;
}

.filter-list-item {
    padding: 1px 4px 1px 4px;
    margin-top: 1px;
    background-color: #d6e4f1;
    border-radius: 3px;
}
    .filter-list-item:last-of-type {
        margin-bottom: 2px;
    }

.data-list-info {
    padding: 6px 15px 6px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.data-list-info-item {
    margin-bottom: 8px;
}
    .data-list-info-item:last-of-type {
        margin-bottom: 0px;
    }

.data-list-fld-name {
    background-color: #337ab7;
    color: white;
    padding: 1px 4px 1px 4px;
    font-size: .9em;
    font-weight: 500;
    border-radius: 2px;
}

.data-list-fld-cmd {
    margin-left: .5em;
}

.data-list-filter {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.data-list-info-commands {
    color: #505050;
    background-color: #fff3ae;
}

.data-list-info-filters {
    background-color: #95CCE9;
}

.filter-control {
    height: 20px;
    padding: 0px 4px;
}

@media (min-width: 768px) {
    .col-sdl-24 {
        width: 100%;
    }

    .col-sdl-23 {
        width: 95.8333333%;
    }

    .col-sdl-22 {
        width: 91.6666667%;
    }

    .col-sdl-21 {
        width: 87.5%;
    }

    .col-sdl-20 {
        width: 83.3333333%;
    }

    .col-sdl-19 {
        width: 79.1666667%;
    }

    .col-sdl-18 {
        width: 75%;
    }

    .col-sdl-17 {
        width: 70.8333333%;
    }

    .col-sdl-16 {
        width: 66.6666667%;
    }

    .col-sdl-15 {
        width: 62.5%;
    }

    .col-sdl-14 {
        width: 58.3333333%;
    }

    .col-sdl-13 {
        width: 54.1666667%;
    }

    .col-sdl-12 {
        width: 50%;
    }

    .col-sdl-11 {
        width: 45.83333333%;
    }

    .col-sdl-11 {
        width: 45.83333333%;
    }

    .col-sdl-10 {
        width: 41.66666667%;
    }

    .col-sdl-9 {
        width: 37.5%;
    }

    .col-sdl-8 {
        width: 33.33333333%;
    }

    .col-sdl-7 {
        width: 29.16666667%;
    }

    .col-sdl-6 {
        width: 25%;
    }

    .col-sdl-5 {
        width: 20.83333333%;
    }

    .col-sdl-4 {
        width: 16.66666667%;
    }

    .col-sdl-3 {
        width: 12.5%;
    }

    .col-sdl-2 {
        width: 8.333333333%;
    }

    .col-sdl-1 {
        width: 4.166666667%;
    }
}

@media (min-width: 992px) {
    .col-mdl-12 {
        width: 100%;
    }

    .col-mdl-23 {
        width: 95.8333333%;
    }

    .col-mdl-22 {
        width: 91.6666667%;
    }

    .col-mdl-21 {
        width: 87.5%;
    }

    .col-mdl-20 {
        width: 83.3333333%;
    }

    .col-mdl-19 {
        width: 79.1666667%;
    }

    .col-mdl-18 {
        width: 75%;
    }

    .col-mdl-17 {
        width: 70.8333333%;
    }

    .col-mdl-16 {
        width: 66.6666667%;
    }

    .col-mdl-15 {
        width: 62.5%;
    }

    .col-mdl-14 {
        width: 58.3333333%;
    }

    .col-mdl-13 {
        width: 54.1666667%;
    }

    .col-mdl-12 {
        width: 50%;
    }

    .col-mdl-11 {
        width: 45.83333333%;
    }

    .col-mdl-11 {
        width: 45.83333333%;
    }

    .col-mdl-10 {
        width: 41.66666667%;
    }

    .col-mdl-9 {
        width: 37.5%;
    }

    .col-mdl-8 {
        width: 33.33333333%;
    }

    .col-mdl-7 {
        width: 29.16666667%;
    }

    .col-mdl-6 {
        width: 25%;
    }

    .col-mdl-5 {
        width: 20.83333333%;
    }

    .col-mdl-4 {
        width: 16.66666667%;
    }

    .col-mdl-3 {
        width: 12.5%;
    }

    .col-mdl-2 {
        width: 8.333333333%;
    }

    .col-mdl-1 {
        width: 4.166666667%;
    }
}

@media (min-width: 1200px) {
    .col-ldl-12 {
        width: 100%;
    }

    .col-ldl-23 {
        width: 95.8333333%;
    }

    .col-ldl-22 {
        width: 91.6666667%;
    }

    .col-ldl-21 {
        width: 87.5%;
    }

    .col-ldl-20 {
        width: 83.3333333%;
    }

    .col-ldl-19 {
        width: 79.1666667%;
    }

    .col-ldl-18 {
        width: 75%;
    }

    .col-ldl-17 {
        width: 70.8333333%;
    }

    .col-ldl-16 {
        width: 66.6666667%;
    }

    .col-ldl-15 {
        width: 62.5%;
    }

    .col-ldl-14 {
        width: 58.3333333%;
    }

    .col-ldl-13 {
        width: 54.1666667%;
    }

    .col-ldl-12 {
        width: 50%;
    }

    .col-ldl-11 {
        width: 45.83333333%;
    }

    .col-ldl-11 {
        width: 45.83333333%;
    }

    .col-ldl-10 {
        width: 41.66666667%;
    }

    .col-ldl-9 {
        width: 37.5%;
    }

    .col-ldl-8 {
        width: 33.33333333%;
    }

    .col-ldl-7 {
        width: 29.16666667%;
    }

    .col-ldl-6 {
        width: 25%;
    }

    .col-ldl-5 {
        width: 20.83333333%;
    }

    .col-ldl-4 {
        width: 16.66666667%;
    }

    .col-ldl-3 {
        width: 12.5%;
    }

    .col-ldl-2 {
        width: 8.333333333%;
    }

    .col-ldl-1 {
        width: 4.166666667%;
    }
}