﻿<div class="modal fade" id="create_booking_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="create-booking-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Vytvořit rezervace</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i>
                                    <span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedDirsCnt }})</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Provozovna</label>
                        <div class="col-sm-8">
                            <seek_partner_address_combo v-model="selectedAddress" name="address"></seek_partner_address_combo>
                        </div>
                        <div class="col-sm-2">
                            <span v-if="selectedAddress == null" class="text-danger">Je třeba vybrat provozovnu</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var create_booking_dialog = new Vue({
        el: '#create_booking_dialog',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedDirsCnt: 0,
                selectedAddress: null,
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedDirsCnt = create_booking_dialog.$data.items.length;

                //load assigned pos if this is reasign dlg
                this.loadXtra();
            },
            
            loadXtra: function () {
                var self = this;
                callAJAX(window.location.origin + '/api/Direction/InfoBox/' + this.items[0].directionID, null, function (xtra) {
                    if (xtra) {
                        if (xtra.posCode) {
                            var positions = self.positionList.filter(function (item) {
                                return item.posCode == xtra.posCode
                            })
                            if (positions.length > 0) {
                                self.positionID = positions[0].positionID;
                            }
                        }
                    }
                }, null, true);
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result && create_booking_dialog.selectedAddress != null) {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.directionID,
                                partnerID: create_booking_dialog.selectedAddress.partnerID,
                                partAddrID: create_booking_dialog.selectedAddress.partAddrID,
                            };
                        };
                        callAJAXBatch(
                            window.location.origin + '/api/procedures/bookingfromreceive',
                            create_booking_dialog.items,
                            paramsFunction,
                            function () {
                                create_booking_dialog.dataList.refresh();
                                $('#create_booking_dialog').modal('hide');
                            },
                            true);
                    }
                });
            }
        }
    });
</script>