﻿<style>
    .parent-list {
        display: inline-block;
        width: 4em;
    }

    .parent-list-sep {
        margin-left: .5em;
        margin-right: .5em;
    }

    .doc-locked {
        color: red;
        margin-right: 1.5em;
        margin-left: .3em;
    }
</style>

<partial name="../HistoryParsers/HistoryParserColumn" />

<div id="detail-direction-app">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#doc">Doklad</a></li>
        <li><a data-toggle="tab" href="#items">Položky</a></li>
        <li><a data-toggle="tab" href="#history">Historie</a></li>
        <li><a data-toggle="tab" href="#moves">Pohyby</a></li>
        <li><a data-toggle="tab" href="#direction-extra">Extra data</a></li>
    </ul>

    <div class="tab-content detail-form-content">
        <div id="doc" class="tab-pane fade in active">
            <div class="row">
                <div class="col-lg-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">ID:</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="item.directionID" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Stav:</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="statusLabel" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Doklad:</label>
                            <div class="col-sm-2">
                                <input class="form-control" v-model="item.docNumPrefix" readonly="readonly" />
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" v-model="item.docYear" readonly="readonly" />
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" v-model="item.docNumber" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Partner:</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="item.partnerName" readonly="readonly" />
                            </div>
                            <div class="col-sm-2" style="font-style:italic;margin-top:.5em;">
                                Id:
                                <span>{{ item.partnerID }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Adresa:</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="item.addrInfo2" readonly="readonly" />
                            </div>
                            <div class="col-sm-2" style="font-style:italic;margin-top:.5em;">
                                Id:
                                <span>{{ item.partAddrID }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Doručovací adresa:</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="deliveryAddress" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Reference:</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="item.partnerRef" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Poznámka:</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" v-model="item.docRemark" readonly="readonly"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Zadáno:</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="entryDateTime" readonly="readonly" />
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="item.entryUserID" readonly="readonly" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3" style="margin-left: 50px;">
                    <div v-if="info != ''" class="info-box">
                        <div class="info-box-top">
                            Info
                        </div>
                        <div class="info-box-body" v-html="info"></div>
                        <div style="margin-left: 7px;margin-bottom:5px;">
                            <span v-if="infoBox != null && infoBox.requestResponseFile && item.directionID > 0"><button type="button" style="margin-top: 3px;font-size: 10px;width:123px;" class="btn btn-default" v-on:click="saveRequestResponse('request')"><i class="fa fa-download"></i>&nbsp;Stáhnout request</button></span>
                            <span v-if="infoBox != null && infoBox.requestResponseFile && item.directionID > 0"><button type="button" style="margin-top: 3px; font-size: 10px; width: 123px;" class="btn btn-default" v-on:click="saveRequestResponse('response')"><i class="fa fa-download"></i>&nbsp;Stáhnout response</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="items" class="tab-pane fade">
            <data_list v-bind:settings="itemsSettings" v-bind:items="directionItems" v-bind:error="itemsError" v-on:getdata="getItems" v-on:cmdclicked="onItemsCmdClicked" ref="itemsGrid" :valueHtml="valueHtml" :cmdEnabled="cmdEnabled"></data_list>
        </div>
        <div id="history" class="tab-pane fade">
            <data_list v-bind:settings="historySettings" v-bind:items="directionHistory" v-bind:error="historyError" v-on:getdata="getHistory" ref="historyGrid" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="moves" class="tab-pane fade">
            <div class="list-filter">
                <div class="row">
                    <div class="col-lg-4" style="padding-top:7px">
                        <div class="checkbox" style="margin:0px">
                            <label><input type="checkbox" v-model="movItemsValid">Jen platné</label>
                        </div>
                    </div>
                    <div class="col-lg-2" style="padding-top:7px">
                        <span class="list-filter-desc">Filtr na pozici: </span>
                    </div>
                    <div class="col-lg-6">
                        <v-select name="parentPosition" v-model="parentPosition" :options="parentPositions" value="docPosition" label="title">
                            <template slot="option" slot-scope="option">
                                <span v-if="option.docPosition === null">Všechny</span>
                                <span v-else>
                                    <span class="parent-list" style="color: darkgray;">Poz {{ option.docPosition }}</span>
                                    <span class="parent-list"><span style="font-weight:600;">{{ option.articleCode }}</span><span class="parent-list-sep"> - </span>{{ option.articleDesc }}</span>
                                </span>
                            </template>
                        </v-select>
                    </div>
                </div>
            </div>

            <data_list v-bind:settings="movSettings" v-bind:items="movItemsFiltered" v-bind:error="movError" v-on:getdata="getMovData" v-on:cmdclicked="onMoveCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="direction-extra" class="tab-pane fade">
            <data_list v-bind:settings="directionExtraSettings" v-bind:items="directionExtraData" v-on:getdata="getExtraData" ref="itemsGrid" :valueHtml="valueHtml"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSizeDetail = getDialogAutoSize(0.85, 450);
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });
    Vue.component('v-select', VueSelect.VueSelect);
    var detailDirectionApp = new Vue({
        el: '#detail-direction-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,

                statusLabel: null,
                entryDateTime: null,
                infoBox: null,

                //tab items
                itemsSettings: null,
                directionItems: null,
                itemsError: null,

                //tab history
                historySettings: null,
                directionHistory: null,
                historyError: null,

                //moves
                movSettings: null,
                movItems: null,
                movItemsValid: true,
                movError: null,
                parentPosition: null,
                parentPositions: [],

                //extra
                directionExtraData: null,
                directionExtraSettings: null,
                directionExtraError: null,
            }
        },
        methods: {
            loadData: function () {
                var partnerName = this.item.partnerName === 'Prázdný' ? '' : this.item.partnerName;
                $('#direction_detail_title').html('<div class="edit-header-bold">' + (this.item.onSummary ? '<span class="doc-locked" title="Pohyby jsou uzamčeny"><i class="fas fa-lock"></i></span>' : '') + this.item.docNumPrefix + '<span class="docInfoSeparator">/</span>' + this.item.docYear + '<span class="docInfoSeparator">/</span>' + this.item.docNumber + '</div><div class="edit-header">' + partnerName + '</div>');

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    detailDirectionApp.selectedPageChanged(target);
                });

                this.resetItems();
                $('.nav-tabs a[href="#doc"]').tab('show');

                var statusItems = this.columns.filter(function (item) {
                    return item.fieldName == 'docStatus'
                })[0].valuesList.filter(function (item) {
                    return item.code == detailDirectionApp.$data.item.docStatus;
                });

                this.statusLabel = statusItems.length == 0 ? null : statusItems[0].name;

                this.entryDateTime = valueToString(this.item.entryDateTime, this.columns.filter(function (item) {
                    return item.fieldName == 'entryDateTime'
                })[0]);

                this.loadXtra();
                this.resetHistory();
                this.resetMoves();
                this.resetExtraData();
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'itemStatus' || column.fieldName == 'eventCode' || column.fieldName == 'docStatus') {
                    return formatStatusField(displayValue, listItem, row.itemValidity == 255, row.itemValidity == 0);
                } else
                    return displayValue;
            },
            selectedPageChanged: function (page) {
                switch (page) {
                    case "#items":
                        this.loadItems();
                        break;
                    case "#history":
                        if (this.historySettings == null) {
                            this.historySettings = { directionID: this.item.directionID, pageSize: pageSizeDetail };
                            this.getHistory();
                        }
                        break;
                    case "#moves":
                        if (this.movSettings == null) {
                            this.movSettings = { directionID: this.item.directionID };
                            this.getMovData(this.movSettings);
                        }
                        break;
                    case "#direction-extra":
                        if (this.directionExtraSettings == null) {
                            this.directionExtraSettings = { directionID: this.item.directionID, pageSize: pageSizeDetail };
                            this.getExtraData();
                        }
                        break;
                }
            },
            loadXtra: function () {
                callAJAX(window.location.origin + '/api/direction/infobox/' + this.item.directionID, null, function (data) {
                    detailApp.$data.infoBox = data;
                }, null, true);
            },
            cmdEnabled: function (item, command) {
                //return command.commandType == cmDetail || command.commandType == cmMenu || !this.item.onSummary;
                return true;
            },

            //items
            loadItems: function () {
                if (this.itemsSettings == null) {
                    this.itemsSettings = {
                        directionID: this.item.directionID, commands: [{ commandType: cmMenu }],
                        pageSize: pageSizeDetail
                    };
                    this.getItems();
                }
            },
            resetItems: function () {
                this.directionItems = [];
                this.itemsSettings = null;
            },
            getItems: function () {
                callAJAX(window.location.origin + '/api/DirectionItem', this.itemsSettings, function (data) {
                    detailDirectionApp.$data.itemsSettings = data.settings;
                    detailDirectionApp.$data.directionItems = data.data;
                    detailDirectionApp.$data.itemsError = data.error;
                    detailDirectionApp.loadParentPositions();
                }, null, true);
            },
            onItemsCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    callAJAX(window.location.origin + "/api/Article/GetWithSettings/" + rows[0].articleID, null, function (data) {
                        detailArticleApp.$data.apiUrl = detailApp.$data.apiUrl;
                        detailArticleApp.$data.columns = data.settings.columns;
                        detailArticleApp.$data.item = data.data[0];
                        detailArticleApp.loadData();
                        $('#article_detail').modal('show');
                    }, null, true);
                }
            },

            //history
            resetHistory: function () {
                this.directionHistory = [];
                this.historySettings = null;
            },
            getHistory: function () {
                callAJAX(window.location.origin + '/api/DirectionHistory', this.historySettings, function (data) {
                    detailDirectionApp.$data.historySettings = data.settings;
                    detailDirectionApp.$data.directionHistory = data.data;
                    detailDirectionApp.$data.historyError = data.error;
                }, null, true);
            },

            //moves
            getMovData: function (settings, sender) {
                if (sender)
                    sender.clearFilter();
                settings.validOnly = this.movItemsValid;
                settings.serverSide = true;
                settings.pageSize = 0; //to get all items
                callAJAX(window.location.origin + '/api/StoreMoveItem', settings, function (data) {
                    //to reset paging
                    detailDirectionApp.$data.movSettings = data.settings;
                    detailDirectionApp.$data.movItems = data.data;
                    detailDirectionApp.$data.movError = data.error;
                    detailDirectionApp.loadItems();
                }, null, true);
            },
            loadParentPositions: function () {
                this.parentPositions = [];
                this.parentPositions.push({
                    docPosition: null,
                    title: "Všechny"
                });
                this.parentPosition = this.parentPositions[0];

                var self = this;
                const settings = {
                    directionID: this.item.directionID,
                    serverSide: true,
                    pageSize: 0
                };
                callAJAX(window.location.origin + '/api/directionitem', settings, function (data) {
                    const list = _.orderBy(data.data, ['docPosition']);
                    list.forEach(item => {
                        self.parentPositions.push({
                            value: item.docPosition,
                            title: 'Poz ' + item.docPosition + ' ' + item.articleCode + ' - ' + item.articleDesc,
                            docPosition: item.docPosition,
                            articleCode: item.articleCode,
                            articleDesc: item.articleDesc
                        });
                    })
                }, null, true);

                /*
              this.directionItems.forEach(function (item) {
                  if (item.docPosition > 0) {
                      var existingItems = self.parentPositions.filter(function (parPos) { return parPos.value == item.docPosition })
                      if (existingItems.length == 0) {
                          self.parentPositions.push({
                              value: item.docPosition,
                              name: "Poz " + item.docPosition + " " + item.articleCode + " - " + item.articleDesc
                          });
                      }
                  }
              });*/
            },
            resetMoves: function () {
                this.movItems = null;
                this.movSettings = null;
                this.parentPosition = null;
                this.parentPositions = [];
            },
            onMoveCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    callAJAX(window.location.origin + "/api/Position/GetWithSettings/" + rows[0].positionID, null, function (data) {
                        detailPositionApp.$data.apiUrl = detailDirectionApp.$data.apiUrl;
                        detailPositionApp.$data.columns = data.settings.columns;
                        detailPositionApp.$data.item = data.data[0];
                        detailPositionApp.loadData();
                        $('#position_detail').modal('show');
                    }, null, true);
                }
            },
            getExtraData: function () {
                callAJAX(window.location.origin + '/api/directionxtra', this.directionExtraSettings, function (data) {
                    detailApp.$data.directionExtraSettings = data.settings;
                    detailApp.$data.directionExtraData = data.data;
                    detailApp.$data.directionExtraError = data.error;
                }, null, true);
            },
            resetExtraData: function () {
                this.directionExtraData = [];
                this.directionExtraSettings = null;
            },
            saveRequestResponse: function (type) {
                var params = { DirectionID: detailApp.item.directionID, Type: type }
                callAJAX(window.location.origin + '/api/direction/downloadrequestresponse', params, function (data) {

                    if (data.fileID) {
                        window.location.href = "/download?fileID=" + data.fileID;
                        detailApp.showMessage("Soubor " + data.msg + " byl stažen ze serveru", "info");
                    }
                    else
                        detailApp.showMessage(data.msg + " - kontaktujte prosím podporu!", "danger");

                }, null, true, false);
            },
            showMessage: function (text, label) {
                $.notify({
                    // options
                    message: text
                }, {
                    // settings
                    z_index: '2147483647',
                    type: 'minimalist',
                    mouse_over: 'pause',
                    delay: '3000',
                    placement: {
                        from: "bottom",
                        align: "right"
                    },
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-' + label + '" role="alert">' +
                        '<button type="button" aria-hidden="true" class="close alert-close" data-notify="dismiss">×</button>' +
                        '<span data-notify="title"><span class="fas fa-info-circle fa-lg" style="margin-right: 9px;"></span>{2}</span></div>'
                });
            }
        },
        watch: {
            movItemsValid: function () {
                this.getMovData(this.movSettings);
            }
        },
        computed: {
            deliveryAddress: function () {
                if (this.item.deliveryAddress1 != undefined || this.item.deliveryAddress2 || this.item.deliveryAddressCity) {
                    return this.item.deliveryAddress1 + ', ' + this.item.deliveryAddress2 + ', ' + this.item.deliveryAddressCity;
                }
                else {
                    return '';
                }
            },
            info: function () {
                if (this.item == null || this.infoBox == null)
                    return null;

                var res = "";

                if (this.infoBox.warning) {
                    res += `<div class='info-box-header text-danger'>Upozornění</div>`;
                    res += `<div class='info-box-row'><div class='text-danger'>${this.infoBox.warning}</div></div>`;
                }

                if (this.infoBox.dispatchWorker || this.infoBox.posCode) {
                    res += `<div class='info-box-header'>Vychystání</div>`;
                    if (this.infoBox.dispatchWorker)
                        res += `<div class='info-box-row'><div class='info-box-value'>${this.infoBox.dispatchWorker}</div></div>`;
                    if (this.infoBox.posCode)
                        res += `<div class='info-box-row'><div class='info-box-name'>Pozice:</div><div class='info-box-value'>${this.infoBox.posCode}</div></div>`;
                }

                if (this.infoBox.weightBoxCount) {
                    var weight = "";
                    var boxCount = "";

                    if (this.infoBox.weightBoxCount.weight !== undefined) {
                        weight = this.infoBox.weightBoxCount.weight + " kg";
                    }

                    if (this.infoBox.weightBoxCount.boxCount !== undefined) {
                        boxCount = this.infoBox.weightBoxCount.boxCount;
                    }

                    res += `<div class='info-box-header'>Váha a počet balíků</div>`
                        + `<div class='info-box-row'><div class='info-box-name'>Váha:</div><div class='info-box-value'>${weight}</div></div>`
                        + `<div class='info-box-row'><div class='info-box-name'>Počet:</div><div class='info-box-value'>${boxCount}</div></div>`;
                }

                if (this.infoBox.checkWorker || this.checkMethod) {
                    res += `<div class='info-box-header'>Kontrola</div>`;
                    if (this.infoBox.checkWorker)
                        res += `<div class='info-box-row'><div class='info-box-value'>${this.infoBox.checkWorker}</div></div>`;
                    if (this.infoBox.checkMethod)
                        res += `<div class='info-box-row'><div class='info-box-name'>Způsob:</div><div class='info-box-value'>${this.infoBox.checkMethod}</div></div>`;
                }

                if (this.infoBox.receiveWorker) {
                    res += `<div class='info-box-header'>Příjem</div>`
                        + `<div class='info-box-row'><div class='info-box-value'>${this.infoBox.receiveWorker}</div></div>`;
                }

                if (this.infoBox.storeInWorker) {
                    res += `<div class='info-box-header'>Naskladnění</div>`
                        + `<div class='info-box-row'><div class='info-box-value'>${this.infoBox.storeInWorker}</div></div>`;
                }

                if (this.infoBox.expedTruck) {
                    res += `<div class='info-box-header'>Expedice</div>`
                        + `<div class='info-box-row'><div class='info-box-name'>SPZ:</div><div class='info-box-value'>${this.infoBox.expedTruck}</div></div>`;
                }

                if (this.infoBox.transportationType) {
                    res += `<div class='info-box-header'>Doprava</div>`
                        + `<div class='info-box-row'><div class='info-box-value'>${this.infoBox.transportationType}</div></div>`;
                }

                if (this.infoBox.parcelRefNumbers && this.infoBox.parcelRefNumbers.length > 0) {
                    var parcelNumbers = [];
                    for (i = 0; i < this.infoBox.parcelRefNumbers.length; i++) {
                        parcelNumbers += this.infoBox.parcelRefNumbers[i] + `&nbsp;<a target='_blank' rel='noopener noreferrer' href='${this.infoBox.trackURLs[i]}'><i class='fas fa-external-link-alt'></i></a><br />`;
                    }

                    res += `<div class='info-box-row'><div class='info-box-name'>Č. zásilky:</div><div class='info-box-value'>${parcelNumbers}</div></div>`;

                }

                return res;
            },
            movItemsFiltered: function () {
                if (!this.movItems)
                    return [];
                this.movSettings.serverSide = false;
                this.movSettings.pageSize = pageSizeDetail;
                var self = this;
                return this.movItems.filter(function (item) { return !self.parentPosition || !self.parentPosition.value || (item.parent_docPosition == self.parentPosition.value) });
            }
        }
    });

</script>