﻿
@{
    ViewData["Title"] = "Detail příkazu";
    Layout = "~/Views/Shared/_standAloneLayout.cshtml";
}

<partial name="PositionDetail" />
<partial name="ArticleDetail" />
<partial name="../Article/ArtpackEdit" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="Detail" />

<script>
    // init
    var detailApp = detailDirectionApp;

    var directionID = @Model;
    var apiURL = window.location.origin + '/api/Direction';
    callAJAX(apiURL + '/GetWithSettings/' + directionID, null, function (data) {
            console.log(data.data);
            detailDirectionApp.$data.item = data.data[0];
            detailDirectionApp.$data.apiURL = apiURL;
            detailDirectionApp.$data.columns = data.settings.columns;
            detailDirectionApp.loadData();
        });
</script>
