﻿<script src="~/Scripts/seekCombo/seekArticleCombo.js"></script>

<div class="modal fade" id="directionItemChangeDispatch_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="directionitemchangedispatch-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Změna položky</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="docPosition">Pozice</label>
                        <div class="col-sm-4">
                            <input id="docPosition" class="form-control" v-model="item.docPosition" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="statusDesc">Stav</label>
                        <div class="col-sm-4">
                            <input id="statusDesc" class="form-control" v-model="statusDesc" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="stItemArticle">Karta:</label>
                        <div class="col-sm-8">
                            <seek_article_combo id="stItemArticle" name="stItemArticle" v-model="selectedArticle" v-on:articleselected="articleSelected" v-validate="'required'" data-vv-as="Karta"></seek_article_combo>
                            <span class="text-danger">{{ errors.first('stItemArticle') }}</span>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="unitDesc" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="quantity">Množství:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="quantity" name="quantity" v-model="item.quantity" v-validate="{ required: true, decimal: true }" data-vv-as="Množství" />
                            <span class="text-danger">{{ errors.first('quantity') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="unitDesc">Jednotka:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="unitDesc" name="unitDesc" v-model="item.unitDesc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="unitDesc">Oddělení:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="partnerDepart" name="partnerDepart" v-model="item.partnerDepart" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var directionItemChangeDispatch_dialog = new Vue({
        el: '#directionitemchangedispatch-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //
                item: {},
                statusDesc: null,
                selectedArticle: null,
                unitDesc: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.item = Object.assign({}, this.items[0]);
                this.statusDesc = valueToString2(this.item.itemStatus, "itemStatus", this.dataList.settings.columns);
                this.item.name = this.item.articleCode + " - " + this.item.articleDesc;
                this.selectedArticle = this.item;
                this.unitDesc = this.item.unitDesc;
            },

            //custom
            articleSelected: function (article) {
                this.unitDesc = article == null ? null : article.unitDesc;
            },
            save: function () {
                var self = this;
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var model = {
                            directionItemID: self.item.directionItemID,
                            artPackID: self.selectedArticle.artPackID,
                            articleCode: self.selectedArticle.articleCode,
                            quantity: self.item.quantity,
                            unitDesc: self.item.unitDesc,
                            partnerDepart: self.item.partnerDepart
                        };
                        callAJAX(window.location.origin + '/api/procedures/directionitemchange', model, function () { self.dataList.refresh(); $('#directionItemChangeDispatch_dialog').modal('hide'); }, null, true);
                    }
                });
            }
        }
    });
</script>