﻿@using S4.ProcedureModels.Admin
    
<script src="~/Scripts/seekCombo/seekArticleCombo.js"></script>

<style>
    .invalid-control { border-color: red; }
</style>

<div class="modal fade" id="directionItemChange_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 60%; min-width: 1200px">
        <div id="directionitemchange-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Změna položky</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="docPosition">Pozice</label>
                        <div class="col-sm-4">
                            <input id="docPosition" class="form-control" v-model="item.docPosition" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="statusDesc">Stav</label>
                        <div class="col-sm-4">
                            <input id="statusDesc" class="form-control" v-model="statusDesc" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="statusDesc">Množství</label>
                        <div class="col-sm-4">
                            <input id="totalQuantity" class="form-control" :value="$totalQuantity" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="stItemArticle">Karta:</label>
                        <div class="col-sm-8">
                            <seek_article_combo id="stItemArticle" name="stItemArticle" v-model="selectedArticle" v-on:articleselected="articleSelected" v-validate="'required'" data-vv-as="Karta"></seek_article_combo>
                            <span class="text-danger">{{ errors.first('stItemArticle') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tr>
                                    <th>Karta</th>
                                    <th>Množství</th>
                                    <th>Paleta</th>
                                    <th v-if="directionItem.articleUseBatch">Šarže</th>
                                    <th v-if="directionItem.articleUseExpiration">Expirace</th>
                                </tr>
                                <tr v-for="(ap, index) in stoMoves">
                                    <td>{{ selectedArticle.name }}</td>
                                    <td class="col-md-1"><input type="number" class="form-control text-right" v-model.number="ap.quantity" name="quantity" @@change="validateControl('quantity', index, ap.quantity)" :class="{ 'invalid-control': hasError('quantity', index) }" /></td>
                                    <td><input type="text" class="form-control" v-model="ap.carrierNum" name="carrierNum" @@change="validateControl('carrierNum', index, ap.carrierNum)" :class="{ 'invalid-control': hasError('carrierNum', index) }" /></td>
                                    <td class="col-md-2" v-if="directionItem.articleUseBatch"><input class="form-control" v-model="ap.batchNum" name="batchNum" /></td>
                                    <td class="col-md-1" v-if="directionItem.articleUseExpiration"><input class="form-control" :value="dateToExpiration(ap.expirationDate)" @@change="expirationToDate(ap, $event), validateControl('expirationDate', index, ap.expirationDate)" name="expirationDate" :class="{ 'invalid-control': hasError('expirationDate', index) }" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" :disabled="errorControls.length > 0" class="btn btn-primary" v-on:click="save" >Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var directionItemChange_dialog = new Vue({
        el: '#directionitemchange-dialog-app',
        data: function () {
            return {
                item: {},
                items: [],
                dataList: {},

                directionItem: {},
                statusDesc: null,
                selectedArticle: null,
                unitDesc: null,

                stoMoves: [],
                errorControls: []
            }
        },
        computed: {
            $totalQuantity: function () {
                let arr = this.stoMoves.map(v => v.quantity);
                return arr.reduce((a, b) => a + b, 0);
            }
        },
        methods: {
            // is called when dialog is openning
            loadData: function () {
                const _self = this;
                this.item = Object.assign({}, this.items[0]);
                this.statusDesc = valueToString2(this.item.itemStatus, "itemStatus", this.dataList.settings.columns);
                this.item.name = this.item.articleCode + " - " + this.item.articleDesc;
                this.selectedArticle = this.item;
                this.unitDesc = this.item.unitDesc;

                const model = {
                    directionID: this.item.directionID,
                    directionItemID: this.item.directionItemID,
                    artPackID: this.item.artPackID,
                    docPos: this.item.docPosition
                };

                callAJAX(window.location.origin + '/api/directionitemchange/get-direction-item-moves', model, function (res) {
                    _self.directionItem = res.directionItem;
                    _self.stoMoves = res.directionItemStoMoves;
                });
            },

            // custom
            expirationToDate: function (item, event) {
                if (event.target.value === null) return;
                item.expirationDate = convertExpirationToDate(event.target.value);
            },
            dateToExpiration: function (date) {
                return dateToExpiration(date);
            },
            articleSelected: function (article) {
                this.unitDesc = article == null ? null : article.unitDesc;
            },
            save: function () {
                var self = this;
                this.$validator.validate().then(function (result) {
                    if (result) {
                        const directionItemPackages = self.stoMoves.map(v => {
                            return {
                                docPosition: v.docPosition,
                                quantity: parseFloat(`${v.quantity}`.replace(',', '.')),
                                batchNum: v.batchNum,
                                carrierNum: v.carrierNum,
                                expirationDate: v.expirationDate,
                                stoMoveID: v.stoMoveID,
                                stoMoveItemID: v.stoMoveItemID,
                                stoMoveLotID: v.stoMoveLotID
                            }
                        });

                        var model = {
                            directionID: self.item.directionID,
                            directionItemID: self.item.directionItemID,
                            artPackID: self.selectedArticle.artPackID,
                            articleCode: self.selectedArticle.articleCode,
                            directionStoMoveItems: directionItemPackages
                        };
                        callAJAX(window.location.origin + '/api/procedures/@nameof(DirectionItemChange2)', model, function () {
                            self.dataList.refresh(); $('#directionItemChange_dialog').modal('hide');
                        }, null, true);
                    }
                });
            },
            validateControl: function (controlName, index, value) {
                if (controlName === 'carrierNum' && `${value}`.length !== 0 && `${value}`.length !== 20) {
                    this.errorControls.push({ controlName: 'carrierNum', index: index });
                    return;
                }
                else if (controlName === 'quantity' && value !== '' && parseInt(value) < 1) {
                    this.errorControls.push({ controlName: 'quantity', index: index });
                    return;
                }
                else if (controlName === 'expirationDate' && (value === null || value === '' || new Date(value) === null)) {
                    this.errorControls.push({ controlName: 'expirationDate', index: index });
                    return;
                }
                else {
                    this.errorControls = this.errorControls.filter(v => v.controlName !== controlName && v.index !== index);
                    return;
                }
            },
            hasError: function (controlName, index) {
                const c = this.errorControls.find(v => v.controlName === controlName && v.index === index);
                return c !== undefined;
            }
        }
    });
</script>