﻿<div class="modal fade" id="dispatchCheck_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="dispatchCheck-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Kontrola</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedDirsCnt }})</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="workerID" class="col-sm-2 control-label">Pracovník</label>
                        <div class="col-sm-8">
                            <v-select v-model="selectedWorker" id="workerID" :options="workerList" value="workerID" label="workerName" 
                                      onwheel="rollOnWheelVue(event, dispatchCheck_dialog, 'selectedWorker', 'workerList')">
                                <template slot="option" slot-scope="option">
                                    <span class="worker-list-name" v-bind:class="{ 'worker-prefered': option.isPrefered }">{{ option.workerName }}</span>
                                    <span class="worker-list-num">{{ option.cntDocs }} dokl.</span>
                                    <span class="worker-list-num">{{ option.cntItems }} pol.</span>
                                    <span class="worker-list-status"><span class="label label-default">{{ option.workerStatusName }}</span></span>
                                </template>
                            </v-select>
                            <span v-if="selectedWorker != null" class="help-block">
                                <i v-if="selectedWorker.isPrefered" class="fas fa-check-circle fa-lg" style="color: #3c763d; margin-right:.5em;" title="Pracovník ma tuto práci nastavenou."></i>
                                Pracovník má přiřazeno {{ selectedWorker.cntDocs }} dokladů ({{ selectedWorker.cntItems }} položek).
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var dispatchCheck_dialog = new Vue({
        el: '#dispatchCheck-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedDirsCnt: 0,
                workerList: [],
                selectedWorker: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedDirsCnt = dispatchCheck_dialog.$data.items.length;
                callAJAX(window.location.origin + '/api/procedureshelpers/dispatchcheckworkers', {}, function (result) {
                    dispatchCheck_dialog.$data.workerList = result;
                    dispatchCheck_dialog.$data.workerID = result[0];
                });
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.directionID,
                                workerID: dispatchCheck_dialog.selectedWorker.workerID,
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/dispcheckwait', dispatchCheck_dialog.items, paramsFunction, function () { dispatchCheck_dialog.dataList.refresh(); $('#dispatchCheck_dialog').modal('hide'); }, true);
                    }
                });
            }
        }
    });
</script>