﻿<div class="modal fade" id="expedition_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="expedition-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Expedice</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedDirsCnt }})</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expedTruck" class="col-sm-2 control-label">Auto</label>
                        <div class="col-sm-4">
                            <input v-model="expedTruck" v-validate="'required'" data-vv-as="Auto" name="expedTruck" class="form-control" id="expedTruck" placeholder="SPZ">
                            <span class="field-error">{{ errors.first('expedTruck') }}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/vee-validate/vee-validate.js"></script>
<script src="~/lib/vee-validate/locale/cs.js"></script>
<script>
    Vue.use(VeeValidate, { locale: 'cs' });
    var expedition_dialog = new Vue({
        el: '#expedition-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedDirsCnt: 0,
                expedTruck: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedDirsCnt = expedition_dialog.$data.items.length;
                this.expedTruck = null;
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.directionID,
                                expedTruck: expedition_dialog.expedTruck,
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/expeddone', 
                            expedition_dialog.items, 
                            paramsFunction, 
                            function () { 
                                expedition_dialog.dataList.refresh(); 
                                $('#expedition_dialog').modal('hide'); 
                            },
                            true,
                            true);
                    }
                });
            }
        }
    });
</script>
