﻿@using S4.Export;

<div class="modal fade" id="export_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="export-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Export dat</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Odeslat mailem</label>
                                <div class="col-sm-9">
                                    <div class="form-control-static" style="margin-left: 18px;">
                                        <div class="row">
                                            <span><b>{{poslatMailem}}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Formát</label>
                                <div class="col-sm-9">
                                    <div class="form-control-static" style="margin-left: 18px;">
                                        <div class="row">
                                            <span><b>{{formatDiskety}}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mailová adresa</label>
                                <div class="col-sm-9">
                                    <div class="form-control-static" style="margin-left: 18px;">
                                        <div class="row">
                                            <span><b>{{mailovaAdresa}}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Formát exportu</label>
                        <div class="col-sm-3">
                            <select id="format" class="form-control">
                                @foreach (var option in Enum.GetValues(typeof(S4.Export.Export.ExportFormat)))
                                {
                                    @if (!option.ToString().ToLower().Equals("none"))
                                    {
                                        <option value="@option">
                                            @option
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Odeslat mail komu</label>
                        <div class="col-sm-9">
                            <input v-model="sendMailTo" class="form-control" placeholder="Mailová adresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Výsledek</label>
                        <div class="col-sm-9">
                            <div class="form-control-static" style="margin-left: 18px;">
                                <div class="row">
                                    <span v-if="isError"><i class="fas fa-exclamation-circle fa-lg text-danger"></i> <b style="color:red;">{{infoMessage}}</b></span>
                                    <span v-if="!isError"><b style="color:blue;">{{ infoMessage }}</b></span>
                                </div>
                                <div class="row">
                                    <span v-show="isWarning"><b style="color:red;">{{ warningMessage }}</b></span>
                                </div>
                                <div class="row" v-for="file in filesToDownload">
                                    <a v-bind:href='file.item2'>{{ file.item1 }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-info" v-on:click="doSendMail" v-bind:disabled="sendMailTo == null || sendMailTo == ''"><i class="far fa-envelope"></i>&nbsp;Odeslat mailem</button>
                <button type="button" class="btn btn-primary" v-on:click="doExport"><i class="fas fa-cloud-download-alt"></i>&nbsp;Export dat</button>
            </div>
        </div>
    </div>
</div>

<script>
    var export_dialog = new Vue({
        el: '#export-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                exportFormat: null,
                infoMessage: "",
                warningMessage: null,
                filesToDownload: [],
                isError: false,
                isWarning: false,
                //from history
                formatDiskety: null,
                mailovaAdresa: null,
                poslatMailem: null,
                //send Mail
                sendMailTo: null,
                directionID: 0
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                export_dialog.$data.exportFormat = null;
                export_dialog.$data.infoMessage = "";
                export_dialog.$data.warningMessage = null;
                export_dialog.$data.filesToDownload = null;
                export_dialog.$data.isError = false;
                export_dialog.$data.isWarning = false;
                export_dialog.$data.directionID = this.items[0].directionID;

                callAJAX(window.location.origin + '/api/exportdirection/readextradata', export_dialog.$data.directionID, function (data) {
                    var e = document.getElementById("format");
                    e.options[0].selected = true;
                    if (data !== null) {
                        export_dialog.$data.formatDiskety = data.formatDiskety;
                        export_dialog.$data.mailovaAdresa = data.mailovaAdresa;
                        export_dialog.$data.sendMailTo = data.mailovaAdresa;
                        export_dialog.$data.poslatMailem = data.poslatMailem === 'True' ? 'Ano' : 'Ne';

                        var ii = 0;
                        if (data.formatDiskety != 'Odesílá ABRA') {
                            for (var i = 0; i < e.options.length; i++) {
                                if (e.options[i].text === data.formatDiskety) {
                                    ii = i;
                                    break;
                                }
                            }
                        }
                        e.options[ii].selected = true;

                    }
                    else {
                        export_dialog.$data.formatDiskety = null;
                        export_dialog.$data.mailovaAdresa = null;
                        export_dialog.$data.sendMailTo = null;
                        export_dialog.$data.poslatMailem = null;
                    }

                    callAJAX(window.location.origin + '/api/exportdirection/reademailto', null, function (mailTo) {
                        mailTo = mailTo == null ? "" : mailTo;
                        export_dialog.$data.sendMailTo = export_dialog.$data.sendMailTo == null || export_dialog.$data.sendMailTo == undefined ? "" : export_dialog.$data.sendMailTo;
                        var str = export_dialog.$data.sendMailTo == "" ? "" : ";";
                        export_dialog.$data.sendMailTo = mailTo == "" ? export_dialog.$data.sendMailTo : mailTo + str + export_dialog.$data.sendMailTo;
                    }, null, true, true)

                }, null, true, true);

            },
            //custom
            doSendMail: function () {
                this.$dialog.confirm('Opravdu chcete odeslat mail na adresu ' + export_dialog.$data.sendMailTo + '?', { type: 'soft', verification: 'continue', clicksCount: 1 })
                    .then(function () {
                        export_dialog.$data.isError = false;
                        export_dialog.$data.isWarning = false;
                        export_dialog.$data.infoMessage = "Odesílám mail, čekejte prosím....";
                        var e = document.getElementById("format");
                        var format = export_dialog.getFormat(e.options[e.selectedIndex].text);
                        var model = { DirectionID: export_dialog.$data.directionID, ExportFormat: format, MailAdresaKomu: export_dialog.$data.sendMailTo };
                        callAJAX(window.location.origin + '/api/exportdirection/sendmail', model, function (data) {
                            export_dialog.$data.isError = data.isError;
                            export_dialog.$data.isError = data.isWarning;
                            export_dialog.$data.infoMessage = data.message;
                        }, null, true, true);
                    });
            },
            doExport: function () {

                var self = this;
                var callAction = function (i) {
                    export_dialog.$data.isError = false;
                    export_dialog.$data.isWarning = false;
                    export_dialog.$data.infoMessage = "Čekejte prosím....";
                    export_dialog.$data.filesToDownload = null;
                    var e = document.getElementById("format");
                    var format = export_dialog.getFormat(e.options[e.selectedIndex].text);

                    var onSuccess = i == self.items.length - 1 ? self.dataList.refresh() : callAction(i + 1);
                    var model = { DirectionID: export_dialog.$data.directionID, ExportFormat: format };

                    callAJAX(window.location.origin + '/api/exportdirection/export', model, function (data) {
                        export_dialog.$data.isError = !data.succes;
                        export_dialog.$data.isWarning = data.isWarning;
                        export_dialog.$data.infoMessage = "";

                        if (data.isWarning)
                            export_dialog.$data.warningMessage = data.warningMsg;
                        else
                            export_dialog.$data.warningMessage = null;

                        if (!data.succes) {
                            export_dialog.$data.isError = true;
                            export_dialog.$data.infoMessage = data.messageText;
                        }
                        else {
                            export_dialog.$data.isError = false;
                            export_dialog.$data.filesToDownload = data.files;
                            export_dialog.$data.infoMessage = data.messageText + ' Počet vytvořených souborů (' + data.files.length + ')';
                        }

                        if (onSuccess)
                            onSuccess();
                    }, null, true, true);
                };
                callAction(0);

            },
            getFormat: function (format) {
                if (format === 'Odesílá ABRA') {
                    return "LEKIS5";
                }
                else {
                    return format;
                }

            }
        }
    });
</script>