﻿@using S4.Core.Interfaces.Hubs
@using S4.Web.Hubs.Direction
@model S4.Web.Models.DirectionSettingsModel.DirectionEnum

@{
    ViewData["Title"] = Model == DirectionSettingsModel.DirectionEnum.In ? "Příjem" : "Vyskladnění";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.Sid)?.Value;
}

<style>
    .container {
        width: 100%;
    }
</style>

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" v-bind:error="error" v-on:getdata="getData" :valueHtml="valueHtml" :cellStyle="cellStyle" :cmdEnabled="cmdEnabled"></data_list>
</div>

<partial name="DirectionDetailModal" />
<partial name="ArticleDetail" />
<partial name="PositionDetail" />
<partial name="ExpeditionDialog" />
<partial name="DispatchDialog" />
<partial name="ReassignDialog" />
<partial name="DispatchCheckDialog" />
<partial name="PickingDialog" />
<partial name="CancelDialog" />
<partial name="SetStatusDialog" />
<partial name="StoreInDialog" />
<partial name="DirectionItemChangeDialog" />
<partial name="DirectionItemChangeDispatchDialog" />
<partial name="DispToStoInDialog" />
<partial name="DispToPosDialog" />
<partial name="SelectPrinterDialog" />
<partial name="ShipmentStatusDialog" />
<partial name="../Article/ArtpackEdit" />
<partial name="../Direction/ExportDialog" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../VueColumns/StatusProgressbarColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="PrintDialog" />
<partial name="PrintLabelsDialog" />
<partial name="PrintSNDialog" />
<partial name="PrintDeliveryLabelsDialog" />
<partial name="PrintADRDialog" />
<partial name="ResetShipmentDialog" />
<partial name="PrintBoxLabelsDialog" />
<partial name="CreateBookingDialog" />

@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        // init
        var dir = "@Model";
        var detailApp = detailDirectionApp;

        var settings = {
            dir: dir,
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    error: null,
                    filterItems: [],
                    filter: null
                }
            },
            created() {
                this.connection = new WebsocketFactory().create('@DirectionHub.CLIENT_HUB_URL', {
                    '@(nameof(IDirectionHub.UpdateDirectionItemsCompleted))': function(data) {
                        for(var i=0; i < data.length; i++) {
                            if(!Array.isArray(app.$data.items)) return;
                            const item = app.$data.items.find(_ => _.directionID === data[i].id);
                            if(item !== null && typeof item != 'undefined') item.directionOutCompleted = data[i].value;
                        }
                    },
                    '@(nameof(IDirectionHub.UpdateDirectionStatus))': function(data) {
                        for(var i=0; i < data.length; i++) {
                            if(!Array.isArray(app.$data.items)) return;
                            const item = app.$data.items.find(_ => _.directionID === data[i].id);
                            if(item !== null && typeof item != 'undefined') item.docStatus = data[i].value;
                        }
                    }
                });
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/Direction', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                        app.$data.error = data.error;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'docStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else if (column.fieldName == 'signs') {
                        let res = '';
                        if (!value)
                            return res;
                        var signsArray = value.split("|");
                        signsArray.forEach(function(sign) {
                            if (sign.indexOf('ARME') === 0)
                                res += '<i class="fas fa-pills fa-fw" style="color:#ec7063;margin-left:.5em;" title="Léky"></i>';
                            if (sign.indexOf('ARCY') === 0)
                                res += '<i class="fas fa-exclamation-triangle fa-fw" style="color: #f4d03f;margin-left:.5em;" title="Cytostatika"></i>';
                            if (sign.indexOf('ARCO') === 0)
                                res += '<i class="fas fa-snowflake fa-fw" style="color:lightskyblue;margin-left:.5em;" title="Lednice"></i>'
                            if (sign.indexOf('MFIC:') === 0) {
                                var classStr = sign.replace('MFIC:', '');
                                res += '<i class="' + classStr + '" style="margin-left:.5em;" title="Výrobce"></i>'
                            }
                        });
                        return res;
                    } else
                        return displayValue;
                },
                cellStyle: function (column, row, style) {
                    if (column.fieldName == 'docNumber')
                        style.textAlign = 'left';
                    return style;
                },
                cmdEnabled: function (item, command) {
                    if (!isCreatorOrSuperUser(command, item, this.settings.isSuperUser, '@userId'))
                        return false;

                    if (command.action == 'shipmentStatus_dialog')
                        return item.deliveryImplemented;
                    else
                        //return command.commandType == cmDetail || command.commandType == cmMenu || command.action == 'print_dialog' || !item.onSummary;
                        return true;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }
    </script>
}

