﻿<div class="modal fade" id="picking_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="picking-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Test vyskladnění</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Výsledek</label>
                        <div v-if="inProc" class="col-sm-2">
                            <div class="form-control-static">
                                <i class="fas fa-sync-alt fa-spin fa-lg" style="color:#3c763d;"></i>
                            </div>
                        </div>
                        <div v-if="pickingResult != null" class="col-sm-2">
                            <div class="form-control-static">
                                <span v-if="pickingResult.result"><i class="fas fa-check-circle fa-lg text-success"></i> <b>OK</b></span>
                                <span v-if="!pickingResult.result"><i class="fas fa-exclamation-circle fa-lg text-danger"></i> <b>Nepodařilo se</b></span>
                            </div>
                        </div>
                    </div>

                    <div v-if="pickingResult != null" class="form-group">
                        <label class="col-sm-2 control-label">Historie <span style="margin-left:4em;"><button @@click="openAll" class="btn btn-default btn-xs">Rozbalit vše</button></span></label>
                        <div class="col-sm-10">
                            <div class="form-control-static picking-history">
                                <ul id="historyTree" style="margin-left:0;padding-left:0;">
                                    <tree-item class="item"
                                               :item="pickingResult.history"
                                               ref="treeRoot">
                                    </tree-item>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="tryPicking">Ukázat</button>
            </div>
        </div>
    </div>
</div>

<!-- item template -->
<script type="text/x-template" id="item-template">
    <li>
        <div :class="{'picking-history-folder': isFolder}"
             @@click="toggle">
            <span v-if="isFolder"><i v-if="isOpen" class="far fa-minus-square"></i><i v-if="!isOpen" class="far fa-plus-square"></i></span>
            {{ item.message }}
            <span v-if="item.result == 'NotFound'"><i class="fas fa-exclamation-circle text-danger"></i></span>
            <span v-if="item.result == 'OK'"><i class="fas fa-check-circle text-success"></i></span>
        </div>
        <div v-if="item.onStoreSnapshot != null">
            <table class="picking-history-table">
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Množství</th>
                        <th>Šarže</th>
                        <th>Expirace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in item.onStoreSnapshot">
                        <td>{{ row.posCode }}</td>
                        <td style="text-align: right;">{{ row.quantity }}</td>
                        <td>{{ row.batchNum }}</td>
                        <td style="text-align:center;">{{ row.expirationDate | toExp }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="item.bookingSnapshot != null">
            <table class="picking-history-table">
                <thead>
                    <tr>
                        <th>LotID</th>
                        <th>BookingID</th>
                        <th>PartnerID</th>
                        <th>AdresaID</th>
                        <th>Množství</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in item.bookingSnapshot">
                        <td>{{ row.stoMoveLotID }}</td>
                        <td>{{ row.bookingID }}</td>
                        <td>{{ row.partnerID }}</td>
                        <td>{{ row.partAddrID }}</td>
                        <td style="text-align: right;">{{ row.requiredQuantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
            <tree-item class="item"
                       v-for="(child, index) in item.items"
                       :key="index"
                       :item="child"
                       ref="childs"></tree-item>
        </ul>
    </li>
</script>

<script>
    Vue.component('tree-item', {
        template: '#item-template',
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            }
        },
        filters: {
            toExp: function (val) { return dateToExpiration(val) },
        },
        computed: {
            isFolder: function () {
                return this.item.items &&
                    this.item.items.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen
                }
            },
            openAll: function() {
                if (this.isFolder) {
                    this.isOpen = true;
                    this.$refs.childs.forEach(_ => _.openAll());
                }
            }
        }
    })

    var picking_dialog = new Vue({
        el: '#picking-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                inProc: false,
                pickingResult: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.pickingResult = null;
            },

            //custom
            tryPicking: function () {
                picking_dialog.$data.inProc = true;
                picking_dialog.$data.pickingResult = null;
                callAJAX(window.location.origin + '/api/procedureshelpers/testpicking/' + this.items[0].directionID, { DirectionID: this.items[0].directionID }, function (result) {
                    picking_dialog.$data.pickingResult = result;
                    picking_dialog.$data.inProc = false;
                });
            },

            openAll: function() {
                this.$refs.treeRoot.openAll();
            },
        }
    });
</script>