﻿<div class="modal fade" id="print_labels_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="print-labels-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Tisk</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Počet</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="printCount" v-model="printCount" v-validate="{ required: true, max: 3 }" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiskárna</label>
                        <div class="col-sm-3">
                            <span v-if="loadOFF === false">Moment hledám vhodné tiskárny.....</span>
                            <v-select v-if="loadOFF === true" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerPath">
                            </v-select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Typ tisku</label>
                        <div class="col-sm-4">
                            <v-select v-model="typePrint" id="typePrint" :options="[{label: 'Malé štítky', code: 'MALE_STITKY'},{label: 'Velké štítky', code: 'VELKE_STITKY'}]" value="typePrint"></v-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" v-bind:disabled="typePrint == null || printerLocation == null || (printCount == 0 || printCount == null)" class="btn btn-primary" data-dismiss="modal" v-on:click="doPrint">Tisk</button>
            </div>
        </div>
    </div>
</div>

<script>
    var print_labels_dialog = new Vue({
        el: '#print-labels-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                printerLocation: null,
                printerLocationList: [],
                loadOFF: false,
                printCount: 10,
                typePrint: 'MALE_STITKY'
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                print_labels_dialog.$data.printerLocationList = null;
                print_labels_dialog.$data.reportList = null;
                print_labels_dialog.$data.loadOFF = false;

                var reportType = 'dispatchLabel';
                callAJAX(window.location.origin + '/api/report/getprinterlocation', reportType, function (result) {
                    print_labels_dialog.$data.printerLocationList = result;
                    print_labels_dialog.$data.loadOFF = true;

                    //read printerLocationID
                    var printerLocationID = localStorage.getItem('print_labels_dialog_PrinterLocationID');
                    if (printerLocationID != null) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].printerLocationID == printerLocationID) {
                                print_labels_dialog.$data.printerLocation = result[i];
                            }
                        }
                    }
                });

            },
            doPrint: function () {
                var printerLocationID = print_labels_dialog.$data.printerLocation === null || print_labels_dialog.$data.printerLocation.printerLocationID === null ? 0 : print_labels_dialog.$data.printerLocation.printerLocationID;
                var model = {
                    Count: print_labels_dialog.$data.printCount,
                    PrinterLocationID: printerLocationID,
                    DirectionID: print_labels_dialog.$data.items[0].directionID,
                    TypePrint: print_labels_dialog.$data.typePrint.code
                };
                callAJAX(window.location.origin + '/api/procedures/dispatchprintlabel', model, function (data) {
                }, null, true, false);

                // save printer
                localStorage.setItem("print_labels_dialog_PrinterLocationID", printerLocationID);
            }
        }
    });
</script>