﻿<div class="modal fade" id="print_box_labels_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%;">
        <div id="print-box-labels-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Tisk balících štítků</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Report</label>
                        <div class="col-sm-6">
                            <span v-if="!loadOFF">Moment hledám reporty.....</span>
                            <v-select v-if="loadOFF" :clearable="false" v-model="report" id="report" :options="reportList" value="reportID" label="reportName">
                            </v-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiskárna</label>
                        <div class="col-sm-6">
                            <span v-if="!loadOFF">Moment hledám vhodné tiskárny.....</span>
                            <v-select v-if="loadOFF" :clearable="false" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerPath" label="printerLocationDesc" @@input="validateForm">
                            </v-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Štítky</label>
                        <div class="col-sm-6">
                            <span v-if="!loadOFF">Moment hledám štítky.....</span>
                            <div style="margin-top: 6px;">
                                <table>
                                    <tr>
                                        <th style="width: 75%;">Text</th>
                                        <th>Počet kopií</th>
                                    </tr>
                                    <tr v-for="label in boxLabels">
                                        <td>
                                            <input type="text" class="form-control" v-model="label.labelText" />
                                        </td>
                                        <td style="padding-left: 5px;">
                                            <input type="text" class="form-control" v-model="label.labelQuantity" @@change="validateForm" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" v-bind:disabled="!formIsValid" class="btn btn-primary" @@click="doPrint">Tisk</button>
            </div>
        </div>
    </div>
</div>

<script>
    var print_box_labels_dialog = new Vue({
        el: '#print-box-labels-dialog-app',
        data: function () {
            return {
                //item
                item: {},
                //the selected rows from grid // magic fill
                items: {},
                itemsCurrentPointer: 0,

                //custom
                printers: [],
                printerLocation: null,
                printerLocationList: [],
                loadOFF: false,
                report: null,
                reportList: [],
                boxLabels: [],
                formIsValid: false
            }
        },
        methods: {
            //is called when dialog is openning outside
            loadData: function () {
                this.printerLocationList = [];
                this.printers = [];
                this.reportList = [];
                this.boxLabels = [];
                this.loadOFF = false;
                const _self = this;

                // set current item if items exist
                if (this.items.length)
                    this.item = this.items[this.itemsCurrentPointer]
                
                // set title
                $('#print_box_labels_dialog .modal-title').text($('#print_box_labels_dialog .modal-title').text() + ` - ${this.item.docNumPrefix}/${this.item.docYear}/${this.item.docNumber}`)

                callAJAX(window.location.origin + '/api/procedures/dispatchcalcboxlabels', {
                    DirectionID: _self.item.directionID
                }, function (res) {
                        _self.printers = res.printers;
                        _self.reportList = res.reports;
                        _self.boxLabels = res.boxLabels;
                        _self.loadOFF = true;

                        // set reportName to item root
                        for (let i = 0; i < _self.reportList.length; i++) {
                            _self.reportList[i]['reportName'] = _self.reportList[i].settings.reportName;
                        };

                        // remember printer
                        const remReportID = localStorage.getItem("print_box_labels_dialog_ReportID");
                        if (remReportID != 'undefined' && remReportID != null) {
                            _self.report = _self.reportList.find(_ => _.reportID == remReportID);

                            // setTimout cuz we need wait for report watcher end
                            setTimeout(() => {
                                const remPrinterLocationID = localStorage.getItem("print_box_labels_dialog_PrinterLocationID");
                                if (remPrinterLocationID != 'undefined' && remPrinterLocationID != null) {
                                    _self.printerLocation = _self.printerLocationList.find(_ => _.printerLocationID == remPrinterLocationID);
                                }

                                // validate from
                                _self.validateForm();
                            }, 100);
                        }
                });
            },
            doPrint: function () {
                for (let i = 0; i < this.boxLabels.length; i++) {
                    const bl = this.boxLabels[i];
                    const model = {
                        LabelText: bl.labelText,
                        LabelsQuant: bl.labelQuantity,
                        DirectionID: bl.directionID,
                        DocPosition: bl.docPosition,
                        PrinterLocationID: this.printerLocation.printerLocationID,
                        ReportID: this.report.reportID
                    };

                    callAJAX(window.location.origin + '/api/procedures/dispatchprintboxlabel', model, function (data) {

                    }, null, true, false);
                }

                // remember printer
                localStorage.setItem("print_box_labels_dialog_ReportID", this.report.reportID);
                localStorage.setItem("print_box_labels_dialog_PrinterLocationID", this.printerLocation.printerLocationID);

                // print for each item in items from grid
                if (this.items.length && (this.itemsCurrentPointer + 1) < this.items.length) {
                    this.itemsCurrentPointer++
                    this.loadData()
                }
                else {
                    $('#print_box_labels_dialog').modal('hide')
                }
            },
            validateForm: function () {
                let boxLabelsValid = true;

                for (let i = 0; i < this.boxLabels.length; i++) {
                    if (this.boxLabels[i].labelQuantity == '' || isNaN(this.boxLabels[i].labelQuantity))
                        boxLabelsValid = false;
                }

                this.formIsValid = !(this.printerLocation == null || !boxLabelsValid);
            }
        },
        watch: {
            report: function (val, oldVal) {
                if (val.printerTypeID === null) {
                    this.printerLocationList = [];
                }

                this.printerLocationList = this.printers.filter(_ => _.printerTypeID === val.printerTypeID);
            }
        }
    });
</script>