﻿<div class="modal fade" id="reassign_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="reassign-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Přiřazení jinému pracovníkovi</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i>
                                    <span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedDirsCnt }})</p>
                        </div>
                    </div>

                    <div v-if="medicinesNeeded" class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <i class="fas fa-pills fa-fw" style="color:#ec7063;"></i>
                                <span><strong>Vybraný seznam dokladů obsahuje léky</strong></span>
                                <i class="fas fa-pills fa-fw" style="color:#ec7063;"></i>
                            </div>
                        </div>
                    </div>

                    <div v-if="cytoNeeded" class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <i class="fas fa-exclamation-triangle fa-fw" style="color:#f4d03f;"></i>
                                <span><strong>Vybraný seznam dokladů obsahuje cytostatika</strong></span>
                                <i class="fas fa-exclamation-triangle fa-fw" style="color:#f4d03f;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="workerID" class="col-sm-2 control-label">Pracovník</label>
                        <div class="col-sm-8">
                            <v-select v-model="selectedWorker" id="workerID" :options="workerList" value="workerID" label="workerName"
                                      onwheel="rollOnWheelVue(event, reassign_dialog, 'selectedWorker', 'workerList')">
                                <template slot="option" slot-scope="option">
                                    <span class="worker-list-name" v-bind:class="{ 'worker-prefered': option.isPrefered }">{{ option.workerName }}</span>
                                    <span class="worker-list-num">{{ option.cntDocs }} dokl.</span>
                                    <span class="worker-list-num">{{ option.cntItems }} pol.</span>
                                    <span class="worker-list-status"><span class="label label-default">{{ option.workerStatusName }}</span></span>
                                    <span class="worker-list-status">
                                        <i v-if="option.candispatchMedicines" class="fas fa-pills fa-fw" style="color:#ec7063;" title="Může pracovat s léky"></i>
                                        <i v-if="option.candispatchCytostatics" class="fas fa-exclamation-triangle fa-fw" style="color:#f4d03f;" title="Může pracovat s cytostatiky"></i>
                                    </span>

                                    <i class="" style="color:;margin-left:.5em;"></i>
                                </template>
                            </v-select>
                            <span v-if="selectedWorker != null" class="help-block" style="margin-top: 1em;">
                                <i v-if="selectedWorker.isPrefered" class="fas fa-check-circle fa-lg" style="color: #3c763d; margin-right:.5em;" title="Pracovník ma tuto práci nastavenou."></i>
                                Pracovník má přiřazeno {{ selectedWorker.cntDocs }} dokladů ({{ selectedWorker.cntItems }} položek).
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="positionID" class="col-sm-2 control-label">Pozice</label>
                        <div class="col-sm-4">
                            <select v-model="positionID" id="positionID" class="form-control" onwheel="rollOnWheel(event, this)">
                                <option v-for="position in positionList" v-bind:value="position.positionID">{{ position.posCode }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var reassign_dialog = new Vue({
        el: '#reassign-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedDirsCnt: 0,
                medicinesNeeded: false,
                cytoNeeded: false,
                workerList: [],
                selectedWorker: null,
                positionList: [],
                positionID: 0
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedDirsCnt = reassign_dialog.$data.items.length;
                this.medicinesNeeded = !!reassign_dialog.$data.items.find(function (i) { return i.signs.includes('ARME') });
                this.cytoNeeded = !!reassign_dialog.$data.items.find(function (i) { return i.signs.includes('ARCY') });
                var query = '';
                if (this.medicinesNeeded)
                    query += 'canDispatchMedicines=true';
                if (this.cytoNeeded)
                    query += ((query != '') ? '&' : '') + 'canDispatchCytostatics=true';
                callAJAX(window.location.origin + '/api/procedureshelpers/dispatchworkers?' + query, {}, function (result) {
                    reassign_dialog.$data.workerList = result;
                    reassign_dialog.$data.selectedWorker = result[0];
                });
                if (this.positionList.length == 0) {
                    callAJAX(window.location.origin + '/api/procedureshelpers/dispatchpositions', {}, function (result) {
                        reassign_dialog.$data.positionList = result;
                        if (reassign_dialog.$data.positionID === 0)
                            reassign_dialog.$data.positionID = result[0].positionID;
                    });
                }

                //load assigned pos if this is reasign dlg
                this.loadXtra();
            },
            
            loadXtra: function () {
                var self = this;
                callAJAX(window.location.origin + '/api/Direction/InfoBox/' + this.items[0].directionID, null, function (xtra) {
                    if (xtra) {
                        if (xtra.posCode) {
                            var positions = self.positionList.filter(function (item) {
                                return item.posCode == xtra.posCode
                            })
                            if (positions.length > 0) {
                                self.positionID = positions[0].positionID;
                            }
                        }
                    }
                }, null, true);
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.directionID,
                                workerID: reassign_dialog.selectedWorker.workerID,
                                destPositionID: reassign_dialog.positionID
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/dispatchreassign', reassign_dialog.items, paramsFunction, function () { reassign_dialog.dataList.refresh(); $('#reassign_dialog').modal('hide'); }, true);
                    }
                });
            }
        }
    });
</script>