﻿<div class="modal fade" id="resetShipment_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="resetShipment-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Znovu vytvořit požadavek na zásilku pro {{ dlInfo }}</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Adresa:</label>
                        <div class="col-sm-4">
                            <input class="form-control" v-model="addrInfo" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Doprava:</label>
                        <div class="col-sm-4">
                            <input class="form-control" v-model="transportationType" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Číslo zásilky:</label>
                        <div class="col-sm-4">
                            <input class="form-control" v-model="parcelRefNumbers" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Počet balíků:</label>
                        <div class="col-sm-4">
                            <input class="form-control" v-model="boxesCnt" type="number" min="0" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Váha v kg:</label>
                        <div class="col-sm-4">
                            <input class="form-control" v-model="weight" type="number" min="0" step="0.1" pattern="^\d+(?:\.\d{1,2})?$" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-danger" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>


<script>
    var resetShipment_dialog = new Vue({
        el: '#resetShipment-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                boxesCnt: null,
                weight: null,
                transportationType: null,
                parcelRefNumbers: null,
                dlInfo: null,
                addrInfo: null,
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                resetShipment_dialog.dlInfo = this.items[0].docNumPrefix + '/' + this.items[0].docYear + '/' + this.items[0].docNumber;
                resetShipment_dialog.addrInfo = this.items[0].addrInfo;

                callAJAX(window.location.origin + '/api/direction/infobox/' + this.items[0].directionID, null, function (data) {
                    if (data.weightBoxCount !== undefined && data.weightBoxCount !== null) {
                        resetShipment_dialog.boxesCnt = data.weightBoxCount.boxCount === undefined ? null : data.weightBoxCount.boxCount;
                        resetShipment_dialog.weight = data.weightBoxCount.weight === undefined ? null : data.weightBoxCount.weight;
                    }
                    else {
                        resetShipment_dialog.boxesCnt = null;
                        resetShipment_dialog.weight = null;
                    }

                    if (data.transportationType !== undefined && data.transportationType !== null) {
                        resetShipment_dialog.transportationType = data.transportationType;
                    }
                    else {
                        resetShipment_dialog.transportationType = null;
                    }

                    if (data.parcelRefNumbers !== undefined && data.parcelRefNumbers !== null) {
                        resetShipment_dialog.parcelRefNumbers = data.parcelRefNumbers;
                    }
                    else {
                        resetShipment_dialog.parcelRefNumbers = null;
                    }

                }, null, true);
            },

            //custom
            save: function () {
                $('#resetShipment_dialog').modal('hide');
                var param = { directionID: this.items[0].directionID, boxesCnt: resetShipment_dialog.boxesCnt, weight: resetShipment_dialog.weight };
                callAJAX(window.location.origin + '/api/procedures/resetshipment', param, function (result) {
                    resetShipment_dialog.dataList.refresh();
                }, null, true);
            }
        }
    });
</script>