﻿<style>
    .odd {
        background-color: lightgrey;
    }

    .even {
        background-color: darkgray;
    }

    .line {
        border: 0;
        background-color: darkgray;
        height: 1.5px;
    }

</style>

<div class="modal fade" id="shipmentStatus_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="shipmentStatus-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Stav zásilky {{providerMsg}}</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div style="color:red; margin-bottom:5px;">{{ errorText }}</div>
                    <hr v-show="errorText != null" class="line" />
                    <div v-if="provider == 'DPD' || provider == 'CPOST' || provider == 'PPL'">
                        <div v-for="item in content">
                            <div v-if="item.group">
                                <div class="panel panel-default">
                                    <div v-if="item.group.header" class="panel-heading">
                                        <div class="row" v-html="item.group.header.value">

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row" v-for="groupItem in item.group.items">
                                            <label class="col-sm-1">{{groupItem.label}}</label>
                                            <div class="col-sm-11" v-html="groupItem.value">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="line" />
                            </div>
                            <div v-else-if="item.key == dividerKey"><hr /></div>
                            <div v-else-if="item.key == errorItem" class="alert alert-danger" v-html="item.value">
                            </div>
                            <div v-else class="row">
                                <label class="col-sm-2">{{item.label}}</label>
                                <div v-if="item.key == trackUrl">
                                    <a v-bind:href="item.value" style="margin-left:15px;" target="_blank">{{item.label}}&nbsp;<i class='fas fa-external-link-alt'></i></a>
                                </div>
                                <div v-else class="col-sm-10" v-html="item.value">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>

<script>
    const CONTENT_DIVIDER = "@Html.Raw(S4.DeliveryServices.DeliveryServiceBase.CONTENT_DIVIDER)";
    const BEGIN_OF_GROUP = "@Html.Raw(S4.DeliveryServices.DeliveryServiceBase.BEGIN_OF_GROUP)";
    const GROUP_HEADER = "@Html.Raw(S4.DeliveryServices.DeliveryServiceBase.GROUP_HEADER)";
    const END_OF_GROUP = "@Html.Raw(S4.DeliveryServices.DeliveryServiceBase.END_OF_GROUP)";
    const TRACK_URL = "@Html.Raw(S4.DeliveryServices.DSDPD.TRACK_URL)";
    const ERROR_ITEM = "@Html.Raw(S4.DeliveryServices.DeliveryServiceBase.ERROR_ITEM)";

    var shipmentStatus_dialog = new Vue({
        el: '#shipmentStatus-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                provider: null,
                content: [],
                dividerKey: CONTENT_DIVIDER,
                beginOfGroup: BEGIN_OF_GROUP,
                groupHeader: GROUP_HEADER,
                endOfGroup: END_OF_GROUP,
                trackUrl: TRACK_URL,
                errorItem: ERROR_ITEM,

                rowEven: false,
                errorText: null,
                providerMsg: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.clearData();
                this.getShipmentStatus(this.items[0]["directionID"]);
            },

            //custom
            clearData: function () {
                this.provider = null;
                this.content = [];
            },
            getShipmentStatus: function (directionID) {
                var self = this;
                shipmentStatus_dialog.errorText = null;
                callAJAX(window.location.origin + '/api/procedures/getShipmentStatus', { directionID: directionID, IncludingCanceledShipment: true }, function (data) {
                    shipmentStatus_dialog.errorText = data.errorText;

                    if (data.success === false) {
                        return;
                    }

                    self.provider = data.provider;
                    self.providerMsg = "- doprava " + self.provider;
                    var currentGroup;

                    if (data.provider != null && data.provider != undefined) {
                        data.content.forEach(function (row, ix) {
                            if (row.key == self.beginOfGroup) {
                                currentGroup = { items: [] };
                            } else if (row.key == self.endOfGroup) {
                                self.content.push({ group: currentGroup });
                                currentGroup = null;
                            } else {
                                if (currentGroup) {
                                    if (row.key == self.groupHeader)
                                        currentGroup.header = row;
                                    else
                                        currentGroup.items.push(row);
                                }
                                else
                                    self.content.push(row);
                            }
                        });
                    }
                }, null, true, true);
            },
        },
        computed: {
            rowStyle: function () {
                this.rowEven = !this.rowEven;
                var color = this.rowEven ? "white" : "#f5f5f5";
                return { backgroundColor: color };
            },
        }
    });
</script>
