﻿@using System.Reflection
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var ver = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var instanceName = @Configuration["instanceName"];
    var machineName = Environment.MachineName;
}
<footer style="border-top-style:solid;border-top-color:lightgray;border-top-width:1px;margin-bottom:1em;padding-top:.5em;">
    <div style="font-size:8pt;">
        S4.Web (v. @ver.ToString())
        <span class="pull-right" style="font-weight:600;">@instanceName [@machineName]</span>
    </div>
</footer>