﻿@using S4.Web.AccessControl
@inject ISecProvider SecProvider

@using S4.Web.Hubs.Progress
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using S4.Web.Helpers
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S4.Web</title>

    <environment include="Development">
        <link href="~/lib/fontawesome5/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/fontawesome5/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }
</head>
<body>
    <nav class="navbar navbar-default navbar-static">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <div class="btn-group pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="dropdown" style="padding: 0px 4px;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fas fa-sign-out-alt"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a tabindex="0"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="focus"
                               data-placement="bottom"
                               data-content="<div><a href='/auth/password'>Změna hesla</a>"
                               style="cursor:pointer;">@User.Identity.Name</a>
                        </li>
                        <li>
                            <a href="/auth/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Odhlášení</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-brand" style="width: 60px;"></div>
                <div class="navbar-text" style=" margin: 9px !important;">@ViewData["Title"]</div>
            </div>
            <div class="navbar-text pull-right hidden-xs" style="margin: 15px !important;">
                <a tabindex="0"
                   data-html="true"
                   data-toggle="popover"
                   data-trigger="focus"
                   data-placement="bottom"
                   data-content="<div><a href='/auth/password'>Změna hesla</a>"
                   style="cursor:pointer;">@User.Identity.Name</a>
                <a href="/auth/logout" style="padding-left: 8px;"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Odhlášení</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <!-- menu left icons -->
    @await Html.PartialAsync("_MenuLeft", SecProvider.Auditor, null)

    <environment include="Development">
        <script src="~/lib/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.min.js"></script>
    </environment>

    <script>
        var proceduresProgress = [];
        // error processing
        Vue.config.errorHandler = function (err, vm, info) { setVueError(err, null, info); }
        Vue.config.warnHandler = function (msg, vm, info) { setVueError(null, msg, info); }

        window.onerror = function (msg, url, line, col, error) {
            var model = {
                ErrorMessage: msg + '\nErrorStack: ' + error.stack + '\nWindowLocation: ' + window.location,
                Url: url,
                ErrorStack: error.stack,
                Column: col,
                Line: line,
                ErrorClass: 'JavaScriptError'
            };
            sendErrorToServer(model);
        };
    </script>

    <script src="~/lib/vue-select/vue-select.js"></script>
    <script>
        Vue.component('v-select', VueSelect.VueSelect);
    </script>
    <script src="~/lib/vee-validate/vee-validate.js" asp-append-version="true"></script>
    <script src="~/lib/vee-validate/locale/cs.js" asp-append-version="true"></script>
    <script src="~/lib/vuejs-dialog/dist/vuejs-dialog.min.js" asp-append-version="true"></script>
    <script src="~/lib/lodash/lodash.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-notify/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/clipboard/clipboard.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/seekCombo/seekArticleCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/seekCombo/seekPartnerCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/utils/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (SecProvider.Auditor != null)
    {

        <script>
            var S4_API_TOKEN = '@SecProvider.ApiToken';
        </script>
    }

    <div class="container body-content">
        @RenderBody()
        <cache expires-after="TimeSpan.FromHours(1)">
            <partial name="_Footer" />
        </cache>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <!-- Custom scripts required by this view -->
    @RenderSection("Scripts", required: false)

    <script>
        // procedure progress
        var dictNotify = []; // create an empty array notify
        this.connection = new WebsocketFactory().create('@ProgressHub.CLIENT_HUB_URL?userName=@HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Sid).Value', {
                    '@(nameof(IProgressHub.UpdateValue))': function (data) {
                        console.log(data);
                        showInfoSignalR(data.color, data.header, data.message, data.taskID, data.progressValue);

                        for (i = 0; i < proceduresProgress.length; i++) {
                            proceduresProgress[i](data);
                        }

                    }
        });
    </script>

</body>
</html>
