﻿@using S4.Web.AccessControl
@inject ISecProvider SecProvider

@using S4.Web.Hubs.Progress
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using S4.Web.Helpers
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S4.Web</title>

    <environment include="Development">
        <link href="~/lib/fontawesome5/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/Content/datalist/dataList.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/fontawesome5/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/Content/datalist/dataList.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }
</head>
<body>
    <nav class="navbar navbar-default navbar-static">
        <div class="collapse navbar-collapse js-navbar-collapse">

            <!-- padding left page header text -->
            <ul class="nav navbar-nav">
                <li style="margin-left: 50px;">&nbsp;</li>
            </ul>

            @if (IsSectionDefined("NavBarLeft"))
            {
                @RenderSection("NavBarLeft")
            }
            else
            {
                <ul class="nav navbar-nav">
                    <li><a class="navbar-header">@ViewData["Title"]</a></li>
                </ul>
            }

            <ul class="nav navbar-nav navbar-right">
                <li id="showNewsID" style="display:none;"><a href="javascript:ShowNews(true);"><i id="bellID" class="far fa-bell" aria-hidden="true"></i></a></li>
                <li>
                    <a tabindex="0"
                       data-html="true"
                       data-toggle="popover"
                       data-trigger="focus"
                       data-placement="bottom"
                       data-content="<div><a href='/auth/password'>Změna hesla</a>"
                       style="cursor:pointer;">@User.Identity.Name</a>
                </li>
                <li><a href="/auth/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Odhlášení</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>

    <!-- menu left icons -->
    @await Html.PartialAsync("_MenuLeft", SecProvider.Auditor, null)

    <environment include="Development">
        <script src="~/lib/vue/dist/vue.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.min.js" asp-append-version="true"></script>
    </environment>

    <partial name="../DataList/DataList" />
    <partial name="NewsModal" />

    <script>
        var proceduresProgress = [];
        // error processing
        Vue.config.errorHandler = function (err, vm, info) { setVueError(err, null, info); }
        Vue.config.warnHandler = function (msg, vm, info) { setVueError(null, msg, info); }

        window.onerror = function (msg, url, line, col, error) {
            var model = {
                ErrorMessage: msg + '\nErrorStack: ' + error.stack + '\nWindowLocation: ' + window.location,
                Url: url,
                ErrorStack: error.stack,
                Column: col,
                Line: line,
                ErrorClass: 'JavaScriptError'
            };
            sendErrorToServer(model);
        };
    </script>

    <script src="~/lib/vue-select/vue-select.js" asp-append-version="true"></script>
    <script>
        Vue.component('v-select', VueSelect.VueSelect);
    </script>
    <script src="~/lib/vee-validate/vee-validate.js" asp-append-version="true"></script>
    <script src="~/lib/vee-validate/locale/cs.js" asp-append-version="true"></script>
    <script src="~/lib/vuejs-dialog/dist/vuejs-dialog.min.js" asp-append-version="true"></script>
    <script src="~/lib/lodash/lodash.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-notify/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/clipboard/clipboard.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/seekCombo/seekArticleCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/seekCombo/seekPartnerCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/seekCombo/seekPartnerAddressCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/utils/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (SecProvider.Auditor != null)
    {

        <script>
            var S4_API_TOKEN = '@SecProvider.ApiToken';
        </script>
    }

    <div class="container body-content">
        @RenderBody()
        <cache expires-after="TimeSpan.FromHours(1)">
            <partial name="_Footer" />
        </cache>
    </div>
    ;
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            ShowNews(false);
        });
    </script>

    <!-- Custom scripts required by this view -->
    @RenderSection("Scripts", required: false)

    <script>
        // procedure progress
        var dictNotify = []; // create an empty array notify
        this.connection = new WebsocketFactory().create('@ProgressHub.CLIENT_HUB_URL?userName=@HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Sid).Value', {
                    '@(nameof(IProgressHub.UpdateValue))': function (data) {
                        console.log(data);
                        showInfoSignalR(data.color, data.header, data.message, data.taskID, data.progressValue);

                        for (i = 0; i < proceduresProgress.length; i++) {
                            proceduresProgress[i](data);
                        }

                    }

        });
    </script>

    <script>
        function ShowNews(isCallFromMenu) {
            callAJAX(window.location.origin + '/api/dashboard/news', {}, function (news) {
                
                if (!news.showNews) {
                    $("#showNewsID").hide();
                    return;
                }
                else {
                    $("#showNewsID").show();
                    document.getElementById("showNewsID").setAttribute("title", "Zobrazit novinky ve verzi (" + news.messageList.length + ")");

                    if (news.messageList.length === 0) {
                        if ($('#bellID').hasClass('fas fa-bell')) {
                            $('#bellID').removeClass('fas fa-bell');
                        }
                        $('#bellID').addClass('far fa-bell')
                    }
                    else {
                        if ($('#bellID').hasClass('far fa-bell')) {
                            $('#bellID').removeClass('far fa-bell');
                        }
                        $('#bellID').addClass('fas fa-bell')
                    }
                }

                if (!isCallFromMenu) {
                    //get local storage
                    var md5 = localStorage.getItem('showNews');

                    if (md5 === news.mD5) {
                        //already seen
                        return;
                    }
                }

                var text = '';
                for (let i = 0; i < news.messageList.length; i++) {
                    text += "<b>" + news.messageList[i].header + "</b><br>";

                    for (let ii = 0; ii < news.messageList[i].textList.length; ii++) {
                        text += "<i>" + news.messageList[i].textList[ii] + "</i><br>";

                        if ((ii + 1 === news.messageList[i].textList.length)) { //not on the last line
                            text += "<br>"
                        }
                    }
                }

                var modal = $('#modal_news').modal({ backdrop: false });
                modal.find('#news_header1').text(news.appVersion);
                modal.find('#news_text').html(text);
                modal.show();

                //set local storage
                localStorage.setItem('showNews', news.mD5);
                                
            }, null, false);
        }
    </script>

</body>
</html>
