@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http.Extensions
@using S4.Web.AccessControl
@inject ISecProvider SecProvider
@model S4.Web.AccessControl.Auditor

@{
    var columns = Model.MenuItems.Where(_ => _.MenuText == "Doklady" || _.MenuText == "Akce").ToList().GroupBy(k => k.Column, (k, g) => new { Column = k, Items = g.ToList() }).OrderBy(r => r.Column);
}

<div class="navbar navbar-fixed-left">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
                @* <b class="caret"></b> *@
            </a>
            @if (SecProvider.Auditor != null)
            {
                <!--navigation-->
                <cache expires-after="TimeSpan.FromSeconds(60)" vary-by-user="true">
                    <partial name="_Menu" model="SecProvider.Auditor" />
                </cache>
                <!--end navigation-->
            }
        </li>
    </ul>
    
    
    <ul class="nav navbar-nav">
        @foreach (var column in columns)
        {
            var oldPos = 0;
            for (int pos = 0; pos < column.Items.Count; pos++)
            {
                foreach (var subItem in column.Items[pos].SubItems)
                {
                    if (pos > oldPos)
                    {
                        <li style="padding-top: 20px"></li>
                    }
                    <li class="@(Context.Request.Path == subItem.MenuPath ? "active" : string.Empty)">
                        <a href="@subItem.MenuPath" title="@subItem.MenuText" data-toggle="tooltip" data-placement="right">
                            @Html.Raw(subItem.IconHtml)
                        </a>
                    </li>
                    oldPos = pos;
                }
            }
        }
    </ul>
</div>