﻿@using System.Linq
@model S4.Web.AccessControl.Auditor
@if (Model.MenuItems != null)
{
    var columns = Model.MenuItems.GroupBy(k => k.Column, (k, g) => new { Column = k, Items = g.ToList() }).OrderBy(r => r.Column);

    <ul class="dropdown-menu dropdown-menu-large row" style="width:1150px; position: absolute; top: 50px; z-index: 500">
        <li class="col-sm-3" style="align-content:center">
            <a href="/" style="background-color:white !important;margin-top:2em;"><img src="~/images/S4_big.png" /></a>
        </li>
        @foreach (var column in columns)
        {
            <li class="col-sm-3">
                <ul>
                    @for (int pos = 0; pos < column.Items.Count; pos++)
                    {
                        @if (pos > 0)
                        {
                            <li class="divider"></li>
                        }
                        <li class="dropdown-header">@column.Items[pos].MenuText</li>
                        @foreach (var subItem in column.Items[pos].SubItems)
                        {
                            <li @Html.Raw((subItem.Disabled) ? "class='disabled'" : "")><a href="@subItem.MenuPath">@Html.Raw(subItem.IconHtml) @subItem.MenuText</a></li>
                        }
                    }


                </ul>
            </li>
        }
    </ul>
    
    
}