﻿@using S4.Web.AccessControl
@inject ISecProvider SecProvider

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S4.Web</title>
    <environment include="Development">
        <link href="~/lib/fontawesome5/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/Content/datalist/dataList.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/vue/dist/vue.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link href="~/lib/fontawesome5/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/Content/datalist/dataList.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/vue/dist/vue.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <partial name="../DataList/DataList" />
    <script>
        // error processing
        Vue.config.errorHandler = function (err, vm, info) { setVueError(err, null, info); }
        Vue.config.warnHandler = function (msg, vm, info) { setVueError(null, msg, info); }

        window.onerror = function (msg, url, line, col, error) {
            var model = {
                ErrorMessage: msg + ' ErrorStack: ' + error.stack,
                Url: url,
                ErrorStack: error.stack,
                Column: col,
                Line: line,
                ErrorClass: 'JavaScriptError'
            };
            sendErrorToServer(model);
        };
    </script>
    <script src="~/lib/vue-select/vue-select.js" asp-append-version="true"></script>
    <script>
        Vue.component('v-select', VueSelect.VueSelect);
    </script>
    <script src="~/lib/vee-validate/vee-validate.js" asp-append-version="true"></script>
    <script src="~/lib/vee-validate/locale/cs.js" asp-append-version="true"></script>
    <script src="~/lib/vuejs-dialog/dist/vuejs-dialog.min.js" asp-append-version="true"></script>
    <script src="~/lib/lodash/lodash.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-notify/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/clipboard/clipboard.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/seekCombo/seekArticleCombo.js" asp-append-version="true"></script>
    <script src="~/Scripts/utils/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (SecProvider.Auditor != null)
    {
        <script>
            var S4_API_TOKEN = '@SecProvider.ApiToken';
        </script>
    }

    <div style="margin:10px">
        @RenderBody()
    </div>

</body>
</html>
