﻿<div id="modal_error" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger"><i class="fa fa-exclamation-triangle fa-2x text-danger" aria-hidden="true" style="margin-right:.7em;"></i>Chyba zpracování</h4>
            </div>
            <div class="modal-body">
                <p id="modal_error_text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>