﻿<div id="modal_info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-info"><i class="fa fa-exclamation-triangle text-info" aria-hidden="true" style="margin-right:.7em;"></i><b id="modal_info_header"></b></h4>
            </div>
            <div class="modal-body">
                <p id="modal_info_text1"></p>
                <p id="modal_info_text2"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>