﻿<div id="modal_sr_working" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div style="height: 100px;text-align:center">
                    <i id="working_icon" class="fas fa-spinner fa-3x fa-spin" style="margin-top:10px;color:#449d44;"></i>
                    <div style="margin-top:20px;font-size: 1.2em;">{{ message1SignalR }}<span>{{ message2SignalR }}</span></div>
                </div>

                <div class="progress" style="margin-top:2em;display:none;">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>