﻿<div id="modal_ok" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-success">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-success"><i class="fa fa-exclamation-triangle fa-2x text-success" aria-hidden="true" style="margin-right:.7em;"></i>Zpracování proběhlo úspěšně</h4>
            </div>
            <div class="modal-body">
                <p id="modal_ok_text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>