﻿<script src="~/Scripts/utils/print.min.js"></script>
<div id="select-printer-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:20%;min-width:600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Tisk</h3>
            </div>
            <div class="modal-body modal-body-over" style="height:50%;min-height:500px;">
                <div class="row">
                    <div class="col-sm-4">Tiskárna</div>
                    <div class="col-sm-8">
                        <v-select v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerLocationDesc"></v-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-bind:disabled="printerLocation == null || printerLocation == 0" @@click="doPrint">Tisknout</button>
            </div>
        </div>
    </div>
</div>
<script>
    var selectPrinterDialog = new Vue({
        el: '#select-printer-dialog',
        data: function () {
            return {
                printProc: null,
                printParams: null,
                printerLocation: null,
                printerLocationList: [],
            }
        },
        methods: {
            initDialog: function (printProc, printParams) {
                this.printProc = printProc;
                this.printParams = printParams;
                if (this.printerLocation == null || this.printerLocationList.lenght == 0) {
                    callAJAX(window.location.origin + '/api/report/getprinterlocation', 'WebPrint', function (result) {
                        selectPrinterDialog.$data.printerLocationList = result;
                        var printerLocationID = localStorage.getItem('print_dialog_PrinterLocationID');
                        if (printerLocationID != null) {
                            for (var i = 0; i < result.length; i++) {
                                if (result[i].printerLocationID.toString() == printerLocationID.toString()) {
                                    selectPrinterDialog.$data.printerLocation = result[i];
                                }
                            }
                        }
                    });
                }

            },
            doPrint: function () {
                this.printParams.PrinterLocationID = this.printerLocation === null || this.printerLocation.printerLocationID === null ? 0 : this.printerLocation.printerLocationID;
                if (this.printParams.PrinterLocationID > 0) {
                    this.printParams.LocalPrint = this.printerLocation != null && this.printerLocation.printerPath == '_LOCAL_';
                    callAJAX(window.location.origin + '/api/procedures/' + this.printProc, this.printParams, function (result) {
                        if (result.localPrint)
                            printJS('/download/direct?fileID=' + result.fileID);
                    }, null, true);
                    // save printer
                    if (this.printerLocation != null && this.printerLocation.printerLocationID != null) {
                        localStorage.setItem("print_dialog_PrinterLocationID", this.printerLocation.printerLocationID);
                    }
                }
                $('#select-printer-dialog').modal('hide');
            }
        }
    });
</script>