﻿@*<script src="~/lib/vue-select/vue-select.js"></script>*@

<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="manufID">ID:</label>
                    <div class="col-sm-2">
                        <input v-if="isNew" class="form-control" name="manufID" v-model="item.manufID" v-validate="{ required: true, max: 16 }" data-vv-as="ID" />
                        <input v-else class="form-control" name="manufID" v-model="item.manufID" readonly="readonly" />
                        <span class="text-danger">{{ errors.first('manufID') }}</span>
                        <span class="text-danger">{{ manufIDError }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="manufName">Název výrobce:</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="manufName" v-model="item.manufName" v-validate="{ required: true, max: 64 }" data-vv-as="Název výrobce" />
                        <span class="text-danger">{{ errors.first('manufName') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="manufStatus">Stav:</label>
                    <div class="col-sm-4">
                        <v-select name="manufStatus" v-model="selectedStatus" label="name" :options="statusOptions" v-validate="'required'" data-vv-as="Stav"></v-select>
                        <span class="text-danger">{{ errors.first('manufStatus') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="source_id">ID zdroje:</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="source_id" v-model="item.source_id" v-validate="{ max: 32 }" data-vv-as="ID zdroje" />
                        <span class="text-danger">{{ errors.first('source_id') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="useBatch">Šarže:</label>
                    <div class="col-sm-1">
                        <input type="checkbox" class="checkbox" name="useBatch" v-model="item.useBatch" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="useExpiration">Expirace:</label>
                    <div class="col-sm-1">
                        <input type="checkbox" class="checkbox" name="useExpiration" v-model="item.useExpiration" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="sectID">Sekce:</label>
                    <div class="col-sm-4">
                        <v-select name="sectID" v-model="selectedSection" label="name" :options="sectionOptions"></v-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="manufSign">Ikona:</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="manufSign" v-model="item.manufSign" v-validate="{ max: 32 }" data-vv-as="Ikona" />
                        <span class="text-danger">{{ errors.first('manufSign') }}</span>
                    </div>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                selectedStatus: null,
                selectedSection: null,
                sectionOptions: [],

                //FieldError
                manufIDError: null,
            }
        },
        methods: {
            loadData: function () {
                //reset FieldError
                this.manufIDError = null;

                if (this.isNew)
                    $("#detail_title").html('Nový výrobce');
                this.selectedStatus = this.item.manufStatus ? {
                    code: this.item.manufStatus,
                    name: valueToString(this.item.manufStatus, this.getStatusColumn())
                } : null;
                var self = this;
                this.loadList({ typeName: "S4.Entities.Section" }, "sectionOptions", "sectID", "sectDesc", null, null, function () {
                    self.$data.selectedSection = self.$data.item.sectID ?
                        self.$data.sectionOptions.filter(function (item) { return item.value == self.$data.item.sectID; })[0] :
                        null;
                });
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "manufStatus"; })[0];
            },
            loadList: function (getListModel, destProperty, propValue, propName, addPropDest, addPropSource, callAfter) {
                callAJAX(window.location.origin + "/api/data", getListModel, function (data) {
                    editApp.$data[destProperty] = [];
                    var list = data.sort(function (a, b) {
                        var x = a[propName].toLowerCase();
                        var y = b[propName].toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var result = [];
                    list.forEach(function (item) {
                        var newItem = { name: item[propName], value: item[propValue] };
                        if (addPropDest) {
                            newItem[addPropDest] = item[addPropSource];
                        }
                        result.push(newItem);
                    });
                    editApp.$data[destProperty] = result;
                    if (callAfter)
                        callAfter();
                }, null, true);
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                    }
                });
            },
            doSave: function () {
                //set info if insert required
                this.item.isNew = this.isNew;
                //set values from combos
                this.item.manufStatus = this.selectedStatus ? this.selectedStatus.code : null;
                this.item.sectID = this.selectedSection ? this.selectedSection.value : null;

                //reset FieldError
                this.manufIDError = null;

                this.validateAndSave();
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    if (data.fieldName === 'ManufID')
                        this.manufIDError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }

        },
        computed: {
            statusOptions: function () {
                if (!this.columns)
                    return [];
                return this.getStatusColumn().valuesList;
            }
        }
    });

    validate = editApp.validate;
</script>
