﻿<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="docClass">Třída:</label>
                    <div class="col-sm-3">
                        <v-select v-if="isNew" name="docClass" v-model="item.docClass" label="name" :options="docClassOptions" v-validate="'required'" data-vv-as="Třída"></v-select>
                        <input v-else class="form-control" name="docClass" v-model="item.docClass" v-validate="{ required: true, max: 2 }" data-vv-as="Třída" readonly="readonly" />
                        <span class="text-danger">{{ errors.first('docClass') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="docNumPrefix">Prefix:</label>
                    <div class="col-sm-3">
                        <input v-if="isNew" class="form-control form-control-orig" name="docNumPrefix" v-model="item.docNumPrefix" v-validate="{ required: true, max: 16 }" data-vv-as="Prefix" />
                        <input v-else class="form-control" name="docNumPrefix" v-model="item.docNumPrefix" readonly="readonly" />
                        <span class="text-danger">{{ errors.first('docNumPrefix') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="prefixDesc">Popis:</label>
                    <div class="col-sm-7">
                        <input class="form-control" name="prefixDesc" v-model="item.prefixDesc" v-validate="{ required: true, max: 64 }" data-vv-as="Popis" />
                        <span class="text-danger">{{ errors.first('prefixDesc') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="docType">Směr:</label>
                    <div class="col-sm-2">
                        <v-select name="docDirection" v-model="docDirectionDisplay" label="name" :options="docDirectionOptions" v-validate="'required'" data-vv-as="Směr"></v-select>
                        <span class="text-danger">{{ errors.first('docDirection') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="docType">Typ:</label>
                    <div class="col-sm-2">
                        <v-select name="docType" v-model="docTypeDisplay" label="name" :options="docTypeOptions" v-validate="'required'" data-vv-as="Typ"></v-select>
                        <span class="text-danger">{{ errors.first('docType') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="prefixEnabled">Povoleno:</label>
                    <div class="col-sm-1">
                        <input type="checkbox" class="checkbox" name="prefixEnabled" v-model="item.prefixEnabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="docType">Sekce:</label>
                    <div class="col-sm-4">
                        <v-select name="prefixSection" v-model="prefixSectionDisplay" label="name" :options="prefixSectionOptions" v-validate="'required'" data-vv-as="Sekce"></v-select>
                        <span class="text-danger">{{ errors.first('prefixSection') }}</span>
                    </div>
                </div>
            </div>
            <span class="text-danger">{{ prefixSaveError }}</span>
        </p>
    </form>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",
                docTypeDisplay: "",
                docDirectionDisplay: "",
                prefixSectionDisplay: "",
                sections: null,

                prefixSaveError: null
            }
        },
        methods: {
            clearErrors: function () {
                this.$validator.reset();
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                    }
                });
            },
            doSave: function () {
                this.prefixSaveError = null;
                //set info if insert required
                this.item.isNew = this.isNew;
                //set workerStatus by workerStatusDisplay
                this.item.docType = this.docTypeDisplay.code;
                this.item.docDirection = this.docDirectionDisplay.code;
                this.item.prefixSection = this.prefixSectionDisplay.code;

                this.validateAndSave();
            },
            loadData: function () {
                this.prefixSaveError = null;
                if (this.isNew)
                    $("#detail_title").html('Nový prefix');
                this.docTypeDisplay = "";
                this.docDirectionDisplay = "";
                this.prefixSectionDisplay = "";
                this.loadPositionSection();
            },
            afterLoadData: function () {
                if (!this.isNew) {

                    this.docTypeDisplay = {
                        code: this.item.docType,
                        name: valueToString(this.item.docType, this.getComboColumn("docType"))
                    };
                    this.docDirectionDisplay = {
                        code: this.item.docDirection,
                        name: valueToString(this.item.docDirection, this.getComboColumn("docDirection"))
                    };

                    this.prefixSectionDisplay = {
                        code: this.item.prefixSection,
                        name: this.getSectionName(this.item.prefixSection)
                    };
                }
            },
            loadPositionSection: function () {
                callAJAX('/api/data', { typeName: "S4.Entities.Section" }, function (data) {
                    editApp.$data.sections = data;
                    editApp.afterLoadData();
                }, null, true);
            },
            getComboColumn: function (what) {
                return this.columns.filter(function (item) { return item.fieldName == what; })[0];
            },
            getSectionName: function (id) {

                if (editApp.$data.sections === null) {
                    return "";
                }

                for (i = 0; i < editApp.$data.sections.length; i++) {
                    if (editApp.$data.sections[i].sectID === id) {
                        return editApp.$data.sections[i].sectDesc;
                    }
                }
                return "";
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    this.prefixSaveError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }
        },
        computed: {
            docTypeOptions: function () {
                if (!this.columns)
                    return [];

                return this.getComboColumn("docType").valuesList;
            },
            docDirectionOptions: function () {
                if (!this.columns)
                    return [];

                return this.getComboColumn("docDirection").valuesList;
            },
            prefixSectionOptions: function () {
                if (!this.columns || editApp.$data.sections === null)
                    return [];

                var i;
                var section = [];
                for (i = 0; i < editApp.$data.sections.length; i++) {
                    var o = new Object();
                    o.code = editApp.$data.sections[i].sectID;
                    o.name = editApp.$data.sections[i].sectDesc;
                    section.push(o);
                }

                return section;
            },
            docClassOptions: function () {
                if (!this.columns)
                    return [];

                return ["DI", "SM"];
            }

        }

    });

    validate = editApp.validate;
</script>