﻿@{
    ViewData["Title"] = "Prefixy";
}

<div id="app">
    <data_list v-bind:settings="settings"
               v-bind:items="items"
               v-on:getdata="getData">
    </data_list>
</div>

<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {
    
    <script>
        // init
        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmEdit
                },
                {
                    commandType: cmDelete
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/prefix', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

