﻿<div id="detail-app">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#doc">Doklad</a></li>
        <li><a data-toggle="tab" href="#positions">Pozice</a></li>
        <li><a data-toggle="tab" href="#filled">Zadáno</a></li>
        <li><a data-toggle="tab" href="#before">Stav před inventurou</a></li>
        <li><a data-toggle="tab" href="#differences">Rozdíly</a></li>
        <li><a data-toggle="tab" href="#history">Historie</a></li>
    </ul>

    <div class="tab-content detail-form-content">
        <div id="doc" class="tab-pane fade in active">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">ID:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="item.stotakID" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Stav:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="statusLabel" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Popis:</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" v-model="item.stotakDesc" readonly="readonly"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Začátek:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="beginDate" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Konec:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="endDate" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="padding-top: 0px">Stav zpracování:</label>
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar align-middle" role="progressbar" v-bind:style="getStatusProportionStyle()" v-bind:aria-valuenow="statusProportionValue" aria-valuemin="0" aria-valuemax="100">{{statusProportionValue}} %</div>
                        </div>
                    </div>
                    <div>
                        {{statusProportionLabel}}
                    </div>
                </div>
            </form>
        </div>
        <div id="positions" class="tab-pane fade">
            <div class="list-filter">
                <span class="list-filter-desc">Zobrazit: </span>
                <label class="radio-inline"><input type="radio" name="positionsViewRange" v-model="positionsViewRange" v-bind:value="pwrAll" checked>Všechny</label>
                <label class="radio-inline"><input type="radio" name="positionsViewRange" v-model="positionsViewRange" v-bind:value="pwrChecked">Zkontrolované</label>
                <label class="radio-inline"><input type="radio" name="positionsViewRange" v-model="positionsViewRange" v-bind:value="pwrNotChecked">Nezkontrolované</label>
            </div>
            <data_list v-bind:settings="positionsSettings" v-bind:items="stotakPositions" v-bind:error="posError" v-on:getdata="getPositions" v-on:cmdclicked="itemCmdClicked" ref="posGrid"></data_list>
        </div>
        <div id="filled" class="tab-pane fade">
            <div v-if="item.stotakStatus=='OPENED'" class="btn-group cmd-bar">
                <div class="btn btn-default btn-sm disabled" style="font-weight: bold;">Akce:&nbsp;</div>
                <button type="button" id="btnSnapshot" class="btn btn-primary btn-sm" v-on:click="loadItemsFromSnapshot" :disabled="!rightCanStoReadOrigState">Načíst původní stav</button>
            </div>
            <data_list v-bind:settings="stotakItemSettings" v-bind:items="stotakItem" v-bind:error="itemError" v-on:getdata="getStotakItem" v-on:cmdclicked="itemCmdClicked"></data_list>
        </div>
        <div id="before" class="tab-pane fade">
            <div class="list-filter">
                <span class="list-filter-desc">Zdroj: </span>
                <label class="radio-inline"><input type="radio" name="snapshotViewStyle" v-model="snapshotViewStyle" v-bind:value="vsInternal" checked>Vnitřní</label>
                <label class="radio-inline"><input type="radio" name="snapshotViewStyle" v-model="snapshotViewStyle" v-bind:value="vsOuter">Vnější</label>
            </div>
            <data_list v-bind:settings="stotakSnapshotSettings" v-bind:items="stotakSnapshot" v-bind:error="snapError" v-on:getdata="getStotakSnapshot" v-on:cmdclicked="itemCmdClicked" ref="snapshotGrid"></data_list>
        </div>
        <div id="differences" class="tab-pane fade">
            <div class="list-filter">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <span class="list-filter-desc">Zdroj: </span>
                            <label class="radio-inline"><input type="radio" name="differencesViewStyle" v-model="differencesViewStyle" v-bind:value="vsInternal" checked>Vnitřní</label>
                            <label class="radio-inline"><input type="radio" name="differencesViewStyle" v-model="differencesViewStyle" v-bind:value="vsOuter">Vnější</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <span class="list-filter-desc">Zobrazení: </span>
                            <label class="radio-inline"><input type="radio" name="differencesBy" v-model="differencesBy" v-bind:value="dbArticle" checked>Podle karty</label>
                            <label class="radio-inline"><input type="radio" name="differencesBy" v-model="differencesBy" v-bind:value="dbPosition">Podle pozice</label>
                        </div>
                    </div>
                </div>
            </div>
            <data_list v-if="differencesBy==dbArticle" v-bind:settings="diffArticleSettings" v-bind:items="diffArticle" v-bind:error="diffArtError" v-on:getdata="getDiffArticle" ref="diffArticleGrid"></data_list>
            <data_list v-if="differencesBy==dbPosition" v-bind:settings="diffPositionSettings" v-bind:items="diffPosition" v-bind:error="diffPosError" v-on:getdata="getDiffPosition" ref="diffPositionGrid"></data_list>
        </div>
        <div id="history" class="tab-pane fade">
            <data_list v-bind:settings="stotakHistorySettings" v-bind:items="stotakHistory" v-bind:error="historyError" v-on:getdata="getStotakHistory" :valueHtml="valueHtml"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSizeDetail = getDialogAutoSize(0.85, 450);
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                rightCanStoReadOrigState: false,
                stockTakingItemsFromSnapshotTaskID: null,
                item: {},
                apiUrl: "",
                columns: null,

                //
                apiDataUrl: 'api/Data',
                statusLabel: null,
                vsInternal: 0,
                vsOuter: 1,

                //tab positions
                positionsViewRange: "all",
                positionsSettings: null,
                stotakPositions: null,
                posError: null,
                pwrAll: "all",
                pwrChecked: "checked",
                pwrNotChecked: "notchecked",

                //stotakItem
                stotakItemSettings: null,
                stotakItem: null,
                itemError: null,

                //stotakSnapshot
                stotakSnapshotSettings: null,
                stotakSnapshot: null,
                snapError: null,
                snapshotViewStyle: 0,

                //differences
                differencesViewStyle: 0,
                dbArticle: "article",
                dbPosition: "position",
                differencesBy: "article",
                diffArticleSettings: null,
                diffArticle: null,
                diffArtError: null,
                diffPositionSettings: null,
                diffPosition: null,
                diffPosError: null,

                //history
                stotakHistorySettings: null,
                stotakHistory: null,
                historyError: null,
                rightCanStoReadOrigState: true
            }
        },
        computed: {
            beginDate: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "beginDate"; })[0];
                    return valueToString(this.item.beginDate, column);
                }
            },
            endDate: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "endDate"; })[0];
                    return valueToString(this.item.endDate, column);
                }
            },
            statusProportionLabel: function () {
                return this.item.checked + " / " + (this.item.checked + this.item.nonChecked);
            },
            statusProportionValue: function () {
                var total = this.item.checked + this.item.nonChecked;
                if (total == 0)
                    return 0;
                return Math.round(100 * this.item.checked / total);
            },
        },
        watch: {
            positionsViewRange: function () {
                if (this.positionsSettings) {
                    this.positionsSettings.page = 1;
                    this.$refs.posGrid.refresh();
                }
            },
            snapshotViewStyle: function () {
                if (this.stotakSnapshotSettings) {
                    this.stotakSnapshotSettings.page = 1;
                    this.$refs.snapshotGrid.refresh();
                }
            },
            differencesViewStyle: function () {
                this.refreshDifferences(this.diffArticleSettings, this.$refs.diffArticleGrid);
                this.refreshDifferences(this.diffPositionSettings, this.$refs.diffPositionGrid);
            },
            differencesBy: function () {
                var self = this;
                _.debounce(function () {
                    self.refreshDifferences(self.diffArticleSettings, self.$refs.diffArticleGrid);
                    self.refreshDifferences(self.diffPositionSettings, self.$refs.diffPositionGrid);
                    self.loadDifferences();
                }, 100)();
            }
        },
        methods: {
            loadData: function () {
                $('#stotak_title').html('<div class="edit-header-bold">' + this.item.stotakDesc + '</div>');

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    detailApp.selectedPageChanged(target);
                });

                this.resetPositions();
                this.resetStotakItem();
                this.resetStotakSnapshot();
                this.resetDifferences();
                this.resetStotakHistory();
                
                $('.nav-tabs a[href="#doc"]').tab('show');

                this.statusLabel = this.columns.filter(function (item) {
                    return item.fieldName == 'stotakStatus'
                })[0].valuesList.filter(function (item) {
                    return item.code == detailApp.$data.item.stotakStatus;
                })[0].name;
            },
            getRightCanStoReadOrigState: function () {
                callAJAX(window.location.origin + '/api/stocktaking/getcanstoreadorigstate/', null, function (data) {
                    detailApp.$data.rightCanStoReadOrigState = data;
                }, null, true);
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'eventCode') {
                    return formatStatusField(displayValue, listItem);
                } else
                    return displayValue;
            },
            getStatusProportionStyle: function () {
                return { width: this.statusProportionValue + "%" };
            },
            selectedPageChanged: function (page) {
                switch (page) {
                    case "#positions":
                        if (this.positionsSettings == null) {
                            this.positionsSettings = { stotakID: this.item.stotakID, pageSize: pageSizeDetail };
                            this.getPositions();
                        }
                        break;
                    case "#filled":
                        if (this.stotakItemSettings == null) {
                            this.createStotakItemSettings();
                            this.getStotakItem();
                        }
                        this.getRightCanStoReadOrigState();
                        break;
                    case "#before":
                        if (this.stotakSnapshotSettings == null) {
                            this.stotakSnapshotSettings = { stotakID: this.item.stotakID, pageSize: pageSizeDetail };
                            this.getStotakSnapshot();
                        }
                        break;
                    case "#differences":
                        this.loadDifferences();
                        break;
                    case "#history":
                        if (this.stotakHistorySettings == null) {
                            this.stotakHistorySettings = { stotakID: this.item.stotakID, pageSize: pageSizeDetail };
                            this.getStotakHistory();
                        }
                        break;
                }
            },

            //positions
            resetPositions: function () {
                this.stotakPositions = [];
                this.positionsSettings = null;
                this.positionsViewRange = this.pwrAll;
            },
            getPositions: function () {
                this.positionsSettings.positionsViewRange = this.positionsViewRange;
                callAJAX(window.location.origin + '/api/StockTakingPosition', this.positionsSettings, function (data) {
                    detailApp.$data.positionsSettings = data.settings;
                    detailApp.$data.stotakPositions = data.data;
                    detailApp.$data.posError = data.error;
                }, null, true);
            },

            //stotakItem
            resetStotakItem: function () {
                this.stotakItem = [];
                this.stotakItemSettings = null;
            },
            createStotakItemSettings: function () {
                this.stotakItemSettings = {
                    stotakID: this.item.stotakID,
                    pageSize: pageSizeDetail,
                    commands: this.item.stotakStatus == "OPENED" ? [
                        {
                            commandType: cmInsert
                        },
                        {
                            commandType: cmEdit
                        },
                        {
                            commandType: cmDelete
                        }
                    ] : null
                };
            },
            getStotakItem: function () {
                callAJAX(window.location.origin + '/api/StockTakingItem', this.stotakItemSettings, function (data) {
                    detailApp.$data.stotakItemSettings = data.settings;
                    detailApp.$data.stotakItem = data.data;
                    detailApp.$data.itemError = data.error;
                }, null, true);
            },
            itemCmdClicked: function (rows, command, stoppropagation) {
                switch (command.commandType) {
                    case cmInsert:
                        stoppropagation(true);
                        stotakItemEditApp.loadData({ stotakID: this.item.stotakID });
                        $("#stotakitem_edit").modal("show");
                        break;
                    case cmEdit:
                        stoppropagation(true);
                        stotakItemEditApp.loadData(rows[0]);
                        $("#stotakitem_edit").modal("show");
                        break;
                    case cmDelete:
                        stoppropagation(true);
                        this.$dialog.confirm('Potvrďte výmaz položky', { type: 'soft', verification: 'continue', clicksCount: 1 })
                            .then(function () {
                                var model = { stotakItemID: rows[0].stotakItemID };
                                callAJAX(detailApp.$data.stotakItemSettings.actionController + '/StockTakingDeleteItem', model, function (data) {
                                    detailApp.getStotakItem();
                                }, null, true);
                            });
                        break;
                    case cmCustom:
                        switch (command.commandId) {
                            case "article_detail":
                                callAJAX(window.location.origin + "/api/Article/GetWithSettings/" + rows[0].articleID, null, function (data) {
                                    detailArticleApp.$data.apiUrl = detailApp.$data.apiUrl;
                                    detailArticleApp.$data.columns = data.settings.columns;
                                    detailArticleApp.$data.item = data.data[0];
                                    detailArticleApp.loadData();
                                    $('#article_detail').modal('show');
                                }, null, true);
                                break;
                            case "position_detail":
                                callAJAX(window.location.origin + "/api/Position/GetWithSettings/" + rows[0].positionID, null, function (data) {
                                    detailPositionApp.$data.apiUrl = detailApp.$data.apiUrl;
                                    detailPositionApp.$data.columns = data.settings.columns;
                                    detailPositionApp.$data.item = data.data[0];
                                    detailPositionApp.loadData();
                                    $('#position_detail').modal('show');
                                }, null, true);
                                break;
                        }
                        break;
                }
            },
            loadItemsFromSnapshot() {

                if (!this.rightCanStoReadOrigState) {
                    alert("aaa");
                    return;
                }

                const validationValue = Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000;

                this.$dialog.confirm('Potvrďte načtení stavu před inventurou', {
                    type: 'hard',
                    verification: `${validationValue}`,
                    verificationHelp: 'Opište čísla ... [+:verification]',
                    backdropClose: true
                })
                    .then(function () {
                        var model = { stotakID: detailApp.$data.item.stotakID };
                        callAJAX(detailApp.$data.stotakItemSettings.actionController + '/StockTakingItemsFromSnapshot', model, function (data) {
                            detailApp.stockTakingItemsFromSnapshotTaskID = data.taskID;
                        }, null, true);
                    });
            },
            //snapshot
            resetStotakSnapshot: function () {
                this.stotakSnapshot = [];
                this.stotakSnapshotSettings = null;
                this.snapshotViewStyle = this.vsInternal;
            },
            getStotakSnapshot: function () {
                this.stotakSnapshotSettings.snapshotClass = this.snapshotViewStyle;
                callAJAX(window.location.origin + '/api/StockTakingSnapshot', this.stotakSnapshotSettings, function (data) {
                    detailApp.$data.stotakSnapshotSettings = data.settings;
                    detailApp.$data.stotakSnapshot = data.data;
                    detailApp.$data.snapError = data.error;
                }, null, true);
            },
            //differences
            resetDifferences: function () {
                this.diffArticle = [];
                this.diffArticleSettings = null;
                this.diffPosition = [];
                this.diffPositionSettings = null;
                this.differencesViewStyle = this.vsInternal;
                this.differencesBy = this.dbArticle;
            },
            refreshDifferences: function (settings, grid) {
                if (settings) {
                    settings.page = 1;
                    if (grid)
                        grid.refresh();
                }
            },
            loadDifferences: function () {
                switch (this.differencesBy) {
                    case this.dbArticle:
                        if (this.diffArticleSettings == null) {
                            this.diffArticleSettings = { stotakID: this.item.stotakID, pageSize: pageSizeDetail };
                            this.getDiffArticle();
                        }
                        break;
                    case this.dbPosition:
                        if (this.diffPositionSettings == null) {
                            this.diffPositionSettings = { stotakID: this.item.stotakID, pageSize: pageSizeDetail };
                            this.getDiffPosition();
                        }
                        break;
                }
            },
            getDiffArticle: function () {
                this.diffArticleSettings.snapshotClass = this.differencesViewStyle;
                callAJAX(window.location.origin + '/api/StotakArticleDiffs', this.diffArticleSettings, function (data) {
                    detailApp.$data.diffArticleSettings = data.settings;
                    detailApp.$data.diffArticle = data.data;
                    detailApp.$data.diffArtError = data.error;
                }, null, true);
            },
            getDiffPosition: function () {
                this.diffPositionSettings.snapshotClass = this.differencesViewStyle;
                callAJAX(window.location.origin + '/api/StotakPositionDiffs', this.diffPositionSettings, function (data) {
                    detailApp.$data.diffPositionSettings = data.settings;
                    detailApp.$data.diffPosition = data.data;
                    detailApp.$data.diffPosError = data.error;
                }, null, true);
            },

            //history
            resetStotakHistory: function () {
                this.stotakHistory = [];
                this.stotakHistorySettings = null;
            },
            getStotakHistory: function () {
                callAJAX(window.location.origin + '/api/StockTakingHistory', this.stotakHistorySettings, function (data) {
                    detailApp.$data.stotakHistorySettings = data.settings;
                    detailApp.$data.stotakHistory = data.data;
                    detailApp.$data.historyError = data.error;
                }, null, true);
            }
        }
    });
    
    function afterStockTakingItemsFromSnapshot(data) {
        console.log('Progress value: ' + data.progressValue + '; task ID: ' + data.taskID);
        if (data.progressValue === 100 && data.taskID === detailApp.stockTakingItemsFromSnapshotTaskID) {
            //refresh list
            detailApp.getStotakItem();
        }
    }

    proceduresProgress.push(afterStockTakingItemsFromSnapshot);
    

</script>