﻿@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http


<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }

</style>

<div id="edit-app">

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="ID">Popis:</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" name="stotakDesc" v-model="stotakDesc" v-validate="'required'" data-vv-as="Popis"></textarea>
                            <span class="text-danger">{{ errors.first('stotakDesc') }}</span>
                        </div>
                    </div>
                </p>
            </form>
        </div>
        <div class="col-sm-5">
            <data_list :valueHtml="valueHtml" :cellStyle="cellStyle" v-bind:settings="positionsSettings" v-bind:items="selectedPositions" @@cmdClicked="onCmdClicked" ref="selposGrid"></data_list>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default" style="padding: 10px">
                <label class="control-label">Přidat:</label>
                <form class="form-horizontal">
                    <p>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Positions">Pozici:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <v-select name="Positions" v-model="selectedPosition" label="name" :options="positions" onwheel="rollOnWheelVue(event, editApp, 'selectedPosition', 'positions')">
                                        <template slot="option" slot-scope="option">
                                            <span class="worker-list-name">{{ option.name }}</span>
                                            <span class="worker-list-status"><span v-bind:class="{ 'label label-primary': option.status=='POS_OK', 'label label-info': option.status=='POS_STOCTAKING', 'label label-danger': option.status=='POS_BLOCKED'}">{{ option.posStatus }}</span></span>
                                            <span class="worker-list-status">
                                                <i v-if="option.isError" class="fas fa-exclamation-triangle" style="color:#ec7063;" title="Chyba!"></i>
                                            </span>
                                        </template>
                                    </v-select>
                                    <span class="input-group-addon">
                                        <a href="#" v-on:click="addPosition">
                                            <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Sections">Sekci:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <v-select name="Sections" v-model="selectedSection" label="name" :options="sections"></v-select>
                                    <span class="input-group-addon">
                                        <a href="#" v-on:click="addPositionsBySection">
                                            <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                                <span v-if="addedBySection == 0" class="text-danger">Nebyla nalezena žádná pozice</span>
                                <span v-if="addedBySection > 0" class="text-success">Bylo nalezeno {{addedBySection}} pozic</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Houses">Halu:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <v-select name="Houses" v-model="selectedHouse" label="name" :options="houses"></v-select>
                                    <span class="input-group-addon">
                                        <a href="#" v-on:click="addPositionsByHouse">
                                            <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                                <span v-if="addedByHouse == 0" class="text-danger">Nebyla nalezena žádná pozice</span>
                                <span v-if="addedByHouse > 0" class="text-success">Bylo nalezeno {{addedByHouse}} pozic</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Articles">Kartu:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <seek_article_combo v-model="selectedArticle" name="articles"></seek_article_combo>
                                    <span class="input-group-addon">
                                        <a href="#" v-on:click="addPositionsByArticle">
                                            <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                                <span v-if="addedByArticle == 0" class="text-danger">Nebyla nalezena žádná pozice</span>
                                <span v-if="addedByArticle > 0" class="text-success">Bylo nalezeno {{addedByArticle}} pozic</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Manufs">Výrobce:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <v-select name="Manufs" v-model="selectedManuf" label="name" :options="manufs"></v-select>
                                    <span class="input-group-addon">
                                        <a href="#" v-on:click="addPositionsByManuf">
                                            <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                                <span v-if="addedByManuf == 0" class="text-danger">Nebyla nalezena žádná pozice</span>
                                <span v-if="addedByManuf > 0" class="text-success">Bylo nalezeno {{addedByManuf}} pozic</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="panel panel-default" style="padding: 10px; margin: 0px">
                                <div class="form-group" style="margin: 0px">
                                    <label class="control-label col-sm-2" for="Manufs1">Výrobce:</label>
                                    <div class="col-sm-4" style="padding: 0px 0px 0px 4px">
                                        <v-select name="Manufs1" v-model="selectedManufGR" label="name" :options="manufs"></v-select>
                                        <span v-if="addedByManufSec == 0" class="text-danger">Nebyla nalezena žádná pozice</span>
                                        <span v-if="addedByManufSec > 0" class="text-success">Bylo nalezeno {{addedByManufSec}} pozic</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="fa fa-plus"></span>
                                        <label class="control-label" for="Manufs1">Sekce:</label>
                                    </div>
                                    <div class="col-sm-4" style="padding: 0px">
                                        <v-select name="Manufs1" v-model="selectedSectionGR" label="name" :options="sections"></v-select>
                                    </div>

                                </div>
                            </div>
                            <span class="input-group-addon">
                                <a href="#" v-on:click="addPositionsByManufSec">
                                    <i class="fa fa-plus" title="Přidat" data-toggle="tooltip" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect);
    Vue.use(VeeValidate, { locale: 'cs' });
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                apiDataUrl: window.location.origin + '/api/Data',
                stotakDesc: null,
                positions: [],
                selectedPositions: [],
                selectedPosition: null,
                sections: [],
                selectedSection: null,
                positionsSections: null,
                selectedHouse: null,
                houses: [],
                selectedArticle: null,
                selectedManuf: null,
                manufs: [],
                positionsSettings: {
                    pageSize: 14,
                    commands: [{ commandType: cmDelete }, { commandType: cmCommon, commandId: "deleteAll", title: "Vymazat vše", cssClass: "fa fa-eraser", confirmRequired: true }],
                    showFilterRow: true,
                    pagerInColumn: true,
                    columns: [
                        { fieldName: "name", visible: true, caption: "Pozice", class: "col-lg-5 col-md-5 col-sm-5", dataType: tpString },
                        { fieldName: "posStatus", visible: true, caption: "Status", class: "col-lg-5 col-md-5 col-sm-5", dataType: tpString, allowHtmlFormating: true, },
                        { fieldName: "exclamation", visible: true, caption: "", class: "col-lg-1 col-md-1 col-sm-1", sortMode: smDescending, dataType: tpString, allowHtmlFormating: true, disallowFiltering: true}
                    ]
                },
                selectedManufGR: null,
                selectedSectionGR: null,

                //alerts
                addedBySection: null,
                addedByHouse: null,
                addedByArticle: null,
                addedByManuf: null,
                addedByManufSec: null,
                message1SignalR: null,
                message2SignalR: null,
            }
        },
        methods: {
            valueHtml: function (column, value, displayValue, row, listItem) {
                var html = '';
                if (column.fieldName == 'posStatus') {
                    if (row.status === 'POS_OK') {
                        html = '<span title="" class="label label-primary">' + displayValue + '</span>';
                    }
                    else if (row.status === 'POS_STOCTAKING') {
                        html = '<span title="" class="label label-info">' + displayValue + '</span>';
                    }
                    else if (row.status === 'POS_BLOCKED') {
                        html = '<span title="" class="label label-danger">' + displayValue + '</span>';
                    }
                    return html;
                }
                if (column.fieldName == 'exclamation') {
                    if (row.isError) {
                        html = '<i class="fas fa-exclamation-triangle" style="color:red;margin-left:.5em;" title="' + row.posStatus + '"></i>';
                    }
                    return html;
                }
            },
            cellStyle: function (column, row, style) {
                if (row.status === 'POS_STOCTAKING') {
                    style.color = "Red";
                }
                return style;
            },
            loadData: function () {
                document.getElementById("modal-dialog-save").disabled = true;
                $('#stotak_title').text("Nová inventura");

                this.resetForm();

                var getPosListModel = {
                    typeName: "S4.Entities.Position",
                    where: "posCateg = @@0",
                    args: [0]
                };
                this.loadList(getPosListModel, "positions", "positionID", "posCode", "house", "houseID", "posStatus", function () {
                    editApp.loadList({ typeName: "S4.Entities.Section" }, "sections", "sectID", "sectDesc", null, null, null, function () {
                        editApp.loadList({ typeName: "S4.Entities.HouseList" }, "houses", "houseID", "houseDesc", null, null, null, function () {
                            editApp.loadList({ typeName: "S4.Entities.Manufact" }, "manufs", "manufID", "manufName");
                        });
                    });
                });
            },

            resetForm: function () {
                this.stotakDesc = null;

                this.selectedPositions = [];
                this.selectedPosition = null;
                this.selectedSection = null;
                this.selectedHouse = null;
                this.selectedArticle = null;
                this.selectedManuf = null;
                this.selectedManufGR = null;
                this.selectedSectionGR = null;

                this.addedBySection = null;
                this.addedByHouse = null;
                this.addedByArticle = null;
                this.addedByManuf = null;
                this.addedByManufSec = null;

                this.$refs.selposGrid.clearFilter();
                this.positionsSettings.columns[0].filterList = null;

                this.errors.clear();
            },

            loadList: function (getListModel, destProperty, propValue, propName, addPropDest, addPropSource, addStatus, callAfter) {
                callAJAX(this.apiDataUrl, getListModel, function (data) {
                    editApp.$data[destProperty] = [];
                    var list = data.sort(function (a, b) {
                        var x = a[propName].toLowerCase();
                        var y = b[propName].toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var result = [];
                    list.forEach(function (item) {
                        var newItem = { name: item[propName], value: item[propValue] };
                        if (addPropDest) {
                            newItem[addPropDest] = item[addPropSource];
                        }
                        if (addStatus) {
                            var stoctaking = 'POS_STOCTAKING';
                            var blocked = 'POS_BLOCKED';
                            var isError = item[addStatus] === stoctaking ? true : false;

                            var errorMsg1;
                            if (item[addStatus] === stoctaking) {
                                errorMsg1 = 'V inventuře';
                            }
                            else if (item[addStatus] === blocked) {
                                errorMsg1 = 'Blokováno';
                            }
                            else {
                                errorMsg1 = 'OK';
                            }
                                                        
                            newItem[addStatus] = errorMsg1;
                            newItem['isError'] = isError;
                            newItem['status'] = item[addStatus];

                            if (isError)
                                newItem['exclamation'] = '<i class="fas fa-exclamation-triangle"></i>';
                            else
                                newItem['exclamation'] = '';
                        }
                        result.push(newItem);
                    });
                    editApp.$data[destProperty] = result;
                    if (callAfter)
                        callAfter();
                }, null, true);
            },

            addPosition: function () {
                if (!this.selectedPosition)
                    return;
                if (this.selectedPositions.filter(function (item) { return item.value == editApp.$data.selectedPosition.value; }).length == 0)
                    this.selectedPositions.push(this.selectedPosition);
            },

            addPositionsBySection: function () {
                if (!this.selectedSection)
                    return;
                var addPos = function () {
                    var positions = editApp.$data.positionsSections.filter(function (item) {
                        return item.sectID == editApp.$data.selectedSection.value;
                    });
                    editApp.addPositions(positions, "positionID", function (count) {
                        editApp.$data.addedBySection = count;
                    });
                };
                if (!this.positionsSections) {
                    callAJAX(this.apiDataUrl, { typeName: "S4.Entities.PositionSection" }, function (data) {
                        editApp.$data.positionsSections = data;
                        addPos();
                    }, null, true);
                } else {
                    addPos();
                }
            },

            addPositionsByHouse: function () {
                if (!this.selectedHouse)
                    return;
                var positions = this.positions.filter(function (item) {
                    return item.house == editApp.$data.selectedHouse.value;
                });
                this.addPositions(positions, "value", function (count) {
                    editApp.$data.addedByHouse = count;
                });
            },

            addPositions: function (positions, propName, setCount) {
                $('#modal_working').modal('show');
                $('#working_icon').addClass("fa-spin");
                setTimeout(function () {
                    editApp.addPositionsSync(positions, propName, setCount);
                    $('#modal_working').modal('hide');
                    $('#working_icon').removeClass("fa-spin");
                }, 0);
            },

            addPositionsSync: function (positions, propName, setCount) {
                var count = 0;
                var items = editApp.$data.selectedPositions.slice();
                positions.forEach(function (pos) {
                    var added = items.filter(function (selected) {
                        return selected.value == pos[propName];
                    });
                    if (added.length == 0) {
                        var position = editApp.$data.positions.filter(function (item) { return item.value == pos[propName]; })[0];
                        if (position) {
                            items.push(position);
                            count++;
                        }
                    }
                });
                editApp.$data.selectedPositions = items;
                if (setCount)
                    setCount(count);
            },

            addPositionsByArticle: function () {
                if (!this.selectedArticle)
                    return;
                callAJAX(window.location.origin + "/api/StockTaking/ArticlePositions/" + this.selectedArticle.value, null, function (data) {
                    editApp.addPositions(data, "positionID", function (count) {
                        editApp.$data.addedByArticle = count;
                    });
                }, null, true);
            },

            addPositionsByManuf: function () {
                if (!this.selectedManuf)
                    return;
                callAJAX(window.location.origin + "/api/StockTaking/ManufPositions/" + this.selectedManuf.value, null, function (data) {
                    editApp.addPositions(data, "positionID", function (count) {
                        editApp.$data.addedByManuf = count;
                    });
                }, null, true);
            },

            addPositionsByManufSec: function () {
                if (!this.selectedManufGR)
                    return;
                if (!this.selectedSectionGR)
                    return;

                var addPos = function () {
                    callAJAX(window.location.origin + "/api/StockTaking/ManufPositions/" + editApp.$data.selectedManufGR.value, null, function (data) {
                        var posLists = [];
                        var positions = editApp.$data.positionsSections.filter(function (item) {
                            return item.sectID == editApp.$data.selectedSectionGR.value;
                        });
                        posLists.push(positions);
                        posLists.push(data);
                        const intersectionBy = _.spread(_.intersectionBy);
                        //add identifier param
                        posLists.push('positionID');
                        var intersection = intersectionBy(posLists);
                        editApp.addPositions(intersection, "positionID", function (count) {
                            editApp.$data.addedByManufSec = count;
                        });
                    }, null, true);
                };

                if (!this.positionsSections) {
                    callAJAX(this.apiDataUrl, { typeName: "S4.Entities.PositionSection" }, function (data) {
                        editApp.$data.positionsSections = data;
                        addPos();
                    }, null, true);
                } else {
                    addPos();
                }
            },

            onCmdClicked: function (rows, command) {
                if (command.commandId == "deleteAll") {
                    this.selectedPositions = [];
                }
            },
            doSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var data = {
                            stotakDesc: editApp.$data.stotakDesc,
                            positionIDs: editApp.$data.selectedPositions.map(function (item) { return item.value; })
                        };
                        callAJAX(editApp.$data.dataList.settings.actionController + '/StockTakingBegin', data, function (data) {
                            //editApp.$data.dataList.refresh();
                            editApp.stotakDesc = null;
                            $('#stotak_detail').modal('hide');
                        }, null, false, false, null);
                    }
                });
            },
        },
        watch: {
            selectedPositions: function (val) {
                this.$refs.selposGrid.clearFilter();

                //enabled save
                var positions = editApp.$data.selectedPositions.map(function (item) { return item.isError; });
                if (positions.length === 0) {
                    document.getElementById("modal-dialog-save").disabled = true;
                    return;
                }

                for (i = 0; i < positions.length; i++) {
                    if (positions[i] === true) {
                        document.getElementById("modal-dialog-save").disabled = true;
                        return;
                    }
                }
                document.getElementById("modal-dialog-save").disabled = false;
            },
        }
    });

    validate = editApp.validate;
</script>
