﻿@{
    ViewData["Title"] = "Inventury";
}

<div id="app">
    <data_list v-bind:settings="settings"
               v-bind:items="items"
               v-bind:error="error"
               detailform="stotak_detail"
               editform="stotak_detail"
               detailtitle="stotak_title"
               v-on:getdata="getData"
               :valueHtml="valueHtml">
    </data_list>
</div>

<partial name="StotakDetail" />
<partial name="StotakItemEdit" />
<partial name="PositionDetail" />
<partial name="ArticleDetail" />
<partial name="LoadABRAStatusDialog" />
<partial name="../Article/ArtpackEdit" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="../HistoryParsers/HistoryParserColumn" />

@section scripts {

    <script>
        // init
        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    error: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/StockTaking', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                        app.$data.error = data.error;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'stotakStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else
                        return displayValue;
                }
            }
        });

        function afterStockTakingBegin(data) {
            console.log('Progress value: ' + data.progressValue + '; task ID: ' + data.taskID);
            if (data.progressValue === 100) {
                //refresh list
                app.getData(app.$data.settings);
            }
        }

        proceduresProgress.push(afterStockTakingBegin);

        window.onload = function (e) {
            app.getData(app.$data.settings);
        }

    </script>
}

