﻿<div class="modal fade" id="loadABRAStatus_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="loadABRAStatus-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Načíst stav z ABRY</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="selectedID" class="col-sm-2 control-label">Sklad</label>
                        <div class="col-sm-4">
                            <select v-model="selectedID" id="selectedID" class="form-control">
                                <option v-for="store in storeList" v-bind:value="store.id">{{ store.text }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectedManufactID" class="col-sm-2 control-label">Výrobce</label>
                        <div class="col-sm-4">
                            <select v-model="selectedManufactID" id="selectedManufactID" class="form-control">
                                <option v-for="manufact in manufacts" v-bind:value="manufact.id">{{ manufact.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectedID" class="col-sm-2 control-label">Vysledek</label>
                        <div class="col-sm-6">
                            <div class="form-control-static"><strong>{{ resultText }}</strong></div>
                        </div>
                    </div>
                    <div v-if="loadErrors" class="form-group">
                        <label class="col-sm-2 control-label">Chyby</label>
                        <div class="col-sm-10">
                            <div class="form-control-static"><pre>{{ loadErrors }}</pre></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var loadABRAStatus_dialog = new Vue({
        el: '#loadABRAStatus-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                storeList: [],
                selectedID: null,
                selectedManufactID: null,
                resultText: null,
                loadErrors: null,

                //manuf
                manufacts: []
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                callAJAX(window.location.origin + '/api/procedureshelpers/abrastores', {}, function (result) {
                    loadABRAStatus_dialog.$data.storeList = result;
                    loadABRAStatus_dialog.$data.selectedID = result[0].id;

                    loadABRAStatus_dialog.loadManufact();
                }, null, true);
            },
            loadManufact: function () {
                    callAJAX(window.location.origin + '/api/Data', { typeName: 'S4.Entities.Manufact', order: 'manufName' }, function (data) {
                        loadABRAStatus_dialog.$data.manufacts = [];
                        var manufacts = [{ name: "< Všichni >", id: '' }];
                        data.forEach(function (item) {
                            var newItem = { name: item.manufName, id: item.manufID };
                            manufacts.push(newItem);
                        });
                        loadABRAStatus_dialog.$data.selectedManufactID = manufacts[0].id;
                        loadABRAStatus_dialog.$data.manufacts = manufacts;
                    }, null, true);
             },
            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var params = {
                            stotakID: loadABRAStatus_dialog.$data.items[0].stotakID,
                            abraStoreID: loadABRAStatus_dialog.$data.selectedID,
                            manufID: loadABRAStatus_dialog.$data.selectedManufactID
                        };
                        callAJAX(window.location.origin + '/api/procedures/stocktakingloadabrastatus', params, function (res) {
                            //loadABRAStatus_dialog.dataList.refresh();
                            //loadABRAStatus_dialog.$data.resultText = "Hotovo";
                            //loadABRAStatus_dialog.$data.loadErrors = res.loadErrors;
                        }, null, true);
                    }
                });
            }
        }
    });
</script>
