﻿
<div class="modal fade" id="stotak_edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="stotak_title">Title</h3>
            </div>
            <div class="modal-body modal-body-over">
                <partial name="Edit" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary collapse" onclick="saveItem()">Uložit změny</button>
            </div>
        </div>
    </div>
</div>


<script>
    function saveItem() {
        editApp.doSave();
    };
</script>
