﻿
<div class="modal fade" id="stotak_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content modal-content-big">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="stotak_title">Title</h3>
            </div>
            <div id="detail_body" class="modal-body modal-body-over">
                <div class="collapse" id="edit-section">
                    <partial name="Edit" />
                </div>
                <div class="collapse" id="detail-section">
                    <partial name="Detail" />
                </div>
            </div>
            <div class="modal-footer modal-footer-big">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" id="modal-dialog-save" class="btn btn-primary collapse" onclick="saveItem()">Uložit změny</button>
            </div>
        </div>
    </div>
</div>


<script>
    function saveItem() {
        editApp.doSave();
    };
</script>
