﻿<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div class="modal fade" id="stotakitem_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px">
        <div id="stotakitemedit-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="detail_title">Položka inventury</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <p>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="stItemArticle">Karta:</label>
                            <div class="col-sm-8">
                                <input v-if="item.stotakItemID" class="form-control" v-model="articleDesc" readonly />
                                <seek_article_combo v-else name="stItemArticle" v-model="article" v-validate="'required'" data-vv-as="Karta" ></seek_article_combo>
                                <span class="text-danger">{{ errors.first('stItemArticle') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="position">Pozice:</label>
                            <div class="col-sm-4">
                                <input v-if="item.stotakItemID" class="form-control" v-model="item.posCode" readonly />
                                <v-select v-else name="position" v-model="position" label="name" :options="positions" v-validate="'required'" data-vv-as="Pozice"></v-select>
                                <span class="text-danger">{{ errors.first('position') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="quantity">Množství:</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="quantity" v-model="item.quantity" v-validate="{ required: true, decimal: true }" data-vv-as="Množství" />
                                <span class="text-danger">{{ errors.first('quantity') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="carriernum">Paleta:</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="carriernum" v-model="item.carrierNum" data-vv-as="Paleta" />
                                <span class="text-danger">{{ errors.first('carriernum') }}</span>
                            </div>
                        </div>
                        <div class="form-group" v-if="item.batchNum || (article != null && article.useBatch)">
                            <label class="control-label col-sm-3" for="batchnum">Šarže:</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="batchnum" v-model="item.batchNum" v-validate="{ required: true, regex: /^.{0,32}$/ }" data-vv-as="Šarže" />
                                <span class="text-danger">{{ errors.first('batchnum') }}</span>
                            </div>
                        </div>
                        <div class="form-group" v-if="item.expirationDesc || (article != null && article.useExpiration)">
                            <label class="control-label col-sm-3" for="expirationdate">Expirace:</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="expirationdate" v-model="item.expirationDesc" v-validate="{ required: true, regex: /((0[1-9])|([1-2][0-9])|(3[0-1]))[.]((0[1-9])|(1[0-2]))[.][0-9][0-9]$/ }" data-vv-as="Expirace" />
                                <span class="text-danger">{{ errors.first('expirationdate') }}</span>
                            </div>
                        </div>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="doSave()">Uložit změny</button>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var stotakItemEditApp = new Vue({
        el: '#stotakitemedit-app',
        data: function () {
            return {
                //edited item
                item: {},
                //
                position: null,
                article: null,
                articleDesc: null,
                positions: []
            }
        },
        methods: {
            loadData: function (item) {
                this.resetForm();
                this.item = item;
                if (this.positions.length == 0)
                    this.loadPositions();
                if (item.stotakItemID) {
                    var self = this;
                    callAJAX(window.location.origin + "/api/Article/GetWithSettings/" + this.item.articleID, null, function (data) {
                        self.article = data.data[0];
                    });
                    this.articleDesc = item.articleCode + " - " + item.articleDesc;
                }
            },
            resetForm: function () {
                this.positions = [];
                this.article = null;
                this.articleDesc = null;
                this.$validator.reset();
            },
            loadPositions: function () {
                callAJAX(window.location.origin + "/api/StockTaking/StotakPositions/" + this.item.stotakID, null, function (data) {
                    stotakItemEditApp.$data.positions = [];
                    var list = data.sort(function (a, b) {
                        var x = a["posCode"].toLowerCase();
                        var y = b["posCode"].toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var result = [];
                    list.forEach(function (item) {
                        var newItem = { name: item["posCode"], value: item["positionID"] };
                        result.push(newItem);
                    });
                    stotakItemEditApp.$data.positions = result;
                    if (result.length == 1) {
                        stotakItemEditApp.$data.position = result[0];
                    }
                }, null, true);
            },
            doSave: function () {
                var self = this;
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var procedure = self.item.stotakItemID ? "StockTakingChangeItem" : "StockTakingAddItem";
                        var model = {
                            stotakID: self.item.stotakID,
                            positionID: self.item.stotakItemID ? self.item.positionID : self.position.value,
                            artPackID: self.item.stotakItemID ? self.item.artPackID : self.article.artPackID,
                            carrierNum: self.item.carrierNum,
                            quantity: self.item.quantity,
                            batchNum: self.item.batchNum
                        };
                        if (self.item.stotakItemID)
                            model.stotakItemID = self.item.stotakItemID;
                        if (self.item.expirationDesc) {
                            model.expirationDate = expirationDescToDate(self.item.expirationDesc);
                        }
                        callAJAX(detailApp.$data.stotakItemSettings.actionController + '/' + procedure, model, function (data) {
                            $('#stotakitem_edit').modal('hide');
                            detailApp.getStotakItem();
                        }, null, true);
                    }
                });
            }
        }
    });
</script>
