﻿<div class="modal fade" id="article_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content modal-content-big">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="detail_article_title">Detail karty</h3>
            </div>
            <div id="detail_body" class="modal-body modal-body-over">
                <partial name="../Article/Detail" />
            </div>
            <div class="modal-footer modal-footer-big">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>