﻿<div class="modal fade" id="cancel_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="cancel-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Zrušení pohybu</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vybráno</label>
                        <div class="col-sm-4">
                            <div class="form-control-static">
                                <span v-for="doc in items" class="doc-marker" v-bind:title="'Položek: ' + doc.itemsCount">
                                    <i class="far fa-file-alt"></i><span class="doc-marker-info"> {{ doc.docNumPrefix }}<span class="doc-marker-sep">/</span>{{ doc.docNumber }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static">(celkem {{ selectedMovesCnt }})</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cancelReason" class="col-sm-2 control-label">Důvod</label>
                        <div class="col-sm-4">
                            <input v-model="cancelReason" v-validate="'required'" data-vv-as="Důvod" name="cancelReason" class="form-control" id="cancelReason" placeholder="...">
                            <div class="field-error">{{ errors.first('cancelReason') }}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var cancel_dialog = new Vue({
        el: '#cancel-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                selectedMovesCnt: 0,
                cancelReason: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.selectedMovesCnt = cancel_dialog.$data.items.length;
                this.cancelReason = null;
            },

            //custom
            save: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var paramsFunction = function (item) {
                            return {
                                stoMoveID: item.stoMoveID,
                                cancelReason: cancel_dialog.cancelReason
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/storemovecancel', cancel_dialog.items, paramsFunction, function () { cancel_dialog.dataList.refresh(); $('#cancel_dialog').modal('hide'); }, true);
                    }
                });
            }
        }
    });
</script>
