﻿<div class="modal fade" id="changeitem_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="changeitem-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Změna položky</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label"><i class="far fa-file-alt"></i></div>
                        <div class="col-sm-10">
                            <seek_article_combo id="stItemArticle" name="stItemArticle" v-model="selectedArticle" v-validate="'required'" data-vv-as="Karta"></seek_article_combo>
                            <span class="text-danger">{{ errors.first('stItemArticle') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="col-sm-2 control-label">Množství</label>
                        <div class="col-sm-2">
                            <input v-model="quantity" v-validate="{ required: true, decimal: true }" data-vv-as="Množství" name="quantity" class="form-control" id="quantity">
                            <div class="field-error">{{ errors.first('quantity') }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="carrierNum" class="col-sm-2 control-label">Paleta</label>
                        <div class="col-sm-4">
                            <input v-model="carrierNum" name="carrierNum" class="form-control" id="carrierNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="batchNum" class="col-sm-2 control-label">Šarže</label>
                        <div class="col-sm-4">
                            <input v-model="batchNum" name="batchNum" class="form-control" id="batchNum">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="expirationDesc" class="control-label col-sm-2">Expirace:</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="expirationDesc" v-model="expirationDesc" v-validate="{ regex: /((0[1-9])|([1-2][0-9])|(3[0-1]))[.]((0[1-9])|(1[0-2]))[.][0-9][0-9]$/ }" data-vv-as="Expirace" />
                            <span class="text-danger">{{ errors.first('expirationDesc') }}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var changeitem_dialog = new Vue({
        el: '#changeitem-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                item: {},
                quantity: null,
                carrierNum: null,
                selectedArticle: null,
                batchNum: null,
                expirationDesc: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.item = this.items[0];
                this.quantity = this.item.quantity;
                this.carrierNum = this.item.carrierNum;
                this.selectedArticle = {
                    name: this.item.articleCode + " - " + this.item.articleDesc,
                    articleCode: this.item.articleCode,
                    value: this.item.articleID,
                    artPackID: this.item.artPackID
                };
                this.batchNum = this.item.batchNum;
                this.expirationDesc = this.item.expirationDesc;
            },

            //custom
            save: function () {
                var self = this;
                this.$validator.validate().then(function (result) {
                    if (result) {
                        var param = {
                            stoMoveItemID: self.item.stoMoveItemID,
                            quantity: self.quantity,
                            carrierNum: self.carrierNum,
                            artPackID: self.selectedArticle ? self.selectedArticle.artPackID : null,
                            batchNum: self.batchNum,
                            expirationDate: self.expirationDesc ? expirationDescToDate(self.expirationDesc) : null
                        };
                        callAJAX(window.location.origin + '/api/procedures/storemoveitemchange', param, function () { self.dataList.refresh(); $('#directionItemChange_dialog').modal('hide'); }, true);
                    }
                });
            }
        }
    });
</script>
