﻿<div id="detail-move-app">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#move_doc">Doklad</a></li>
        <li><a data-toggle="tab" href="#move_items">Položky</a></li>
        <li><a data-toggle="tab" href="#move-history">Historie</a></li>
    </ul>

    <div class="tab-content detail-form-content">
        <div id="move_doc" class="tab-pane fade in active">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-3">ID:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.stoMoveID" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Stav:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="statusLabel" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Doklad:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.docNumPrefix" readonly="readonly" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.docNumber" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Typ dokladu:</label>
                    <div class="col-sm-4">
                        <input class="form-control" v-model="item.docTypeDesc" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Nadřízený doklad:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.parentDoc" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Poznámka:</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" v-model="item.docRemark" readonly="readonly"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Zadáno:</label>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="entryDateTime" readonly="readonly" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" v-model="item.entryUserID" readonly="readonly" />
                    </div>
                </div>
            </form>
        </div>
        <div id="move_items" class="tab-pane fade">
            <data_list 
                       v-bind:settings="movSettings" 
                       v-bind:items="movItems" 
                       v-bind:error="movError"
                       v-bind:cmdenabled="cmdEnabled"
                       v-on:getdata="getMovData" 
                       v-on:cmdclicked="onMoveCmdClicked" 
                       :valueHtml="valueHtml">
            </data_list>
        </div>
        <div id="move-history" class="tab-pane fade">
            <data_list v-bind:settings="historySettings" v-bind:items="moveHistory" v-bind:error="historyError" v-on:getdata="getHistory" ref="historyGrid" :valueHtml="valueHtml"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSizeDetail = getDialogAutoSize(0.85, 450);
    Vue.component('v-select', VueSelect.VueSelect);
    var detailMoveApp = new Vue({
        el: '#detail-move-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                //
                statusLabel: null,
                //moves
                movSettings: { pageSize: pageSizeDetail },
                movItems: null,
                movError: null,

                //tab history
                historySettings: null,
                moveHistory: null,
                historyError: null
            }
        },
        methods: {
            loadData: function () {
                $('#move_detail_title').html('<div class="edit-header-bold">' + (this.item.onSummary ? '<i class="fas fa-lock"></i>&nbsp;' : '') + this.item.docNumPrefix + '<span class="docInfoSeparator">/</span>' + this.item.docNumber + '</div><div class="edit-header">' + this.item.docTypeDesc + '</div>');

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    detailMoveApp.selectedPageChanged(target);
                });
                $('.nav-tabs a[href="#move_doc"]').tab('show');

                this.statusLabel = this.columns.filter(function (item) {
                    return item.fieldName == 'docStatus'
                })[0].valuesList.filter(function (item) {
                    return item.code == detailMoveApp.$data.item.docStatus;
                })[0].name;                

                this.resetHistory();
                this.resetMoves();
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'docStatus' || column.fieldName == 'eventCode') {
                    return formatStatusField(displayValue, listItem, row.itemValidity == 255, row.itemValidity == 0);
                } else if (column.fieldName == 'expirationDesc') {
                    return formatExpiration(displayValue);
                } else
                    return displayValue;
            },
            cmdEnabled: function (item, command) {
                return command.commandType !== cmAction || !item.isInSummary;
            },
            selectedPageChanged: function (page) {
                switch (page) {
                    case "#move_items":
                        if (this.movSettings == null) {
                            this.movSettings = {
                                pageSize: pageSizeDetail,
                                stoMoveID: this.item.stoMoveID, commands: [
                                    {
                                        commandType: cmMenu,
                                        rowSelection: false
                                    }
                                ] };
                            this.getMovData(this.movSettings);
                        }
                        break;
                    case "#move-history":
                        if (this.historySettings == null) {
                            this.historySettings = { stoMoveID: this.item.stoMoveID, pageSize: pageSizeDetail };
                            this.getHistory();
                        }
                        break;
                }
            },
            //moves
            getMovData: function (settings) {
                settings.pageSize = pageSizeDetail;
                callAJAX(window.location.origin + '/api/StoreMoveItem', settings, function (data) {
                    detailMoveApp.$data.movSettings = data.settings;
                    detailMoveApp.$data.movItems = data.data;
                    detailMoveApp.$data.movError = data.error;
                }, null, true);
            },
            resetMoves: function () {
                this.movItems = [];
                this.movSettings = null;
            },
            onMoveCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    switch (command.commandId) {
                        case "position_detail":
                            callAJAX(window.location.origin + "/api/Position/GetWithSettings/" + rows[0].positionID, null, function (data) {
                                detailPositionApp.$data.apiUrl = detailMoveApp.$data.apiUrl;
                                detailPositionApp.$data.columns = data.settings.columns;
                                detailPositionApp.$data.item = data.data[0];
                                detailPositionApp.loadData();
                                $('#position_detail').modal('show');
                            }, null, true);
                            break;
                        case "article_detail":
                            callAJAX(window.location.origin + "/api/Article/GetWithSettings/" + rows[0].articleID, null, function (data) {
                                detailArticleApp.$data.apiUrl = detailMoveApp.$data.apiUrl;
                                detailArticleApp.$data.columns = data.settings.columns;
                                detailArticleApp.$data.item = data.data[0];
                                detailArticleApp.loadData();
                                $('#article_detail').modal('show');
                            }, null, true);
                            break;
                    }
                }
            },
            //history
            resetHistory: function () {
                this.moveHistory = [];
                this.historySettings = null;
            },
            getHistory: function () {
                callAJAX(window.location.origin + '/api/StoreMoveHistory', this.historySettings, function (data) {
                    detailMoveApp.$data.historySettings = data.settings;
                    detailMoveApp.$data.moveHistory = data.data;
                    detailMoveApp.$data.historyError = data.error;
                }, null, true);
            }
        },
        computed: {
            entryDateTime: function () {
                if (this.item == null || this.columns == null)
                    return null;
                return valueToString2(this.item.entryDateTime, "entryDateTime", this.columns);
            }
        }
    });
</script>
