﻿
@{
    ViewData["Title"] = "Detail dokladu";
    Layout = "~/Views/Shared/_standAloneLayout.cshtml";
}

<partial name="PositionDetail" />
<partial name="ArticleDetail" />
<partial name="../Article/ArtpackEdit" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="ChangeItemDialog" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="Detail" />

<script>
    // init
    var detailApp = detailMoveApp;

    var stoMoveID = @Model;
    var apiURL = window.location.origin + '/api/StoreMove';
    callAJAX(apiURL + '/GetWithSettings/' + stoMoveID, null, function (data) {
            console.log(data.data);
            detailMoveApp.$data.item = data.data[0];
            detailMoveApp.$data.apiURL = apiURL;
            detailMoveApp.$data.columns = data.settings.columns;
            detailMoveApp.loadData();
        });
</script>