﻿@{
    ViewData["Title"] = "Pohyby";
}

@section NavBarLeft{
    <ul class="nav navbar-nav">
        <li><a class="navbar-header">@ViewData["Title"]</a></li>
    </ul>
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" v-bind:error="error" v-on:getdata="getData" :valueHtml="valueHtml" :cmdEnabled="cmdEnabled"></data_list>
</div>

<partial name="MoveDetailModal" />
<partial name="PositionDetail" />
<partial name="ArticleDetail" />
<partial name="../Article/ArtpackEdit" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="CancelDialog" />
<partial name="PrintDialog" />
<partial name="SetStatusDialog" />
<partial name="ChangeItemDialog" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="../HistoryParsers/HistoryParserColumn" />

@section scripts {

    <script>
        // init
        var detailApp = detailMoveApp;

        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    error: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/StoreMove', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                        app.$data.error = data.error;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'docStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else
                        return displayValue;
                },
                cmdEnabled: function (item, command) {
                    return command.commandType == cmDetail || command.commandType == cmMenu || command.action == 'print_dialog' || !item.onSummary;
                }
            }
        });

        window.onload = function (e) {
            app.getData(app.$data.settings);
        }


    </script>
}

