﻿
<div id="detail-app">
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <label class="control-label col-sm-3">ID:</label>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.bookingID" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Stav:</label>
                        <div class="col-sm-2" style="padding-top: 5px;">
                            <span style="font-size:1.1em;" class="label" v-bind:class="{ 'label label-info': bookingStatus=='Platná', 'label label-warning': bookingStatus=='Použito', 'label label-danger': bookingStatus=='Zrušená' }">{{bookingStatus}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Partner:</label>
                        <div class="col-sm-6">
                            <input class="form-control" v-model="item.partnerName" readonly="readonly" />
                        </div>
                        <div class="col-sm-2" style="font-style:italic;margin-top:.5em;">
                            Id:
                            <span>{{ item.partnerID }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Adresa:</label>
                        <div class="col-sm-6">
                            <input class="form-control" v-model="item.addrInfo2" readonly="readonly" />
                        </div>
                        <div class="col-sm-2" style="font-style:italic;margin-top:.5em;">
                            Id:
                            <span>{{ item.partAddrID }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Kód karty:</label>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.articleCode" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Název karty:</label>
                        <div class="col-sm-6">
                            <input class="form-control" v-model="item.articleDesc" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Šarže:</label>
                        <div class="col-sm-3">
                            <input class="form-control" v-model="item.batchNum" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Expirace:</label>
                        <div class="col-sm-3">
                            <input class="form-control" v-model="item.expirationDate" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Množství:</label>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.requiredQuantity" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Konec platnosti:</label>
                        <div class="col-sm-2">
                            <span v-if="!red" class="form-control" readonly="readonly">{{this.getMsgDateTime(item.bookingTimeout)}}</span>
                            <span v-else style='color: red;font-size: 14px;' class="form-control" readonly="readonly">{{this.getMsgDateTime(item.bookingTimeout)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Použito v dokladu:</label>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.docInfo" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Vytvořeno:</label>
                        <div class="col-sm-2">
                            <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.entryDateTime)}}</span>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label col-sm-3">Vytvořil:</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.entryUserName" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Smazáno:</label>
                        <div class="col-sm-2">
                            <span class="form-control" readonly="readonly">{{this.getMsgDateTime(item.deletedDateTime)}}</span>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label col-sm-3">Smazal:</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" v-model="item.deletedByEntryUserName" readonly="readonly" />
                        </div>
                    </div>
                </p>
            </form>
        </div>
    </div>

</div>

<script>
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                items: null,
                bookingSettings: {},
                message: null,
                bookingStatus: null,
                red: false
            }
        },
        methods: {
            getStatus: function () {
                if (this.item.bookingStatus === 'VALID')
                    detailApp.bookingStatus = 'Platná';
                else if (this.item.bookingStatus === 'USED')
                    detailApp.bookingStatus = 'Použito';
                else if (this.item.bookingStatus === 'DELETED')
                    detailApp.bookingStatus = 'Zrušená';
                else
                    detailApp.bookingStatus = '???';

            },
            openDir: function (directionID) {
                const url = window.location.origin + '/direction/dirdetail?directionID=' + directionID;
                window.open(url, '_blank', 'menubar=no,left=50,top=50,width=1200,height=800');
            },
            getMsgDateTime: function (date) {
                if (date === undefined || date == '' || date === '0001-01-01T00:00:00') {
                    return '';
                }
                else {
                    return moment(date).utc().format('D.M.YYYY HH:mm:ss')
                }
            },
            loadData: function () {
                detailApp.bookingSettings.BookingID = this.item.bookingID;
                detailApp.getData(this.bookingSettings);
                detailApp.getStatus();

                //red bookingTimeout?
                const now = Date.now();
                var dtValue = Date.parse(this.item.bookingTimeout);
                if (now > dtValue && this.item.bookingStatus != 'DELETED')
                    detailApp.red = true;
                else
                    detailApp.red = false;

            },
            getData: function (settings) {
                callAJAX(window.location.origin + '/api/booking', settings, function (data) {
                    detailApp.$data.bookingSettings = data.settings;
                    detailApp.$data.items = data.data;

                }, null, true);
            },
        }
    });

</script>
