﻿<style>
    .table-wrapper {
        max-height: 200px;
        overflow: auto;
        display: inline-block;
    }
</style>

<div id="edit-app">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="selectedAddress">Provozovna:</label>
            <div class="col-md-6">
                <seek_partner_address_combo v-model="selectedAddress" name="address"></seek_partner_address_combo>
            </div>
            <div class="col-sm-2">
                <span class="text-danger" style="margin-top:5px;">{{ errorAddress }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="selectedArticle">Karta:</label>
            <div class="col-sm-6">
                <seek_article_combo v-model="selectedArticle" name="articles" v-on:articleselected="articleSelected"></seek_article_combo>
            </div>
            <div class="col-sm-2">
                <span class="text-danger" style="margin-top:5px;">{{ errorArticle }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="requiredQuantity">Šarže:</label>
            <div v-if="lots.length > 0" class="col-sm-5">
                <table style="width:100%" class="table table-bordered table-wrapper">
                    <thead>
                        <tr>
                            <th style="width: 35%;">Šarže</th>
                            <th style="width: 35%;" class="text-left">Expirace</th>
                            <th style="width: 20%;" class="text-right">Množství</th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tr v-for="lot in lots">
                        <td class="col-md-6">{{ lot.batchNum }}</td>
                        <td class="col-md-3 text-left">{{ getMsgDateTime(lot.expirationDate) }}</td>
                        <td class="col-md-2 text-right">{{ lot.quantity }}</td>
                        <td class="col-md-1 text-center"><input type="checkbox" v-model="lot.checked" @@change="selectRow(lot)" style="margin-left:.5em;" title="Vybrat šarži"></td>
                    </tr>
                </table>
            </div>
            <div v-else class="col-sm-5">
                <span style="margin-top: 5px;">{{articleNoLotsMsg}}</span>
            </div>
            <div class="col-sm-2">
                <span class="text-danger" style="margin-top:5px;">{{ errorBatchNum }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="requiredQuantity">Množství:</label>
            <div class="col-sm-2">
                <input class="form-control" v-model="requiredQuantity" />
            </div>
            <div class="col-sm-5">
                <span class="text-danger" style="margin-top:5px;">{{ errorQuantity }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="bookingTimeout">Konec platnosti:</label>
            <div class="col-sm-2">
                <date-input placeholder-text="Datum konce platnosti" :value="bookingTimeout" readonly="readonly" />
            </div>
            <div class="col-sm-4">
                <span class="text-danger" style="margin-top:5px;">{{ errorBookingTimeout }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div v-if="errorMsg != null" class="alert alert-danger col-sm-8">
                {{errorMsg}}
            </div>
        </div>
    </form>
</div>

<script>
    Vue.component('date-input', {
        props: ["value", "isDisabled", "placeholderText"],
        template: '<div v-bind:class="{ \'has-error\': isNotValid }" ><input type="datetime" v-model="displayValue" :disabled="isDisabled" @@blur="focusLost" @@focus="isInputActive = true" class="form-control input-date input-report" :placeholder="placeholderText" /></div>',
        data: function () {
            return {
                format: 'D.M.YYYY',
                textValue: '',
                isInputActive: false,
                isEmpty: true,
                isNotValid: false
            }
        },
        computed: {
            displayValue: {
                get: function () {
                    if (this.isInputActive || this.isNotValid) {
                        // Cursor is inside the input field. unformat display value for user
                        var val = this.textValue == 'Invalid date' ? '' : this.textValue;
                        return val;
                    } else {
                        // User is not modifying now. Format display value for user interface
                        return moment(this.value).isValid() ? moment(this.value).format(this.format) : null;
                    }
                },
                set: function (modifiedValue) {
                    this.textValue = modifiedValue;
                    var newValue = moment(modifiedValue, "D.M.YYYY");
                    if (!newValue.isValid()) {
                        newValue = null;
                        this.isNotValid = true;
                    } else {
                        this.isNotValid = false;
                    }
                    // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                    // $emit the event so that parent component gets it
                    this.$emit('input', newValue);
                    this.$emit('changed', this);
                }
            }
        },
        watch: {
            value: function (newVal, oldVal) { // watch it
                if (!this.isInputActive)
                    this.textValue = moment(newVal).format(this.format);
            }
        },
        methods: {
            focusLost: function () {
                this.isInputActive = false;
                if (moment(this.value).isValid())
                    this.textValue = moment(this.value).format(this.format);
            }
        }
    });

    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                selectedAddress: null,
                selectedArticle: null,
                articleNoLotsMsg: "Pro výběr šarží vyberte kartu",
                requiredQuantity: 0,
                bookingTimeout: null,
                lots: [],
                selectedLot: null,
                errorAddress: null,
                errorArticle: null,
                errorBatchNum: null,
                errorQuantity: null,
                errorBookingTimeout: null,
                errorMsg: null,
            }
        },
        methods: {
            loadData: function () {
                $("#detail_title").html('Nová rezervace');
                this.selectedAddress = null;
                this.selectedArticle = null;
                this.selectedLot = null;
                this.articleNoLotsMsg = "Pro výběr šarží vyberte kartu";
                this.lots = [];
                this.bookingTimeout = null;
                this.requiredQuantity = null;
                this.resetErrorMsg();
                this.errorMsg = null;
            },
            resetErrorMsg: function () {
                this.errorAddress = null;
                this.errorArticle = null;
                this.errorBatchNum = null;
                this.errorQuantity = null;
                this.errorBookingTimeout = null;
            },
            doSave: function () {

                this.resetErrorMsg();
                var error = false;
                this.errorMsg = null;

                if (!this.selectedAddress || this.selectedAddress.partnerID == 0) {
                    this.errorAddress = "Provozovna musí být vyplněna!";
                    error = true;
                }

                if (!this.selectedArticle || this.selectedArticle.articleID == 0) {
                    this.errorArticle = "Karta musí být vyplněna!";
                    error = true;
                }

                if (!this.selectedLot || this.selectedLot.stoMoveLotID == 0) {
                    this.errorBatchNum = "Šarže musí být vybrána!";
                    error = true;
                }

                if (!this.requiredQuantity || this.requiredQuantity == 0) {
                    this.errorQuantity = "Množství musí být vyplněno.";
                    error = true;
                }

                if ((this.selectedLot && this.requiredQuantity > this.selectedLot.quantity)) {
                    this.errorQuantity = "Množství musí být menší nebo rovno než množství ze šarže.";
                    error = true;
                }

                if (!this.bookingTimeout) {
                    this.errorBookingTimeout = "Konec platnosti musí být vyplněn!";
                    error = true;
                }

                if (this.bookingTimeout) {
                    var now = moment(Date.now());
                    if (now > this.bookingTimeout) {
                        this.errorBookingTimeout = "Konec platnosti musí být větší nebo roven " + moment(Date.now()).utc().format('DD.MM.YYYY') + "!";
                        error = true;
                    }
                }

                if (error) {
                    this.errorMsg = "Rezervace nemohla být uložena!";
                    return;
                }

                var model = { 
                    StoMoveLotID: this.selectedLot.stoMoveLotID, 
                    PartAddrID: this.selectedAddress.partAddrID,
                    PartnerID: this.selectedAddress.partnerID,
                    RequiredQuantity: this.requiredQuantity, 
                    BookingTimeout: moment(this.bookingTimeout)
                };
                callAJAX(window.location.origin + '/api/procedures/bookingadditem', model, function (data) {

                    if (!data.success) {
                        editApp.errorMsg = "Chyba při pokusu uložit rezervaci! " + data.errorText;
                        return;
                    }

                    $('#modal_detail').modal('hide');
                    showInfo('Byla vytvořena nová rezervace');                    
                    app.getData(app.$data.settings);
                }, null, true, true);

            },
            getData: function (settings) {
                if (!this.selectedArticle)
                    return;

                const model = { ArtPackID: this.selectedArticle.artPackID };
                if (this.selectedArticle != undefined && this.selectedArticle.artPackID > 0) {
                    callAJAX(window.location.origin + '/api/procedures/bookinglistavailablelots', model, function (data) {

                        if (!data.success) {
                            editApp.errorMsg = "Chyba při pokusu načíst šarže! " + data.errorText;
                            return;
                        }

                        if (data.storeMoveLots.length < 1)
                            editApp.articleNoLotsMsg = "Kartu nemá žádnou vhodnou šarží pro rezervaci";
                        else
                            editApp.articleNoLotsMsg = "Pro výběr šarží vyberte kartu";

                        for (var i = 0; i < data.storeMoveLots.length; i++) {
                            data.storeMoveLots[i].checked = false;
                            data.storeMoveLots[i].batchNum = data.storeMoveLots[i]._batchNum;
                            data.storeMoveLots[i].expirationDate = data.storeMoveLots[i]._expirationDate;
                        }

                        editApp.lots = data.storeMoveLots;

                    }, null, true, true);
                }
            },
            articleSelected: function (data) {
                this.selectedArticle = data;
                this.lots = [];
                this.getData();
            },
            selectRow: function (item) {
                this.selectedLot = null;
                for (var i = 0; i < this.lots.length; i++) {
                    if (this.lots[i].stoMoveLotID != item.stoMoveLotID) {
                        this.lots[i].checked = false;
                    }
                }

                if (item.checked) {
                    this.selectedLot = item;
                    this.requiredQuantity = this.selectedLot.quantity;
                    this.bookingTimeout = this.selectedLot.expirationDate;
                }
            },
            getMsgDateTime: function (date) {
                if (date === undefined || date == '' || date === '0001-01-01T00:00:00') {
                    return '';
                }
                else {
                    return moment(date).utc().format('D.M.YYYY')
                }
            },
        }
    });

    validate = this.validate;



</script>