﻿@{
    ViewData["Title"] = "Rezervace";
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" v-on:getdata="getData" :valueHtml="valueHtml" :cellStyle="cellStyle" v-on:cmdclicked="cmdClicked"></data_list>
</div>

<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />


@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        // init
        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmMenu
                },
                {
                    commandType: cmInsert
                },
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/booking', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'bookingTimeout') {
                        const now = Date.now();
                        var dtValue = Date.parse(value);

                        if (now > dtValue && row.bookingStatus != 'DELETED') {
                            return "<b style='color: red;font-size: 14px;'>" + displayValue + "</b>";
                        }
                        else {
                            return displayValue;
                        }
                    }
                    else if (column.fieldName == 'bookingStatus') {
                        if (value === 'VALID') {
                            listItem.color = 'Blue';
                        }
                        else if (value === 'USED') {
                            listItem.color = 'Orange';
                        }
                        else if (value === 'DELETED') {
                            listItem.color = 'Red';
                        }
                        return formatStatusField(displayValue, listItem);
                    }
                    else
                        return displayValue;
                },
                cellStyle: function (column, row, style) {
                    //if (column.fieldName == 'docNumber')
                    //    style.textAlign = 'left';
                    return style;
                },
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

