﻿<script src="~/lib/xmlviewer/js/simpleXML.js"></script>
<link rel="stylesheet" href="~/lib/xmlviewer/css/simpleXML.css" />

<script src="~/lib/jsonviewer/json-viewer.js"></script>
<link rel="stylesheet" href="~/lib/jsonviewer/json-viewer.css" />

<style>
    .xml-body {
        height: 300px;
        overflow-y: scroll;
    }
</style>

<div id="detail-app">

    <form class="form-horizontal">
        <p>
            <div class="form-group">
                <label class="control-label col-sm-3">ID:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.intMessID" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Typ:</label>
                <div class="col-sm-4" style="padding-top: 7px;">
                    <div class="label label-info" style="font-size: 13px;">
                        {{getStatus(item.msgClass)}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Důležitost:</label>
                <div class="col-sm-4" style="padding-top: 7px;">
                    <div v-bind:class="{ 'label label-success': item.msgSeverity == 'Low', 'label label-info': item.msgSeverity == 'High', 'label label-warning': item.msgSeverity == 'Error' }" style="font-size: 13px;">
                        {{item.msgSeverity}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Datum:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="msgDateTime" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Hlavička:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" readonly="readonly" v-model="item.msgHeader"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Uživatel:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.msgUserID" readonly="readonly" />
                </div>
            </div>
            <div v-show="showText == true" class="form-group">
                <label class="control-label col-sm-3">Text:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="10" readonly="readonly" v-model="item.msgText"></textarea>
                </div>
            </div>
            <div v-show="showXML == true" class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">XML:</label>
                    <div class="xml-body" style="padding-top: 5px;" id="dynamicXML-output"></div>
                </div>
            </div>
            <div v-show="showJSON" class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">JSON:</label>
                    <div style="padding-top: 5px;" id="dynamicJSON-output"></div>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                internMessagesSettings: {},
                items: null,
                showText: false,
                showJSON: false,
                showXML: false,
                statuses: []
            }
        },
        computed: {
            msgDateTime: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "msgDateTime"; })[0];
                    return valueToString(this.item.msgDateTime, column);
                }
            }
        },
        methods: {
            loadData: function () {
                detailApp.internMessagesSettings.IntMessID = this.item.intMessID;
                detailApp.getData(this.internMessagesSettings);
            },
            getData: function (settings) {
                detailApp.getStatuses();
                callAJAX(window.location.origin + '/api/internmessages', settings, function (data) {
                    detailApp.$data.internMessagesSettings = data.settings;
                    detailApp.$data.items = data.data;

                    //xml, json
                    detailApp.showDataXML(detailApp.$data.items[0].msgText);
                    detailApp.showDataJSON(detailApp.$data.items[0].msgText);

                    if (detailApp.showXML === false && detailApp.showJSON === false) {
                        detailApp.showText = true;
                    }
                    else {
                        detailApp.showText = false;
                    }

                }, null, true);
            },
            getStatuses: function () {
                callAJAX(window.location.origin + '/api/internmessages/getstatuses', {}, function (data) {
                    detailApp.statuses = data;
                }, null, true, true);
            },
            showDataXML: function (xml) {
                try {
                    detailApp.showXML = true;
                    $("#dynamicXML-output").empty();
                    $("#dynamicXML-output").simpleXML({ xmlString: xml });
                } catch (ex) {
                    detailApp.showXML = false;
                }
            },
            showDataJSON: function (json) {
                try {
                    detailApp.showJSON = true;
                    $("#dynamicJSON-output").empty();
                    var jsonViewer = new JSONViewer();
                    document.querySelector("#dynamicJSON-output").appendChild(jsonViewer.getContainer());
                    jsonViewer.showJSON(JSON.parse(json), -1, 1);
                } catch (ex) {
                    detailApp.showJSON = false;
                }
            },
            getStatus(status) {
                if (status === undefined)
                    return "";

                for (var i = 0; i < detailApp.statuses.length; i++) {
                    if (status === detailApp.statuses[i].code) {
                        return detailApp.statuses[i].name;
                    }
                }

                return status;
            }
        }
    });
</script>