﻿@{
    ViewData["Title"] = "Interní zprávy";
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items"
               v-on:getdata="getData" 
               :valueHtml="valueHtml"></data_list>
</div>

<partial name="../DataList/DataList" />
<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {

    <script>
        // init
        var settings = {
            pageSize: getPageAutoSize(),
            serverSide: true
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/internmessages', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            app.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'msgClass') {
                        return formatStatusField(displayValue, listItem);
                    }
                    else if (column.fieldName == 'msgSeverity'){
                        if (value == 'Low') {
                            listItem.color = 'Green';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'High') {
                            listItem.color = 'Blue';
                            return formatStatusField(displayValue, listItem);
                        }
                        else if (value == 'Error') {
                            listItem.color = 'Red';
                            return formatStatusField(displayValue, listItem);
                        }
                        else
                            return '';
                    }
                    else
                        return displayValue;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

