﻿@{
    ViewData["Title"] = "Manifest pro spediční služby";
}

<partial name="DirectionDetail" />
<partial name="ArticleDetail" />
<partial name="PositionDetail" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../VueColumns/StatusProgressbarColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="PrintManifestDialog" />

<div id="app" v-cloak>
    <div v-if="newRequestCreated" class="alert alert-success" role="alert">
        Požadavek na vytvoření manifestu byl odeslán ke zpracování
    </div>
    <button v-if="!inNewManifest" type="button" class="btn btn-primary" @@click="showNewManifest">Nový manifest</button>
    <div id="newManifest" class="collapse">
        <div class="form-horizontal well well-sm">
            <b>Nový manifest:</b>
            <div class="form-group">
                <label class="control-label col-sm-2" for="provider">Dopravce:</label>
                <div class="col-sm-4">
                    <select v-model="provider" class="form-control" id="provider" name="provider">
                        <option v-for="provider in providers" v-bind:value="provider.item1">{{provider.item2}}</option>
                    </select>
                </div>
                <button v-if="showButton" type="button" class="btn btn-primary" @@click="createManifest">Vytvořit manifest z položek v tabulce</button>
            </div>
            <data_list v-bind:settings="newManifestSettings"
                       v-bind:items="newManifestItems"
                       v-on:getdata="getNewManifestData"
                       detailForm="direction_detail">
            </data_list>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @@click="closeNewManifest">Zavřít</button>
            </div>
        </div>
    </div>
    <div id="manifestList" class="collapse in">
        <data_list v-bind:settings="settings"
                   v-bind:items="items"
                   v-on:getdata="getData"
                   :valueHtml="valueHtml">
        </data_list>
    </div>
</div>

    <script>
        var detailApp = detailDirectionApp;

        var pageSize = Math.round(getPageAutoSize() / 2);

        // init
        var settings = {
            serverSide: true,
            pageSize: pageSize,
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        //new manifest
        var newManifestSettings = {
            serverSide: false,
            pageSize: pageSize,
            commands: [
                {
                    commandType: cmDelete
                }
            ]
        };

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    //
                    providers: [],
                    provider: null,
                    // new manifest
                    newManifestSettings: newManifestSettings,
                    newManifestItems: null,
                    newRequestCreated: false,
                    inNewManifest: false
                }
            },
            methods: {
                getData: function (settings) {
                    if (this.providers.length === 0) {
                        callAJAX(window.location.origin + '/api/procedures/GetDeliveryProviders', {}, function (data) {
                            app.$data.providers = data.providers;
                        }, null, true);
                    };
                    callAJAX(window.location.origin + '/api/DeliveryManifest', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'manifestStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else
                        return displayValue;
                },
                getNewManifestData: function (settings) {
                    callAJAX(window.location.origin + '/api/DirectionsForManifest', settings, function (data) {
                        app.$data.newManifestSettings = data.settings;
                        app.$data.newManifestItems = data.data;
                    }, null, true);
                },
                createManifest: function () {
                    var self = this;
                    var directionIDs = [];
                    this.newManifestItems.forEach(function (row) {
                        directionIDs.push(row.directionID);
                    });
                    callAJAX(window.location.origin + '/api/procedures/ManifestRequest', { directionIDs: directionIDs, deliveryProvider: this.provider }, function (data) {
                        self.newRequestCreated = true;
                        self.getData(self.settings);
                        self.closeNewManifest();
                    }, null, true);
                },
                showNewManifest: function () {
                    $('#newManifest').collapse('toggle');
                    $('#manifestList').collapse('toggle');
                    this.provider = null;
                    this.newManifestItems = [];
                    this.newRequestCreated = false;
                    this.inNewManifest = true;
                },
                closeNewManifest: function () {
                    $('#newManifest').collapse('toggle');
                    $('#manifestList').collapse('toggle');
                    this.inNewManifest = false;
                }
            },
            watch: {
                provider: function () {
                    this.newManifestSettings.deliveryProvider = this.provider;
                    this.getNewManifestData(this.newManifestSettings);
                    this.newRequestCreated = false;
                }
            },
            computed: {
                showButton: function () {
                    if (!this.newManifestItems)
                        return false;
                    return this.newManifestItems.length > 0;
                }
            }
        });

        window.onload = function (e) {
            app.getData(app.$data.settings);
        }
    </script>
