﻿@{
    ViewData["Title"] = "Seznam balíků spediční služby";
}

<partial name="DirectionDetail" />
<partial name="ArticleDetail" />
<partial name="PositionDetail" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../VueColumns/StatusProgressbarColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

<script src="~/Scripts/utils/print.min.js"></script>

<div id="app" v-cloak>
    <div class="row">
        <div class="row data-list-filter">
            <form class="form-inline">
                <div class="form-group">
                    <div class="col-lg-3" style="padding-top: 7px;">
                        <label for="filter" class="control-label pull-right">Zobrazit:</label>
                    </div>
                    <div class="col-sm-6">
                        <v-select style="width: 170px;" v-model="deliveryProvider" :options="deliveryProvidersFilter" value="item1" label="item2" :clearable="false" placeholder="Vše">
                        </v-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3" style="padding-top: 7px;">
                        <label for="date" class="control-label">Datum:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" v-model="date" @@input="changeDateInput" name="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4" style="padding-top: 7px;">
                        <label for="filter" class="control-label pull-right">Tiskárna:</label>
                    </div>
                    <div class="col-sm-6">
                        <span v-if="loadOFF === false">Moment hledám vhodné tiskárny.....</span>
                        <v-select v-if="loadOFF" style="width: 250px;" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerLocationDesc">
                        </v-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button :disabled="printBtnDisabled" @@click="print" type="button" title="Vytiskne seznam balíků" class="btn btn-primary" style="margin-left: 30px;">
                            <i class="fas fa-print"></i>&nbsp;Tisk
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <data_list v-bind:settings="settings"
                   v-bind:items="items"
                   v-on:getdata="getData">
        </data_list>
    </div>
</div>

<script>

    // init
    var settings = {
        serverSide: true,
        pageSize: getPageAutoSize(),
        commands: []
    };

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                settings: settings,
                items: [],
                deliveryProvidersFilter: [],
                deliveryProvider: null,
                date: '@(DateTime.Now.ToString("d.M.yyyy"))',

                printerLocationList: [],
                printerLocation: null,
                loadOFF: false,
                printBtnDisabled: true
            }
        },
        mounted: function () {
            this.getData(this.settings);
            this.loadPrinters();
        },
        computed: {
            $date: function () {
                return this.date !== null && convertExpirationToDate(this.date) !== null ? convertExpirationToDate(this.date).toISOString() : null;
            }
        },
        methods: {
            loadPrinters: function () {
                const _self = this;
                this.printerLocationList = null;
                this.loadOFF = false;

                var reportType = 'WebPrint';
                callAJAX(window.location.origin + '/api/report/getprinterlocation', reportType, function (result) {
                    _self.printerLocationList = result;
                    _self.loadOFF = true;

                    //read printerLocationID
                    var printerLocationID = localStorage.getItem('print_delivery_packages_PrinterLocationID');
                    if (printerLocationID != null) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].printerLocationID == printerLocationID) {
                                _self.printerLocation = result[i];
                            }
                        }
                    }
                });
            },
            getData: function (settings) {
                const _self = this;
                this.settings.date = this.$date;
                callAJAX(window.location.origin + '/api/delivery-packages', settings, function (data) {
                    _self.settings = data.settings;
                    _self.items = data.data;
                    _self.deliveryProvidersFilter = data.settings.deliveryProvidersFilter;
                    _self.printBtnDisabled = _self.deliveryProvider === null || _self.printerLocation == null || !_self.items.length;
                }, null, true);
            },
            print: function () {
                const _self = this;
                this.printLockUI(true);
                var printerLocationID = this.printerLocation === null || this.printerLocation.printerLocationID === null ? 0 : this.printerLocation.printerLocationID;
                var localPrint = this.printerLocation === null ? true : this.printerLocation.printerPath == '_LOCAL_';
                var params = {
                    DeliveryPackagesSettingsModel: this.settings,
                    PrinterLocationID: printerLocationID, LocalPrint: localPrint,
                    Date: this.date !== null && convertExpirationToDate(this.date) !== null ? convertExpirationToDate(this.date).toISOString() : null
                };

                callAJAX(window.location.origin + '/api/delivery-packages/print-package-list', params, function (result) {
                    _self.printLockUI(false);
                    if (result.success && result.localPrint)
                        printJS('/download/direct?fileID=' + result.fileID);
                }, true);
                // save printer
                localStorage.setItem("print_delivery_packages_PrinterLocationID", printerLocationID);
            },
            printLockUI: function (flag) {
                if (flag) {
                    $('#modal_working').modal('show');
                    $('#working_icon').addClass("fa-spin");
                }
                else {
                    $('#modal_working').modal('hide');
                    $('#working_icon').removeClass("fa-spin");
                }
            },
            changeDateInput: _.debounce(function (v) {
                if(this.deliveryProvider !== null)
                    this.settings['deliveryProviderFilterSelected'] = this.deliveryProvider.item1;

                this.getData(this.settings);
            }, 1000)
        },
        watch: {
            printerLocation: function (val, oldVal) {
                this.printBtnDisabled = val === null || this.deliveryProvider == null || !this.items.length;
            },
            deliveryProvider: function (val, oldVal) {
                this.settings['deliveryProviderFilterSelected'] = val.item1;
                this.getData(this.settings);

                this.printBtnDisabled = val === null || this.printerLocation == null || !this.items.length;
            },
            date: function (val, oldVal) {
                this.printBtnDisabled = val === null || this.printerLocation == null || !this.items.length;
            }
        }
    });
</script>
