﻿@model int
@using Microsoft.AspNetCore.Mvc
@using S4.ProcedureModels.Dispatch
@using S4.Web.API
@using S4.Web.Hubs;
@using S4.Core.EAN;

@{
    ViewData["Title"] = "Manuální vychystání";
}

<style>
    .xs-window-size .table {
        font-size: 16px;
    }
    .xs-window-size .glyphicon-ok {
        color: #0fc312;
    }
    .xs-window-size .form-horizontal .form-group {
        margin-left: auto;
        margin-right: auto;
    }
    #modal_available_items .modal-dialog .modal-body {
        padding: 0;
    }
</style>

<partial name="ApiErrorModal" />
<partial name="OkModal" />
<partial name="../Direction/PrintDialog" />
<partial name="../Direction/PrintBoxLabelsDialog" />

<div id="app" :class="{ 'xs-window-size': isXsWindowSize }">
    <list-component :direction-id="directionId"
                    :show-component="showComponentWithName == null || 'list' == showComponentWithName"
                    :is-xs-window-size="isXsWindowSize"></list-component>
    <begin-form-component :direction-id="directionId"
                          :show-component="'begin-form-component' == showComponentWithName"></begin-form-component>
    <processing-item-form-component :direction-id="directionId"
                                    :selected-item="selectedItem"
                                    :show-component="'processing-item-form' == showComponentWithName"></processing-item-form-component>
    <item-composed-from-overview-component :direction-id="directionId"
                                           :selected-item="selectedItem"
                                           :show-component="'item-composed-from-overview' == showComponentWithName"></item-composed-from-overview-component>
</div>

@*
    * begin-form-component template
*@
<template id="begin-form-component">
    <div v-show="showComponent">
        <div class="row">
            <div class="col-sm-12">
                <h3>Doklad <b>{{ docInfo }}</b></h3>

                <form class="form-horizontal" style="margin-top: 20px;">
                    <div class="form-group">
                        <label for="positionID" class="col-sm-1 control-label">Pozice</label>
                        <div class="col-sm-4">
                            <v-select v-model="position" id="position" :options="positions" value="positionID" label="posCode" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 50px; ">
                        <div class="col-sm-12">
                            <button type="button" :disabled="position === null" @@click="save()" class="btn btn-primary pull-right">Provést</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

@*
    * document-info-component template
*@
<template id="direction-info-component">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <table class="table table-condensed pull-right" style="margin-bottom: 35px;">
                <thead>
                    <tr>
                        <th>Číslo dokladu</th>
                        <th>Partner</th>
                        <th>Pozice</th>
                        <th>Položek zbývá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ infoData.docInfo }}</td>
                        <td>{{ infoData.partnerName }}</td>
                        <td>{{ infoData.position != undefined ? infoData.position.posCode : '' }}</td>
                        <td class="text-center" :class="{ 'text-danger': dispatchedItemsRemain > 0}">{{ dispatchedItemsRemain }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

@*
    * processing-item-component template
*@
<template id="processing-item-form-component">
    <div v-show="showComponent">
        <item-name-component :headtext="'Vyskladnit položku'" :selected-item="selectedItem"></item-name-component>
        <form class="form-horizontal" style="margin-top: 20px; position: relative;">
            <div v-if="errors.length" class="alert alert-danger">
                <ul>
                    <li v-for="error in errors">{{ error.msg }}</li>
                </ul>
            </div>

            <div v-if="!isScannerReady" class="alert alert-danger text-center" style="margin-top: 20px;">
                Skener není dostupný. Restartujte službu skeneru.
            </div>

            <div class="form-group has-feedback" :class="{ 'form-group-lg': isXsWindowSize }" :class="fieldValidation('position')">
                <label for="positionCode" class="col-xs-2 control-label">Pozice</label>
                <div class="col-md-4 col-xs-7">
                    <input type="text" v-model="positionCode" id="positionCode" class="form-control" placeholder="Pozice" @@keyup.enter="findPositionEnter">
                    <span v-show="showPositionSuccess" class="glyphicon text-success glyphicon-ok form-control-feedback"></span>
                </div>
                <button type="button" @@click="findPositionEnter()" class="btn btn-info" :class="{ 'btn-lg': isXsWindowSize }">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div v-show="showAdditionalInfo" class="form-group" :class="{ 'form-group-lg': isXsWindowSize }" :class="fieldValidation('quantity')">
                <label for="quantity" class="col-sm-2 col-xs-3 control-label">Množství</label>
                <div class="col-sm-4 col-xs-6 col-md-2 pull-left">
                    <div class="input-group">
                        <input type="text" v-model="quantity" id="quantity" class="form-control" placeholder="Množství">
                        <div class="input-group-addon">{{ selectedItem != null ? selectedItem.packDesc : '' }}</div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    <a @@click="showAvailableItems" class="btn btn-default" :class="{ 'btn-lg': isXsWindowSize, 'btn-sm': !isXsWindowSize }">
                        <i class="fas fa-binoculars"></i> <span v-if="isXsWindowSize">{{ availableOnStoreItems.length }}</span><span v-if="!isXsWindowSize">dostupných {{ availableQuantity }} {{ selectedItem != null ? selectedItem.packDesc : '' }}</span>
                    </a>
                </div>
            </div>
            <div v-show="showAdditionalInfo" class="form-group" :class="{ 'form-group-lg': isXsWindowSize }" :class="fieldValidation('carrierNum')">
                <label for="carrierNum" class="col-xs-2 col-md-2 control-label">Paleta</label>
                <div class="col-xs-10 col-md-4">
                    <input type="text" v-model="carrierNum" id="carrierNum" class="form-control" placeholder="Paleta">
                </div>
            </div>
            <div v-show="showAdditionalInfo && useBatch" class="form-group" :class="{ 'form-group-lg': isXsWindowSize }" :class="fieldValidation('batchNum')">
                <label for="batchnum" class="col-xs-2 col-md-2 control-label">Šarže</label>
                <div class="col-xs-8 col-md-4">
                    <input type="text" v-model="batchNum" id="batchnum" class="form-control" placeholder="Šarže">
                </div>
            </div>
            <div v-show="showAdditionalInfo && useExpiration" class="form-group" :class="{ 'form-group-lg': isXsWindowSize }" :class="fieldValidation('expirationDate')">
                <label for="expirationDate" class="col-xs-3 col-md-2 control-label">Expirace</label>
                <div class="col-xs-7 col-md-4">
                    <input type="text" v-model="expirationDate" id="expirationDate" class="form-control" placeholder="Expirace">
                </div>
            </div>
            <div class="form-group" style="margin-top: 50px;">
                <button type="button" @@click="cancel()" class="btn btn-default" :class="{ 'btn-lg': isXsWindowSize }">Zrušit</button>
                <a href="#app" type="button" @@click="save()" class="btn btn-primary pull-right" :class="{ 'btn-lg': isXsWindowSize }">Provést</a>
            </div>
        </form>

        <div id="modal_available_items" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dostupné balení</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Skladem</th>
                                    <th>Šarže</th>
                                    <th>Expirace</th>
                                    <th>Paleta</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr v-for="item in availableOnStoreItems" @@click="selectItem(item)">
                                    <td>{{ item.quantity }} {{ item.packDesc }}</td>
                                    <td>{{ item.batchNum }}</td>
                                    <td>{{ item.expirationDesc }}</td>
                                    <td :style="{ 'word-wrap': 'break-word', display: (isXsWindowSize ? 'inline-block' : 'table-cell'), width: '80px' }">{{ item.carrierNum }}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@*
    * item-composed-from-overview template
*@
<template id="item-composed-from-overview-component">
    <div v-show="showComponent">
        <item-name-component :headtext="'Přehled vyskladnění položky'" :selected-item="selectedItem"></item-name-component>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Šarže</th>
                    <th>Expirace</th>
                    <th>Množství</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td><span v-show="item.useBatch">{{ item.batchNum }}</span></td>
                    <td>{{ getExpirationDate(item.expirationDate) }}</td>
                    <td>{{ item.quantity }} {{ item.packDesc }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <button type="button" @@click="cancel()" class="btn btn-default pull-right hidden-xs">Zavřít</button>
                <button type="button" @@click="cancel()" class="btn btn-lg btn-default pull-right visible-xs">Zavřít</button>
            </div>
        </div>
    </div>
</template>

@*
    * list-component template
*@
<template id="list-component">
    <div v-show="showComponent">
        <direction-info-component :data="data"></direction-info-component>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 20px;"></th>
                    <th>Kód</th>
                    <th>Položka</th>
                    <th>Hotovo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>
                        <span v-show="isItemCompleted(item)" class="glyphicon text-success glyphicon-ok"></span>
                    </td>
                    <td>{{ item.articleCode }}</td>
                    <td @@click.prevent="toProcessing(item)">{{ item.articleDesc }}</td>
                    <td :class="{ 'text-success': item.quantityComplete === item.quantity }">{{ item.quantityComplete }} / {{ item.quantity }} {{ item.packDesc }}</td>
                    <td class="text-right">
                        <a href="" v-show="!isItemCompleted(item)" class="btn btn-primary" :class="{ 'btn-sm': !isXsWindowSize }" @@click.prevent="toProcessing(item)">
                            <i class="fas fa-arrow-circle-left"></i>
                        </a>
                        <a href="" class="btn btn-default" :class="{ ' btn-sm': !isXsWindowSize }" @@click.prevent="toItemsOverview(item)">
                            <i class="fas fa-list"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <button type="button" @@click="directionDone()" :disabled="!isValidDirectionDone" class="btn btn-primary pull-right hidden-xs">Dokončit</button>
                <button type="button" @@click="directionDone()" :disabled="!isValidDirectionDone" class="btn btn-lg btn-primary pull-right visible-xs-block">Dokončit</button>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    Vue.component('item-name-component', {
		name: "item-name-component",
		props: ['headtext', 'selectedItem'],
		template: '<h3>{{ headtext }} <span v-html="itemName"></span></h3>',
		computed: {
			itemName: function() {
				if(this.selectedItem == null) return null;
			 	return `<br><b>${this.selectedItem.articleCode}</b> <span style="color: #cccccc">-</span> ${this.selectedItem.articleDesc}`;
			}
		}
	});

    const BeginFormComponent = {
        name: "begin-form-component",
        props: ['showComponent', 'directionId'],
        template: '#begin-form-component',
        data: function() {
            return {
                position: null,
                positions: []
            };
        },
        computed: {
            docInfo: function() {
                return this.$parent.docInfo;
            }
        },
        methods: {
            save: function() {
                const _self = this;
                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = "DispatchManualBegin" })',
                    {
                        DirectionID: this.directionId,
                        PositionID: this.position.positionID
                    },
                    function(res) {
                        if(res === null || !res.success) return;

                        const modal = $('#modal_ok').modal();
                        modal.find('#modal_ok_text').text('Manuální vychystání zahájeno.');
                        modal.show();

                        _self.$parent.showComponent(ListComponent.name);
                    });
            }
        },
        watch: {
            showComponent: function (val, oldVal) {
                if (!val) return;

                const _self = this;
                callAJAX('@Url.Action(nameof(ProceduresHelpersController.DispatchPositions), "ProceduresHelpers")',
                    null,
                    function(res) {
                        if(res === null) return;

                        _self.positions = res;
                    });
            }
        }
    };

    const DirectionInfoComponent = {
        name: "direction-info",
        props: ['data'],
        template: '#direction-info-component',
        computed: {
			infoData: function() {
				return this.data ? this.data : {
					direction: {
						items: []
					}
				};
            },
			dispatchedItemsRemain: function() {
			    return this.data.items.filter(_ => _.quantity !== _.quantityComplete).length;
			}
		}
    };

    const ItemComposedFromOverviewComponent = {
        name: "item-composed-from-overview",
        props: ['showComponent', 'directionId', 'selectedItem'],
        template: '#item-composed-from-overview-component',
        data: function() {
            return {
                items: []
            };
        },
        computed: {
        	itemName: function() {
        		return this.selectedItem != null
					? `<b>${this.selectedItem.articleCode}</b> <span style="color: #3c3c3c">-</span> ${this.selectedItem.articleDesc}`
					: null;
        	}
        },
        methods: {
            loadData: function() {
                const _self = this;
                // load dispatched items
                callAJAX('@Url.Action(nameof(DispatchManualController.GetDispatchedItems), "DispatchManual")',
                    {
                        directionID: _self.directionId
                    },
                    function(res) {
                        if(res === null) return;
                        _self.items = res.filter(_ => _.artPackID === _self.selectedItem.artPackID);
                    }
                );
            },
            cancel: function() {
                this.$parent.setSelectedItem(null);
                this.$parent.showComponent(ListComponent.name);
            },
            getExpirationDate: (date) => {
                if(date == null) return '';
                return dateToExpiration(date);
            }
        },
        watch: {
            showComponent: function(val, oldVal) {
                if(val) {
                    this.loadData();
                }
                else {
                    this.items = [];
                }
            }
        }
    };

    const ProcessingItemFormComponent = {
		name: "processing-item-form",
		props: ['showComponent', 'directionId', 'selectedItem'],
		template: '#processing-item-form-component',
		data: function() {
			return {
				errors: [],
				showPositionSuccess: false,
				showAdditionalInfo: false,
				positionCode: null,
                quantity: null,
                carrierNum: null,
				ean: null,
				batchNum: null,
				expirationDate: null,
				availableQuantity: null,
				packDesc: null,
				isXsWindowSize: false,
                isScannerReady: false,
                availableOnStoreItems: []
			};
		},
		created: function() {
		    const _self = this;
		    window.onload = function() {
                _self.isXsWindowSize = window.outerWidth < 1000;
            };
		    window.onresize = function() {
		        _self.isXsWindowSize = window.outerWidth < 1000;
		    };
		    
            this.connection = new WebsocketFactory().create('@HoneywellHub.CLIENT_HUB_URL', {
                '@(nameof(IHoneywellHub.ReceiveEan))': function(data) {
                    console.log('--- ws ean');
                    console.log(_self.selectedItem);
                    data = JSON.parse(data);

                    // do nothing if item is not selected
                    if(_self.selectedItem == null) return;

                    // re-scan focus position field if error
                    const positionError = _self.errors.find(_ => _.key === 'position');

                    // set position code
                    if (_self.positionCode === null || _self.positionCode === '' || positionError !== undefined) {
                        _self.positionCode = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode').Value;
                        _self.findPositionEnter();
                        return;
                    }

                    // set ean / carrier
                    const carrierRegex = /^\d{20}$/g;
                    const rawData = data.find(_ => _.EANCode == 'rawData');
                    if (carrierRegex.test(rawData.Value)) {
                        _self.carrierNum = rawData.Value;
                    }
                    else {
                        const ean = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode' || _.EANCode == '@EANCodeEnum.SerialShippingContainer');
                        if (ean !== undefined) _self.ean = ean.Value;
                        let batch = data.find(_ => _.EANCode == '@EANCodeEnum.BatchNumber');
                        
                        if(batch === undefined)
                            batch = data.find(_ => _.EANCode == '@EANCodeEnum.SerialNumber');
                        
                        if (batch !== undefined) _self.batchNum = batch.Value;
                        const exp = data.find(_ => _.EANCode == '@EANCodeEnum.ExpirationDate');
                        if (exp !== undefined) _self.expirationDate = eanExpirationToExpiration(exp.Value);

                        setTimeout(() => document.getElementById('quantity').focus(), 80);
                    }
                },
                '@(nameof(IHoneywellHub.ReceiveDeviceScannerConnected))': function (flag) {
                    console.log('--- scanner status');
                    console.log(flag);
                    _self.isScannerReady = flag;
                }
            }, () => console.log('-- socket connected'));
            
		},
		computed: {
			useBatch: function() {
				return this.selectedItem.useBatch;
			},
			useExpiration: function() {
                return this.selectedItem.useExpiration;
            }
		},
		methods: {
			save: function() {
			    const _self = this;
				
				this.validateForm(true, true, true, true);
				if(this.errors.length > 0) return;
				
				// check item parameters
				callAJAX('@Url.Action(nameof(DispatchManualController.CheckItemParameters), "DispatchManual")',
                    {
                        positionCode: _self.positionCode,
                        artPackID: _self.selectedItem.artPackID,
                        quantity: parseFloat(_self.quantity.replace(',', '.')),
                        batchNum: _self.batchNum,
                        expirationDate: this.getExpirationDate(),
                        carrierNum: _self.carrierNum
                    },
                    function(res) {
                        if(!res.isValid) {
                        	_self.validateForm(res.isQuantityValid, res.isBatchNumValid, res.isExpirationDateValid);
                            return;
                        }

                        // save dispatch item
                        callAJAX('/api/procedures/@nameof(DispatchManualSaveItem)',
                            {
                                directionID: _self.selectedItem.directionID,
                                positionID: res.positionID,
                                artPackID: _self.selectedItem.artPackID,
                                quantity: parseFloat(_self.quantity.replace(',', '.')),
                                parentDocPosition: _self.selectedItem.docPosition,
                                batchNum: _self.batchNum,
                                expirationDate: _self.getExpirationDate(),
                                carrierNum: _self.carrierNum
                            },
                            function(res) {
                                if(!res.success) {
                                    alert('Nastala chyba');
                                }
                                
                                _self.$parent.showComponent(ListComponent.name);
                            });
                    });
			},
			cancel: function() {
				this.$parent.setSelectedItem(null);
				this.$parent.showComponent(ListComponent.name);
			},
			findPositionEnter: function() {
			    this._findPosition();
			    
			    if(this.errors.length) {
			        document.getElementById('positionCode').focus();
			        return;
                }

                document.getElementById('quantity').focus();
            },
			_findPosition: function() {
				const _self = this;
                this.errors = [];

                if (this.positionCode === null || this.positionCode === '') return;

				callAJAX('@Url.Action(nameof(DispatchManualController.CheckItemOnPosition), "DispatchManual")',
                    {
                        positionCode: _self.positionCode,
                        artPackID: _self.selectedItem.artPackID
                    },
                    function(res) {
                        if(res.availableQuantity > 0) {
                            _self.availableQuantity = res.availableQuantity;
                            _self.showPositionSuccess = true;
                        }
                        else {
                            _self.availableQuantity = null;
                            _self.showPositionSuccess = false;
                            _self.errors.push({ key: 'position', msg: 'Pozice nenalezena' });
                            document.getElementById('positionCode').focus();
                        }
                    });

                // get onStore items
                callAJAX('@Url.Action(nameof(ArtOnStoreController.GetByArticleStorePos), "ArtOnStore", new { articleID = "_ID_" })'.replace('_ID_', _self.selectedItem.articleID),
                    {},
                    function (res) {
                        _self.availableOnStoreItems = res.data.filter(_ => _.posCode == _self.positionCode.toUpperCase());
                    });
			},
			fieldValidation: function(fieldName) {
				return {
					'has-error': this.errors.find(_ => _.key === fieldName) !== undefined,
				}
			},
			validateForm: function(isQuantityValid, isBatchNumValid, isExpirationDateValid) {
			    this.errors = [];
			    if (!this.positionCode) {
					this.errors.push({key: 'positionCode', msg: 'Zadejte pozici'});
					return;
			    }
			    
                if (!this.quantity || !isQuantityValid)
                    this.errors.push({key: 'quantity', msg: 'Špatné množství'});
                if (this.selectedItem.useBatch && !this.batchNum || !isBatchNumValid)
                    this.errors.push({key: 'batchNum', msg: 'Špatná šarže'});
                if (this.selectedItem.useExpiration && !this.expirationDate || !isExpirationDateValid)
                    this.errors.push({ key: 'expirationDate', msg: 'Špatné datum expirace' });
                if (this.carrierNum != undefined && this.carrierNum !== null && this.carrierNum.length < 20)
                    this.errors.push({ key: 'carrierNum', msg: 'Špatné číslo palety' });
            },
            getExpirationDate: function() {
			    if(this.expirationDate === null) return null;
                return convertExpirationToDate(this.expirationDate).toISOString();
            },
            showAvailableItems: function () {
                const modal = $('#modal_available_items').modal();
                    modal.show();
            },
            selectItem: function (item) {
                this.quantity = null;
                this.carrierNum = item.carrierNum;

                if (item.useBatch)
                    this.batchNum = item.batchNum;
                if (item.useExpiration)
                    this.expirationDate = dateToExpiration(item.expirationDate);

                $('#modal_available_items').modal('hide');
            }
		},
		watch: {
			showComponent: function(val, oldVal) {
				// reset form
				this.positionCode = null;
				this.quantity = null;
				this.batchNum = null;
                this.expirationDate = null;
                this.carrierNum = null;
				this.errors = [];
				this.showPositionSuccess = false;
				
				if(val) {
				    setTimeout(() => document.getElementById('positionCode').focus(), 300);
				}
			},
			showPositionSuccess: function(val, oldVal) {
			  	this.showAdditionalInfo = val;
			  	
			  	if(val) {
                    setTimeout(() => document.getElementById('quantity').focus(), 300);
                }
			},
			quantity: function(val, oldVal) {
				if(this.availableQuantity != null) {
					if(val > this.availableQuantity) {
						this.errors.push({key: 'quantity', msg: 'Špatné množsví'});
					}
					else {
						const index = this.errors.findIndex(_ => _.key === 'quantity');
						this.errors.splice(index, 1);
					}
				}
			},
			expirationDate: function(val, oldVal) {
			    if(val != null) {
			        const date = convertExpirationToDate(val);
			        const errorIndex = this.errors.findIndex(_ => _.key === 'expirationDate');
                    if(date == null && errorIndex === -1) {
                        this.errors.push({key: 'expirationDate', msg: 'Špatné datum expirace'});
                    }
                    else if(date != null && errorIndex !== -1) {
                        this.errors.splice(errorIndex, 1);
                    }
                }
			}
		}
	};

	const ListComponent = {
		name: "list",
		props: ['directionId', 'showComponent', 'isXsWindowSize'],
		template: '#list-component',
		components: {
		    DirectionInfoComponent
		},
		data: function() {
			return {
				data: { 
				    items: [],
				    position: {}
				},
				dispatchedItems: []
			};
		},
        created: function () {
			this.loadData();
		},
		computed: {
			items: function() {
				return this.data != null ? this.data.items : [];
			},
		    isValidDirectionDone: function() {
                return this.items.filter(_ => _.quantity !== _.quantityComplete).length === 0;  
            }
		},
		methods: {
			loadData: function() {
				const _self = this;
				// load direction
				callAJAX('@Url.Action(nameof(DispatchManualController.GetDirectionItems), "DispatchManual")',
					{
						directionID: this.directionId
					},
					function(res) {
				        if(res === null) return;
				        
				        res.items.forEach(_ => _.quantityComplete = 0); // qty field
						_self.data = res;
						_self.$parent.docInfo = res.docInfo;

						// if bad status then show status change
						if(res.badStatus) {
						    _self.$parent.showComponent(BeginFormComponent.name);
						    return;
						}
						
						// load dispatched items
                        _self.loadData2();

                        // show box labels print
                        _self.showBoxLabelsPrint();
					}
				);
			},
			loadData2: function() {
			    const _self = this;
			    // load dispatched items
                callAJAX('@Url.Action(nameof(DispatchManualController.GetDispatchedItems), "DispatchManual")',
                    {
                        directionID: _self.directionId
                    },
                    function(res) {
                        if(res === null) return;

                        _self.dispatchedItems = res;

                        res.forEach(a => {
                           const item = _self.data.items.find(_ => _.artPackID === a.artPackID);
                           if(item !== null) item.quantityComplete += a.quantity; // set qty field
                        });

                    }
                );
            },
            showBoxLabelsPrint: function () {
                if (this.$parent.listLoaded) return;

                const _self = this;
                const docInfo = this.$parent.docInfo.split('/');

                this.$dialog
                    .confirm('Vytisknout štítky?')
                    .then(function (dialog) {
                        print_box_labels_dialog.$data.item = {
                            directionID: _self.directionId,
                            docDirection: @(S4.Entities.Direction.DOC_DIRECTION_OUT),
                            itemsCount: _self.items.length,
                            docNumPrefix: docInfo[0],
                            docNumber: docInfo[2]
                        };

                        print_box_labels_dialog.loadData();
                        $('#print_box_labels_dialog').modal('show');
                    })
                    .catch(function () { });

                this.$parent.listLoaded = true;
            },
            toProcessing: function (item) {
                if(item.quantityComplete === item.quantity) return;

                this.$parent.setSelectedItem(item);
				this.$parent.showComponent(ProcessingItemFormComponent.name);
			},
			toItemsOverview: function(item) {
                this.$parent.setSelectedItem(item);
                this.$parent.showComponent(ItemComposedFromOverviewComponent.name);
			},
            directionDone: function () {
                const _self = this;
			    callAJAX('/api/procedures/@nameof(DispatchTestDirect)',
                    {
                        DirectionID: this.directionId
                    },
                    function(res) {
                        if(res === null || !res.success) return;

                        const modal = $('#modal_ok').modal();
                        modal.on('hidden.bs.modal', function (e) {
                            _self.printDirectionDoc();
                        });
                        modal.find('#modal_ok_text').text('Manuální vychystání dokončeno.');
                        modal.show();
                    });
			},
			isItemCompleted: function(item) {
			    return item.quantity === item.quantityComplete;
            },
            printDirectionDoc: function () {
                const docInfo = this.$parent.docInfo.split('/');

                this.$dialog
                    .confirm('Vytisknout šaržový list?')
                    .then(function(dialog) {
                        print_dialog.loadData();
                        print_dialog.$data.items = [{
                            directionID: this.directionId,
                            docDirection: @(S4.Entities.Direction.DOC_DIRECTION_OUT),
                            itemsCount: this.items.length,
                            docNumPrefix: docInfo[0],
                            docNumber: docInfo[2]
                        }];
                        const modal = $('#print_dialog').modal('show');
                        modal.on('hidden.bs.modal', function (e) {
                            window.location.href = '@Url.Action(nameof(S4.Web.Controllers.DirectionController.Index), "Direction", new { dir = DirectionSettingsModel.DirectionEnum.Out.ToString().ToLower() })';
                        });
                    })
                    .catch(function () {
                        window.location.href = '@Url.Action(nameof(S4.Web.Controllers.DirectionController.Index), "Direction", new { dir = DirectionSettingsModel.DirectionEnum.Out.ToString().ToLower() })';
                    });
            }
		},
		watch: {
			showComponent: function(val, oldVal) {
			  	if(val) this.loadData();
			}
		}
	};
	
	const root = new Vue({
		el: "#app",
		components: {
		    BeginFormComponent,
			ListComponent,
			ProcessingItemFormComponent,
			ItemComposedFromOverviewComponent
		},
		data: function() {
			return {
				directionId: @Model,
				docInfo: null,
				showComponentWithName: null,
                selectedItem: null,
                listLoaded: false,
                isXsWindowSize: false
			};
        },
        created: function () {
            const _self = this;

            this.isXsWindowSize = window.outerWidth < 1300;

            window.onresize = function () {
		        _self.isXsWindowSize = window.outerWidth < 1300;
		    };
        },
		methods: {
			showComponent: function(componentName) {
				this.showComponentWithName = componentName;
			},
            setSelectedItem: function (item) {
                this.selectedItem = item;
            }
		}
	});
</script>