﻿<script type="text/x-template" id="dispcheckworker-column-template">
    <button type="button" class="btn btn-sm" @@click="changeSameWorker" title="Kliknutí označí všechny doklady se stejným pracovníkem">{{ item.workerCode }}</button>
</script>
<script>
    Vue.component('dispcheckworker_column', {
        props: ['column', 'item', 'settings'],
        template: '#dispcheckworker-column-template',
        methods: {
            changeSameWorker: function () {
                this.$emit('cmdraised', { commandType: cmCustom });
            }
        },
        computed: {
            value: function () {
                if (!this.item)
                    return 'not item';
                if (!this.column)
                    return 'not column';
                return this.item[this.column.fieldName];
            }
        }
    });
</script>
