﻿@{
    ViewData["Title"] = "Hromadná expedice";
}
<partial name="DirectionDetail" />
<partial name="ArticleDetail" />
<partial name="PositionDetail" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../VueColumns/StatusProgressbarColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

<style>
    [v-cloak] {
        display: none;
    }

    .chkbox {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }

    td.data {
        padding-top: .8em !important;
    }
</style>
<div id="app" v-cloak>
    <form class="form-horizontal">

        <div class="form-group">
            <label for="statusCode" class="col-sm-2 control-label">Doklady</label>
            <div class="col-sm-10">
                <div v-if="directions.length == 0" class="form-control-static">
                    ?
                </div>
                <div v-else style="margin-top:1em;">
                    <div style="height:75vh;width:100%;overflow:auto;">

                        <table class="table table-striped table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Doklad</th>
                                    <th>Firma</th>
                                    <th>Pozice</th>
                                    <th>Vybrat <input v-model="selectAll" type="checkbox" @@change="doSelectAll()" style="margin-left:.5em;" title="Vybrat vše"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in directions" v-bind:class="rowClassObject(item)" @@click="switchItem(item)">
                                    <td class="data"><b><a href="#" @@click="showDetail($event, item)">{{ item.documentName }}</a></b></td>
                                    <td class="data">{{ item.documentDetail }}</td>
                                    <td class="data"><button type="button" class="btn btn-sm" @@click.stop="changeSamePos(item)" title="Kliknutí označí všechny doklady na stejné pozici">{{ item.documentDetail2 }}</button></td>
                                    <td>
                                        <div class="checkbox" style="text-align:center;">
                                            <label>
                                                <input v-model="item.toExped" type="checkbox" class="chkbox" @@change="calcSelected()">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="expedTruck" class="col-sm-2 control-label">Vybráno</label>
            <div class="col-sm-4">
                <div class="form-control-static">
                    {{ selectedCount }} dokladů
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="expedTruck" class="col-sm-2 control-label">Auto</label>
            <div class="col-sm-4">
                <input v-model="expedTruck" data-vv-as="Auto" name="expedTruck" class="form-control" id="expedTruck" placeholder="SPZ">
                @*<span class="field-error">{{ errors.first('expedTruck') }}</span>*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Výsledek</label>
            <div v-if="actionResult != null" class="col-sm-10">
                <div class="form-control-static">
                    <span v-if="actionResult.success"><i class="fas fa-check-circle fa-lg text-success"></i> <b>OK</b></span>
                    <span v-if="!actionResult.success">
                        <i class="fas fa-exclamation-circle fa-lg text-danger"></i> <b>Nepodařilo se</b>
                        <br />
                        <span>{{ actionResult.errorText }}</span>
                    </span>
                </div>
            </div>
            <div v-if="paramError != null" class="col-sm-10">
                <div class="form-control-static">
                    <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
                    <b>Expedici nelze provést:</b>
                    <br />
                    <span>{{ paramError }}</span>
                </div>
            </div>
        </div>

    </form>

    <div class="modal-footer" style="border-top-style:none;">
        <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
    </div>
</div>


<script>
    var detailApp = detailDirectionApp;

    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                selectAll: false,
                directions: [],
                selectedCount: 0,
                expedTruck: null,
                paramError: null,
                actionResult: null
            }
        },
        mounted: function () {
            this.loadDirections();
        },
        watch: {
        },
        methods: {
            loadDirections: function () {
                callAJAX(window.location.origin + '/api/procedures/expedlistdirects', {}, this.showDirections, null, true);
            },
            showDirections: function (data) {
                data.directions.forEach(function (i) { i.toExped = false; });
                app.$data.directions = data.directions;
            },
            switchItem(item) {
                item.toExped = !item.toExped;
                this.calcSelected();
            },
            rowClassObject: function (item) {
                return {
                    'danger': item.documentDetail2 == '???',
                    'success': item.toExped
                }
            },
            calcSelected: function () {
                let c = 0;
                this.directions.forEach(function (i) { if (i.toExped) c++ });
                this.selectedCount = c;
            },
            doSelectAll: function () {
                let val = this.selectAll;
                this.directions.forEach(function (i) { i.toExped = val });
                this.selectedCount = (val) ? this.directions.length : 0;
            },
            changeSamePos: function (item) {
                let val = !item.toExped;
                let documentDetail2 = item.documentDetail2;
                this.directions.forEach(function (i) { if (i.documentDetail2 == documentDetail2) i.toExped = val });
                this.calcSelected();
            },
            save: function () {
                var itemsToExped = _.filter(app.$data.directions, function (item) { return item.toExped; });

                this.actionResult = null;
                this.paramError = null;

                // check params
                if (itemsToExped.length == 0) {
                    this.paramError = 'Je nutné vybrat nějaké doklady';
                    return;
                }
                if (!this.expedTruck) {
                    this.paramError = 'Je nutné zadat SPZ';
                    return;
                }

                //var param = {
                //    sourcePositionID: app.$data.positionFrom.value,
                //    destPositionID: app.$data.positionTo.value,
                //    changeCarrier: false,
                //    articles: itemsToMove
                //};
                this.$dialog.confirm('Opravdu chcete expedovat doklady (' + itemsToExped.length + ' položek)?', { type: 'soft', verification: 'continue', clicksCount: 1 })
                    .then(function () {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.documentID,
                                expedTruck: app.$data.expedTruck
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/expeddone', itemsToExped, paramsFunction, app.showResult, true);
                    });

            },
            showResult: function (res) {
                app.$data.actionResult = res;
                app.loadDirections();
            },
            showDetail: function (e, item) {
                e.stopPropagation();

                callAJAX(window.location.origin + "/api/Direction/GetWithSettings/" + item.documentID, null, function (data) {
                    detailApp.$data.columns = data.settings.columns;
                    detailApp.$data.item = data.data[0];
                    detailApp.$data.noDetails = true;
                    detailApp.loadData();
                    $('#direction_detail').modal('show');
                }, null, true);
            }
        }
    });
</script>