﻿@{
    ViewData["Title"] = "Tisk evidence rozvozů";
}
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<script src="~/Scripts/utils/print.min.js"></script>

<style>
    .span-spz {
        margin-left: 10px;
    }

    .input-spz {
        text-align: left !important;
        color: black;
        max-width: 100px;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .input-city {
        text-align: left !important;
        color: black;
        font-size: small;
        max-width: 200px;
        font-weight: bold;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .input-dl {
        text-align: left !important;
        color: black;
        max-width: 1100px;
        font-size: small;
        margin-left: 8px;
    }

    input-date {
        text-align: left !important;
        color: black;
        font-size: small;
        max-width: 110px;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    input-1 {
        text-align: left !important;
        color: black;
        font-size: small;
        max-width: 200px;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .input-report {
        height: 32px;
    }

    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div id="app">
    <form class="form-inline" action="javascript:void(0);" onSubmit="">
        <div class="form-group">
            <label class="text-muted">Od: </label>
            <div>
                <date-input placeholder-text="Datum od" v-model="dtFrom">
            </div>
        </div>
        <div class="form-group">
            <label class="text-muted">Do: </label>
            <div>
                <date-input placeholder-text="Datum do" v-model="dtTo">
            </div>
        </div>
        <div class="form-group">
            <label class="text-muted">Region: </label>
            <v-select style="width: 200px;" v-model="truckRegion" id="truckRegion" :options="truckRegionList" value="truckRegion" />
        </div>
        <div class="form-group">
            <label class="text-muted">Tiskárna: </label>
            <span v-if="loadOFF === false">Moment hledám vhodné tiskárny.....</span>
            <v-select style="width: 250px;" v-if="loadOFF === true" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerLocationDesc" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" v-on:click="reload()" style="width: 80px; margin-top: 25px;" title="Načte data z databáze a vytvoří sestavu">Vytvořit</button>
            <button v-bind:disabled="reportData.length <= 0" class="btn btn-primary" type="button" v-on:click="printReport()" style="width: 80px; margin-top: 25px;" title="Vytiskne sestavu"><i class='fas fa-print' aria-hidden='true'></i>&nbsp;Tisk</button>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 15px;">
            <span v-if="errorMsg != null" class="alert-danger"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{ errorMsg }}</span>
        </div>
    </div>

    <div v-if="dataRows == 0" class="alert alert-warning text-center" style="">
        Nebyly nalezeny žádné záznamy
    </div>

    <div v-if="reportData.length > 0" class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <span class="text-muted">Nadpis reportu: </span>
                <input class="form-control input-1" v-model="headerData">
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-2">
                <span class="text-muted">Datum rozvozu: </span>
                <input class="form-control input-1" v-model="dateDepartureData">
            </div>
            <div class="col-sm-2">
                <span class="text-muted ">Kamion SPZ: </span>
                <input class="form-control input-1" placeholder-text="Kamion SPZ" v-model="truckData">
            </div>
            <div class="col-sm-2">
                <span class="text-muted ">Odjezd: </span>
                <input class="form-control input-1" v-model="departurePlaceData">
            </div>
            <div class="col-sm-2">
                <span class="text-muted ">Datum a čas: </span>
                <input class="form-control input-1" v-model="dtFromData">
            </div>
            <div class="col-sm-2">
                <span class="text-muted ">Příjezd: </span>
                <input class="form-control input-1" v-model="arrivalPlaceData">
            </div>
            <div class="col-sm-2">
                <span class="text-muted ">Datum a čas: </span>
                <input class="form-control input-1" placeholder-text="Kamion" v-model="dtToData">
            </div>
        </div>
    </div>

    <div v-if="reportData.length > 0">
        <div class="panel panel-default" v-for="row in reportData">
            <div class="panel-body">
                <div class="col-sm-2">
                    <span class="text-muted span-spz">SPZ: </span>
                    <input type="text" class="form-control input-sm input-spz" v-model="row.spz" />
                    <button class="btn btn-info alert-danger" type="button" v-on:click="removeRow(row)" style="margin-top: 10px;margin-left: 10px;" title="Smaže řádek s SPZ"><i class="fas fa-trash-alt"></i></button>
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control input-dl" v-model="row.dl" rows="7"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>



<script>


    Vue.component('date-input', {
        props: ["value", "isDisabled", "placeholderText"],
        template: '<div class="form-group" v-bind:class="{ \'has-error\': isNotValid }" ><input style="width: 100px;" type="datetime" v-model="displayValue" :disabled="isDisabled" @@blur="focusLost" @@focus="isInputActive = true" class="form-control input-date input-report" :placeholder="placeholderText" /></div>',
        data: function () {
            return {
                format: 'D.M.YYYY',
                textValue: '',
                isInputActive: false,
                isEmpty: true,
                isNotValid: false
            }
        },
        computed: {
            displayValue: {
                get: function () {
                    if (this.isInputActive || this.isNotValid) {
                        // Cursor is inside the input field. unformat display value for user
                        return this.textValue;
                    } else {
                        // User is not modifying now. Format display value for user interface
                        return moment(this.value).isValid() ? moment(this.value).format(this.format) : null;
                    }
                },
                set: function (modifiedValue) {
                    this.textValue = modifiedValue;
                    var newValue = moment(modifiedValue, "D.M.YYYY");
                    if (!newValue.isValid()) {
                        newValue = null;
                        this.isNotValid = true;
                    } else {
                        this.isNotValid = false;
                    }
                    // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                    // $emit the event so that parent component gets it
                    this.$emit('input', newValue);
                    this.$emit('changed', this);
                }
            }
        },
        watch: {
            value: function (newVal, oldVal) { // watch it
                if (!this.isInputActive)
                    this.textValue = moment(newVal).format(this.format);
            }
        },
        methods: {
            focusLost: function () {
                this.isInputActive = false;
                if (moment(this.value).isValid())
                    this.textValue = moment(this.value).format(this.format);
            }
        }
    });

    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                dtFrom: moment(new Date()).add(-1, 'days'),
                dtTo: moment(new Date()),
                errorMsg: null,
                //printer
                printerLocation: null,
                printerLocationList: [],
                loadOFF: false,
                dataRows: null,
                //data
                reportData: [],
                headerData: 'Evidence rozvozů léčiv region Morava',
                dateDepartureData: moment(new Date()).add(1, 'days').format('D.M.YYYY'),
                truckData: '4J9 36 62',
                departurePlaceData: 'Jažlovice',
                arrivalPlaceData: 'Olomouc',
                dtFromData: moment(new Date()).format('D.M.YYYY').toString() + ' 16:55',
                dtToData: moment(new Date()).add(1, 'days').format('D.M.YYYY').toString() + ' 04:00',
                //region
                truckRegion: "Morava",
                truckRegionList: ["Vše", "Čechy", "Morava", "Praha"]
            }
        },
        methods: {
            loadData: function () {
                app.printerLocationList = null;
                app.reportList = null;
                app.loadOFF = false;

                var reportType = 'WebPrint';
                callAJAX(window.location.origin + '/api/report/getprinterlocation', reportType, function (result) {
                    app.printerLocationList = result;
                    app.loadOFF = true;

                    //read printerLocationID
                    var printerLocationID = localStorage.getItem('print_dialog_PrinterLocationID');
                    if (printerLocationID != null) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].printerLocationID == printerLocationID) {
                                app.printerLocation = result[i];
                            }
                        }
                    }
                });
            },
            reload: function () {
                if (app.reportData.length > 0) {
                    this.$dialog.confirm('Opravdu chcete načíst data a přepsat stávající report?', { type: 'soft', verification: 'continue', clicksCount: 1 })
                        .then(function () {
                            app.prepareReport();
                        });
                }
                else {
                    app.prepareReport();
                }
            },
            prepareReport: function () {
                if (
                    (app.$data.dtFrom > moment(new Date()) || app.$data.dtFrom < moment("01/01/2000", "DD/MM/YYYY")) ||
                    (app.$data.dtFrom > app.$data.dtTo)
                ) {
                    app.errorMsg = 'Pro výběr platí tyto pravidla. Datum *Od* musí být v intervalu 1.1.2000 - ' + moment(new Date()).format('D.M.YYYY') +
                        '. Datum *Do* nesmí být menší než datum *Od*';
                    return;
                }
                app.errorMsg = null;

                var param = {
                    DateFrom: moment(app.$data.dtFrom),
                    DateTo: moment(app.$data.dtTo),
                    TruckRegion: app.truckRegion
                };

                callAJAX(window.location.origin + '/api/action/prepareexpeditionreport', param, function (data) {
                    app.reportData = data;
                    app.dataRows = data.length;
                }, null, true, false);
            },
            removeRow: function (row) {
                for (var i = 0; i < app.reportData.length; i++) {
                    if (app.reportData[i].rowNum == row.rowNum) {
                        app.reportData.splice(i, 1);
                    }
                }

            },
            printReport: function () {
                var printerLocationID = app.printerLocation === null || app.printerLocation.printerLocationID === null ? 0 : app.printerLocation.printerLocationID;
                var localPrint = app.printerLocation === null ? true : app.printerLocation.printerPath == '_LOCAL_';

                // save printer
                localStorage.setItem("print_dialog_PrinterLocationID", printerLocationID);

                var model = {
                    PrinterLocationID: printerLocationID,
                    Header: app.headerData,
                    Rows: app.reportData,
                    DateDeparture: app.dateDepartureData,
                    Truck: app.truckData,
                    DeparturePlace: app.departurePlaceData,
                    ArrivalPlace: app.arrivalPlaceData,
                    DtFrom: app.dtFromData,
                    DtTo: app.dtToData,
                    LocalPrint: localPrint
                };

                callAJAX(window.location.origin + '/api/action/printexpeditionreport', model, function (result) {

                    if (result.errorText != "") {
                        app.errorMsg = result.errorText;
                        return;
                    }
                    else {
                        app.errorMsg = null;
                    }

                    if (result.localPrint)
                        printJS('/download/direct?fileID=' + result.fileID);

                }, null, true, false);
            }
        }
    });

    $(function () {
        app.loadData();
    });

</script>
