﻿@using Microsoft.AspNetCore.Mvc
@using S4.Web.API
@using Web = S4.Web.Controllers
@using System.Security.Claims;
@using S4.Web.Models

@{
	ViewData["Title"] = "Manuální příjem";
}

<style>
	.v-select.searchable .dropdown-toggle {
		background-color: #ffffff !important;
	}
    .has-error .v-select.searchable .dropdown-toggle {
		border: 1px solid #a94442;
    }
	.mb-0 {
		margin-bottom: 0;
	}
    .has-warning .control-label, .has-warning .form-control-feedback {
        color: #c38417;
    }
    .has-warning .form-control {
        border-color: #c38417;
    }
</style>

<partial name="ApiErrorModal" />
<partial name="OkModal" />
<partial name="../Direction/PrintDialog" />
<partial name="../Direction/PrintBoxLabelsDialog" />

<div id="app">
	<receive-manual-form></receive-manual-form>
</div>


@*
	* processing-item-component template
*@
<template id="receive-manual-form-component">
	<div class="row">
		<div class="col-md-12">
			<doc-info-component :headtext="docInfo"></doc-info-component>

			<div style="margin-bottom: 10px; ">
				<form class="form-horizontal">
					<div class="row">
						<div class="col-md-11 partner-form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="partner" class="col-md-3 control-label">Partner</label>
										<div class="col-md-9">
											<seek_partner_combo v-model="partnerForm.partner" name="partner" :value="partnerForm.partner"></seek_partner_combo>
										</div>
									</div>
									<div class="form-group">
										<label for="partnerRef" class="col-md-3 control-label">Partner ref</label>
										<div class="col-md-9">
											<input type="text" v-model="partnerForm.partnerRef" name="partnerRef" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="docRemark" class="col-md-3 control-label">Poznámka</label>
										<div class="col-md-9">
											<textarea rows="3" v-model="partnerForm.docRemark" name="docRemark" class="form-control"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group mb-0">
								<button type="button" @@click="updatePartner()" class="btn btn-default" title="Upravit partnera">
									<i aria-hidden="true" class="fas fa-save"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div style="margin-bottom: 20px;">
				<form class="form-horizontal well">
					<div class="row">
						<div class="col-md-11">
							<div class="row">
								<div class="col-md-7">
									<div class="form-group" :class="formGroupError('article')">
										<label for="carrierNum" class="col-md-1 control-label">Karta</label>
										<div class="col-md-11">
											<seek_article_combo v-model="form.article" name="articles" :value="form.article" @@articleselected="articleSelcted"></seek_article_combo>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label for="carrierNum" class="col-md-5 control-label">Číslo palety</label>
										<div class="col-md-7">
											<input type="text" v-model="form.carrierNum" id="carrierNum" class="form-control" placeholder="Číslo palety" tabindex="4">
										</div>
									</div>
								</div>
							</div>
							<div class="row" v-if="showAdditionalInfo">
								<div class="col-md-4">
									<div class="form-group mb-0" :class="formGroupError('quantity')">
										<label for="quantity" class="col-md-3 control-label">Množství</label>
										<div class="col-md-9 pull-left">
											<div class="input-group">
												<input type="text" v-model="form.quantity" @@keyup="itemFormValidate()" id="quantity" class="form-control" placeholder="Množství" tabindex="1">
												<div class="input-group-addon">{{ form.article != null ? form.article.unitDesc : '' }}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4" v-if="form.article != null && form.article.useBatch">
									<div class="form-group mb-0" :class="formGroupError('batchNum')">
										<label for="batchnum" class="col-md-3 control-label">Šarže</label>
										<div class="col-md-9">
											<input type="text" v-model="form.batchNum" @@keyup="itemFormValidate()" id="batchnum" class="form-control" placeholder="Šarže" tabindex="2">
										</div>
									</div>
								</div>
								<div class="col-md-4" v-if="form.article != null && form.article.useExpiration">
									<div class="form-group mb-0 has-feedback" :class="formGroupError('expirationDate')">
										<label for="expirationDate" class="col-md-3 control-label">Expirace</label>
                                        <div class="col-md-9">
                                            <input type="text" v-model="form.expirationDate" @@keyup="itemFormValidate()" id="expirationDate" class="form-control" placeholder="Expirace" tabindex="3">
                                            <span v-if="showExpirationAlert" class="glyphicon glyphicon-warning-sign form-control-feedback" title="Datum je staré"></span>
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group mb-0">
								<button type="button" :disabled="errors.length > 0" @@click="addItem()" class="btn btn-success" style="height: 83px;" tabindex="5">Přidat<br />položku</button>
							</div>
						</div>
					</div>
				</form>
				<div>
					<table class="table table-condensed table-hover pull-right">
						<thead>
							<tr>
								<th>Karta</th>
								<th>Množství</th>
								<th>Šarže</th>
								<th>Expirace</th>
								<th>Paleta</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="v in articles">
								<td><b>{{ v.articleCode }}</b> <span class="text-muted">&nbsp;-&nbsp;</span> {{ v.articleDesc }}</td>
								<td>{{ v.quantity }} {{ v.packDesc}}</td>
								<td><span v-if="v.useBatch">{{ v.batchNum }}</span></td>
								<td><span v-if="v.useExpiration">{{ getExpirationDate(v.expirationDate) }}</span></td>
								<td>{{ v.carrierNum }}</td>
								<td class="text-right">
									<button type="button" @@click="cancelItem(v.docPosition)" class="btn btn-danger btn-sm" title="Odebrat položku">
										<i class="fas fa-times" aria-hidden="true"></i>
									</button>
									<button type="button" @@click="copyItem(v)" class="btn btn-default btn-sm" title="Kopírovat položku">
										<i class="fas fa-copy" aria-hidden="true"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-12" style="margin: 50px 0 20px;">
					<div class="row">
						<button type="button" @@click="goBack()" class="btn btn-default">Zpět</button>
						<button type="button" :disabled="articles.length < 1" @@click="completeDoc()" class="btn btn-primary pull-right">Uložit doklad</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    Vue.component('doc-info-component', {
        props: ['headtext'],
        computed: {
            headText: function () {
                return this.headtext.replace(/\//g, '<span class="text-muted">/</span>');
            }
        },
		template: '<h3 style="margin: 0 0 20px;"><span v-html="headText"></span></h3>'
	});

    Vue.component('receive-manual-form', {
        props: [],
        template: '#receive-manual-form-component',
        data: function () {
            return {
                partnerForm: {
                    partner: null,
                    partnerRef: null,
                    docRemark: null
                },
                form: {
                    quantity: null,
                    batchNum: null,
                    expirationDate: null,
                    carrierNum: null,
                    article: null
                },
                errors: [],
                showAdditionalInfo: false,
                showExpirationAlert: false,
                articles: [],
                directionID: null,
                docInfo: '',
                stoMoveID: null,
                docNumPrefix: '',
                backUrl: '@Url.Action(nameof(Web.DirectionController.Index), "Direction", new { Dir = DirectionSettingsModel.DirectionEnum.In })'
            };
        },
        created: function () {
            this._loadData();

            this.itemFormValidate();
        },
        methods: {
            _loadData: function () {
                const _self = this;
                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveProcMan) })',
                    {
                        WorkerID: '@User.FindFirst(ClaimTypes.Sid)?.Value'
                    },
                    function (res) {
                        if (res === null || !res.success) return;

                        _self.directionID = res.directionID;
                        _self.docInfo = res.docInfo;
                        _self.stoMoveID = res.stoMoveID;
                        _self.partnerForm.partnerRef = res.partnerRef;
                        _self.partnerForm.docRemark = res.docRemark;

                        if (res.partner.partnerID > 0)
                            _self.partnerForm.partner = res.partner;


                        _self.articles = res.items;
                    });
            },
            _resetItemForm: function () {
                this.form = {
                    quantity: null,
                    batchNum: null,
                    expirationDate: null,
                    carrierNum: null,
                    article: null,
                    partner: null,
                    partnerRef: null,
                    docRemark: null
                };
            },
            addItem: function () {
                const newItem = {
                    stoMoveID: this.stoMoveID,
                    positionID: null,
                    artPackID: this.form.article.artPackID,
                    carrierNum: this.form.carrierNum,
                    quantity: this.form.quantity,
                    batchNum: this.form.article.useBatch ? this.form.batchNum : null,
                    expirationDate: this.form.article.useExpiration ? convertExpirationToDate(this.form.expirationDate).toISOString() : null
                };

                const _self = this;
                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveSaveItem) })',
                    newItem,
                    function (res) {
                        if (res === null || !res.success) return;

                        if (res.repeatedItem) {
                            const modal = $('#modal_error').modal();
                            modal.on('hidden.bs.modal', function (e) {
                                window.location.reload();
                            });
                            modal.find('#modal_error_text').text('Stejná položka už je v seznamu.');
                            modal.show();
                        }

                        _self._resetItemForm();
                        _self._loadData();
                    });
            },
            copyItem: function (item) {
                // create article for seek_article_combo
                this.form.quantity = null;
                this.form.carrierNum = item.carrierNum;
                this.form.batchNum = item.useBatch ? item.batchNum : null;
                this.form.expirationDate = item.useExpiration ? dateToExpiration(item.expirationDate) : null;

                this.form.article = {
                    stoMoveID: this.stoMoveID,
                    name: item.articleInfo,
                    articleCode: item.articleCode,
                    artPackID: item.artPackID,
                    unitDesc: item.packDesc,
                    useBatch: item.useBatch,
                    useExpiration: item.useExpiration,
                    article: {
                        name: item.articleInfo,
                        articleCode: item.articleCode,
                        articleDesc: item.articleDesc
                    }
                };
            },
            cancelItem: function (pos) {
                const _self = this;

                this.$dialog
                    .confirm('Odebrat položku?')
                    .then(function (dialog) {
                        callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveCancelItem) })',
                            {
                                stoMoveID: _self.stoMoveID,
                                docPosition: pos
                            },
                            function (res) {
                                if (res === null || !res.success) return;

                                _self._resetItemForm();
                                _self._loadData();
                            });
                    })
                    .catch(function () { });
            },
            updatePartner: function () {
                const _self = this;
                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveChangePartner) })',
                    {
                        directionID: this.directionID,
                        partnerID: this.partnerForm.partner != null ? this.partnerForm.partner.partnerID : null,
                        partnerRef: this.partnerForm.partnerRef,
                        docRemark: this.partnerForm.docRemark
                    },
                    function (res) {
                        if (res === null || !res.success) return;

                        $('.partner-form .form-control:not([type=search]), .partner-form .v-select .dropdown-toggle').css('border', '1px solid #4cae4c').css('border-radius', '4px');
                        setTimeout(() => $('.partner-form .form-control:not([type=search]), .partner-form .v-select .dropdown-toggle').css('border', '1px solid #ccc'), 1000);
                    });
            },
            completeDoc: function () {
                const _self = this;
				this.$dialog
                    .confirm('Uložit doklad?')
                    .then(function (dialog) {
                        callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveDone) })',
							{
								stoMoveID: _self.stoMoveID
							},
							function (res) {
								if (res === null || !res.success) return;

								callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveTestDirection) })',
									{
										directionID: _self.directionID
									},
									function (res) {
										if (res === null || !res.success) return;

                                        // ok modal with option
										const modal = $('#modal_ok').modal();
										modal.on('hidden.bs.modal', function (e) {
                                            _self.goBack();
										});
                                        const btnCreateNew = $('<button type="button" class="btn btn-primary" data-dismiss="modal">Nový doklad</button>')
                                            .on('click', function () {
                                                window.location.reload();
                                            });
                                        modal.find('#modal_ok_text').text('Chcete vytvořit nový doklad?');
                                        modal.find('.modal-footer').append(btnCreateNew);
                                        modal.find('.modal-footer .btn-default').text('Ne');
                                        modal.show();
									});
							});
                    })
                    .catch(function () { });
            },
            goBack: function () {
                window.location.href = this.backUrl;
            },
            formGroupError: function (fieldName) {
                const result = {
                    'has-error': this.errors.findIndex(_ => _.key === fieldName) !== -1
                };

                if (fieldName == 'expirationDate' && this.showExpirationAlert) {
                    result['has-warning'] = true
                }

                return result;
            },
            itemFormValidate: function () {
                const _self = this;

                const fncError = function (fieldName, hasError) {
                    const errIndex = _self.errors.findIndex(_ => _.key === fieldName);
					if (hasError) {
						if(errIndex === -1)
							_self.errors.push({ key: fieldName });
					}
					else {
						if(errIndex >= 0)
							_self.errors.splice(errIndex, 1);
					}
                };

                // specific field validation
                fncError('article', this.form.article === null);
                fncError('quantity', this.form.quantity === null || this.form.quantity === '' || isNaN(this.form.quantity) || this.form.quantity < 1 === true);
				fncError('batchNum', this.form.article === null || this.form.article.useBatch && this.form.batchNum === null || this.form.batchNum === '');

                this.showExpirationAlert = false;
                const expDate = convertExpirationToDate(this.form.expirationDate);
                if (this.form.article !== null && this.form.article.useExpiration && expDate !== null && expDate < new Date()) {
                    this.showExpirationAlert = true;
                }
                fncError('expirationDate', this.form.article === null || this.form.article.useExpiration
                    && (this.form.expirationDate === null || this.form.expirationDate === '' || convertExpirationToDate(this.form.expirationDate) === null));
            },
			getExpirationDate: (date) => {
                if(date == null) return '';
                return dateToExpiration(date);
            },
            articleSelcted: function (v) {
                if (v === null)
                    this._resetItemForm();
            }
        },
        watch: {
            'form.article': function (val, oldVal) {
                this.showAdditionalInfo = val != null;
                this.itemFormValidate();

				if(this.showAdditionalInfo)
					setTimeout(() => document.getElementById('quantity').focus(), 60);
            }
        }
    });

	const root = new Vue({
		el: "#app",
	});
</script>