﻿@using Microsoft.AspNetCore.Mvc
@using S4.Web.API
@using Web = S4.Web.Controllers
@using System.Security.Claims;
@using S4.Web.Models

@{
    ViewData["Title"] = "Zjednodušený příjem";
}

<style>
    .v-select.searchable .dropdown-toggle {
        background-color: #ffffff !important;
    }

    .has-error .v-select.searchable .dropdown-toggle {
        border: 1px solid #a94442;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .has-warning .control-label, .has-warning .form-control-feedback {
        color: #c38417;
    }

    .has-warning .form-control {
        border-color: #c38417;
    }
</style>

<partial name="ApiErrorModal" />
<partial name="OkModal" />
<partial name="../Direction/PrintDialog" />
<partial name="../Direction/PrintBoxLabelsDialog" />

<div id="app">
    <receive-simple-form></receive-simple-form>
</div>

@*
	* submission-item-component template
*@
<script src="~/Scripts/seekCombo/seekPositionCombo.js"></script>
<template id="receive-simple-form-component">
    <div class="row">
        <div class="col-md-12">
            @* <doc-info-component :headtext="docInfo"></doc-info-component> *@

            <div style="margin-bottom: 10px; ">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12 article-form">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="article" class="col-md-1 control-label">Karta</label>
                                        <div class="col-md-11">
                                            <seek_article_combo v-model="article" name="article" :value="article"></seek_article_combo>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="quantity" class="col-md-1 control-label">Množství</label>
                                        <div class="col-md-11">
                                            <input type="text" v-model="quantity" name="quantity" id="quantity" class="form-control" @@keyup="itemFormValidate()" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="expiration" class="col-md-1 control-label">Datum expirace</label>
                                        <div class="col-md-11">
                                            <input type="text" v-model="expiration" name="expiration" id="expiration" placeholder="dd.mm.rrrr" class="form-control" @@keyup="itemFormValidate()" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="position" class="col-md-1 control-label">Pozice</label>
                                        <div class="col-md-11">
                                            <seek_position_combo v-model="position" name="position" :value="position" position-category="Special"></seek_position_combo>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="documentRemark" class="col-md-1 control-label">Poznámka</label>
                                        <div class="col-md-11">
                                            <textarea rows="3" v-model="documentRemark" name="documentRemark" id="documentRemark" class="form-control"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="col-md-12" style="margin: 0 0 20px;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button type="button" name="submitButton" id="submitButton" :disabled="submitButtonDisabled" @@click="completeDoc()" class="btn btn-primary pull-left">Přijmout</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" @@click="goBack()" class="btn btn-default">Zrušit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Přijmout',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    Vue.component('seek-article-combo', {
        props: ['headtext'],
        computed: {
            headText: function () {
                return this.headtext.replace(/\//g, '<span class="text-muted">/</span>');
            }
        },
        template: '<h3 style="margin: 0 0 20px;"><span v-html="headText"></span></h3>'
    });

    Vue.component('receive-simple-form', {
        props: [],
        template: '#receive-simple-form-component',

        data: function () {
            return {
                article: null,
                position: null,
                quantity: null,
                expiration: null,
                documentRemark: null,

                errors: [],
                articleSelected: false,
                positionSelected: false,
                submitButtonDisabled: true,

                backUrl: '@Url.Action(nameof(Web.DirectionController.Index), "Direction", new { Dir = DirectionSettingsModel.DirectionEnum.In })',
            };
        },

        

        // ReceiveSimple
        methods: {
            completeDoc: function () {
                const _self = this;
                console.log("Errors: ");
                console.log(_self.errors);

                this.$dialog
                    .confirm('Uložit doklad?')
                    .then(function (dialog) {
                        const dataForReceiveSimple = {
                            articleID: _self.article.article.articleID,
                            positionID: _self.position.position.positionID,
                            quantity: _self.quantity,
                            expirationDate: _self.expiration,
                            documentRemark: _self.documentRemark,
                        };

                        callAJAX(
                            '@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.Receive.ReceiveSimple) })',
                            dataForReceiveSimple,
                            function (res) {
                                if (res === null || !res.success) return;

                                // ok modal with option
                                const modal = $('#modal_ok').modal();
                                modal.on('hidden.bs.modal', function (e) {
                                    _self.goBack();
                                });
                                const btnCreateNew = $('<button type="button" class="btn btn-primary" data-dismiss="modal">Nový doklad</button>')
                                    .on('click', function () {
                                        window.location.reload();
                                    });
                                modal.find('#modal_ok_text').text('Chcete vytvořit nový doklad?');
                                modal.find('.modal-footer').append(btnCreateNew);
                                modal.find('.modal-footer .btn-default').text('Ne');
                                modal.show();
                            }
                        );
                    })
                    .catch(function () { });
            },

            itemFormValidate: function () {
                const _self = this;

                // define error saving mechanism
                const saveErrorsToArray = function (fieldName, hasError) {
                    const errIndex = _self.errors.findIndex(_ => _.key === fieldName);
                    if (hasError) {
                        if (errIndex === -1)
                            _self.errors.push({ key: fieldName });
                    }
                    else {
                        if (errIndex >= 0)
                            _self.errors.splice(errIndex, 1);
                    }
                };

                const isValidCzechDate = function (dateString) {
                    const regex = /\b([1-9]|0[1-9]|[12][0-9]|3[01])\.([1-9]|0[1-9]|1[012])\.(\d{4})\b/;
                    return dateString.match(regex) !== null;
                };

                // check fields using the error saving mechanism
                saveErrorsToArray('article', this.article === null);
                saveErrorsToArray('quantity', this.quantity === null || this.quantity === '' || isNaN(this.quantity) || this.quantity < 1 === true);
                saveErrorsToArray('expiration', this.expiration === null || this.expiration === '' || !isValidCzechDate(this.expiration));
                saveErrorsToArray('position', this.position === null);

                this.submitButtonDisabled = _self.errors.length > 0;
            },

            goBack: function () {
                window.location.href = this.backUrl;
            }
        },

        watch: {
            'article': function (val, oldVal) {
                const articleSelected = val != null;
                this.itemFormValidate();

                // Automatically switch focus to the Quantity field after article has been selected
                if (articleSelected)
                    setTimeout(() => document.getElementById('quantity').focus(), 60);
            },

            'position': function (val, oldVal) {
                this.positionSelected = val != null;
                this.itemFormValidate();

                // Automatically switch focus to the DocumentRemark field after position has been selected
                if (this.positionSelected)
                    setTimeout(() => document.getElementById('documentRemark').focus(), 60);
            }
        }
    });

    const root = new Vue({
        el: "#app",
    });
</script>