﻿@using Microsoft.EntityFrameworkCore.Internal
@using S4.Web.Controllers
@model ReceiveImportCsvModel
@{
    ViewData["Title"] = "Příjem import";
}

<partial name="OkModal" />
<partial name="ApiErrorModal" />

<script src="~/Scripts/seekCombo/seekPositionCombo.js"></script>

<div>
    <form class="form-horizontal well" enctype="multipart/form-data" method="post" action="@Url.Action(nameof(ActionController.ReceiveImportCsvAction), "Action")">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="form-group" style="margin-bottom: 0;">
                <div asp-validation-summary="All" class="text-danger alert alert-danger"></div>
            </div>
        }
        <div class="form-group" style="margin-bottom: 0;">
            <label asp-for="File" class="col-sm-2 control-label">Nahrát csv soubor</label>
            <div class="col-sm-3">
                <div class="form-control-static">
                    <input type="file" asp-for="File" />
                </div>
            </div>
            <div class="col-sm-4">
                <input class="btn btn-info pull-left" type="submit" value="Nahrát soubor" />
            </div>
        </div>
    </form>
    
    @* <form class="form-horizontal" enctype="multipart/form-data"> *@
    <div id="app">
        @if (Model.Data.Any())
        {
            <div class="form-group">
                <div class="col-md-7">
                    <h3>Kontrola položek</h3>
                </div>
                <div class="col-md-5">

                    <table class="table table-condensed pull-right">
                        <thead>
                        <tr>
                            <th>Číslo DLV</th>
                            <th>Číslo obj. CZZ</th>
                            <th>Číslo obj. Büroprofi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>@Model.Data.First().PackingSlipId</td>
                            <td>@Model.Data.First().CustomerRef</td>
                            <td>@Model.Data.First().SalesId</td>
                        </tr>
                        </tbody>
                    </table>
                
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div style="height:50vh;width:100%;overflow:auto;">
                        <table class="table table-striped table-condensed" style="width:100%">
                            <thead>
                            <tr>
                                <th>Kód položky</th>
                                <th>Text položky</th>
                                <th class="text-right">Vyskladněné zboží</th>
                                <th>Chyba</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td>@item.ExtItemId</td>
                                    <td>@item.LineText</td>
                                    <td>@item.Qty @item.UnitId</td>
                                    <td class="text-danger">@item.ErrorMessage</td>
                                    @if(item.IsItemValid) {
                                        <input type="hidden" name="item" value="@item.ArtPackID,@item.Qty" />
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="workerID" class="col-sm-2 control-label">Pracovník</label>
                <div class="col-sm-8">
                    <v-select v-model="selectedWorker" id="workerID" :options="workerList" value="workerID" label="workerName"
                        onwheel="rollOnWheelVue(event, formApp, 'selectedWorker', 'workerList')">
                        <template slot="option" slot-scope="option">
                            <span class="worker-list-name">{{ option.workerName }}</span>
                        </template>
                    </v-select>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="positionID" class="col-sm-2 control-label">Pozice</label>
                <div class="col-sm-4">
                    <seek_position_combo ref="positionID" id="positionID" v-model="position" v-on:positionselected="positionFromSelected"></seek_position_combo>
                </div>
            </div>
            
            <div v-if="paramError != null" class="col-sm-10">
                <div class="form-control-static">
                    <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
                    <b>Příjem nelze provést:</b>
                    <br />
                    <span>{{ paramError }}</span>
                </div>
            </div>
            
            @if (Model.Data.All(_ => _.IsItemValid))
            {
                <div class="modal-footer" style="border-top-style:none;">
                    <button class="btn btn-primary" @@click="save">Provést</button>
                </div>
            }
        }
    </div>
    @* </form> *@
</div>

<script>
    var formApp = new Vue({
        el: '#app',
        data: function() {
            return {
                workerList: [],
                selectedWorker: null,
                position: 0,
                partnerRef: '@(Model.Data.Any() ? Model.Data.First().CustomerRef : null)',
                paramError: null
            }
        },
        mounted: function() {
            callAJAX(window.location.origin + '/api/procedureshelpers/storeinworkers', {}, function (result) {
                formApp.$data.workerList = result;
                formApp.$data.workerID = result[0];
            });
        },
        methods: {
            positionFromSelected: function (position) {
                this.positionID = position.value;
            },
            save: function() {
                // check params
                this.paramError = null;
                
                if (!this.selectedWorker) {
                    this.paramError = 'Je nutné zadat pracovníka';
                    return;
                }
                if (!this.position) {
                    this.paramError = 'Je nutné zadat cílovou pozici';
                    return;
                }

                // get items
                let values = [];
                document.querySelectorAll('input[type="hidden"][name="item"]').forEach((v) => {
                    const _v = v.value.split(',');
                    values.push({
                        ArtPackID: parseInt(_v[0]),
                        Quantity: parseFloat(_v[1])
                    });
                });
                
                const data = {
                    Items: values,
                    PartnerRef: this.partnerRef,
                    ReceivePositionID: 0,
                    DestPositionID: this.position.value,
                    WorkerID: this.selectedWorker.workerID
                };
                
                callAJAX(window.location.origin + '/api/procedures/logisticsimportreceive', data, function(res) {
                    if(!res.success) {
                        const modal = $('#modal_error').modal();
                        modal.find('#modal_error_text').text('Příjem se nepodařilo naimportovat.');
                        modal.show();        
                        return;
                    }
                    
                    const modal = $('#modal_ok').modal();
                    modal.on('hidden.bs.modal', function (e) {
                        window.location.href = window.location.href;
                    });
                    modal.find('#modal_ok_text').text('Příjem byl naimportován.');
                    modal.show();
                });
            }
        }
    });
</script>