﻿@{
    ViewData["Title"] = "Přiřazení kontroly";
}
<partial name="DispCheckWorkerColumn" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

<style>
    [v-cloak] {
        display: none;
    }
    .chkbox {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
        position: relative;
        top: 2px;
    }
    td.data {
        padding-top: .8em !important;
    }
</style>
<div id="app" v-cloak>
    <form class="form-horizontal">

        <div class="form-group">
            <label for="statusCode" class="col-sm-2 control-label">Doklady</label>
            <div class="col-sm-10">
                <div style="height:70vh;width:100%;overflow-x:hidden;overflow-y:auto;">
                    <data_list v-bind:settings="settings"
                               v-bind:items="directions"
                               v-on:selectedchanged="selectedChanged"
                               v-on:cmdclicked="changeSameWorker"
                               ref="grid"></data_list>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Vybráno</label>
            <div class="col-sm-4">
                <div class="form-control-static">
                    {{ selectedCount }} dokladů
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="workerID" class="col-sm-2 control-label">Pracovník</label>
            <div class="col-sm-8">
                <v-select v-model="selectedWorker" id="workerID" :options="workerList" value="workerID" label="workerName">
                    <template slot="option" slot-scope="option">
                        <span class="worker-list-name" v-bind:class="{ 'worker-prefered': option.isPrefered }">{{ option.workerName }}</span>
                        <span class="worker-list-num">{{ option.cntDocs }} dokl.</span>
                        <span class="worker-list-num">{{ option.cntItems }} pol.</span>
                        <span class="worker-list-status"><span class="label label-default">{{ option.workerStatusName }}</span></span>
                    </template>
                </v-select>
                <span v-if="selectedWorker != null" class="help-block">
                    <i v-if="selectedWorker.isPrefered" class="fas fa-check-circle fa-lg" style="color: #3c763d; margin-right:.5em;" title="Pracovník ma tuto práci nastavenou."></i>
                    Pracovník má přiřazeno {{ selectedWorker.cntDocs }} dokladů ({{ selectedWorker.cntItems }} položek).
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Výsledek</label>
            <div v-if="actionResult != null" class="col-sm-10">
                <div class="form-control-static">
                    <span v-if="actionResult.success"><i class="fas fa-check-circle fa-lg text-success"></i> <b>OK</b></span>
                    <span v-if="!actionResult.success">
                        <i class="fas fa-exclamation-circle fa-lg text-danger"></i> <b>Nepodařilo se</b>
                        <br />
                        <span>{{ actionResult.errorText }}</span>
                    </span>
                </div>
            </div>
            <div v-if="paramError != null" class="col-sm-10">
                <div class="form-control-static">
                    <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
                    <b>Expedici nelze provést:</b>
                    <br />
                    <span>{{ paramError }}</span>
                </div>
            </div>
        </div>

    </form>

    <div class="modal-footer" style="border-top-style:none;">
        <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
    </div>
</div>


    <script>
    var dataListSettings = {
        keyFields: [ "id" ],
        pageSize: 0,
        showFilterRow: true,
        showHeader: true,
        allowSorting: true,
        exportToExcelDisallowed: true,
        multiColSep: "<span class='docInfoSeparator'>/</span>",
        selectiongCheckboxClass: "chkbox",
        columns: [
            {
                caption: "Doklad",
                class: "col-lg-2 col-md-2 col-sm-2",
                visible: true,
                allowHtmlFormating: true,
                bold: true,
                sortMode: smNone,
                columns: [
                    {
                        fieldName: "docNumPrefix",
                        caption: "Prefix"
                    },
                    {
                        fieldName: "docYear",
                        caption: "Rok"
                    },
                    {
                        fieldName: "docNumber",
                        caption: "Doklad"
                    },
                ]
            },
            {
                fieldName: "partnerName",
                caption: "Firma",
                class: "col-lg-4 col-md-4 col-sm-4",
                visible: true,
                dataType: tpString,
                sortMode: smNone
            },
            {
                fieldName: "posCode",
                caption: "Pozice",
                class: "col-lg-2 col-md-2 col-sm-2",
                visible: true,
                dataType: tpString,
                sortMode: smNone
            },
            {
                fieldName: "workerCode",
                caption: "Vyskladnění udělal",
                class: "col-lg-3 col-md-3 col-sm-3",
                visible: true,
                vueColumn: "dispcheckworker_column",
                dataType: tpString,
                sortMode: smNone
            },
            {
                caption: "Vybrat",
                class: "col-lg-1 col-md-1 col-sm-1",
                visible: true,
                dataType: tpSelection,
                sortMode: smNone
            }
        ]
    }

    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                settings: dataListSettings,
                selectAll: false,
                directions: [],
                selectedCount: 0,
                workerList: [],
                selectedWorker: null,
                paramError: null,
                actionResult: null
            }
        },
        mounted: function () {
            this.loadWorkers();
            this.loadDirections();
        },
        watch: {
        },
        methods: {
            loadWorkers: function () {
                callAJAX(window.location.origin + '/api/procedureshelpers/dispatchcheckworkers', {}, function (result) {
                    app.$data.workerList = result;
                    app.$data.selectedWorker = result[0];
                });
            },
            loadDirections: function () {
                callAJAX(window.location.origin + '/api/action/dispchecklist', {}, this.showDirections, null, true);
            },
            showDirections: function (data) {
                var id = 0;
                data.forEach(function (i) { id++ , i.id = id, i.toSet = false, i.posCode = i.position.posCode; });
                app.$data.directions = data;
            },
            selectedChanged: function (rows) {
                this.selectedCount = rows.length;
            },
            changeSameWorker: function (rows) {
                var item = rows[0];

                if (item === undefined || item === null || item.workerCode === null || item.workerCode === '') return;

                var workerCode = item.workerCode;
                var grid = this.$refs.grid;
                var isSelected = grid.getIsItemInSelected(item);
                var sameWorkerItems = grid.visibleRows.filter(function (item) {
                    return item.workerCode == workerCode;
                });
                sameWorkerItems.forEach(function (item) {
                    if (isSelected && grid.getIsItemInSelected(item))
                        grid.selectedRows.splice(grid.selectedRows.indexOf(item), 1);
                    else if (!isSelected && !grid.getIsItemInSelected(item))
                        grid.selectedRows.push(item);
                });
                this.selectedCount = grid.selectedRows.length;
            },
            save: function () {
                var itemsToSet = this.$refs.grid.selectedRows;

                this.actionResult = null;
                this.paramError = null;

                // check params
                if (itemsToSet.length == 0) {
                    this.paramError = 'Je nutné vybrat nějaké doklady';
                    return;
                }
                if (!this.selectedWorker) {
                    this.paramError = 'Je nutné vybrat pracovníka';
                    return;
                }

                //var param = {
                //    sourcePositionID: app.$data.positionFrom.value,
                //    destPositionID: app.$data.positionTo.value,
                //    changeCarrier: false,
                //    articles: itemsToMove
                //};
                this.$dialog.confirm('Opravdu chcete přiřadit pracovníka (' + itemsToSet.length + ' položek)?', { type: 'soft', verification: 'continue', clicksCount: 1 })
                    .then(function () {
                        var paramsFunction = function (item) {
                            return {
                                directionID: item.directionID,
                                workerID: app.$data.selectedWorker.workerID,
                            };
                        };
                        callAJAXBatch(window.location.origin + '/api/procedures/dispcheckwait', itemsToSet, paramsFunction, app.showResult, true);
                    });

            },
            showResult: function (res) {
                app.$data.actionResult = res;
                app.loadDirections();
                this.$refs.grid.clearSelecting();
            }
        }
    });
    </script>
