﻿@model int
@using Microsoft.AspNetCore.Mvc
@using S4.Web.API
@using System.Security.Claims;
@using S4.Web.Hubs;
@using S4.Core.EAN;
@{
    ViewData["Title"] = "Vzdálená inventura";
    Layout = "_LayoutMobile";
}

<style>
    [data-notify="dismiss"] {
        font-size: 50px;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nopadding {
        padding: 0;
    }

    .pointer {
        cursor: pointer;
    }

    .filters {
        padding: 16px 16px;
        margin-top: 10px;
        background-color: #f5f5f5;
    }

    .diff-list-component table tr.different-alert {
        background-color: #fdf7f0;
    }

        .diff-list-component table tr.different-alert td:first-child {
            border-left: 10px solid #ffc278;
        }

    .diff-list-component table tr.different-newitem-alert td:first-child {
        border-left: 10px solid #7aff78;
    }

    .diff-list-component table tr td.itemDiff {
        font-size: 18px;
        padding-top: 16px;
    }

    @@media only screen and (max-width: 500px) {
        body {
            /*background-color: lightblue;*/
            font-size: 16px;
        }

        .dg-content {
            font-size: 26px;
        }

        .navbar-header > .navbar-text {
            font-size: 22px;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .dropdown-menu-right {
            right: 64px;
        }

        .dropdown-menu a {
            font-size: 22px;
        }

        .checkbox {
            margin-top: 6px;
            margin-bottom: 6px;
        }

            .checkbox input[type="checkbox"] {
                -webkit-transform: scale(2);
                margin-left: -25px;
            }

        .v-select .dropdown-toggle {
            font-size: 20px;
        }
        /* components */
        .data-list-component .nav-tabs > li a {
            background-color: #f7f7f7;
            font-size: 18px;
        }

        .data-list-component .nav-tabs > li.active a {
            background-color: #269abc;
            color: #ffffff;
        }

        .list-component table tr th {
            padding: 0px;
        }

            .list-component table tr th.itemName {
                width: 240px;
            }

            .list-component table tr th.itemInfo {
                width: 100px;
            }

            .list-component table tr th.itemQty {
                width: 60px;
            }
        /* filters sticky panel */
        .filters {
            padding: 10px 16px;
            margin: 0px;
        }

        .sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #e7e7e7;
            color: #f1f1f1;
            z-index: 100;
        }

            .sticky + .content {
                padding-top: 100px;
            }
    }
</style>

<partial name="ApiErrorModal" />
<partial name="OkModal" />
<partial name="../Direction/PrintDialog" />
<partial name="../Direction/PrintBoxLabelsDialog" />

<div class="row" style="margin: 0px">
    <div id="app" :class="{ 'xs-window-size': isXsWindowSize }">
        <data-list-component :stotak="stotak"
                             :show-component="showComponentWithName == null || 'data-list' == showComponentWithName"
                             :is-xs-window-size="isXsWindowSize"></data-list-component>
        <add-edit-item-component :stotak="stotak"
                                 :stotak-item-edit="stotakItemEdit"
                                 :stotak-item-copy="stotakItemCopy"
                                 :show-component="'add-edit-item-component' == showComponentWithName"
                                 :is-xs-window-size="isXsWindowSize"></add-edit-item-component>
        <begin-form-component :show-component="'begin-form-component' == showComponentWithName"
                              :is-xs-window-size="isXsWindowSize"></begin-form-component>
    </div>
</div>

@*
    * add-edit-component template
*@
<template id="add-edit-item-template">
    <div class="col-xs-12" v-show="showComponent">
        <form class="form-horizontal" style="margin-top: 20px; position: relative;">

            <div v-if="!isScannerReady" class="alert alert-danger text-center" style="margin-top: 20px;">
                Skener není dostupný. Restartujte službu skeneru.
            </div>

            <div class="form-group" :class="{ 'form-group-lg': isXsWindowSize }">
                <label for="articles" class="col-sm-2 col-xs-12 control-label">Karta</label>
                <div class="col-sm-12 col-xs-12">
                    <seek_article_combo v-if="stotakItemEdit === null" v-model="form.article" name="articles" :value="form.article" @@articleselected="articleSelcted"></seek_article_combo>
                    <input type="text" v-if="stotakItemEdit !== null" :value="stotakItemEdit.article.articleInfo" class="form-control" readonly />
                </div>
            </div>
            <div v-show="showAdditionalInfo" class="form-group" :class="Object.assign({ 'form-group-lg': isXsWindowSize }, formGroupError('quantity'))">
                <label for="quantity" class="col-sm-2 col-xs-3 control-label">Množství</label>
                <div class="col-sm-4 col-xs-6 col-md-2 pull-left">
                    <div class="input-group">
                        <input type="number" v-model.number="form.quantity" @@keyup="itemFormValidate()" id="quantity" class="form-control" placeholder="Množství">
                        <div class="input-group-addon">{{ form.article != null ? form.article.unitDesc : '' }}</div>
                    </div>
                </div>
                <a href="#app" v-if="isXsWindowSize" @@click="save()" class="btn btn-primary" :class="{ 'btn-lg': isXsWindowSize }">Prov.</a>
            </div>
            <div v-show="showAdditionalInfo && form.article != null && form.article.useBatch" class="form-group" :class="Object.assign({ 'form-group-lg': isXsWindowSize }, formGroupError('batchNum'))">
                <label for="batchnum" class="col-xs-2 col-md-2 control-label">Šarže</label>
                <div class="col-xs-8 col-md-4">
                    <input type="text" v-model="form.batchNum" @@keyup="itemFormValidate()" id="batchnum" class="form-control" placeholder="Šarže">
                </div>
            </div>
            <div v-show="showAdditionalInfo && form.article != null && form.article.useExpiration" class="form-group" :class="Object.assign({ 'form-group-lg': isXsWindowSize }, formGroupError('expirationDate'))">
                <label for="expirationDate" class="col-xs-3 col-md-2 control-label">Expirace</label>
                <div class="col-xs-7 col-md-4">
                    <input type="text" v-model="form.expirationDate" @@keyup="itemFormValidate()" id="expirationDate" class="form-control" placeholder="Expirace">
                </div>
            </div>
            <div v-show="showAdditionalInfo" class="form-group" :class="Object.assign({ 'form-group-lg': isXsWindowSize }, formGroupError('carrierNum'))">
                <label for="carrierNum" class="col-xs-2 col-md-2 control-label">Paleta</label>
                <div class="col-xs-10 col-md-4">
                    <input type="text" v-model="form.carrierNum" @@keyup="itemFormValidate()" id="carrierNum" class="form-control" placeholder="Paleta">
                </div>
            </div>
            <div class="form-group hidden-xs" style="margin-top: 50px;">
                <button type="button" @@click="cancel()" class="btn btn-default" :class="{ 'btn-lg': isXsWindowSize }">Zrušit</button>
                <a href="#app" type="button" @@click="save()" class="btn btn-primary pull-right" :class="{ 'btn-lg': isXsWindowSize }">Uložit</a>
            </div>
            <div class="visible-xs-block" style="margin-top: 50px;">
                <a href="#app" @@click="save()" class="btn btn-primary btn-lg btn-block">Provést</a>
                <button type="button" @@click="cancel()" class="btn btn-default btn-lg btn-block" style="margin: 20px 0px 20px 0px">Zrušit</button>
            </div>
        </form>
    </div>
</template>

@*
    * data-list-component template
*@
<template id="data-list-template">
    <div v-show="showComponent" class="data-list-component">
        <div class="">
            <ul class="nav nav-tabs nav-justified">
                <li :class="{ 'active': currentTab === 'list' }"><a href="" @@click.prevent="currentTab = 'list'">Položky</a></li>
                <li :class="{ 'active': currentTab === 'diff' }"><a href="" @@click.prevent="currentTab = 'diff'">Rozdíly</a></li>
            </ul>
            <list-component :stotak="stotak"
                            :show-component="showComponent && currentTab == null || showComponent && 'list' == currentTab"
                            :is-xs-window-size="isXsWindowSize"></list-component>
            <diff-list-component :stotak="stotak"
                                 :show-component="showComponent && 'diff' == currentTab"
                                 :is-xs-window-size="isXsWindowSize"></diff-list-component>
        </div>
    </div>
</template>

@*
    * list-component template
*@
<template id="list-template">
    <div v-show="showComponent" class="list-component">
        <div class="row filters" id="filters" style="padding: 10px 3px 10px 3px">
            <div class="col-xs-4 nopadding">
                <a href="" class="btn btn-success" style="float: left; padding: 6px 3px;" @@click.prevent="addItem()">
                    <i class="fas fa-plus"></i> Přidat položku
                </a>
            </div>
            <div class="col-xs-6 nopadding">
                <div class="input-group" style="padding-left: 5px; float: left;">
                    <span class="input-group-addon" :class="{ 'hidden': $isXsWindowSize }"><i class="fas fa-search"></i></span>
                    <input type="text" v-model="searchTerm" class="form-control" placeholder="Hledat..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @@click="searchTerm = null">
                            <i class="fas fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-2 nopadding">
                <div class="dropdown pull-right" style="float: left;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fas fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" @@click.prevent="printStoTakDialog(false)"><i class="fas fa-print"></i> Tisk</a></li>
                        <li><a href="#" @@click.prevent="finishStoTak()" class="bg-info"><i class="fas fa-check-circle"></i> Dokončit</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="margin: 10px 0px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="itemName">Položka</th>
                        <th class="itemInfo">Šarže<br />Expirace</th>
                        <th class="itemQty">Poč</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!items.length">
                        <td style="height: 50px;"></td>
                    </tr>
                    <tr v-for="item in items">
                        <td><b>{{ item.article.articleCode }}</b> - {{ item.article.articleDesc }}</td>
                        <td>
                            <div>{{ item.article.useBatch ? item.batchNum : null }}</div>
                            <div>{{ item.article.useExpiration ? getExpirationDate(item.expirationDate) : null  }}</div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a @@click.prevent="removeItem(item.stotakItemID)" href="" class="bg-danger">
                                            <i class="fas fa-times"></i> Smazat
                                        </a>
                                    </li>
                                    <li>
                                        <a @@click.prevent="editItem(item)" href="">
                                            <i class="fas fa-edit"></i> Upravit
                                        </a>
                                    </li>
                                    <li>
                                        <a @@click.prevent="copyItem(item)" href="">
                                            <i class="fas fa-copy"></i> Kopie
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

@*
    * diff-list-component template
*@
<template id="diff-list-template">
    <div v-show="showComponent" class="diff-list-component">
        <div class="row filters" id="filters">
            <div class="col-xs-4 nopadding">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="filter.showOnlyDiff" /> Nesouhlasí
                    </label>
                </div>
            </div>
            <div class="col-xs-8 nopadding">
                <div class="input-group" style="padding-left: 5px; float: left;">
                    <span class="input-group-addon"><i class="fas fa-search"></i></span>
                    <input type="text" v-model="filter.searchTerm" class="form-control" placeholder="Hledat..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @@click.prevent="filter.searchTerm = null; filter.showOnlyDiff = false">
                            <i class="fas fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div style="margin-top: 10px 0px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Položka</th>
                        <th>Balení</th>
                        <th>Teď<br />Před</th>
                        <th>Rozdíl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" @@click="addQuickItem(item)" :class="{ 'different-alert': item.quantDiff !== 0, 'different-newitem-alert': item.quantDiff > 0 && item.quantStTa > 0 && item.quantOnSt === 0}">
                        <td><b>{{ item.articleCode }}</b> - {{ item.articleDesc }}</td>
                        <td>{{ item.packDesc }}</td>
                        <td>
                            <div><b>{{ item.quantStTa }}</b></div>
                            <div>{{ item.quantOnSt }}</div>
                        </td>
                        <td class="itemDiff" :class="getDiffColumnColor(item.quantDiff)">{{ item.quantDiff }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <quick-add-item-variant-list :article="articleSelected"
                                     :show-quick-add-item-counter="showQuickAddItemCounter"
                                     :stotak="stotak"
                                     :is-xs-window-size="isXsWindowSize"
                                     @@on-close="closeAddQuickItem"></quick-add-item-variant-list>
    </div>
</template>


@*
    * begin-form-component template
*@
<template id="begin-form-component">
    <div v-show="showComponent">
        <div class="row">
            <div class="col-sm-12">
                <h3>Zahájit inventuru na pozici</h3>

                <form v-on:submit.prevent class="form-horizontal" style="margin-top: 20px;">
                    <div class="form-group has-feedback" :class="{ 'form-group-lg': isXsWindowSize, 'has-success': showPositionSuccess }" :class="fieldValidation('position')">
                        <label for="positionCodePart" class="col-xs-2 control-label">Pozice</label>
                        <div class="col-md-4 col-xs-7">
                            <input type="text" v-model="positionCodePart" id="positionCodePart" class="form-control" placeholder="Pozice" @@keyup.enter="findPositionEnter()">
                            <span v-show="showPositionSuccess" class="glyphicon text-success glyphicon-ok form-control-feedback"></span>
                        </div>
                        <button type="button" @@click="findPositionEnter()" class="btn btn-info" :class="{ 'btn-lg': isXsWindowSize }">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="form-group" :class="{ 'form-group-lg': isXsWindowSize }">
                        <label for="stotakDesc" class="col-xs-4 col-md-2 control-label">Poznámka</label>
                        <div class="col-xs-8 col-md-4">
                            <textarea v-model="stotakDesc" id="stotakDesc" class="form-control" placeholder="poznámka"></textarea>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 50px; ">
                        <div class="col-sm-12">
                            <button type="button" :disabled="position === null" @@click="save()" class="btn btn-primary pull-right" :class="{ 'btn-lg': isXsWindowSize }">Zahájit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>


@*
    * print modal template
*@
<div id="modal_printStoTak" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-default">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-print fa-2x" style="margin-right:.7em;"></i>Tisk inventury</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hasRedirectFlag" value="false" />
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="entryEmail">Odeslat na email:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="entryEmail" placeholder="Vložte email" autocomplete="chrome-off">
                            <a href="#" id="addEmailEnd" data-email-end="@@promedica-praha.cz" class="pull-right" style="font-size: 20px;">vložit  @@promedica-praha.cz</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                <button type="button" id="btnPrint" class="btn btn-primary">Tisk</button>
            </div>
        </div>
    </div>
</div>


@*
    * add item variant modal template
*@
<template id="quick-add-item-variant-list-template">
    <div id="modal_quickAddItemVariantList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content panel-default">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" @@click="clear" data-dismiss="modal">&times;</button>
                    <h4 v-if="itemSelected !== null" class="modal-title">Přidat položku</h4>
                    <h4 v-else class="modal-title">Seznam variant</h4>
                </div>
                <div class="modal-body nopadding">
                    <div class="col-md-12">
                        <form v-if="itemSelected !== null" class="form-horizontal" style="margin-top: 20px;">
                            <h3><b>{{ $article.articleCode }}</b> - {{ $article.articleDesc }}</h3>
                            <div class="form-group" style="margin: 0">
                                <div class="col-xs-6">
                                    <label class="col-xs-12 col-md-3 control-label nopadding" for="quantity">Šarže:</label>
                                    <div class="col-xs-12 col-md-9">
                                        <p class="form-control-static">{{ itemSelected.batchNum }}</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-12 col-md-3 control-label nopadding" for="quantity">Expirace:</label>
                                    <div class="col-xs-12 col-md-9">
                                        <p class="form-control-static">{{ getExpirationDate(itemSelected.expirationDate) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" :class="{ 'form-group-lg': isXsWindowSize }">
                                <div class="col-xs-9">
                                    <label class="col-xs-4 col-md-3 control-label" for="quantity">Množství:</label>
                                    <div class="col-xs-8 col-md-5">
                                        <input class="form-control text-center" type="number" v-model.number="itemSelected.quantity" id="quantity" autocomplete="chrome-off">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" v-if="itemSelected !== null && itemSelected.quantity > 0" @@click="save" id="btnPrint" class="btn btn-primary" :class="{ 'btn-lg btn-block': isXsWindowSize }">Prov.</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div v-if="itemSelected === null">
                        <div class="col-md-12">
                            <h3 style="margin-top: 20px;"><b>{{ $article.articleCode }}</b> - {{ $article.articleDesc }}</h3>
                        </div>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Šarže</th>
                                    <th>Expirace</th>
                                    <th>Počet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items" @@click="selectItem(item)" class="pointer">
                                    <td style="padding: 10px;">{{ item.batchNum }}</td>
                                    <td>{{ getExpirationDate(item.expirationDate) }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" :class="{ 'btn-lg btn-block': isXsWindowSize }" @@click="clear" data-dismiss="modal">Zavřít</button>
                    <button type="button" v-if="itemSelected !== null && itemSelected.quantity > 0" @@click="save" id="btnPrint" class="btn btn-primary" :class="{ 'btn-lg btn-block': isXsWindowSize }">Přidat</button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    // simple state store
    const stateStore = {
        state: {
            stockTakingItems: []
        },
        saveItem: function (data, cb) {
            let url = null;
            if (data.stotakItemID !== undefined && data.stotakItemID !== null) {
                url = '@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingChangeItem) })';
            }
            else {
                url = '@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingAddPosItem) })';
            }

            callAJAX(url, data, cb);
        }
    };

    Vue.component('quick-add-item-variant-list', {
        props: ['article', 'showQuickAddItemCounter', 'stotak', 'isXsWindowSize'],
        template: '#quick-add-item-variant-list-template',
        data: function () {
            return {
                itemSelected: null,
                items: []
            };
        },
        computed: {
            $article: function () {
                return this.article !== null ? this.article : {};
            }
        },
        methods: {
            save: function () {
                // set item source for request
                // existing for update or new
                let itemSource = null;

                const itemFound = stateStore.state.stockTakingItems.find(v => v.artPackID === this.itemSelected.artPackID
                    && v.batchNum === this.itemSelected.batchNum
                    && v.expirationDate === this.itemSelected.expirationDate);
                if (itemFound !== undefined) {
                    itemSource = itemFound;
                    itemSource.quantity = itemSource.quantity + this.itemSelected.quantity;
                }
                else {
                    itemSource = this.itemSelected;
                }

                const model = {
                    positionID: itemSource.positionID,
                    artPackID: itemSource.artPackID,
                    carrierNum: null,
                    quantity: itemSource.quantity,
                    batchNum: itemSource.batchNum,
                    expirationDate: itemSource.expirationDate,
                    stotakID: itemSource.stotakID
                };

                // update item instead of save
                if(itemFound !== undefined)
                    model.stotakItemID = itemSource.stotakItemID;

                const _self = this;

                stateStore.saveItem(model, function (res) {
                    _self.$emit('on-close', true);
                    _self.clear();
                });
            },
            selectItem: function (item) {
                this.itemSelected = item;
                this.itemSelected.quantity = null;
                setTimeout(() => document.getElementById('quantity').focus(), 80);
            },
            clear: function () {
                this.itemSelected = null;
            },
            getExpirationDate: (date) => {
                if(date == null) return '';
                return dateToExpiration(date);
            },
        },
        watch: {
            showQuickAddItemCounter: function () { // automatic update on every show modal
                const _self = this;

                const model = {
                    stotakID: this.stotak.stotakID,
                    artPackID: this.article.artPackID
                };

                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingRemoteItemsFromSnapshot) })',
                    model,
                    function (res) {
                        if (res === null || res.success === false) {
                            console.error('error on delete item');
                            alert('Chyba ! Položky se nepodařilo načíst.');
                            return;
                        }

                        _self.items = res.items;
                    }
                );
            }
        }
    });

    /**
     * Add item
     */
    const AddEditItemComponent = {
        name: "add-edit-item-component",
        props: ['showComponent', 'stotak', 'stotakItemEdit', 'stotakItemCopy', 'isXsWindowSize'],
        template: '#add-edit-item-template',
        data: function () {
            return {
                errors: [],
                form: {
                    article: [],
                    quantity: 1,
                    carrierNum: null,
                    batchNum: null,
				    expirationDate: null,
                },
                articles: [],
				showAdditionalInfo: false,
                isScannerReady: false,
                positionCode: null,
                positionDesc: null,
				ean: null,
				packDesc: null,
            };
        },
        created: function () {
            const _self = this;

            this.itemFormValidate();

            this.connection = new WebsocketFactory().create('@HoneywellHub.CLIENT_HUB_URL', {
                '@(nameof(IHoneywellHub.ReceiveEan))': function(data) {
                    console.log('--- ws ean');
                    data = JSON.parse(data);

                    const __setRawData = function (data) {
                        const carrierRegex = /^\d{20}$/g;
                        const rawData = data.find(_ => _.EANCode == 'rawData');
                        if (carrierRegex.test(rawData.Value)) {
                            _self.form.carrierNum = rawData.Value;
                        }
                        else {
                            const ean = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode' || _.EANCode == '@EANCodeEnum.SerialShippingContainer');
                            if (ean !== undefined) _self.form.ean = ean.Value;

                            let batch = data.find(_ => _.EANCode == '@EANCodeEnum.BatchNumber')

                            if(batch === undefined)
                                batch = data.find(_ => _.EANCode == '@EANCodeEnum.SerialNumber');

                            if (batch !== undefined) _self.form.batchNum = batch.Value;
                            const exp = data.find(_ => _.EANCode == '@EANCodeEnum.ExpirationDate');
                            if (exp !== undefined) _self.form.expirationDate = eanExpirationToExpiration(exp.Value);

                            setTimeout(() => document.getElementById('quantity').focus(), 80);
                        }
                    };

                    if (_self.form.article === null) {
                        let searchArticlesModel, url;
                        const carrierRegexDigit = /^\d{10,14}$/g;
                        const code = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode').Value;
                        if (carrierRegexDigit.test(code)) {
                            searchArticlesModel = code;
                            url = window.location.origin + "/api/article/searchbybarcodep";
                        }
                        else {
                            searchArticlesModel = {
                                part: code
                            };
                            url = window.location.origin + "/api/article/searcharticles";
                        }

                        callAJAX(url, searchArticlesModel, function (res) {
                            if (!res.length || res.length > 1) return;

                            const item = res[0];

                            _self.form.article = {
                                name: item.articleCode + " - " + item.articleDesc,
                                articleCode: item.articleCode,
                                value: item.articleID,
                                artPackID: (!!searchArticlesModel) && (searchArticlesModel.constructor === Object) ? item.artPackID : item.articlePacking.artPackID,
                                unitDesc: item.unitDesc,
                                useBatch: item.useBatch,
                                useExpiration: item.useExpiration,
                                article: item
                            };

                            __setRawData(data);
                        }, null, false);

                        return;
                    }

                    // do nothing if item is in edit
                    if(_self.stotakItemEdit != null) return;

                    // re-scan focus position field if error
                    const positionError = _self.errors.find(_ => _.key === 'position');

                    // set position code
                    if (_self.form.positionCode === null || _self.form.positionCode === '' || positionError !== undefined) {
                        _self.form.positionCode = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode').Value;
                        _self.findPositionEnter();
                        return;
                    }

                    // set position description
                    if (_self.form.positionDesc === null || _self.form.positionDesc === '' || positionError !== undefined) {
                        _self.form.positionDesc = data.find(_ => _.EANCode == '@EANCodeEnum.ShippingContainerCode').Value;
                        _self.findPositionEnter();
                        return;
                    }

                    // set ean / carrier
                    __setRawData(data);
                },
                '@(nameof(IHoneywellHub.ReceiveDeviceScannerConnected))': function (flag) {
                    _self.isScannerReady = flag;
                }
            }, () => console.log('-- socket connected'));
        },
        methods: {
            formGroupError: function (fieldName) {
                const result = {
                    'has-error': this.errors.findIndex(_ => _.key === fieldName) !== -1
                };

                return result;
            },
            itemFormValidate: function () {
                const _self = this;

                const fncError = function (fieldName, hasError) {
                    const errIndex = _self.errors.findIndex(_ => _.key === fieldName);
                    if (hasError) {
                        if (errIndex === -1)
                            _self.errors.push({ key: fieldName });
                    }
                    else {
                        if (errIndex >= 0)
                            _self.errors.splice(errIndex, 1);
                    }
                };

                // specific field validation
                fncError('article', this.form.article === null);
                fncError('quantity', this.form.quantity === null || this.form.quantity === '' || isNaN(this.form.quantity) || this.form.quantity < 1 === true);
				fncError('batchNum', this.form.article === null || this.form.article.useBatch && this.form.batchNum === null || this.form.batchNum === '');
                fncError('expirationDate', this.form.article === null || this.form.article.useExpiration
                    && (convertExpirationToDate(this.form.expirationDate) === null || convertExpirationToDate(this.form.expirationDate) < new Date()));

                this.form.batchNum = this.form.batchNum !== null ? this.form.batchNum.toUpperCase() : null;
            },
            articleSelcted: function (v) {
                if (v === null)
                    this._resetItemForm();
            },
            save: function () {
                this.itemFormValidate();
                if (this.errors.length) return;

                const model = {
                    positionID: this.stotak.positions[0].positionID,
                    artPackID: this.form.article.artPackID,
                    carrierNum: this.form.carrierNum,
                    quantity: this.form.quantity,
                    batchNum: this.form.article.useBatch ? this.form.batchNum : null,
                    expirationDate: this.form.article.useExpiration ? convertExpirationToDate(this.form.expirationDate).toISOString() : null
                };

                // edit or add url/id
                let showComponentName;
                if (this.stotakItemEdit != null && this.stotakItemEdit.stotakItemID != null) {
                    model.stotakItemID = this.stotakItemEdit.stotakItemID;
                }
                else {
                    model.stotakID = this.stotak.stotakID;
                }

                showComponentName = DataListComponent.name;

                const _self = this;

                stateStore.saveItem(model, function(res) {
                    if (res === null || !res.success) return;

                    _self._resetItemForm();
                    _self.$parent.setShowComponent(showComponentName);
                });
            },
            _resetItemForm: function () {
                this.form = {
                    article: null,
                    quantity: 1,
                    carrierNum: null,
                    batchNum: null,
                    expirationDate: null,
                };
            },
            cancel: function () {
                this._resetItemForm();
                this.$parent.setShowComponent(DataListComponent.name);
                this.$parent.setStotakItem(null);
                this.$parent.setStotakItemCopy(null);
            }
        },
        watch: {
            'form.article': function (val, oldVal) {
                this.showAdditionalInfo = val != null;
                this.itemFormValidate();
            },
            showComponent: function (val, oldVal) {
                if (val) {
                    if (this.stotakItemEdit !== null) {
                        this.form = {
                            article: this.stotakItemEdit.article,
                            quantity: this.stotakItemEdit.quantity,
                            carrierNum: this.stotakItemEdit.carrierNum,
                            batchNum: this.stotakItemEdit.batchNum,
				            expirationDate: dateToExpiration(this.stotakItemEdit.expirationDate),
                        };
                    }
                    else if (this.stotakItemCopy !== null) {
                        this.form = {
                            article: this.stotakItemCopy.article,
                            carrierNum: this.stotakItemCopy.carrierNum,
                            batchNum: this.stotakItemCopy.batchNum,
                            expirationDate: dateToExpiration(this.stotakItemCopy.expirationDate),
                        };
                    }
                }
            }
        }
    };

    /**
     * List
     */
    const ListComponent = {
        name: "list",
        props: ['showComponent', 'stotak', 'isXsWindowSize'],
        template: '#list-template',
        data: function () {
            return {
                _items: [],
                items: [],
                stotakItemEdit: null,
                searchTerm: null
            };
        },
        created: function () {
            const _self = this;

            if (this.showComponent)
                setTimeout(() => _self.loadData(), 60);
        },
        computed: {
            $stotakID: function () {
                return this.stotak != null ? this.stotak.stotakID : null;
            },
            $positionID: function () {
                return this.stotak != null ? this.stotak.positions[0].positionID : null;
            },
            $positionCode: function () {
                return this.stotak != null ? this.stotak.positions[0].posCode : null;
            },
            $positionDesc: function () {
                return this.stotak != null ? this.stotak.positions[0].posDesc : null;
            },
            $isXsWindowSize: function () {
                return this.isXsWindowSize != null && this.isXsWindowSize;
            }
        },
        methods: {
            loadData: function () {
                const _self = this;

                if (this.stotak == null) return;

                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingRemoteScanPos) })',
                    {
                        stotakID: _self.$stotakID,
                        positionID: _self.$positionID,
                    },
                    function (res) {
                        if (res === null) return;

                        if (!res.success) _self.$parent.resetData();

                        _self._items = res.stockTakingItems;
                        _self.items = _self._items;

                        stateStore.state.stockTakingItems = res.stockTakingItems;
                    }
                );
            },
            addItem: function () {
                this.$parent.setShowComponent(AddEditItemComponent.name);
            },
            editItem: function (stotakItem) {
                this.$parent.setStotakItem(stotakItem);
                this.$parent.setShowComponent(AddEditItemComponent.name);
            },
            copyItem: function (stotakItem) {
                this.$parent.setStotakItemCopy(stotakItem);
                this.$parent.setShowComponent(AddEditItemComponent.name);
            },
            removeItem: function (stotakItemID) {
                const _self = this;
                this.$dialog
                    .confirm('Smazat položku?')
                    .then(function (dialog) {
                        callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingDeleteItem) })',
                            {
                                stotakItemID: stotakItemID
                            },
                            function (res) {
                                if (res === null || res.success === false) {
                                    console.error('error on delete item');
                                    alert('Chyba ! Položku se nepodařilo smazat.');
                                    return;
                                }

                                _self.loadData();
                            }
                        );
                    })
                    .catch(function () { });
            },
            finishStoTak: function () {
                const _self = this;

                this.$dialog
                    .confirm('Dokončit inventuru?', { type: 'soft', verification: 'continue', clicksCount: 3 })
                    .then(function (dialog) {
                        callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingSave) })',
                            {
                                stotakID: _self.$stotakID
                            },
                            function (res) {
                                if (res === null || res.success === false) {
                                    console.error('error on delete item');
                                    alert('Chyba ! Položku se nepodařilo smazat.');
                                    return;
                                }

                                _self.printStoTakDialog(true);
                            }
                        );
                    })
                    .catch(function () { });
            },
            printStoTakDialog: function (hasRedirect) {
                const _self = this;

                const $modal = $('#modal_printStoTak');
                $modal.on('click', '#addEmailEnd', function () {
                        const $input = $modal.find('#entryEmail');
                        $input.val($input.val() + $(this).data('email-end'));
                    })
                    .on('click', '#btnPrint', function () {
                        const entryEmail = $modal.find('#entryEmail').val();
                        var mailformatValidation = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                        if (entryEmail == '' || entryEmail != '' && !entryEmail.match(mailformatValidation)) {
                            alert('Vyplňte email');
                            return;
                        }

                        callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingRemotePrint) })',
                            {
                                stotakID: _self.$stotakID,
                                email: entryEmail,
                                posCode: _self.$positionCode,
                                posDesc: _self.$positionDesc,
                            },
                            function (res) {
                                if (res === null || res.success === false) {
                                    console.error('error on delete item');
                                    alert('Chyba !');
                                    return;
                                }

                                $modal.modal('hide');
                            }
                        );
                    })
                    .on('show.bs.modal', function () {
                        $modal.find('#entryEmail').val('');
                    })
                    .on('hidden.bs.modal', function () {
                        if($modal.find('#hasRedirectFlag').val() === 'true')
                            _self.$parent.resetData();

                        $modal.off();
                    });

                // has redirect then set flag
                if (hasRedirect === true) {
                    $modal.find('#hasRedirectFlag').val('true');
                }

                $modal.modal('show');
            },
            getExpirationDate: (date) => {
                if(date == null) return '';
                return dateToExpiration(date);
            },
        },
        watch: {
            showComponent: function (val, oldVal) {
                if (val)
                    this.loadData();

                this.stotakItemEdit = null;
            },
            searchTerm: function (val, oldVal) {
                if (val === null || val.length < 2) {
                    this.items = this._items;
                    return;
                }

                this.items = this._items.filter(_ => _.article.articleCode.toLowerCase().indexOf(val.toLowerCase()) !== -1
                    || _.article.articleDesc.toLowerCase().indexOf(val.toLowerCase()) !== -1);
            }
        }
    };

    /**
     * Diff list
     */
    const DiffListComponent = {
        name: "diff-list",
        props: ['showComponent', 'stotak', 'isXsWindowSize'],
        template: '#diff-list-template',
        data: function () {
            return {
                _items: [],
                items: [],
                filter: {
                    searchTerm: null,
                    showOnlyDiff: false
                },
                articleSelected: null,
                showQuickAddItemCounter: 1 // counter for update data
            };
        },
        methods: {
            loadData: function () {
                const _self = this;

                callAJAX('/api/StotakPositionDiffs', {
                        stotakID: _self.stotak.stotakID,
                        snapshotClass: @((int) S4.Entities.StockTakingSnapshot.StockTakingSnapshotClassEnum.Internal),
                        includeNoDiff: true
                    },
                    function (res) {
                        if (res === null) return;
                        _self._items = res.data;
                        _self.items = _self._items;
                    }
                );
            },
            getDiffColumnColor: function (val) {
                if (val === 0) return '';
                if (val !== 0 && val < 0) return 'text-danger';
                if (val !== 0 && val > 0) return 'text-success';
            },
            _doFilter: function (searchTerm, showOnlyDiff) {
                let items = this._items;

                if (searchTerm !== null && searchTerm !== '' && searchTerm.length > 1) {
                    items = this._items.filter(_ => _.articleCode.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1
                        || _.articleDesc.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1);
                }

                if (showOnlyDiff) {
                    items = items.filter(_ => _.quantDiff !== 0);
                }

                this.items = items;
            },
            addQuickItem: function (article) {
                if(article.quantStTa > 0 && article.quantOnSt === 0) return;

                this.articleSelected = article;
                this.showQuickAddItemCounter++;

                $('#modal_quickAddItemVariantList').modal({
                    backdrop: false,
                    show: true
                });
            },
            closeAddQuickItem: function () {
                $('#modal_quickAddItemVariantList').modal('hide');
                this.loadData();
            }
        },
        watch: {
            showComponent: function (val, oldVal) {
                if (val)
                    this.loadData();

                this.stotakItemEdit = null;
            },
            'filter.searchTerm': function (val, oldVal) {
                this._doFilter(val, this.filter.showOnlyDiff);
            },
            'filter.showOnlyDiff': function (val, oldVal) {
                this._doFilter(this.filter.searchTerm, val);
            }
        }
    };

    const DataListComponent = {
        name: "data-list",
        props: ['showComponent', 'stotak', 'isXsWindowSize'],
        template: '#data-list-template',
        data: function () {
            return {
                currentTab: 'list',
            };
        },
        components: {
            ListComponent,
            DiffListComponent
        },
        methods: {
            setShowComponent: function (componentName) {
				this.$parent.setShowComponent(componentName);
            },
            setStotakItem: function (stotakItem) {
				this.$parent.setStotakItem(stotakItem);
            },
            setStotakItemCopy: function (stotakItem) {
                this.$parent.setStotakItemCopy(stotakItem);
            },
            resetData: function () {
                this.$parent.loadData();
            },
        },
        watch: {
            showComponent: function (val, oldVal) {
                if (val)
                    this.currentTab = 'list';
            },
        }
    };

    /**
     * Begin form
     */
    const BeginFormComponent = {
        name: "begin-form-component",
        props: ['showComponent', 'isXsWindowSize'],
        template: '#begin-form-component',
        data: function() {
            return {
                positionCodePart: null,
                position: null,
                showPositionSuccess: false,
                stotakDesc: null
            };
        },
        methods: {
            save: function() {
                const _self = this;

                if (this.validateForm()) return;

                let data = {
                    positionID: _self.position.positionID
                };

                if (_self.stotakDesc != '')
                    data['stotakDesc'] = _self.stotakDesc;

                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingBegin) })',
                    data,
                    function(res) {
                        if(res === null || !res.success) return;

                        const $modal = $('#modal_ok');
                        $modal.find('#modal_ok_text').text(`Inventura na pozici ${_self.positionCodePart} zahájena.`);
                        $modal.on('hidden.bs.modal', function () {
                            _self.$parent.loadData();
                        });
                        $modal.modal('show');
                    });
            },
            findPositionEnter: function () {
                const _self = this;

                if (this.positionCodePart === null) return;

                callAJAX('@Url.Action(nameof(PositionController.SearchPositions), "Position")',
                    {
                        part:  _self.positionCodePart
                    },
                    function(res) {
                        if (res !== null && res.length) {
                            for (var i = 0; i < res.length; i++) {
                                if (res[i].posCode.toLowerCase() === _self.positionCodePart.toLowerCase()) {
                                    _self.position = res[i];
                                    _self.showPositionSuccess = true;

                                    document.getElementById('stotakDesc').focus();

                                    return;
                                }
                            }
                        }

                        _self.position = null;
                        _self.showPositionSuccess = false;
                    });
            },
            fieldValidation: function(fieldName) {
				return {
					'has-error': this.errors.find(_ => _.key === fieldName) !== undefined,
				}
			},
			validateForm: function() {
			    this.errors = [];
			    if (!this.positionCodePart) {
					this.errors.push({key: 'positionCodePart', msg: 'Zadejte pozici'});
					return;
                }

                return this.errors.length;
            }
        },
        watch: {
            showComponent: function (val, oldVal) {
                if (val) {
                    this.positionCodePart = null;
                    this.position = null,
                    this.showPositionSuccess = false;
                    this.stotakDesc = null;
                }
            }
        }
    };



    const root = new Vue({
		el: "#app",
		components: {
		    BeginFormComponent,
            AddEditItemComponent,
            DataListComponent,
		},
		data: function() {
			return {
				showComponentWithName: null,
                stotak: null,
                isXsWindowSize: false,
                stotakItemEdit: null,
                stotakItemCopy: null,
			};
        },
        created: function () {
            const _self = this;

            this.isXsWindowSize = window.outerWidth < 1300;
            this.wwww = document.documentElement.clientWidth;
            window.onresize = function () {
		        _self.isXsWindowSize = window.outerWidth < 1300;
            };

            this.loadData();
        },
        methods: {
            loadData: function () {
                const _self = this;
                // load direction
                callAJAX('@Url.Action(nameof(ProceduresController.Index), "Procedures", new { ProcedureName = nameof(S4.ProcedureModels.StockTaking.StockTakingRemoteListOpened) })',
                    { },
                    function (res) {
                        if (res === null) return;

                        const stotaks = res.stockTakingList.filter(v => v.entryUserID === '@User.FindFirst(ClaimTypes.Sid)?.Value');

                        if (stotaks != null && stotaks.length > 0) {
                            _self.stotak = stotaks[0]; // get first
                            _self.setShowComponent(DataListComponent.name)
                            const $headText = $('.navbar-header > .navbar-text');
                            $headText.text($headText.text() + ' pozice ' + _self.stotak.positions[0].posCode);
                        }
                        else {
                            _self.stotak = null;
                            _self.setShowComponent(BeginFormComponent.name);
                        }
                    }
                );
            },
			setShowComponent: function(componentName) {
				this.showComponentWithName = componentName;
            },
            setStotakItem: function (stotakItem) {
				this.stotakItemEdit = stotakItem;
			},
            setStotakItemCopy: function (stotakItem) {
				this.stotakItemCopy = stotakItem;
			}
		}
    });

    window.onscroll = function() { stickyFilter() };

    var header = document.getElementById("filters");
    var sticky = header.offsetTop;

    function stickyFilter() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>