﻿@{
    ViewData["Title"] = "Přeskladnění";
}
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<script src="~/Scripts/utils/print.min.js"></script>

<style>
    [v-cloak] {
        display: none;
    }

    td.data {
        padding-top: .8em !important;
    }
</style>
<script src="~/Scripts/seekCombo/seekPositionCombo.js"></script>
<div id="app" v-cloak>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="statusCode" class="col-sm-2 control-label">Z pozice</label>
            <div class="col-sm-4">
                <seek_position_combo ref="positionFrom" id="positionFrom" v-model="positionFrom" v-on:positionselected="positionFromSelected"></seek_position_combo>
            </div>
        </div>

        <div class="form-group">
            <label for="statusCode" class="col-sm-2 control-label">Obsah</label>
            <div class="col-sm-10">
                <div v-if="content.length == 0" class="form-control-static">
                    ?
                </div>
                <div v-else style="margin-top: 1em;">
                    <div style="max-height: 50vh; width: 100%; overflow: auto;">
                        <table class="table table-striped table-hover table-condensed" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Kód</th>
                                    <th>Popis</th>
                                    <th>Šarže</th>
                                    <th>Expirace</th>
                                    <th>Množství</th>
                                    <th>Přesunout</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in content" v-bind:class="rowClassObject(item)">
                                    <td class="data"><b>{{ item.article.articleCode }}</b></td>
                                    <td class="data">{{ item.article.articleDesc }}</td>
                                    <td class="data">{{item.batchNum }}</td>
                                    <td class="data" style="text-align: center;">{{ item.expirationDate | toExpiration }}</td>
                                    <td class="data" style="text-align: right;">{{ item.quantity }}</td>
                                    <td><input v-model="item.toMove" class="form-control" @@click="selectAllText" style="width: 6em; text-align: right;" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="statusCode" class="col-sm-2 control-label">Na pozici</label>
            <div class="col-sm-4">
                <seek_position_combo ref="positionTo" id="positionTo" v-model="positionTo" v-on:positionselected="positionToSelected"></seek_position_combo>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">Poznámka</label>
            <div class="col-sm-10">
                <textarea v-model="remark" class="form-control" rows="2"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Výsledek</label>
            <div v-if="moveResult != null" class="col-sm-10">
                <div class="form-control-static">
                    <div v-if="moveResult.success">
                        <i class="fas fa-check-circle fa-lg text-success"></i> <b>OK</b>
                    </div>
                    <span v-if="!moveResult.success">
                        <i class="fas fa-exclamation-circle fa-lg text-danger"></i> <b>Nepodařilo se</b>
                        <br />
                        <span>{{ moveResult.errorText }}</span>
                    </span>
                </div>
            </div>
            <div v-if="paramError != null" class="col-sm-10">
                <div class="form-control-static">
                    <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
                    <b>Přeskladnění nelze provést:</b>
                    <br />
                    <span>{{ paramError }}</span>
                </div>
            </div>
        </div>

        <div v-if="moveResult != null && moveResult.success" class="form-group">
            <label class="col-sm-2 control-label">Tisk</label>
            <div class="col-sm-4">
                <v-select :clearable="false" v-model="printerLocation" id="printerLocation" :options="printerLocationList" value="printerLocation" label="printerLocationDesc"></v-select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" v-on:click="print" style="margin-top:.2em;">Vytisknout</button>
            </div>
            <div v-if="printError != null" class="col-sm-2">
                <div class="form-control-static">
                    <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
                    <b>Tisk nelze provést:</b>
                    <br />
                    <span>{{ printError }}</span>
                </div>
            </div>
        </div>
    </form>

    <div class="modal-footer" style="border-top-style:none;">
        <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
    </div>
</div>


<script>
    Vue.use(VuejsDialog.main.default, {
        html: true,
        okText: 'Provést',
        cancelText: 'Zrušit',
        animation: 'fade'
    });

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                positionFrom: null,
                positionTo: null,
                content: [],
                remark: null,
                paramError: null,
                printError: null,
                moveResult: null,
                printerLocation: null,
                printerLocationList: [],
                focusedElement: null
            }
        },
        mounted: function () {
            this.loadPrinters();
        },
        filters: {
            toExpiration: function (value) {
                return dateToExpiration(value);
            }
        },
        methods: {
            loadPrinters: function () {
                callAJAX(window.location.origin + '/api/report/getprinterlocation', 'WebPrint', function (result) {
                    app.$data.printerLocationList = result;
                    var printerLocationID = localStorage.getItem('print_dialog_PrinterLocationID');
                    if (printerLocationID != null) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].printerLocationID.toString() == printerLocationID.toString()) {
                                app.$data.printerLocation = result[i];
                            }
                        }
                    }
                });
            },
            rowClassObject: function (item) {
                return {
                    'danger': isNaN(item.toMove) || item.toMove > item.quantity || item.toMove < 0,
                    'success': !isNaN(item.toMove) && item.toMove > 0 && item.toMove <= item.quantity
                }
            },
            positionFromSelected: function (position) {
                this.positionFrom = position;
                if (position)
                    this.loadPosContent();
                else
                    app.$data.content = [];
            },
            loadPosContent: function () {
                // load content
                callAJAX(window.location.origin + '/api/procedureshelpers/positioncontent/' + this.positionFrom.value, {},
                    function (data) {
                        data.forEach(function (i) { i.toMove = 0 })
                        app.$data.content = data;
                    },
                    null, true);
            },
            positionToSelected: function (position) {
                this.positionTo = position;
            },
            selectAllText: function(ev) {

                if (this.focusedElement == ev.srcElement) 
                    return;
                this.focusedElement = ev.srcElement;
                setTimeout(function () { ev.srcElement.select(); }, 10);
            },
            save: function () {
                var itemsToMove = _.filter(app.$data.content, function (item) { return !isNaN(item.toMove) && item.toMove > 0 && item.toMove <= item.quantity; });
                itemsToMove = _.map(itemsToMove, function (item) { return { ArtPackID: item.artPackID, BatchNum: item.batchNum, ExpirationDate: item.expirationDate, CarrierNum: item.carrierNum, Quantity: item.toMove } });

                this.moveResult = null;
                this.paramError = null;

                // check params
                if (!this.positionFrom) {
                    this.paramError = 'Je nutné zadat pozici pro přeskladnění';
                    return;
                }
                if (!this.positionTo) {
                    this.paramError = 'Je nutné zadat pozici, kam se bude přeskladňovat';
                    return;
                }
                if (itemsToMove.length == 0) {
                    this.paramError = 'Je nutné vybrat nějaké zboží';
                    return;
                }

                var param = {
                    sourcePositionID: app.$data.positionFrom.value,
                    destPositionID: app.$data.positionTo.value,
                    changeCarrier: false,
                    articles: itemsToMove,
                    remark: app.$data.remark
                };
                this.$dialog.confirm('Opravdu chcete přeskladnit zboží (' + itemsToMove.length + ' položek)?', { type: 'soft', verification: 'continue', clicksCount: 1 })
                    .then(function () {
                        callAJAX(window.location.origin + '/api/procedures/movesave', param, app.showResult, null, true);
                    });

            },
            showResult: function (res) {
                app.$data.moveResult = res;
                if (res.success) {
                    app.loadPosContent();
                }
            },
            print: function () {
                if (app.$data.printerLocation === null) {
                    this.printError = 'Vyberte prosím tiskárnu!';
                    return;
                }
                else {
                    this.printError = null;
                }

                var param = {
                    StoMoveID: app.$data.moveResult.stoMoveID,
                    PrinterLocationID: app.$data.printerLocation.printerLocationID,
                    LocalPrint: app.$data.printerLocation === null ? true : app.$data.printerLocation.printerPath == '_LOCAL_'
                };
                callAJAX(window.location.origin + '/api/procedures/moveprint', param, function (result) { 
                    if (result.localPrint) 
                        printJS('/download/direct?fileID=' + result.fileID);
                }, null, true);
                // save printer
                localStorage.setItem("print_dialog_PrinterLocationID", app.$data.printerLocation.printerLocationID);
            }
        }
    });
</script>