﻿@model ReportModel

@{
    ViewData["Title"] = "Reporty";
}


@section NavBarLeft{
    <ul class="nav navbar-nav">
        <li><a class="navbar-header">@Model.ReportName</a></li>
    </ul>
}

<style>
    input-date {
        text-align: left !important;
        color: black;
        font-size: small;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .input-report {
        height: 32px;
    }

    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }
</style>

<script src="~/Scripts/seekCombo/seekPositionCombo.js"></script>
<script src="~/Scripts/seekCombo/seekArticleCombo.js"></script>

<div id="app">
    <form v-if="isLoad === true" class="form-inline" action="javascript:void(0);" onSubmit="">
        <div class="form-group" v-for="filter, key in filters" style="margin-right: 10px; margin-bottom: 20px;">
            <label class="control-label"><b v-if="filter.Mandatory">*</b>{{filter.Name}}:</label>
            <div v-if="filter.Type == 0">
                <v-select v-bind:style="{ width: filter.Width + 'px' }" v-model="filterIDs[key]" :options="filter.FilterReportList" label="Text" :clearable="!filter.Mandatory" />
            </div>
            <div v-else-if="filter.Type == 1">
                <date-input placeholder-text="Datum do" v-model="filterIDs[key]">
            </div>
            <div v-else-if="filter.Type == 2">
                <input v-bind:style="{ width: filter.Width + 'px' }" class="form-control input-report" name="filterIDs[key]" v-model="filterIDs[key]" />
            </div>
            <div v-else-if="filter.Type == 3">
                <seek_position_combo v-bind:style="{ width: filter.Width + 'px' }" ref="filterIDs[key]" id="filterIDs[key]" v-model="filterIDs[key]"></seek_position_combo>
            </div>
            <div v-else-if="filter.Type == 4">
                <seek_article_combo v-bind:style="{ width: filter.Width + 'px' }" ref="filterIDs[key]" id="filterIDs[key]" v-model="filterIDs[key]"></seek_article_combo>
            </div>
            <div v-if="filter.Type == 5">
                <v-select multiple v-bind:style="{ width: filter.Width + 'px' }" v-model="filterIDs[key]" :options="filter.FilterReportList" label="Text" :clearable="!filter.Mandatory" />
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" onclick="refreshHtml5Viewer();">Vytvořit report</button>
            <button class="btn btn-info" onclick="exportXLS();"><i class="far fa-file-excel"></i>&nbsp;Exportovat do Excelu</button>
            <button class="btn btn-warning" v-on:click="clearFilters"><i class="fas fa-times-circle"></i>&nbsp;Vymazat filtry</button>
            <label v-if="mandatoryFound == true" style="font-size:xx-small">Filtry označené * jsou povinné</label>
        </div>

    </form>

    <div v-if="error == true" class="col-lg-12">
        <div class="row">
            <div class="alert alert-warning text-center">
                Filtry označené hvězdičkou jsou povinné!
            </div>
        </div>
    </div>

    <div v-if="isLoad === false" class="col-lg-12">
        <div class="row">
            <div class="info info-box-header text-center">
                <b>Čekejte prosím, načítám data</b>
            </div>
        </div>
    </div>

</div>

<div>
    <iframe id="ContentContainer" name="ContentContainer" src="@Url.Action("Report", "report")" frameborder="0" style="width: 110%;height:100vh;"></iframe>
</div>

<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />


<script type="text/javascript">

    $(function () {
        app.loadData();
    });

    Vue.component('date-input', {
        props: ["value", "isDisabled", "placeholderText"],
        template: '<div class="form-group" v-bind:class="{ \'has-error\': isNotValid }" ><input style="width: 100px;" type="datetime" v-model="displayValue" :disabled="isDisabled" @@blur="focusLost" @@focus="isInputActive = true" class="form-control input-date input-report" :placeholder="placeholderText" /></div>',
        data: function () {
            return {
                format: 'D.M.YYYY',
                textValue: '',
                isInputActive: false,
                isEmpty: true,
                isNotValid: false
            }
        },
        computed: {
            displayValue: {
                get: function () {
                    if (this.isInputActive || this.isNotValid) {
                        // Cursor is inside the input field. unformat display value for user
                        return this.textValue;
                    } else {
                        // User is not modifying now. Format display value for user interface
                        return moment(this.value).isValid() ? moment(this.value).format(this.format) : null;
                    }
                },
                set: function (modifiedValue) {
                    this.textValue = modifiedValue;
                    var newValue = moment(modifiedValue, "D.M.YYYY");
                    if (!newValue.isValid()) {
                        newValue = null;
                        this.isNotValid = true;
                    } else {
                        this.isNotValid = false;
                    }

                    var minDate = moment("1.1.1753", "D.M.YYYY");
                    var maxDate = moment("1.1.9999", "D.M.YYYY");
                    if ((this.isNotValid == false) && (newValue > maxDate || newValue < minDate)) {
                        newValue = null;
                        this.isNotValid = true;
                    }

                    // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                    // $emit the event so that parent component gets it
                    this.$emit('input', newValue);
                    this.$emit('changed', this);
                }
            }
        },
        watch: {
            value: function (newVal, oldVal) { // watch it
                if (!this.isInputActive)
                    this.textValue = moment(newVal).format(this.format);
            }
        },
        methods: {
            focusLost: function () {
                this.isInputActive = false;
                if (moment(this.value).isValid())
                    this.textValue = moment(this.value).format(this.format);
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                filters: null,
                filterIDs: [],
                error: false,
                isLoad: false,
                mandatoryFound: false,
            }
        },
        methods: {
            loadData: function () {
                this.filters = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FiltersReportList));

                var filterRowsCount = this.filters.length;
                for (i = 0; i < filterRowsCount; i++) {
                    if (this.filters[i].Type == 1 /*date*/) {
                        this.filterIDs[i] = moment(new Date());
                    }
                    if (this.mandatoryFound === false && this.filters[i].Mandatory === true /*is mandatory*/) {
                        this.mandatoryFound = true;
                    }
                }

                this.readFilters();
                this.isLoad = true;
            },
            saveFilters: function () {
                var filtersToSave = [];
                for (i = 0; i < app.filters.length; i++) {
                    var filterValue = '';
                    var filterText = '';
                    var filterMultiArray = [];
                    var filterObject = null;
                    if (app.filterIDs[i] === undefined) { continue; }

                    if (app.filters[i].Type == 0 /*SQL*/) {
                        if (app.filterIDs[i] != null) {
                            filterValue = app.filterIDs[i].Value;
                            filterText = app.filterIDs[i].Text;
                        }
                    }
                    else if (app.filters[i].Type == 1 /*Date*/) {
                        filterObject = app.filterIDs[i];
                    }
                    else if (app.filters[i].Type == 2 /*Input*/) {
                        if (app.filterIDs[i] != null) {
                            filterValue = app.filterIDs[i];
                            filterText = filterValue;
                        }
                    }
                    else if (app.filters[i].Type == 3 || app.filters[i].Type == 4 /*Combo Seek*/) {
                        filterObject = app.filterIDs[i];
                    }
                    else if (app.filters[i].Type == 5 /*SQLMulti*/) {
                        if (app.filterIDs[i] != null) {
                            for (var ii = 0; ii < app.filterIDs[i].length; ii++) {
                                filterMultiArray.push({ Value: app.filterIDs[i][ii].Value, Text: app.filterIDs[i][ii].Text });
                            }
                        }
                    }
                    else {
                        continue;
                    }

                    filtersToSave.push({ ID: app.filters[i].ID, Type: app.filters[i].Type, Value: filterValue, Text: filterText, Multi: filterMultiArray, FilterObject: filterObject });
                }

                if (filtersToSave.length > 0) {
                    //read filters from local storage
                    var combitFilters = JSON.parse(localStorage.getItem("reportCombitFilters"));

                    if (combitFilters === null)
                        combitFilters = [];

                    //check if exists
                    var foundIndex = -1;
                    for (i = 0; i < combitFilters.length; i++) {
                        if (combitFilters[i].ReportID === @Model.ReportID) {
                            foundIndex = i;
                            break;
                        }
                    }

                    if (foundIndex > -1)
                        combitFilters.splice(foundIndex, 1);

                    combitFilters.push({ ReportID: @Model.ReportID, Filters: filtersToSave });

                    //save filters to local storage
                    var toSave = JSON.stringify(combitFilters);
                    localStorage.setItem("reportCombitFilters", toSave);
                }

            },
            readFilters: function () {
                //read filters from local storage
                var storageFiltersAll = JSON.parse(localStorage.getItem("reportCombitFilters"));

                if (storageFiltersAll === null)
                    return;

                var foundIndex = -1;
                for (i = 0; i < storageFiltersAll.length; i++) {
                    if (storageFiltersAll[i].ReportID === @Model.ReportID) {
                        foundIndex = i;
                        break;
                    }
                }

                if (foundIndex === -1) //not found
                    return;

                var storageFilters = storageFiltersAll[foundIndex].Filters;

                for (i = 0; i < storageFilters.length; i++) {
                    //find position
                    var position = -1;
                    for (p = 0; p < app.filters.length; p++) {
                        if (app.filters[p].ID === storageFilters[i].ID) {
                            position = p;
                            break;
                        }
                    }

                    if (position === -1) /*not found*/
                        continue;

                    if (storageFilters[i].Type == 0 /*SQL*/) {
                        app.filterIDs[position] = { Value: storageFilters[i].Value, Text: storageFilters[i].Text };
                    }
                    else if (storageFilters[i].Type == 1 /*Date*/) {
                        app.filterIDs[position] = storageFilters[i].FilterObject;
                    }
                    else if (storageFilters[i].Type == 2 /*Input*/) {
                        app.filterIDs[position] = storageFilters[i].Value;
                    }
                    else if (storageFilters[i].Type == 3 || storageFilters[i].Type == 4 /*Combo Seek*/) {
                        app.filterIDs[position] = storageFilters[i].FilterObject;

                    }
                    else if (storageFilters[i].Type == 5 /*SQLMulti*/) {
                        app.filterIDs[position] = [];
                        for (ii = 0; ii < storageFilters[i].Multi.length; ii++) {
                            if (storageFilters[i].Multi[ii] != null) {
                                app.filterIDs[position].push({ Value: storageFilters[i].Multi[ii].Value, Text: storageFilters[i].Multi[ii].Text });
                            }
                        }

                    }
                    else {
                        continue;
                    }
                }
            },
            clearFilters: function () {

                //clear filters
                app.filterIDs.splice(0, app.filterIDs.length);
                var filterRowsCount = this.filters.length;
                for (i = 0; i < filterRowsCount; i++) {
                    if (this.filters[i].Type == 1 /*date*/) {
                        this.filterIDs[i] = moment(new Date());
                    }
                    if (this.mandatoryFound === false && this.filters[i].Mandatory === true /*is mandatory*/) {
                        this.mandatoryFound = true;
                    }
                }

                //remove filter from storage
                //read filters from local storage
                var storageFiltersAll = JSON.parse(localStorage.getItem("reportCombitFilters"));

                if (storageFiltersAll === null)
                    return;

                var foundIndex = -1;
                for (i = 0; i < storageFiltersAll.length; i++) {
                    if (storageFiltersAll[i].ReportID === @Model.ReportID) {
                        foundIndex = i;
                        break;
                    }
                }

                if (foundIndex > -1) {
                    storageFiltersAll.splice(foundIndex, 1);
                    //save filters to local storage
                    var toSave = JSON.stringify(storageFiltersAll);
                    localStorage.setItem("reportCombitFilters", toSave);
                }
            }
        }
    });

    function refreshHtml5Viewer() {

        //save filters
        app.saveFilters();

        app.error = false;
        var filters = getUseFilters();
        if (filters == null) {
            app.error = true;
            return;
        }

        var html5viewerLink = '@Url.Action("Html5Viewer", "Report")' + '?filledFilters=' + encodeURIComponent(JSON.stringify(filters)) + '&reportID='+ @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ReportID));
        $('#ContentContainer').attr('src', html5viewerLink);
    }

    function exportXLS() {
        //save filters
        app.saveFilters();

        var reportID = @Html.Raw(Model.ReportID);
        var filters = getUseFilters();

        if (filters == null) {
            app.error = true;
            return;
        }

        $('#modal_working').modal('show');
        $('#working_icon').addClass("fa-spin");

        var model = { ReportID: reportID, Filters: filters };
        callAJAX(window.location.origin + '/api/report/exportxls', model, function (data) {
            window.location.href = "/download?fileID=" + data.fileID;

            $('#modal_working').modal('hide');
            $('#working_icon').removeClass("fa-spin");

        }, null, true);

    }

    function getUseFilters() {

        var filters = [];
        var filterRowsCount = app.filters.length;
        if (filterRowsCount > 0) {
            for (i = 0; i < filterRowsCount; i++) {
                if (app.filterIDs[i] == undefined) {
                    var filterValue = '';
                    var filterText = '';
                }
                else {
                    var filterValue = '';
                    var filterText = '';

                    if (app.filters[i].Type == 0 /*SQL*/) {
                        filterValue = app.filterIDs[i].Value;
                        filterText = app.filterIDs[i].Text;
                    }
                    else if (app.filters[i].Type == 1 /*Date*/) {
                        //filterValue = moment(app.filterIDs[i]).format("DD.MM.YYYY");
                        filterValue = moment(app.filterIDs[i]).format("YYYY-MM-DD");
                        filterText = filterValue;
                    }
                    else if (app.filters[i].Type == 2 /*Input*/) {
                        filterValue = app.filterIDs[i];
                        filterText = filterValue;
                    }
                    else if (app.filters[i].Type == 3 || app.filters[i].Type == 4 /*Combo Seek*/) {
                        filterValue = app.filterIDs[i].value;
                        filterText = app.filterIDs[i].name;
                    }
                    else if (app.filters[i].Type == 5 /*SQLMulti*/) {
                        for (var ii = 0; ii < app.filterIDs[i].length; ii++) {
                            filterValue = filterValue + app.filterIDs[i][ii].Value;
                            filterText = filterText + app.filterIDs[i][ii].Text;

                            if (ii < app.filterIDs[i].length - 1) {
                                filterValue = filterValue + ',';
                                filterText = filterText + ',';
                            }
                        }
                    }
                }

                if (app.filters[i].Mandatory && filterValue === '') {
                    return null;
                }

                filters.push({ Name: app.filters[i].Name, ID: app.filters[i].ID, Value: filterValue, Text: filterText });
            }
        }

        return filters;
    }

</script>
