﻿@using System.Reflection
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
    var ver = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var instanceName = @Configuration["instanceName"];
    var machineName = Environment.MachineName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S4.Web</title>
    <link href="~/lib/fontawesome5/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="center-block" style="padding:3em;" src="~/images/S4_big.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div style="font-size:.9em;text-align:center;margin-bottom:.2em;">Verze: @ver.ToString()</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div style="font-size:.9em;text-align:center;margin-bottom:3em;">Instance: @instanceName [@machineName]</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Přihlášení</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" asp-controller="Auth" asp-action="Login" method="post">
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="form-group">
                                    <input id="username" class="form-control" placeholder="Jméno" name="username" type="text" value="@ViewBag.Username">
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="Heslo" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                            <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl" />
                        </form>
                        @if (ViewBag.LoginError)
                        {
                            <hr>
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(true)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (((string)ViewBag.Username) == "")
    {
        <script>
            window.onload = function () {
                document.getElementById("username").focus();
            };
        </script>

    }
    else
    {
        <script>
            window.onload = function () {
                document.getElementById("password").focus();
            };
        </script>
    }
</body>
</html>
