﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S4.Web - není přístupné</title>
    <link href="~/lib/fontawesome5/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="center-block" style="padding:3em;" src="~/images/S4_big.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h4 style="text-align:center;line-height:2em;">Bohužel nemáte přístup<br />(návrat na <a href="/">hlavní stránku)</a></h4>
            </div>
        </div>
    </div>
</body>
</html>


