﻿@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Změna hesla";
}

<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

<div id="app">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-8"><input class="form-control" type="password" name="old_password" v-model="old_password" placeholder="Staré heslo" v-validate="'required'" data-vv-as="Staré heslo" /></div>
                            <span class="field-error">{{ errors.first('old_password') }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8"><input class="form-control" type="password" name="password1" v-model="password1" placeholder="Heslo" v-validate="'required|min:6'" ref="password1" data-vv-as="Heslo" /></div>
                            <span class="field-error">{{ errors.first('password1') }}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8"><input class="form-control" type="password" name="password2" v-model="password2" placeholder="Potvrďte heslo" v-validate="'required|confirmed:password1'" data-vv-as="Potvrzení hesla" /></div>
                            <span class="field-error">{{ errors.first('password2') }}</span>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="text-align:right">
                    <button type="button" class="btn btn-primary" v-on:click="validateAndSave">Změnit heslo</button>
                </div>
            </div>
            <div v-if="saveResult != null" v-bind:class="{ 'alert-success': success, 'alert-danger': !success }" class="alert" role="alert">{{ saveResult }}</div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/utils/utils.js"></script>
    <script>
        Vue.use(VeeValidate, { locale: 'cs' });
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    old_password: null,
                    password1: null,
                    password2: null,
                    saveResult: null,
                    success: true
                }
            },
            methods: {
                validateAndSave: function () {
                    this.$validator.validate().then(function (result) {
                        if (result) {
                            var param = {
                                WorkerID: '@HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Sid).Value',
                                OldPassword: app.$data.old_password,
                                NewPassword: app.$data.password1
                            };
                            callAJAX(window.location.origin + '/api/auth/setpassword', param, function (res) {
                                app.$data.saveResult = res.message;
                                app.$data.success = res.saved;
                            });
                        }
                    });
                }
            }
        });
    </script>
}

