﻿<h2>View</h2>

<h4>Direction History</h4>
<hr />

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items"
               v-on:getdata="getData"></data_list>
</div>

<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {

    <script>
        // init
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: null,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/DirectionHistory', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                selectedChanged: function (selectedRows) {
                    alert(selectedRows.length);
                }
            }
        });

        window.onload = function (e) {
            app.getData();
        }


    </script>
}
