﻿<div id="detail-app">

    <p>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Text chyby</a></li>
            <li v-if="item.clientErrorID > 0"><a data-toggle="tab" href="#tab2">Status data, body</a></li>
            <li><a data-toggle="tab" href="#tab3">Detail</a></li>
        </ul>
    </p>

    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="30" readonly="readonly" v-model="item.errorMessage"></textarea>
                        </div>
                    </div>
                </p>
            </form>
        </div>

        <div v-if="item.clientErrorID > 0" id="tab2" class="tab-pane fade">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Status data:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="10" readonly="readonly" v-model="statusDataComputed"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Request body:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="10" readonly="readonly" v-model="item.requestBody"></textarea>
                        </div>
                    </div>
                </p>
            </form>
        </div>

        <div id="tab3" class="tab-pane fade">
            <form class="form-horizontal">
                <p>
                    <div class="form-group">
                        <label class="control-label col-sm-3">ID:</label>
                        <div class="col-sm-8">
                            <input v-if="item.clientErrorID > 0" class="form-control" v-model="item.clientErrorID" readonly="readonly" />
                            <input v-else class="form-control" v-model="item.exchangeErrorID" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Verze:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="item.appVersion" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Třída chyby:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="item.errorClass" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Datum a čas:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="errorDateTime" readonly="readonly" />
                        </div>
                    </div>
                    <div v-if="item.clientErrorID > 0" class="form-group">
                        <label class="control-label col-sm-3">Cesta:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="item.path" readonly="readonly" />
                        </div>
                    </div>
                    <div v-if="item.exchangeErrorID > 0" class="form-group">
                        <label class="control-label col-sm-3">Job Class:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="item.jobClass" readonly="readonly" />
                        </div>
                    </div>
                    <div v-if="item.exchangeErrorID > 0" class="form-group">
                        <label class="control-label col-sm-3">Job Name:</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model="item.jobName" readonly="readonly" />
                        </div>
                    </div>
                </p>
            </form>
        </div>

    </div>

</div>

<script>
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                clientErrorSettings: {},
                items: null
            }
        },
        computed: {
            statusDataComputed: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "statusData"; })[0];
                    if (this.item.statusData === null || this.item.statusData === undefined) return;
                    var statusData = JSON.parse(this.item.statusData);
                    var statusDataTXT = '';
                    for (var key in statusData) {
                        var value = statusData[key];
                        statusDataTXT += key + ': ' + value + '\n';
                    }
                    return valueToString(statusDataTXT, column);
                }
            },
            errorDateTime: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "errorDateTime"; })[0];
                    return valueToString(this.item.errorDateTime, column);
                }
            }
        },
        methods: {
            loadData: function () {
                this.clientErrorSettings.IntMessID = this.item.intMessID;
                this.getData(this.clientErrorSettings);
                $('.nav-tabs a[href="#tab1"]').tab('show');
            },
            getData: function (settings) {
                callAJAX(window.location.origin + '/api/error', settings, function (data) {
                    detailApp.$data.clientErrorSettings = data.settings;
                    detailApp.$data.items = data.data;
                }, null, true);
            }
        }
    });
</script>
