﻿@{
    ViewData["Title"] = "Chyby";
}

<div id="app">


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabError">S4 klient chyby ({{itemsToday}})</a></li>
        <li><a data-toggle="tab" href="#tabExchange">S4 exchange chyby ({{itemsExchToday}})</a></li>
    </ul>

    <div class="tab-content detail-form-content">
        <div id="tabError" class="tab-pane fade in active">
            <data_list v-bind:settings="settings" v-bind:items="items" v-on:getdata="getData" v-on:cmdclicked="cmdClicked"></data_list>
        </div>
        <div id="tabExchange" class="tab-pane fade">
            <data_list v-bind:settings="settingsExch" v-bind:items="itemsExch" v-on:getdata="getDataExch" v-on:cmdclicked="cmdClicked"></data_list>
        </div>
    </div>


</div>

<partial name="DetailModal" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {
    <script>
        // init
        var settings = {
            serverSide: true,
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: null,
                    items: null,
                    settingsExch: null,
                    itemsExch: null,
                    itemsToday: 0,
                    itemsExchToday: 0,
                }
            },
            methods: {
                getData: function () {
                    callAJAX(window.location.origin + '/api/error', app.$data.settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                        app.itemsToday = app.getCountToday(app.$data.items);
                        app.getDataExch();
                    }, null, true);
                },
                getDataExch: function () {
                    callAJAX(window.location.origin + '/api/exchangeerror', app.$data.settingsExch, function (data) {
                        app.$data.settingsExch = data.settings;
                        app.$data.itemsExch = data.data;
                        app.itemsExchToday = app.getCountToday(app.$data.itemsExch);
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                getCountToday: function (item) {
                    var now = new Date().toDateString();
                    var count = 0;
                    for (i = 0; i < item.length; i++) {
                        var dt = new Date(item[i].errorDateTime).toDateString();
                        if (dt == now) {
                            count++;
                        }
                    }
                    return count;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

