﻿@{
    ViewData["Title"] = "Seznam terminálů";
}

@section NavBarLeft {
    <ul class="nav navbar-nav">
        <li><a class="navbar-header">@ViewData["Title"]</a></li>
        <li><button onclick="$('#modal_send').modal('show');" class="btn btn-default btn-sm" style="margin-bottom:.7em; margin-top:1em;">Odeslat zprávu</button></li>
    </ul>
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="data"></data_list>

    <!-- Modal -->
    <div class="modal fade" id="modal_send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Odeslat zprávu</h4>
                    <i>Odešle zprávu na všechny aktivně připojené terminály</i>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" v-model="messageToSend" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                    <button @@click="sendMessage" type="button" class="btn btn-primary">Odeslat</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    var dataListSettings = {
        showFilterRow: true,
        allowSorting: true,
        pageSize: 25,
        columns: [
            {
                fieldName: "connectionId",
                caption: "ConnectionId",
                class: "col-lg-3 col-md-3 col-sm-3",
                sortMode: smDescending,
                sortOrder: 1,
                visible: true,
                dataType: tpString
            },
            {
                fieldName: "workerID",
                caption: "Pracovník",
                class: "col-lg-2 col-md-2 col-sm-2",
                disallowSorting: false,
                visible: true,
                dataType: tpString
            },
            {
                fieldName: "clientVersion",
                caption: "Verze",
                class: "col-lg-2 col-md-2 col-sm-2",
                visible: true,
                dataType: tpString
            },
            {
                fieldName: "terminalType",
                caption: "Typ",
                class: "col-lg-2 col-md-2 col-sm-2",
                disallowFiltering: false,
                visible: true,
                dataType: tpString
            },
            {
                fieldName: "connectionStart",
                caption: "Připojeno",
                class: "col-lg-3 col-md-3 col-sm-3",
                disallowFiltering: false,
                visible: true,
                dataType: tpDateTime
            },

        ]
    }

    // init
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                settings: dataListSettings,
                data: [],

                messageToSend: null
            }
        },
        mounted: function () {
            this.loadData();
        },
        methods: {
            loadData: function () {
                var params = null;
                callAJAX(window.location.origin + '/api/terminal/connections', params, this.showData);

            },
            openMessageModal: function () {
                $('#modal_send').modal('show');
            },
            sendMessage: function () {
                callAJAX(window.location.origin + '/api/terminal/infototerminal', this.messageToSend, function () {
                    app.$data.messageToSend = null;
                    $('#modal_send').modal('hide');
                });
            },
            showData: function (data) {
                this.data = data;
            },
        }
    });
</script>