﻿@{
    ViewData["Title"] = "Nastavení terminálu";
}
<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="app" v-cloak style="text-align:center;width:100%;">
    <h2>@ViewBag.ServerUrl</h2>
    <div style="width:500px;display: inline-block;margin-top:1em;margin-bottom:1em;">
        <v-select v-model="selectedWorker" id="workerID" :options="workerList" value="workerID" label="workerName"></v-select>
    </div>    
    <div id="qrCode"></div>
</div>

<script>

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                workerList: [],
                selectedWorker: null,
            }
        },
        mounted: function () {
            this.loadUsers();
            this.loadQRCode();
        },
        watch: {
            'selectedWorker': function () {
                this.loadQRCode();
            }
        },
        methods: {
            loadUsers: function () {
                callAJAX(window.location.origin + '/api/data', { typeName: 'S4.Entities.Worker', order: 'workerName' }, function (data) {
                    app.$data.workerList = data;
                });
            },
            loadQRCode: function () {
                var user = (this.selectedWorker) ? this.selectedWorker.workerLogon : '';
                callAJAX('/terminal/qrcode?user=' + user, {}, function (result) {
                    document.getElementById("qrCode").innerHTML = result.qrCodeAsSvg;
                });
            }
        }
    });

</script>