﻿@using S4.Web.Hubs;
@model Tuple<List<Tuple<Client, Client>>, List<Tuple<Client, Client>>>
@{
    ViewData["Title"] = "Seznam terminálů tabletů";
}

<div class="row">
    <div class="col-sm-12 col-md-8">
        <table class="table table-hover">
            <tr>
                <th>Spárováno</th>
                <th class="text-center">Klient</th>
                <th style="width: 30%"></th>
                <th class="text-center">Tablet / Scanner</th>
            </tr>
            @foreach (var match in Model.Item1)
            {
                <tr>
                    <td><h4>ANO</h4></td>
                    <td class="text-center">
                        <i class="fa fa-tv fa-2x text-success" style="margin-bottom: 4px;"></i>
                        <div>@match.Item1.IpAddress</div>
                    </td>
                    <td>
                        <div style="margin-top: 4px; text-align: center;">
                            <i class="fas fa-arrows-alt-h fa-2x" style="margin-top:8px;"></i>
                        </div>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-tablet-alt fa-2x text-success" style="margin-bottom: 4px;"></i>
                        <div>@match.Item2.IpAddress</div>
                    </td>
                </tr>
            }
            @foreach (var unMatch in Model.Item2)
            {
                <tr>
                    <td><h4>NE</h4></td>
                    <td class="text-center">
                        <i class="fa fa-tv fa-2x @(unMatch.Item1 != null ? "text-success" : "text-danger")" style="margin-bottom: 4px;" title="@(unMatch.Item1 != null ? "připojeno "+unMatch.Item1.ConnectionId : "nepřipojeno")"></i>
                        <div>@(unMatch.Item1 != null ? unMatch.Item1.IpAddress : "- - - - -")</div>
                    </td>
                    <td>
                        <div style="margin-top: 4px; text-align: center;">
                            <i class="fas fa-arrows-alt-h fa-2x" style="margin-top:8px;"></i>
                        </div>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-tablet-alt fa-2x @(unMatch.Item2 != null ? "text-success" : "text-danger")" style="margin-bottom: 4px;" title="@(unMatch.Item2 != null ? "připojeno "+unMatch.Item2.ConnectionId : "nepřipojeno")"></i>
                        <div>@(unMatch.Item2 != null ? unMatch.Item2.IpAddress : "- - - - -")</div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
