﻿<style>
    .v-select .dropdown-toggle .selected-tag {
        height: 22px;
    }

    .v-select .dropdown-toggle .form-control {
        height: 22px;
    }

    .v-select .dropdown-toggle .clear {
        visibility: hidden;
    }
</style>

<div class="modal fade" id="artpack_detail" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px">
        <div id="packedit-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="detail_title">Úprava</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <p>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ID">ID:</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="item.artPackID" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="packDesc">Balení:</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="packDesc" v-model="item.packDesc" v-validate="{ required: true, max: 32 }" data-vv-as="Balení" />
                                <span class="text-danger">{{ errors.first('packDesc') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="packRelation">Vztah:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="packRelation" v-model="item.packRelation" v-validate="{ required: true, decimal: true, max_value: 9999999.99 }" data-vv-as="Vztah" />
                                <span class="text-danger">{{ errors.first('packRelation') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="movablePack">Hlavní:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" class="form-check-input" name="movablePack" v-model="item.movablePack" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="source_id">Zdroj:</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="source_id" v-model="item.source_id" v-validate="{ required: true, max: 32 }" data-vv-as="Zdroj" />
                                <span class="text-danger">{{ errors.first('source_id') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="packStatus">Stav:</label>
                            <div class="col-sm-6">
                                <v-select name="packStatus" v-model="packStatusDisplay" label="name" :options="statusOptions"></v-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="barCode">Čárový kód:</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="barCode" v-model="item.barCode" v-validate="{ max: 32 }" data-vv-as="Čárový kód" />
                                <span class="text-danger">{{ errors.first('barCode') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="inclCarrier">Paleta:</label>
                            <div class="col-sm-6">
                                <input type="checkbox" class="form-check-input" name="inclCarrier" v-model="item.inclCarrier" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="packWeight">Váha:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="packWeight" v-model="item.packWeight" v-validate="{ required: true, decimal: true, max_value: 999.99 }" data-vv-as="Váha" />
                                <span class="text-danger">{{ errors.first('packWeight') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="packVolume">Objem:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="packVolume" v-model="item.packVolume" v-validate="{ required: true, decimal: true, max_value: 999.99 }" data-vv-as="Objem" />
                                <span class="text-danger">{{ errors.first('packVolume') }}</span>
                            </div>
                        </div>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="doSave()">Uložit změny</button>
            </div>
        </div>
    </div>
</div>


<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var packEditApp = new Vue({
        el: '#packedit-app',
        data: function () {
            return {
                save: null,
                item: {},
                columns: null,
                packStatusDisplay: ""
            }
        },
        methods: {
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "packStatus"; })[0];
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        packEditApp.save();
                        $('#' + packEditApp.dataList.editForm).modal('hide');
                    }
                });
            },
            doSave: function () {
                //set packStatus by packStatusDisplay
                this.item.packStatus = this.packStatusDisplay.code;

                this.validateAndSave();
            }
        },
        computed: {
            statusOptions: function () {
                if (!this.columns)
                    return [];
                return this.getStatusColumn().valuesList;
            }
        },
        watch: {
            item: function (val) {
                this.packStatusDisplay = {
                    code: this.item.packStatus,
                    name: valueToString(this.item.packStatus, this.getStatusColumn())
                };
            }
        }
    });

    validate = packEditApp.validate;
</script>

