﻿<style>
    textarea {
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        border: none;
        outline: none;
    }
</style>

<div id="detail-article-app">
    <div class="detail-form-rows">
        <div v-for="row in headerRows" class="detail-form-row">
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class" class="detail-form-fld-desc">{{subRow.column.caption}}</div>
            </div>
            <div class="row">
                <div v-for="subRow in row" v-bind:class="subRow.class">
                    <div class="detail-form-fld" v-html="subRow.value"></div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#packing">Balení</a></li>
        <li><a data-toggle="tab" href="#stock">Skladem</a></li>
        <li><a data-toggle="tab" href="#art-blocking">Blokace</a></li>
        <li><a data-toggle="tab" href="#art-moves">Pohyby</a></li>
        <li><a data-toggle="tab" href="#art-history">Historie</a></li>
        <li><a data-toggle="tab" href="#art-userRemark">Poznámka</a></li>
        <li><a data-toggle="tab" href="#art-extra">Extra data</a></li>
        <li><a data-toggle="tab" href="#art-booking">Rezervace</a></li>
    </ul>
    <div class="tab-content detail-form-content">
        <div id="packing" class="tab-pane fade in active">
            <data_list v-bind:settings="packSettings" v-bind:items="packItems" v-bind:error="packError" v-on:getdata="getPackData" v-on:cmdclicked="packCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="stock" class="tab-pane fade">
            <div class="list-filter">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="checkbox" style="margin:0px">
                            <label><input type="checkbox" v-model="stockStorePosOnly">Jen skladové pozice</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-xs" @@click="printOnStore">Tisk seznamu</button>
                    </div>
                </div>
            </div>
            <data_list v-bind:settings="stockSettings" v-bind:items="stockItems" v-bind:error="stockError" v-on:getdata="getStockData" v-on:cmdclicked="onStockCmdClicked"></data_list>
        </div>
        <div id="art-blocking" class="tab-pane fade">
            <data_list v-bind:settings="blockSettings" v-bind:items="blockItems" v-bind:error="blockError" v-on:getdata="getBlockData" v-on:cmdclicked="onStockCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="art-moves" class="tab-pane fade">
            <div class="list-filter">
                <div class="row">
                    <div class="col-lg-2" style="padding-top:7px">
                        <div class="checkbox" style="margin:0px">
                            <label><input type="checkbox" v-model="movItemsValid">Jen platné</label>
                        </div>
                    </div>
                    <div class="col-lg-2" style="padding-top:7px">
                        <label class="control-label pull-right" for="packFilter">Filtr:</label>
                    </div>
                    <div class="col-sm-4">
                        <v-select name="packFilter" v-model="packFilter" label="name" :options="packFilterItems"></v-select>
                    </div>
                </div>
            </div>
            <data_list v-bind:settings="movSettings" v-bind:items="movItemsFiltered" v-bind:error="movError" v-on:getdata="getMovData" v-on:cmdclicked="onStockCmdClicked" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="art-history" class="tab-pane fade">
            <data_list v-bind:settings="histSettings" v-bind:items="histItems" v-bind:error="historyError" v-on:getdata="getHistData"></data_list>
        </div>
        <div id="art-userRemark" class="tab-pane fade">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="detail-form-fld">
                        <textarea v-model="item.userRemark" placeholder="" rows="23" cols="130" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="art-extra" class="tab-pane fade">
            <data_list v-bind:settings="xtraSettings" v-bind:items="xtraDataItems" ref="itemsGrid" v-on:getdata="getXtraData" :valueHtml="valueHtml"></data_list>
        </div>
        <div id="art-booking" class="tab-pane fade">
            <div class="list-filter">
                <div class="row">
                    <div class="col-lg-2" style="padding-top:7px">
                        <div class="checkbox" style="margin:0px">
                            <label><input type="checkbox" v-model="bookingValid">Jen platné</label>
                        </div>
                    </div>
                </div>
            </div>
            <data_list v-bind:settings="bookingSettings" v-bind:items="bookingItems" ref="itemsGrid" v-on:getdata="getBookingData" :valueHtml="valueHtml"></data_list>
        </div>
    </div>
</div>

<script>
    var pageSize = getDialogAutoSize(0.75, 500);
    var pageSizeMove = getDialogAutoSize(0.75, 600);
    var pageSizeOnStore = getDialogAutoSize(0.75, 550);
    var packSettings = {
        serverSide: true,
        pageSize: pageSize,
        commands: [
            {
                commandType: cmCustom,
                cssClass: getCommandBtnClass({ commandType: cmEdit }),
                title: getCommandBtnTitle({ commandType: cmEdit })
            }
        ]
    };
    Vue.component('v-select', VueSelect.VueSelect);
    var detailArticleApp = new Vue({
        el: '#detail-article-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                noDetails: false,
                //packing
                packSettings: packSettings,
                packItems: null,
                packError: null,
                //onStock
                stockSettings: { pageSize: pageSizeOnStore },
                stockItems: null,
                stockError: null,
                stockStorePosOnly: true,
                //blocked
                blockSettings: { pageSize: pageSize },
                blockItems: null,
                blockError: null,
                //moves
                movSettings: { pageSize: pageSizeMove },
                movItems: null,
                movItemsValid: true,
                movError: null,
                packFilter: null,
                packFilterItems: [],
                //history
                histSettings: { pageSize: pageSize },
                histItems: null,
                historyError: null,
                // xtra items
                xtraSettings: { pageSize: pageSize },
                xtraDataItems: [],
                //booking
                bookingSettings: { pageSize: pageSize },
                bookingItems: null,
                bookingValid: true
            }
        },
        methods: {
            loadData: function () {
                this.clearData();
                var html = '<div class="edit-header-bold">' + this.item.articleCode + '</div><div class="edit-header">' + this.item.articleDesc + '</div>';
                $('#detail_article_title').html(html);
                $('#detail_title').html(html);
                this.packSettings.articleID = this.item.articleID;
                this.getPackData(this.packSettings);
                this.getStockData();
                this.blockSettings.articleID = this.item.articleID;
                this.getBlockData(this.blockSettings);
                this.movSettings.articleID = this.item.articleID;
                this.getMovData(this.movSettings);
                this.histSettings.articleID = this.item.articleID;
                this.getHistData(this.histSettings);
                this.xtraSettings.articleID = this.item.articleID;
                this.getXtraData(this.xtraSettings);
                this.bookingSettings.articleID = this.item.articleID;
                this.getBookingData(this.bookingSettings);
            },
            clearData: function () {
                this.packItems = [];
                this.packError = null;
                //onStock
                this.stockSettings = { pageSize: pageSizeOnStore };
                this.stockItems = [];
                this.stockError = null;
                //blocked
                this.blockSettings = { pageSize: pageSize };
                this.blockItems = [];
                this.blockError = null;
                //moves
                this.movSettings = { pageSize: pageSizeMove };
                this.movItems = null;
                this.movItemsValid = true;
                this.movError = null;
                this.packFilter = null;
                this.packFilterItems = [];
                //history
                this.histSettings = { pageSize: pageSize };
                this.histItems = [];
                this.historyError = null;
                // xtra items
                this.xtraSettings = { pageSize: pageSize };
                this.xtraDataItems = [];
                //booking
                this.bookingSettings = { pageSize: pageSize };
                this.bookingItems = [];
                this.bookingValid = true;
            },
            valueHtml: function (column, value, displayValue, row, listItem) {
                if (column.fieldName == 'packStatus' || column.fieldName == 'docStatus') {
                    return formatStatusField(displayValue, listItem, row.itemValidity == 255, row.itemValidity == 0);
                } else if (column.fieldName == 'doc' || column.fieldName == 'dir') {
                    return formatDocInfoField(displayValue, listItem);
                }
                else if (column.fieldName == 'bookingTimeout') {
                    const now = Date.now();
                    var dtValue = Date.parse(value);

                    if (now > dtValue && row.bookingStatus != 'DELETED') {
                        return "<b style='color: red;font-size: 14px;'>" + displayValue + "</b>";
                    }
                    else {
                        return displayValue;
                    }
                }
                else if (column.fieldName == 'bookingStatus') {
                    if (value === 'VALID') {
                        listItem.color = 'Blue';
                    }
                    else if (value === 'USED') {
                        listItem.color = 'Orange';
                    }
                    else if (value === 'DELETED') {
                        listItem.color = 'Red';
                    }
                    return formatStatusField(displayValue, listItem);
                }
                else
                    return displayValue;
            },
            specFeatures: function (column, value, row) {
                if (value) {
                    var intValue = row[column.rawProperty];
                    let res = '';
                    column.valuesList.forEach(function (item) {
                        if ((item.code & intValue) == item.code) {
                            switch (item.code) {
                                case '1': res += '<i class="fas fa-snowflake fa-fw" style="color:lightskyblue;margin-left:.5em;" title="Lednice"></i>'; break;
                                case '2': res += '<i class="fas fa-pills fa-fw" style="color:#ec7063;margin-left:.5em;" title="Léky"></i>'; break;
                                case '4': res += '<i class="fas fa-exclamation-triangle fa-fw" style="color: #f4d03f;margin-left:.5em;" title="Cytostatika"></i>'; break;
                                case '8': res += '<i class="fas fa fa-eye fa-fw" style="color: #5acf00;margin-left:.5em;" title="Ověřit příjem"></i>'; break;
                            }
                        }
                    });
                    return res;
                }
            },
            //packing
            getPackData: function (settings) {
                callAJAX(window.location.origin + '/api/ArticlePacking', settings, function (data) {
                    data.settings.noDetails = detailArticleApp.$data.noDetails;
                    detailArticleApp.$data.packSettings = data.settings;
                    detailArticleApp.$data.packError = data.error;

                    for (let i = 0; i < data.data.length; i++) {
                        let barCodesTxt = '';

                        if (data.data[i].barCodes.length) {
                            barCodesTxt = `<span>${data.data[i].barCodes[0]}</span>`;
                            data.data[i].barCodes.slice(1).forEach(v => barCodesTxt += `, <i>${v}</i>`);
                            data.data[i].barCodes = `<span title="${data.data[i].barCodes.join(',')}">${barCodesTxt}</span>`;
                        }
                    }

                    detailArticleApp.$data.packItems = data.data;
                }, null, true);
            },
            packCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    $("#artpack_detail").modal("show");
                    packEditApp.$data.columns = this.packSettings.columns;
                    packEditApp.$data.item = rows[0];
                    packEditApp.$data.save = function () {
                        const item = Object.assign({}, this.item);
                        delete item.barCodes; // not change here -> other form

                        callAJAX(window.location.origin + '/api/ArticlePacking/Save', item, function (data) {
                            $("#artpack_detail").modal("hide");
                        }, null, true);
                    }
                }
            },
            //on stock
            getStockData: function () {
                var controllerName = detailArticleApp.$data.stockStorePosOnly ? 'getbyarticlestorepos' : 'getbyarticle';
                callAJAX(window.location.origin + '/api/onstore/' + controllerName + '/' + this.item.articleID, null, function (data) {
                    data.settings.serverSide = false;
                    data.settings.pageSize = pageSizeOnStore;
                    data.settings.noDetails = detailArticleApp.$data.noDetails;
                    detailArticleApp.$data.stockSettings = data.settings;
                    detailArticleApp.$data.stockSettings.storePosOnly = detailArticleApp.$data.stockStorePosOnly;
                    detailArticleApp.$data.stockItems = data.data;
                    detailArticleApp.$data.stockError = data.error;
                }, null, true);
            },
            onStockCmdClicked: function (rows, command) {
                if (command.commandType == cmCustom) {
                    var positionID;
                    switch (command.commandId) {
                        case "position_detail": positionID = rows[0].positionID; break;
                        case "position_detail_from": positionID = rows[0].positionIDFrom; break;
                        case "position_detail_to": positionID = rows[0].positionIDTo; break;
                    }
                    callAJAX(window.location.origin + "/api/Position/GetWithSettings/" + positionID, null, function (data) {
                        detailPositionApp.$data.apiUrl = detailApp.$data.apiUrl;
                        detailPositionApp.$data.columns = data.settings.columns;
                        detailPositionApp.$data.item = data.data[0];
                        detailPositionApp.$data.noDetails = true;
                        detailPositionApp.loadData();
                        $('#position_detail').modal('show');
                    }, null, true);
                }
            },
            //blocked
            getBlockData: function (settings) {
                callAJAX(window.location.origin + '/api/Blockation', settings, function (data) {
                    data.settings.noDetails = detailArticleApp.$data.noDetails;
                    detailArticleApp.$data.blockSettings = data.settings;
                    detailArticleApp.$data.blockItems = data.data;
                    detailArticleApp.$data.blockError = data.error;
                }, null, true);
            },
            //moves
            getMovData: function (settings, sender) {
                if (sender)
                    sender.clearFilter();
                settings.validOnly = this.movItemsValid;
                settings.serverSide = true;
                settings.pageSize = 0; //to get all items
                callAJAX(window.location.origin + '/api/StoreMoveItem', settings, function (data) {
                    data.settings.noDetails = detailArticleApp.$data.noDetails;
                    detailArticleApp.$data.movSettings = data.settings;
                    detailArticleApp.$data.movItems = data.data;
                    detailArticleApp.$data.movError = data.error;
                    detailArticleApp.loadPackingFilter();
                }, null, true);
            },
            loadPackingFilter: function () {
                this.packFilterItems = [];
                this.packFilterItems.push({
                    value: null,
                    name: "Všechna balení"
                });
                this.packFilter = this.packFilterItems[0];
                var self = this;
                this.movItems.forEach(function (item) {
                    var existingItems = self.packFilterItems.filter(function (pack) { return pack.value == item.packDesc })
                    if (existingItems.length == 0) {
                        self.packFilterItems.push({
                            value: item.packDesc,
                            name: "Balení '" + item.packDesc + "'"
                        });
                    }
                });
            },
            //history
            getHistData: function (settings) {
                callAJAX(window.location.origin + '/api/articlehistory', settings, function (data) {
                    detailArticleApp.$data.histSettings = data.settings;
                    detailArticleApp.$data.histItems = data.data;
                    detailArticleApp.$data.historyError = data.error;
                }, null, true);
            },
            //xtra data
            getXtraData: function (settings) {
                callAJAX(window.location.origin + '/api/articlextra', settings, function (data) {
                    detailArticleApp.$data.xtraSettings = data.settings;
                    detailArticleApp.$data.xtraDataItems = data.data;
                }, null, true);
            },
            printOnStore: function () {
                selectPrinterDialog.initDialog("onstoreprint", { OnStorePrintSource: 'OnStorePrintSourceArticle', SourceID: this.item.articleID });
                $('#select-printer-dialog').modal('show');
            },
            //booking
            getBookingData: function (settings) {
                settings.bookingValid = this.bookingValid;
                callAJAX(window.location.origin + '/api/articlebooking', settings, function (data) {
                    detailArticleApp.$data.bookingSettings = data.settings;
                    detailArticleApp.$data.bookingItems = data.data;
                }, null, true);
            },
        },
        computed: {
            headerRows: function () {
                var rows = [[], [], []]; // defines number of rows
                if (!this.columns)
                    return rows;
                this.columns.forEach(function (item) {
                    switch (item.fieldName) {
                        //row0
                        case "articleID":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "articleCode":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "articleStatus":
                            rows[0].push({ column: item, class: "col-lg-1" });
                            break;
                        case "articleType":
                            rows[0].push({ column: item, class: "col-lg-1" });
                            break;
                        case "source_id":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "sectID":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        case "brand":
                            rows[0].push({ column: item, class: "col-lg-2" });
                            break;
                        
                        //row1
                        case "manufID":
                            rows[1].push({ column: item, class: "col-lg-4" });
                            break;
                        case "unitDesc":
                            rows[1].push({ column: item, class: "col-lg-4" });
                            break;
                        case "specFeatures":
                            rows[1].push({ column: item, class: "col-lg-4" });
                            break;

                        //row2
                        case "useBatch":
                            rows[2].push({ column: item, class: "col-lg-2" });
                            break;
                        case "mixBatch":
                            rows[2].push({ column: item, class: "col-lg-2" });
                            break;
                        case "useExpiration":
                            rows[2].push({ column: item, class: "col-lg-2" });
                            break;
                        case "useSerialNumber":
                            rows[2].push({ column: item, class: "col-lg-2" });
                            break;
                        case "sign":
                            rows[2].push({ column: item, class: "col-lg-4" });
                            break;
                    }
                });
                var self = this;
                rows.forEach(function (item) {
                    item.forEach(function (item) {
                        var value = detailArticleApp.$data.item[item.column.fieldName];
                        item.value = item.column.fieldName == "specFeatures" ?
                            detailArticleApp.specFeatures(item.column, value, self.item) :
                            valueToString(value, item.column);
                    });
                });
                return rows;
            },
            movItemsFiltered: function () {
                if (!this.movItems)
                    return [];
                this.movSettings.serverSide = false;
                this.movSettings.pageSize = pageSizeMove;
                var self = this;
                return this.movItems.filter(function (item) { return !self.packFilter || !self.packFilter.value || (item.packDesc == self.packFilter.value) });
            }
        },
        watch: {
            movItemsValid: function () {
                this.getMovData(this.movSettings);
            },
            stockStorePosOnly: function () {
                this.getStockData();
            },
            bookingValid: function () {
                this.getBookingData(this.bookingSettings);
            },
        }
    });
</script>
