﻿<div id="edit-app">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#main">Karta</a></li>
        <li><a data-toggle="tab" href="#remark">Poznámka</a></li>
    </ul>

    <form class="form-horizontal">
        <div class="tab-content detail-form-content">
            <div id="main" class="tab-pane fade in active">
                <p>
                    <div class="row col-lg-11">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ID">ID:</label>
                            <div class="col-sm-2">
                                <input class="form-control" name="articleID" v-model="item.articleID" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="articleCode">Kód:</label>
                            <div class="col-sm-2">
                                <input class="form-control" name="articleCode" v-model="item.articleCode" v-validate="{ required: true, max: 64 }" data-vv-as="Kód" />
                                <span class="text-danger">{{ errors.first('articleCode') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="articleDesc">Popis:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="articleDesc" v-model="item.articleDesc" v-validate="{ required: true, max: 256 }" data-vv-as="Popis" />
                                <span class="text-danger">{{ errors.first('articleDesc') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="articleStatus">Stav:</label>
                            <div class="col-sm-4">
                                <v-select name="articleStatus" v-model="selectedStatus" label="name" :options="statusOptions" v-validate="'required'" data-vv-as="Stav"></v-select>
                                <span class="text-danger">{{ errors.first('articleStatus') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="source_id">ID zdroje:</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="source_id" v-model="item.source_id" v-validate="{ required: true, max: 32 }" data-vv-as="ID zdroje" />
                                <span class="text-danger">{{ errors.first('source_id') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="sectID">Sekce:</label>
                            <div class="col-sm-4">
                                <v-select name="sectID" v-model="selectedSection" label="name" :options="sectionOptions" data-vv-as="Sekce" :clearable="true"></v-select>
                                <span class="text-danger">{{ errors.first('sectID') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="manufID">Výrobce:</label>
                            <div class="col-sm-4">
                                <v-select name="manufID" v-model="selectedManuf" label="name" :options="manufOptions" v-validate="'required'" data-vv-as="Výrobce"></v-select>
                                <span class="text-danger">{{ errors.first('manufID') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="manufID">Značka:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="brand" v-model="item.brand" v-validate="{ max: 64 }" data-vv-as="Značka" />
                                <span class="text-danger">{{ errors.first('brand') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="unitDesc">Jednotka:</label>
                            <div class="col-sm-2">
                                <input class="form-control" name="unitDesc" v-model="item.unitDesc" v-validate="{ max: 32 }" data-vv-as="Jednotka" />
                                <span class="text-danger">{{ errors.first('unitDesc') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="sign">Znak:</label>
                            <div class="col-sm-2">
                                <input class="form-control" name="sign" v-model="item.sign" v-validate="{ max: 64 }" data-vv-as="Znak" />
                                <span class="text-danger">{{ errors.first('sign') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="useSerialNumber">Použít sériová čísla:</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="checkbox" name="useSerialNumber" v-model="item.useSerialNumber" />
                            </div>
                            <label class="control-label col-sm-3" for="mixBatch">Míchat šarže:</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="checkbox" name="mixBatch" v-model="item.mixBatch" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="useBatch">Šarže:</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="checkbox" name="useBatch" v-model="item.useBatch" disabled />
                            </div>
                            <label class="control-label col-sm-3" for="useExpiration">Expirace:</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="checkbox" name="useExpiration" v-model="item.useExpiration" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding-top:30px;">
                        <div class="alert alert-info">
                            <strong>Upozornění:</strong> Změnu nastavení <code>Šarže</code> a <code>Expirace</code> je nutné udělat přes položku menu <code>Nastavení šarží a expirací</code>
                        </div>
                    </div>

                </p>
            </div>
            <div id="remark" class="tab-pane fade">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" v-model="item.userRemark" placeholder="" rows="30" cols="100"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                selectedStatus: null,
                selectedSection: null,
                sectionOptions: [],
                selectedManuf: null,
                manufOptions: []
            }
        },
        methods: {
            loadData: function () {
                $('#detail_title').html(this.isNew ? 'Nová karta' : '<div class="edit-header-bold">' + this.item.articleCode + '</div><div class="edit-header">' + this.item.articleDesc + '</div>');
                this.selectedStatus = this.item.articleStatus ? {
                    code: this.item.articleStatus,
                    name: valueToString(this.item.articleStatus, this.getStatusColumn())
                } : null;
                var self = this;
                this.loadList({ typeName: "S4.Entities.Section" }, "sectionOptions", "sectID", "sectDesc", null, null, function () {
                    self.$data.selectedSection = self.$data.item.sectID ?
                        self.$data.sectionOptions.filter(function (item) { return item.value == self.$data.item.sectID; })[0] :
                        null;
                    self.loadList({ typeName: "S4.Entities.Manufact" }, "manufOptions", "manufID", "manufName", null, null, function () {
                        self.$data.selectedManuf = self.$data.item.manufID ?
                            self.$data.manufOptions.filter(function (item) { return item.value == self.$data.item.manufID.trim(); })[0] :
                            null;
                    });
                });
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "articleStatus"; })[0];
            },
            loadList: function (getListModel, destProperty, propValue, propName, addPropDest, addPropSource, callAfter) {
                callAJAX(window.location.origin + "/api/data", getListModel, function (data) {
                    editApp.$data[destProperty] = [];
                    var list = data.sort(function (a, b) {
                        var x = a[propName].toLowerCase();
                        var y = b[propName].toLowerCase();
                        if (x < y) { return -1; }
                        if (x > y) { return 1; }
                        return 0;
                    });
                    var result = [];
                    list.forEach(function (item) {
                        var newItem = { name: item[propName], value: item[propValue] };
                        if (addPropDest) {
                            newItem[addPropDest] = item[addPropSource];
                        }
                        result.push(newItem);
                    });
                    editApp.$data[destProperty] = result;
                    if (callAfter)
                        callAfter();
                }, null, true);
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                        $('#' + editApp.dataList.editForm).modal('hide');
                    }
                });
            },
            doSave: function () {
                //set values from combos
                this.item.articleStatus = this.selectedStatus ? this.selectedStatus.code : null;
                this.item.sectID = this.selectedSection ? this.selectedSection.value : null;
                this.item.manufID = this.selectedManuf ? this.selectedManuf.value : null;

                this.validateAndSave();
            }
        },
        computed: {
            statusOptions: function () {
                if (!this.columns)
                    return [];
                return this.getStatusColumn().valuesList;
            }
        }
    });

    validate = editApp.validate;
</script>
