﻿<div class="modal fade" id="editExpBatch_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%; min-width:1200px">
        <div id="editExpBatch-dialog-app" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Nastavení šarží a expirací</h3>
            </div>
            <div class="modal-body modal-body-over">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="alert alert-info">
                                <strong>Upozornění:</strong> Nastavení <code>Šarže</code> a <code>Expirace</code> není možné zapnout, pokud je zboží skladem.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="articleCode">Kód:</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="articleCode" v-model="item.articleCode" readonly="readonly" data-vv-as="Kód" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="articleDesc">Popis:</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="articleDesc" v-model="item.articleDesc"readonly="readonly" data-vv-as="Popis" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="useBatch">Šarže:</label>
                        <div class="col-sm-1" style="padding-top: 4px;">
                            <input type="checkbox" class="checkbox" name="useBatch" v-model="item.useBatch" v-bind:disabled="!batchCanBeEdited && !originUseBatch" />
                        </div>
                        <label v-if="!batchCanBeEdited && !originUseBatch" class="control-label col-sm-9 text-danger" style="text-align:left">{{cantBeEnabledReason}}</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="useExpiration">Expirace:</label>
                        <div class="col-sm-1" style="padding-top: 4px;">
                            <input type="checkbox" class="checkbox" name="useExpiration" v-model="item.useExpiration" v-bind:disabled="!expCanBeEdited && !originUseExpiration" />
                        </div>
                        <label v-if="!expCanBeEdited && !originUseExpiration" class="control-label col-sm-9 text-danger" style="text-align:left">{{cantBeEnabledReason}}</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12 text-danger" style="text-align:left">{{procedureError}}</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Provést</button>
            </div>
        </div>
    </div>
</div>

<script>
    var editExpBatch_dialog = new Vue({
        el: '#editExpBatch-dialog-app',
        data: function () {
            return {
                //the selected rows
                items: {},
                //grid component - can be used for calling usable methods
                dataList: null,

                //custom
                originUseBatch: false,
                originUseExpiration: false,
                item: {},
                batchCanBeEdited: true,
                expCanBeEdited: true,
                cantBeEnabledReason: null,
                procedureError: null,
                articleCode: null,
                articleDesc: null
            }
        },
        methods: {
            //is called when dialog is openning
            loadData: function () {
                this.procedureError = null;
                if (this.items.length > 0) {
                    this.item = this.items[0];
                    this.originUseBatch = this.item.useBatch;
                    this.originUseExpiration = this.item.useExpiration;
                    this.articleCode = this.item.articleCode;
                    this.articleDesc = this.item.articleDesc;
                }

                var self = this;

                if (!this.item.useBatch || !this.item.useExpiration) {
                    callAJAX(window.location.origin + '/api/procedureshelpers/canenableexpbatch/' + this.item.articleID, {}, function (result) {
                        self.cantBeEnabledReason = result.reason;
                        self.batchCanBeEdited = self.item.useBatch || result.canEnable;
                        self.expCanBeEdited = self.item.useExpiration || result.canEnable;
                    }, null, true);
                }
            },

            //custom
            save: function () {
                var removeProc = null;
                if (this.originUseBatch && !this.item.useBatch)
                    removeProc = "RemoveBatch";
                if (this.originUseExpiration && !this.item.useExpiration) {
                    removeProc = removeProc ? "RemoveExpBatch" : "RemoveExpiration";
                }

                var self = this;
                var saveProc = function () {
                    callAJAX(window.location.origin + '/api/article/save', self.item, function (result) {
                        if (result.success === false) {
                            self.procedureError = result.errorText;
                            return;
                        }
                        editExpBatch_dialog.dataList.refresh();
                        $('#editExpBatch_dialog').modal('hide');
                    }, null, true);
                };
                if (removeProc) {
                    var removeExpBatch = {
                        articleID: this.item.articleID
                    };
                    callAJAX(window.location.origin + '/api/procedures/' + removeProc, removeExpBatch, function (result) {
                        if (!result.success) {
                            self.procedureError = result.errorText;
                            return;
                        }
                        saveProc();
                    }, null, true);
                } else {
                    saveProc();
                }
            }
        }
    });
</script>