﻿@{
    ViewData["Title"] = "Karty";
}

@section NavBarLeft{
    <ul class="nav navbar-nav">
        <li><a class="navbar-header">@ViewData["Title"]</a></li>
    </ul>
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items" v-bind:error="error" v-on:getdata="getData" :valueHtml="valueHtml">
        <template slot="filterSlot">
            <div class="col-lg-1" style="padding-top:7px">
                <label class="control-label pull-right" for="filter">Výrobce:</label>
            </div>
            <div class="col-sm-4">
                <v-select name="Manufact" v-model="selectedManufact" label="name" :options="manufacts"></v-select>
            </div>
        </template>
    </data_list>
</div>

<partial name="DetailModal" />
<partial name="../VueColumns/DocColumn" />
<partial name="../VueColumns/DirColumn" />
<partial name="../HistoryParsers/HistoryParserColumn" />
<partial name="ArtpackEdit" />
<partial name="PositionDetail" />
<partial name="SelectPrinterDialog" />
<partial name="EditExpBatchDialog" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />

@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        // init
        var detailApp = detailArticleApp;

        var settings = {
            serverSide: true,
            pageSize: getPageAutoSize(),
            commands: [
                {
                    commandType: cmInsert
                },
                {
                    commandType: cmEdit
                },
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null,
                    error: null,
                    manufacts: [],
                    selectedManufact: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/Article', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                        app.$data.error = data.error;
                    }, null, true);
                },
                loadManufact: function () {
                    callAJAX(window.location.origin + '/api/Data', { typeName: 'S4.Entities.Manufact', order: 'manufName' }, function (data) {
                        app.$data.manufacts = [];
                        var manufacts = [{ name: "< Všichni >", value: null }];
                        data.forEach(function (item) {
                            var newItem = { name: item.manufName, value: item.manufID };
                            manufacts.push(newItem);
                        });
                        app.$data.selectedManufact = manufacts[0];
                        app.$data.manufacts = manufacts;
                    }, null, true);
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'articleStatus') {
                        return formatStatusField(displayValue, listItem);
                    } else if (column.fieldName == 'specFeatures' && value) {
                        var intValue = row[column.rawProperty];
                        let res = '';
                        column.valuesList.forEach(function (item) {
                            if ((item.code & intValue) == item.code) {
                                switch (item.code) {
                                    case '1': res += '<i class="fas fa-snowflake fa-fw" style="color:lightskyblue;margin-left:.5em;" title="Lednice"></i>'; break;
                                    case '2': res += '<i class="fas fa-pills fa-fw" style="color:#ec7063;margin-left:.5em;" title="Léky"></i>'; break;
                                    case '4': res += '<i class="fas fa-exclamation-triangle fa-fw" style="color: #f4d03f;margin-left:.5em;" title="Cytostatika"></i>'; break;
                                    case '8': res += '<i class="fas fa fa-eye fa-fw" style="color: #5acf00;margin-left:.5em;" title="Ověřit příjem"></i>'; break;
                                }
                            }
                        });
                        return res;
                    } else
                        return displayValue;
                }
            },
            watch: {
                selectedManufact: function (val) {
                    this.settings.manufID = val.value;
                    this.settings.page = 1;
                    this.getData(this.settings);
                }
            }
        });

        window.onload = function (e) {
            app.loadManufact();
        }


    </script>
}

