﻿<!DOCTYPE html>
<html>
<body>
    <div>
        <h1>Neexpedované doklady více než {{ hour_back_limit }}h ({{ count }})</h1>
    </div>
    <div>
        <table border=0 cellspacing=0 cellpadding=4>
            <tr style="background-color: lightgray">
                <th>DOKLAD</th>
                <th>FIRMA</th>
                <th>POLOŽKY</th>
            </tr>
            {{ if count == 0 }}
            <tr>
                <th>Nejsou žádné doklady</th>
            </tr>
            {{ end }}

            {{ if count > 0 }}
            {{ for item in data }}
            <tr>
                <td>{{ item.doc_info }}</td>
                <td>{{ item.partner_name }}</td>
                <td style="text-align: right">{{ item.items_count }}</td>
            </tr>
            {{ end }}
            {{ end }}
        </table>
    </div>
</body>
</html>