﻿<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="truckID">ID:</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="truckID" v-model="item.truckID" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="truckRegist">SPZ:</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="truckRegist" v-model="item.truckRegist" v-validate="{ required: true, max: 32 }" data-vv-as="SPZ" />
                        <span class="text-danger">{{ errors.first('truckRegist') }}</span>
                        <span class="text-danger">{{ truckSaveError }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="truckCapacity">Kapacita:</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="truckCapacity" v-model="item.truckCapacity" v-validate="{ required: true, integer: true, max_value: 999999999999999999 }" data-vv-as="Kapacita" />
                        <span class="text-danger">{{ errors.first('truckCapacity') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="sectDesc">Komentář:</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="truckComment" v-model="item.truckComment" v-validate="'required'" data-vv-as="Komentář" />
                        <span class="text-danger">{{ errors.first('truckComment') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="truckRegion">Region:</label>
                    <div class="col-sm-4">
                        <v-select name="truckRegion" v-model="selectedRegion" label="name" :options="regionOptions" v-validate="'required'" data-vv-as="Stav"></v-select>
                        <span class="text-danger">{{ errors.first('truckRegion') }}</span>
                    </div>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                selectedRegion: null,

                truckSaveError: null
            }
        },
        methods: {
            loadData: function () {
                this.truckSaveError = null;
            	if (this.isNew)
                    $("#detail_title").html('Nové auto');

                this.selectedRegion = this.item.truckRegion ? {
                    code: this.item.truckRegion,
                    name: valueToString(this.item.truckRegion, this.getStatusColumn())
                } : null;
            },
            getStatusColumn: function () {
                return this.columns.filter(function (item) { return item.fieldName == "truckRegion"; })[0];
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                    }
                });
            },
            doSave: function () {
                this.truckSaveError = null;
                //set values from combos
                this.item.truckRegion = this.selectedRegion ? this.selectedRegion.code : null;

                this.validateAndSave();
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    this.truckSaveError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }
        },
        computed: {
            regionOptions: function () {
                if (!this.columns)
                    return [];
                return this.getStatusColumn().valuesList;
            }
        }
    });

    validate = editApp.validate;
</script>