﻿<script src="~/lib/jsonviewer/json-viewer.js"></script>
<link rel="stylesheet" href="~/lib/jsonviewer/json-viewer.css" />


<div id="detail-app">

    <form class="form-horizontal">
        <p>
            <div class="form-group">
                <label class="control-label col-sm-3">ID:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.raID" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Stav:</label>
                <div class="col-sm-4" style="padding-top: 4px;">
                    <div class="label label-info" style="font-size: 13px;">
                        {{getStatus(item.runStatus)}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Typ akce:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.actionType" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Uživatel:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.sourceUserID" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Zařízení:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="item.sourceDeviceID" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Datum akce:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="actionDate" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Přijato:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="received" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Zpracováno:</label>
                <div class="col-sm-4">
                    <input class="form-control" v-model="completed" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Popis chyby:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="5" readonly="readonly" v-model="item.errorDesc"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Parametry akce:</label>
                    <div style="padding-top: 5px;" id="dynamicJSON-output"></div>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    var detailApp = new Vue({
        el: '#detail-app',
        data: function () {
            return {
                item: {},
                apiUrl: "",
                columns: null,
                internMessagesSettings: {},
                items: null,
                statuses: []
            }
        },
        computed: {
            actionDate: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "actionDate"; })[0];
                    return valueToString(this.item.actionDate, column);
                }
            },
            received: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "received"; })[0];
                    return valueToString(this.item.received, column);
                }
            },
            completed: function () {
                if (this.columns) {
                    var column = this.columns.filter(function (column) { return column.fieldName == "completed"; })[0];
                    return valueToString(this.item.completed, column);
                }
            }
        },
        methods: {
            loadData: function () {
                detailApp.getStatuses();
                detailApp.showDataJSON(this.item.actionParams);
            },
            getStatuses: function () {
                callAJAX(window.location.origin + '/api/remoteaction/getstatuses', {}, function (data) {
                    detailApp.statuses = data;
                }, null, true, true);
            },
            showDataJSON: function (json) {
                try {
                    $("#dynamicJSON-output").empty();
                    var jsonViewer = new JSONViewer();
                    document.querySelector("#dynamicJSON-output").appendChild(jsonViewer.getContainer());
                    jsonViewer.showJSON(JSON.parse(json), -1, 1);
                } catch (ex) {
                }
            },
            getStatus(status) {
                if (status === undefined)
                    return "";

                for (var i = 0; i < detailApp.statuses.length; i++) {
                    if (status === detailApp.statuses[i].code) {
                        return detailApp.statuses[i].name;
                    }
                }

                return status;
            }
        }
    });
</script>