﻿@{
    ViewData["Title"] = "Vzdálené akce";
}

<div id="app">
    <data_list v-bind:settings="settings" v-bind:items="items"
               v-on:getdata="getData"
               :valueHtml="valueHtml"></data_list>
</div>

<partial name="../DataList/DataList" />
<partial name="ApiWorkingModal" />
<partial name="ApiErrorModal" />
<partial name="DetailModalSmall" />

@section scripts {
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        // init
        var settings = {
            pageSize: getPageAutoSize(),
            serverSide: true,
            commands: [
                {
                    commandType: cmMenu
                }
            ]
        };

        Vue.use(VuejsDialog.main.default, {
            html: true,
            okText: 'Provést',
            cancelText: 'Zrušit',
            animation: 'fade'
        });

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    settings: settings,
                    items: null
                }
            },
            methods: {
                getData: function (settings) {
                    callAJAX(window.location.origin + '/api/remoteaction', settings, function (data) {
                        app.$data.settings = data.settings;
                        app.$data.items = data.data;
                    }, null, true);
                },
                cmdClicked: function (row, command, stop) {
                    switch (command.commandType) {
                        case cmRefresh:
                            this.getData(this.settings);
                            break;
                    }
                },
                valueHtml: function (column, value, displayValue, row, listItem) {
                    if (column.fieldName == 'runStatus') {
                        return formatStatusField(displayValue, listItem);
                    }
                    else
                        return displayValue;
                }
            }
        });

        window.onload = function () {
            app.getData(app.$data.settings);
        }


    </script>
}

