﻿<div id="edit-app">
    <form class="form-horizontal">
        <p>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="sectID">ID:</label>
                    <div class="col-sm-2">
                        <input class="form-control" name="sectID" v-model="item.sectID" v-validate="{ required: true, max: 16 }" data-vv-as="Kód" :disabled="!isNew" />
                        <span class="text-danger">{{ errors.first('sectID') }}</span>
                        <span class="text-danger">{{ sectionSaveError }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="sectDesc">Popis:</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="sectDesc" v-model="item.sectDesc" v-validate="{ required: true, max: 64 }" data-vv-as="Popis" />
                        <span class="text-danger">{{ errors.first('sectDesc') }}</span>
                    </div>
                </div>
            </div>
        </p>
    </form>
</div>

<script>
    Vue.use(VeeValidate, { locale: 'cs' });
    var editApp = new Vue({
        el: '#edit-app',
        data: function () {
            return {
                dataList: null,
                item: {},
                columns: null,
                isNew: true,
                save: null,
                apiUrl: "",

                sectionSaveError: null
            }
        },
        methods: {
            loadData: function () {
                this.sectionSaveError = null;
                if (this.isNew)
                    $("#detail_title").html('Nová sekce');
            },
            clearErrors: function () {
                this.$validator.reset();
            },
            validateAndSave: function () {
                this.$validator.validate().then(function (result) {
                    if (result) {
                        if (editApp.save)
                            editApp.save();
                    }
                });
            },
            doSave: function () {
                this.sectionSaveError = null;
                //set info if insert required
                this.item.isNew = this.isNew;
                this.validateAndSave();
            },
            fieldError: function (data) {
                if (data.fieldError === true) {
                    this.sectionSaveError = data.fieldErrorText;
                }
            },
            closeModal: function () {
                $('#' + editApp.dataList.editForm).modal('hide');
            }
        }
    });

    validate = editApp.validate;
</script>