﻿@{
    ViewData["Title"] = "Přehled";
}

@section Styles{
    <style>
        .message-row {
            padding: 1em;
            padding-top: 0;
            /*padding-bottom: .5em;*/
            margin-bottom: 1em;
            border-bottom: 1px solid #eeeeee;
        }

            .message-row:last-of-type {
                margin-bottom: 0em;
                border-bottom: 0px none #eeeeee;
            }

        .message-header {
            margin-bottom: .4em;
            padding-top: .2em;
            padding-bottom: .2em;
            color: gray;
        }

        .message-text {
            font-weight: 600;
        }

        .no-data {
            font-style: italic;
            text-align: center;
            color: gray;
        }
    </style>
}

<div id="app">
    <div class="row" v-show="warnings.length > 0">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <div style="margin-bottom:1em;">
                    <i class="fas fa-exclamation-triangle fa-4x"></i>
                </div>
                <div v-for="warning in warnings" style="margin-top:.2em;margin-bottom:.2em;">
                    {{ warning.warning }} <a href="#" @@click="openDir(warning.directionID)">{{ warning.docInfo }}</a> ({{ warning.docDate | toDate }})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Zprávy</h3>
                    <div class="pull-right">
                        <i v-if="!inSync" @@click="showMessages" class="fas fa-sync-alt fa-lg" title="Obnovit"></i>
                        <i v-if="inSync" class="fas fa-sync-alt fa-spin fa-lg"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div v-for="message in messages" class="message-row">
                        <div class="row message-header">
                            <div class="col-sm-1">
                                <i v-if="message.msgSeverity =='Low'" class="fas fa-info-circle fa-lg" style="color:green;" title="Nízká důležitost"></i>
                                <i v-if="message.msgSeverity =='High'" class="fas fa-exclamation-triangle fa-lg" style="color:orange;" title="Vysoká důležitost"></i>
                                <i v-if="message.msgSeverity =='Error'" class="fas fa-exclamation-circle fa-lg" style="color:red;" title="Chyba"></i>
                            </div>
                            <div class="col-sm-2">
                                {{ message.msgClass }}
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-4">
                                {{ message.msgDateTime | toDateTime }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 message-text">
                                {{ message.msgHeader }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vyskladnění</h3>
                </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas v-if="showDispatch" id="chart-dispatch" width="100" height="100"></canvas>
                        <div v-if="!showDispatch" class="no-data">Nejsou data</div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Kontrola</h3>
                </div>
                <div class="panel-body">
                    <canvas v-if="showCheck" id="chart-check" width="100" height="100"></canvas>
                    <div v-if="!showCheck" class="no-data">Nejsou data</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Naskladnění</h3>
                </div>
                <div class="panel-body">
                    <canvas v-if="showStoin" id="chart-stoin" width="100" height="100"></canvas>
                    <div v-if="!showStoin" class="no-data">Nejsou data</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    timer: null,
                    inSync: false,
                    warnings: [],
                    messages: [],
                    showDispatch: true,
                    showCheck: true,
                    showStoin: true,
                }
            },
            mounted: function () {
                this.showWarnings();
                this.showMessages();
                this.showCharts();
                this.timer = setInterval(this.showMessages, 60000);
            },
            beforeDestroy: function () {
                clearInterval(this.timer);
            },
            filters: {
                toDateTime: function (value) {
                    if (!value)
                        return '';
                    value = new Date(value);
                    var month = value.getMonth() + 1;
                    return value.getUTCDate() + "." + month + "." + value.getUTCFullYear() + " " + numberToDigits(value.getUTCHours(), 2) + ":" + numberToDigits(value.getUTCMinutes(), 2) + ":" + numberToDigits(value.getUTCSeconds(), 2);
                },
                toDate: function (value) {
                    if (!value)
                        return '';
                    value = new Date(value);
                    var month = value.getMonth() + 1;
                    return value.getUTCDate() + "." + month + "." + value.getUTCFullYear();
                },
            },
            methods: {
                numberToDigits: function (value, digits) {
                    var number = value.toString();
                    var pref = "";
                    for (i = number.length; i < digits; i++) {
                        pref += "0";
                    }
                    return pref + number;
                },
                showWarnings: function () {
                    this.inSync = true;
                    callAJAX(window.location.origin + '/api/dashboard/dispatchwarnings', {}, function (res) {
                        app.warnings = res;
                        app.inSync = false;
                    }, null, true);
                },
                openDir: function (directionID) {
                    const url = window.location.origin + '/direction/dirdetail?directionID=' + directionID;
                    window.open(url, '_blank', 'menubar=no,left=50,top=50,width=1200,height=800');
                },
                showMessages: function () {
                    this.inSync = true;
                    callAJAX(window.location.origin + '/api/dashboard/messages', {}, function (res) {
                        app.messages = res;
                        app.inSync = false;
                    }, null, true);
                },
                showCharts: function () {
                    callAJAX(window.location.origin + '/api/dashboard/charts?daysback=1', {}, function (res) {
                        app.$data.showDispatch = app.showChart(res.DISP, 'chart-dispatch');
                        app.$data.showCheck = app.showChart(res.DICH, 'chart-check');
                        app.$data.showStoin = app.showChart(res.STIN, 'chart-stoin');
                    }, null, true);
                },
                showChart: function (data, chartElementName) {
                    if (data != null && data.datasets[0].data.length > 0) {
                        const total = _.sum(data.datasets[0].data);
                        const ctx = document.getElementById(chartElementName);
                        new Chart(ctx, {
                            type: 'pie',
                            data: data,
                            options: {
                                legend: {
                                    display: false,
                                },
                                title: {
                                    display: true,
                                    position: 'bottom',
                                    text: 'Celkem: ' + total
                                }
                            }
                        });
                        return true;
                    } else {
                        return false;
                    }

                }
            }
        });
    </script>
}
